{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Create variant'|trans }}{% endblock %}
{% block h1 %}{{ 'Create variant'|trans }}{% endblock %}

{% block main_content %}
    {{ form_start(form) }}
        {{ form_row(form.mainVariant, { label: 'Main variant'|trans }) }}
        {{ form_row(form.variants, { label: 'Variants'|trans }) }}
        {{ form_row(form.save, { label: 'Create'|trans }) }}
    {{ form_end(form) }}
{% endblock %}
