{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}
{% set showHeading = false %}
{% import '@ShopsysShop/Admin/Form/seoFormRowMacros.html.twig' as seoFormRowMacros %}

{% block title %}- {{ 'Product detail'|trans }}{% endblock %}
{% block h1 %}{% endblock %}

{% block header %}
    <header class="web__header">
        <div class="web__header__in web__header__in--small">
            <div class="top-info">
                <div class="top-info__logo">
                    <span class="sprite sprite-logo"></span>
                </div>
                <div class="top-info__text">
                    <h1 class="top-info__text__title">{% block product_header_heading %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block menu_panel %}
    <div class="panel">
        <ul class="anchor-menu js-product-detail-navigation"></ul>
    </div>
    {% block menu_panel_visibilities %}{% endblock %}
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block main_content %}
    {% if isMultidomain() %}
        {% set cssClassOnMultidomainInputs = 'input--domain' %}
    {% else %}
        {% set cssClassOnMultidomainInputs = '' %}
    {% endif %}

    {{ form_start(form) }}
        <div id="product_edit_form_productData"></div>
        {{ form_errors(form) }}

        <div class="wrap-border wrap-border--small">
            <div class="form-full">
                <div class="form-full__title">
                    <div class="form-full__title__in">{{ 'Name'|trans }}</div>
                    <div class="form-full__title__buttons"></div>
                </div>
                {% for locale, formName in form.productData.name %}
                    <div class="form-full__field">
                        <div class="input__wrap">
                            {{ form_widget(formName, { attr: { class: 'input--flag form-full__field__input'} }) }}
                            <span class="input__flag">
                                {{ localeFlag(locale) }}
                            </span>
                        </div>
                        {{ form_errors(formName) }}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% block product_variants %}{% endblock %}

        <div class="form-group wrap-border">

            <div class="form-group__title">
                {{ 'Basic information'|trans }}
            </div>

            {% block product_catnum %}
                {{ form_row(form.productData.catnum, { label: 'Catalogue number'|trans }) }}
            {% endblock %}

            {% block product_partno %}
                {{ form_row(form.productData.partno, { label: 'PartNo (serial number)'|trans }) }}
            {% endblock %}

            {{ form_row(form.productData.rating, { label: 'Rating'|trans }) }}

            {{ form_row(form.productData.productPid, { label: 'Product Pid'|trans }) }}
            {{ form_row(form.productData.masterProductId, { label: 'Master product ID'|trans }) }}
            {{ form_row(form.productData.productSource, { label: 'Product Source'|trans }) }}

            {% block product_ean %}
                {{ form_row(form.productData.ean, { label: 'EAN'|trans }) }}
            {% endblock %}

            {{ form_id(product|default(null)) }}

            {{ form_row(form.productData.flags, { label: 'Flags'|trans}) }}

            {{ form_row(form.productData.brand, { label: 'Brand'|trans}) }}

        </div>

        <div class="form-group wrap-border">

            <div class="form-group__title">
                {{ 'Display and availability'|trans }}
            </div>

            {{ form_row(form.productData.hidden, { label: 'Hide product'|trans }) }}

            {% block product_calculated_hidden_info %}{% endblock %}

            {{ form_row(form.productData.sellingFrom, { label: 'Selling start date'|trans }) }}

            {{ form_row(form.productData.sellingTo, { label: 'Selling end date'|trans }) }}

            {{ form_row(form.productData.sellingDenied, { label: 'Exclude from sale'|trans,
                icon: {
                    title: 'Products excluded from sale can\'t be displayed on lists and can\'t be searched. Product detail is available by direct access from the URL, but it is not possible to add product to cart.'|trans
                } }) }}

            {% block product_calculated_selling_denied_info %}{% endblock %}

            {% block product_main_categories %}{% endblock %}

            {% block product_categories %}
                <div class="form-line">
                    {{ form_label(form.productData.categoriesByDomainId, 'Assign to category'|trans) }}
                    <div class="form-line__line">
                        {% for domainId, categoriesForm in form.productData.categoriesByDomainId %}
                            <div class="form-line__box">
                                {% if isMultidomain() %}
                                    <div class="form-line__group form-line__box__title">
                                        <span class="form-line__group__image">
                                            {{ domainIcon(domainId, 'large') }}
                                        </span>
                                        <strong class="form-line__group__name">{{ getDomainName(domainId) }}</strong>
                                    </div>
                                {% endif %}
                                <div{% if isMultidomain() %} class="form-line__box__content"{% endif %}>
                                    {{ form_widget(categoriesForm) }}
                                    {{ form_errors(categoriesForm) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}

            {{ form_row(form.productData.unit, { label: 'Unit'|trans }) }}

            {% block product_stock_and_availability %}
                {{ form_row(form.productData.usingStock, { label: 'Use stocks'|trans }) }}
                <div class="js-product-using-stock form-line__js">
                    {{ form_row(form.productData.stockQuantity, { label: 'Available in stock'|trans }) }}
                    {{ form_row(form.productData.outOfStockAction, { label: 'Action after sellout'|trans }) }}
                    <div class="js-product-using-stock-and-alternate-availability">
                        {{ form_row(form.productData.outOfStockAvailability, { label: 'Availability after sellout'|trans }) }}
                    </div>
                </div>
                <div class="js-product-not-using-stock form-line__js">
                    {{ form_row(form.productData.availability, { label: 'Availability'|trans }) }}
                </div>
            {% endblock %}

            {{ form_row(form.productData.orderingPriority, { label: 'Sorting priority'|trans }) }}

        </div>

        <div class="form-group wrap-border">

            <div class="form-group__title">
                {{ 'Prices'|trans }}
            </div>

            {% block product_pricing %}
                {{ form_row(form.productData.priceCalculationType, { label: 'Sale prices calculation'|trans }) }}
                {{ form_row(form.productData.productBuyPrice, { label: 'Product Buy Price'|trans }) }}
                {{ form_row(form.productData.vat, { label: 'VAT'|trans }) }}

                {% block product_calculated_prices %}{% endblock %}
            {% endblock %}

        </div>

        <div class="form-group wrap-border">
            {% block product_description %}
                <div class="form-group__title">
                    {{ 'Description'|trans }}
                </div>

                {% for domainId, descriptionForm in form.descriptions %}
                    {% if isMultidomain() %}
                        <div class="form-line form-line--no-padd">
                            <div class="form-line__group">
                                <span class="form-line__group__image">
                                    {{ domainIcon(domainId, 'large') }}
                                </span>
                                <strong class="form-line__group__name">{{ getDomainName(domainId) }}</strong>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-line">
                        <div class="form-line__line form-line__line--no-space">
                            {{ form_widget(descriptionForm) }}
                        </div>
                    </div>

                {% endfor %}
            {% endblock %}
        </div>

        <div class="form-group wrap-border">
            {% block product_short_description %}
                <div class="form-group__title">
                    {{ 'Short description'|trans }}
                </div>

                {% for domainId, shortDescriptionForm in form.shortDescriptions %}
                    {% if isMultidomain() %}
                        <div class="form-line form-line--no-padd">
                            <div class="form-line__group">
                                <span class="form-line__group__image">
                                    {{ domainIcon(domainId, 'large') }}
                                </span>
                            <strong class="form-line__group__name">{{ getDomainName(domainId) }}</strong>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-line">
                        <div class="form-line__line form-line__line--no-space">
                            {{ form_widget(shortDescriptionForm) }}
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>

        <div class="js-form-group wrap-border form-group">
            <div class="form-group__title">
                <span class="js-validation-label">{{ 'Parameters'|trans }}</span>

                {{ form_errors(form.parameters) }}
            </div>
            <table class="table-form" id="product_edit_form_parameters">
                <thead>
                    <tr class="table-form__row">
                        <th class="table-form__cell table-form__cell--del-before table-form__cell--label">{{ 'Parameter'|trans }}</th>
                        <th class="table-form__cell table-form__cell--del"></th>
                        <th class="table-form__cell table-form__cell--del-after">{{ 'Value'|trans }}</th>
                        <th class="table-form__cell"></th>
                    </tr>
                </thead>
                <tbody class="js-parameters" data-prototype="{{ _self.parameterRow(form.parameters.vars.prototype)|escape }}" data-index="{{ form.parameters|length }}">
                    {% macro parameterRow(parameter, index) %}
                        <tr class="js-parameters-item js-form-group table-form__row" data-index="{{ index }}">
                            <td class="table-form__cell table-form__cell--del-before">
                                {{ form_widget(parameter.parameter, { isSimple: true} ) }}
                            </td>
                            <td class="table-form__cell table-form__cell--del">
                                <span class="svg svg-arrow-right"></span>
                            </td>
                            <td class="table-form__cell  table-form__cell--del-after">
                                {% for locale, valueTextLocaleForm in parameter.valueTextsByLocale %}
                                    <div class="input__wrap">
                                        {{ form_widget(valueTextLocaleForm, { attr: { class: 'input--flag'} })  }}
                                        <span class="input__flag">
                                            {{ localeFlag(locale) }}
                                        </span>
                                        {{ form_errors(valueTextLocaleForm, { errors_attr: { class: 'table-form__cell__error' } } ) }}
                                    </div>
                                {% endfor %}
                            </td>
                            <td class="table-form__cell text-right">
                                <a href="#" class="js-parameters-item-remove table-form__action"><i class="svg svg-circle-cross"></i></a>
                            </td>
                        </tr>
                    {% endmacro %}

                    {% for key, parameter in form.parameters %}
                        {{ _self.parameterRow(parameter, key) }}
                    {% else %}
                        {% do form.parameters.setRendered %}
                    {% endfor %}

                    <tr class="js-parameters-empty-item table-form__row">
                        <td class="table-form__cell" colspan="4">{{ 'Add some parameters'|trans }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="form-line form-line--no-top-border">
                <div class="form-line__line form-line__line--no-space">
                    <a href="#" class="js-parameters-item-add btn btn--plus">
                        <i class="btn__icon">+</i>
                        {{ 'Add another parameter'|trans }}
                    </a>
                </div>
            </div>
        </div>

        <div class="form-group wrap-border">
            <div class="form-group__title">
                {{ 'SEO'|trans }}
            </div>

            {{ seoFormRowMacros.multidomainRow(form.seoTitles, 'Page title'|trans, 60) }}

            {{ seoFormRowMacros.multidomainRow(form.seoMetaDescriptions, 'Meta description'|trans, 155, 'input--seo') }}

            {{ seoFormRowMacros.multidomainRow(form.seoH1s, 'Heading (H1)'|trans) }}

            {% block product_urls %}{% endblock %}
        </div>

        <div class="form-group wrap-border">
            <div class="form-group__title">
                {{ 'Images'|trans }}
            </div>

            {% block images %}{% endblock %}

            {{ form_widget(form.imagesToUpload, { attr: { class: 'box-upload--bordered' }, infoText: 'You can upload following formats: PNG, JPG, GIF'|trans }) }}
            {{ form_errors(form.imagesToUpload) }}
            {{ form_widget(form.imagesToDelete, { attr: { style: 'display: none;' } }) }}
        </div>

        <div class="form-group {% if form.pluginData is not empty %}wrap-border{% endif %}">
            <div class="form-group__title">
                {{ 'Accessories'|trans }}
                <div class="form-group__error">
                    {{- form_errors(form.accessories) -}}
                </div>
            </div>
            {{- form_widget(form.accessories) -}}
        </div>

        {% if form.pluginData is empty %}
            {% do form.pluginData.setRendered %}
        {% else %}
            {% for pluginForm in form.pluginData %}
                <div class="form-group {% if not loop.last %}wrap-border{% endif %}">
                    <div class="form-group__title">
                        {{ pluginForm.vars.label }}
                    </div>

                    {{ form_widget(pluginForm) }}
                    {{ form_errors(pluginForm) }}
                </div>
            {% endfor %}
        {% endif %}

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                <button id="js-close-without-saving" type="button" class="btn-link-style">{{ 'Close without saving'|trans }}</button>
                {{ form_save(product|default(null), form) }}
            {% endblock %}
        {% endembed %}

    {{ form_end(form) }}

{% endblock %}
