<div class="product-visibility-window-title text-center">
    {{ 'Visibility for unlogged customers'|trans }}
</div>
{% include '@ShopsysShop/Admin/Content/Product/visibilityItems.html.twig' with {productDetail: productDetail} only %}
