{% extends '@ShopsysShop/bestcena/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'My orders'|trans }}
{% endblock %}

{% block main_content %}
    <div class="user-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>{{ 'My orders'|trans }}</h2>
                    {% if orders|length == 0 %}
                        {{ 'No order so far.'|trans }}
                    {% else %}
                        <div class="in-scroll box-orders">
                            <div class="in-scroll__in">
                                <table class="table-main box-orders__table">
                                    <tr>
                                        <th>{{ 'Order number'|trans }}</th>
                                        <th>{{ 'Creation date'|trans }}</th>
                                        <th>{{ 'Current status'|trans }}</th>
                                        <th class="text-right">{{ 'Number of items'|trans }}</th>
                                        <th>{{ 'Shipping'|trans }}</th>
                                        <th>{{ 'Payment'|trans }}</th>
                                        <th class="text-right">{{ 'Total price including VAT'|trans }}</th>
                                        <th class="text-center">{{ 'Operations'|trans }}</th>
                                    </tr>
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a href="{{ url('front_customer_order_detail_registered', { orderNumber: order.number }) }}">{{ order.number }}</a>
                                            </td>
                                            <td>{{ order.createdAt|formatDate }}</td>
                                            <td>{{ order.status.name }}</td>
                                            <td class="text-right">{{ order.productItemsCount }}</td>
                                            <td>{{ order.transportName }}</td>
                                            <td>{{ order.paymentName }}</td>
                                            <td class="text-right">{{ order.totalPriceWithVat|priceWithCurrency(order.currency) }}</td>
                                            <td class="text-center">
                                                {% if order.status.id == 1 %}
                                                    <a href="{{ url('front_order_pay_later', {order_id: order.id}) }}">Pay</a> |
                                                {% endif %}
                                                {# <a href="{{ url('front_customer_order_detail_registered', { orderNumber: order.number }) }}"
                                                class="in-icon in-icon--detail"><i class="svg svg-search"></i></a> #}
                                                <a href="{{ url('front_customer_order_detail_registered', { orderNumber: order.number }) }}">Details</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
