<template>
	<ul class="pagination">
		<li v-if="activePage !== 1"><a @click="changePage(activePage - 1)" aria-label="Previous"> <i
				class="fa fa-angle-left"></i> </a></li>

		<li v-if="activePage > 2">
			<a @click="changePage(1)">
				1
			</a>
		</li>

		<li v-if="activePage > 2">
			<a style="border: none; background:none;color:black">
				...
			</a>
		</li>

		<li v-if="activePage > 3">
			<a @click="changePage(activePage - 2)">
				{{activePage - 2}}
			</a>
		</li>

		<li v-if="activePage > 1">
			<a @click="changePage(activePage - 1)">
				{{activePage - 1}}
			</a>
		</li>

		<li>
			<a href="#" class="active">
				{{activePage}}
			</a>
		</li>

		<li v-if="activePage !== pagesCount">
			<a @click="changePage(activePage +1)">
				{{activePage + 1}}
			</a>
		</li>

		<li v-if="activePage !== pagesCount && activePage + 2 < pagesCount">
			<a @click="changePage(activePage +2)">
				{{activePage + 2}}
			</a>
		</li>

		<li v-if="activePage === pagesCount - 2">
			<a @click="changePage(activePage +2)">
				{{activePage + 2}}
			</a>
		</li>

		<li v-if="activePage < pagesCount - 1 && activePage !== pagesCount -2">
			<a style="border: none; background:none;color:black">
				...
			</a>
		</li>

		<li v-if="activePage < pagesCount - 1 && activePage !== pagesCount -2">
			<a @click="changePage(pagesCount)">
				{{pagesCount}}
			</a>
		</li>

		<li v-if="activePage !== pagesCount"><a @click="changePage(activePage + 1)" aria-label="Next"
		                                        :class="activePage === pagesCount ? 'disabled' : null"> <i
				class="fa fa-angle-right"></i> </a></li>
	</ul>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: 'Pagination',
    computed: {
      ...mapGetters(['pagesCount', 'activePage'])
    },
    methods: {
      ...mapActions(['changePage'])
    }
  }
</script>

<style scoped>
	a {
		cursor: pointer;
	}

	.disabled {
		color: grey !important;
		background: lightgrey !important;
		cursor: not-allowed;
	}
	
	ul{
		padding-right:15px;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		width:100%;
	}

	li{
		margin-right:0 !important;
		padding-right:0 !important;
	}
</style>