{% extends '@ShopsysShop/turbado/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% set domain = getDomain() %}
{% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}
{% set descriptionHeadline = 'Product information'|trans %}
{% set parametersHeadline = 'Technical parameters'|trans %}
{% set accessoriesHeadline = 'Accessories'|trans %}
{% block meta_description %}
    {{- productDomain.seoMetaDescription|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{- productDomain.getSeoTitleForHtml(domain) -}}
{% endblock %}

{% block main_content %}

    {% set galleryImages = getImages(productDetail.product) %}
    {% set showGallery = galleryImages|length > 1 %}


<section class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                {% if imageExists(productDetail.product) %}

                    <div id="primary-image-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <div class="primary-controls">
                            <a href="#primary-image-carousel" data-slide="prev" class="left">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="#primary-image-carousel" data-slide="next" class="right">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% set isFirstP = true %}

                            {% for key, galleryImage in galleryImages %}

                                <div class="item{{ isFirstP ? ' active' : '' }}">
                                    <img src="{{ imageUrl(galleryImage, 'original') }}" alt="">
                                </div>

                                {% set isFirstP = false %}
                            {% endfor %}

                        </div>

                    </div>

                    {% if showGallery %}

                        <div id="thumbs-image-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner responsive">

                                <div class="controls-thumb">
                                    <a href="#thumbs-image-carousel" data-slide="prev" class="left">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a href="#thumbs-image-carousel" data-slide="next" class="right">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>

                                {% set isFirst = true %}
                                {% set key = 0 %}

                                {% for galleryRow in galleryImages|batch(3) %}

                                    <div class="item{{ isFirst ? ' active' : '' }}">

                                        {% for galleryImage in galleryRow %}
                                            <div class="item-image" data-target="#primary-image-carousel"
                                                 data-slide-to="{{ key }}">
                                                <img src="{{ imageUrl(galleryImage, 'original') }}" alt="">
                                            </div>

                                            {% set key = key + 1 %}

                                        {% endfor %}

                                    </div>

                                    {% set isFirst = false %}

                                {% endfor %}
                            </div>

                        </div>

                    {% endif %}

                {% else %}
                    {{ noimage({ alt: productDetail.product.name }) }}
                {% endif %}
            </div>
            <div class="col-sm-4">
                <div class="product-detail__info">
                    <h4>
                        <a href="{{ url('front_product_list', { id: productMainCategory.id }) }}">
                            {{ categoryName }}
                        </a>
                    </h4>
                    <h1>
                        {% if productDomain.seoH1 is not null %}
                            {{ productDomain.seoH1 }}
                        {% else %}
                            {{ productDetail.product.name }}
                        {% endif %}
                    </h1>

                    {% if productDetail.hasContentForDetailBox %}
                        <ul>
                            {% if productDetail.product.brand %}
                                <li> {{ 'Brand'|trans }}: {{ productDetail.product.brand.name }}</li>
                            {% endif %}

                            {% if productDetail.product.catnum %}
                                <li> {{ 'Catalogue number'|trans }}: {{ productDetail.product.catnum }}</li>
                            {% endif %}

                            {% if productDetail.product.partno %}
                                <li> {{ 'Serial number'|trans }}: {{ productDetail.product.partno }}</li>
                            {% endif %}

                            {% if productDetail.product.ean %}
                                <li>{{ 'EAN'|trans }}: {{ productDetail.product.ean }}</li>
                            {% endif %}
                        </ul>
                    {% endif %}

                </div>
            </div>

            <div class="col-sm-3">
                <div class="product-detail__cart">
                    <div class="product-detail__cart-stock">
                        {% if productDetail.product.calculatedAvailability %}
                            <p>Availability:
                                <span>
                                            {% if productDetail.product.calculatedSellingDenied %}
                                                {{ 'Product no longer on sale'|trans }}
                                            {% else %}
                                                {{ productDetail.product.calculatedAvailability.name }}
                                            {% endif %}
                                        </span>
                            </p>
                        {% endif %}
                    </div>

                    <div itemprop="offers"
                         itemscope
                         itemtype="http://schema.org/Offer"
                         class="product-detail__cart-price">
                        {{ productDetail.sellingPrice.priceWithVat|price }}
                        <meta itemprop="priceCurrency"
                              content="{{ currencyCode(domain.id) }}"
                        >
                        <meta itemprop="price"
                              content="{{ productDetail.sellingPrice.priceWithVat }}"
                        >
                        <link itemprop="availability"
                              href="{{ productDetail.product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                        >
                    </div>

                    {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: productDetail.product, type: 'large'})) }}


                </div>
            </div>

        </div>
    </div>
</section>

<section class="product-detail__description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="featured">
                    <ul class="nav nav-tabs">
                        {% if productDomain.description %}
                            <li role="presentation" class="active">
                                <a href="#pro-detail" role="tab" data-toggle="tab">
                                    {{ descriptionHeadline }}
                                </a>
                            </li>
                        {% endif %}

                        {% if accessoriesDetails|length > 0 %}
                            <li role="presentation">
                                <a href="#accessories" role="tab" data-toggle="tab">
                                    {{ accessoriesHeadline }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="pro-detail">
                            {% if productDomain.description or productDetail.parameters %}
                            <div class="in-user-text" itemprop="description">
                                {% if productDomain.description %}
                                    <p>
                                        {{ productDomain.description|raw }}
                                    </p>
                                {% endif %}
                                {% if productDetail.parameters %}
                                <table class="table table-detail{% if productDomain.description %} margin-top-20{% endif %}">
                                    <tbody>
                                    {% for productParameterValue in productDetail.parameters %}
                                        <tr>
                                            <th>
                                                {{ productParameterValue.parameter.name }}
                                            </th>
                                            <td>
                                                {{ productParameterValue.value.text }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>


                        {% if accessoriesDetails|length > 0 %}
                            <div role="tabpanel" class="tab-pane fade in" id="accessories">
                                {{ productList.list(accessoriesDetails) }}
                            </div>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
