{% macro list(productDetails, listCssClass, productHeadingTagName) %}
    {% import '@ShopsysShop/turbado/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% set domain = getDomain() %}

    {% for productDetail in productDetails %}
        {% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}
        <div class="product-item">
            <a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}" class="product-item__name">
                <span class="name">{{ productDetail.product.name }}</span>
            </a>
            <a class="product-item__image" href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}">
                {{ image(productDetail.product, { size: 'original', alt: productDetail.product.name }) }}
            </a>
            <div class="product-item__price">
                {% if productDetail.sellingPrice is not null %}
                    {% if productDetail.sellingPrice.priceFrom %}
                        {{ 'from %price%'|trans({'%price%': productDetail.sellingPrice.priceWithVat|price}) }}
                    {% else %}
                        {{ productDetail.sellingPrice.priceWithVat|price }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="product-item__button">
                {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: productDetail.product, type: 'large'})) }}
            </div>
            <a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}"
               class="product-item__show-detail">
                {{ 'Product detail' |trans }}
            </a>
        </div>
    {% endfor %}

{% endmacro %}