<div class="container">
    <div class="brands-menu__content">
        <h3>
            {{ 'Best brands'|trans }}
        </h3>

        <ul class="top">

            {% for index, brand in brands|slice(0, 5) %}
                <li>
                    <a href="{{ url('front_brand_detail', { id: brand.id }) }}">
              <span class="brand-image"
                    style="background-image: url('{{ imageUrl(brand) }}')">
              </span>
                        {{ brand.name }}
                    </a>
                </li>
            {% endfor %}

        </ul>

        <ul class="bottom">
            {% for brand in brands|slice(6, 9) %}
                <li>
                    <a href="{{ url('front_brand_detail', {id: brand.id}) }}">
                        <img src="{{ imageUrl(brand) }}" alt="{{ brand.name }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="products-menu__features">
    <ul>
        <li>
            <i class="fa fa-shipping-fast"></i>
            Free shipping
        </li>
        <li>
            <i class="fa fa-undo"></i>
            Easy return
        </li>
        <li>
            <i class="fa fa-phone"></i>
            Support
        </li>
    </ul>
</div>

<script>
  $('.all-brands').on('click', function () {
    var list = $('.all-brands-list');

    if (list.hasClass('visible')) {
      list.removeClass('visible')
    } else {
      list.addClass('visible')
    }
  })
</script>