{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Legal conditions'|trans }}{% endblock %}
{% block h1 %}{{ 'Legal conditions settings'|trans }}{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}

    {{ form_start(form) }}
        <div class="form-group">
            <div class="form-group__title">
                {{ 'Settings'|trans }}
            </div>
            {{ form_row(form.termsAndConditionsArticle, { label: 'Terms and conditions'|trans, icon: { title: 'Choose article, which will serve as terms and conditions with which the customer has to agree when creating order.'|trans } }) }}
            {{ form_row(form.privacyPolicyArticle, { label: 'Privacy policy'|trans, icon: { title: 'Choose article, which will serve as privacy policy with which the customer has to agree when creating order or registering user.'|trans } }) }}
        </div>

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                {{ form_widget(form.save, { label: 'Save changes'|trans }) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}

{% endblock %}