{% extends '@ShopsysShop/bestcena/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/bestcena/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@ShopsysShop/bestcena/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@ShopsysShop/bestcena/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
    {{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}
{% endblock %}

{#{% block meta_robots %}#}
    {#{{ paginator.metaRobots(paginationResult) }}#}
{#{% endblock %}#}

{% block main_content %}
    <div class="search-result">
        <h1>{{ 'Search results'|trans }}</h1>

        <div class="js-product-list-ajax-filter-products-with-controls">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-breadcrumb">
                            {{ render(controller('ShopsysShopBundle:Front/Product:selectOrderingModeForSearch')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#{{ render(controller('ShopsysShopBundle:Front/Category:categoryList', {categories: foundCategories})) }}#}

        <div class="js-product-list-with-filter">
            {#{% if paginationResult.results|length > 0 or filterFormSubmited %}#}
            {#<div class="box-filter js-product-filter">#}
            {#{{ productFilterForm.filterForm(#}
            {#filterForm,#}
            {#url('front_product_search'),#}
            {#url('front_product_search', { SEARCH_TEXT_PARAMETER : searchText }),#}
            {#searchText,#}
            {#'search',#}
            {#productFilterCountData,#}
            {#priceRange#}
            {#) }}#}
            {#</div>#}
            {#{% endif %}#}

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="products-grid">

                            {% include '@ShopsysShop/bestcena/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited, searchText: searchText} %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
