{% import '@ShopsysShop/Admin/Content/Order/orderItem.html.twig' as orderItemMacro %}

{% form_theme form '@ShopsysShop/Admin/Form/theme.html.twig' %}
{{ orderItemMacro.orderItem(
    form.itemsWithoutTransportAndPayment[orderItem.id],
    orderItem.id,
    orderItemTotalPricesById,
    order.currency,
    orderItem
) }}