{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% import '@ShopsysShop/Admin/Content/Order/orderItem.html.twig' as orderItemMacro %}

{% block title %}{{ 'Order Nr.'|trans }} {{ order.number }}{% endblock %}
{% block h1 %}{{ 'Order Nr.'|trans }} {{ order.number }}{% endblock %}

{% block main_content %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Order Nr.'|trans }} {{ order.number }}
                </div>
            </div>
            <fieldset>
                {{ form_id(order) }}
                <div class="form-line">
                    <div class="form-line__line form-line__line--no-space">
                        <div class="form-line__item form-line__item--text">
                            <a href="{{ findUrlByDomainId('front_customer_order_detail_unregistered', { urlHash: order.urlHash }, order.domainId) }}" target="_blank">
                                {{ findUrlByDomainId('front_customer_order_detail_unregistered', { urlHash: order.urlHash }, order.domainId) }}
                            </a>
                        </div>
                    </div>
                </div>
                {% if isMultidomain() %}
                    <div class="form-line">
                        <label class="form-line__label">{{ 'Domain'|trans }}:</label>
                        <div class="form-line__side">
                            <div class="form-line__item form-line__item--text">
                                {{ domainIcon(order.domainId) }} {{ getDomainName(order.domainId) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {{ form_row(form.orderNumber, { label: 'Order number'|trans }) }}
                <div class="form-line">
                    <label class="form-line__label">{{ 'Date of creation and privacy policy agreement'|trans }}:</label>
                    <div class="form-line__side">
                        <div class="form-line__item form-line__item--text">
                            {{ order.createdAt|formatDateTime }}
                        </div>
                    </div>
                </div>
                {{ form_row(form.status, { label: 'Status'|trans }) }}
                <div class="form-line">
                    <label class="form-line__label">{{ 'Customer'|trans }}:</label>
                    <div class="form-line__side">
                        <div class="form-line__item form-line__item--text">
                            {% if order.customer is null%}
                                {{ 'unregistered customer'|trans }}
                            {% else %}
                                <a href="{{ path('admin_customer_edit', { id: order.customer.id }) }}" target="_blank">
                                    {% if order.customer.billingAddress.companyCustomer %}
                                        {{ order.customer.billingAddress.companyName }} -
                                    {% endif %}
                                    {{ order.customer.lastName }}
                                    {{ order.customer.firstName }}
                                    <i class="svg svg-forward-page"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if order.createdAsAdministrator is not null or order.createdAsAdministratorName is not null %}
                    <div class="form-line">
                        <label class="form-line__label">{{ 'Created by administrator'|trans }}:</label>
                        <div class="form-line__side">
                            <div class="form-line__item form-line__item--text">
                                {% if order.createdAsAdministrator is null%}
                                    {{ order.createdAsAdministratorName }}
                                {% else %}
                                    {{ order.createdAsAdministrator.realName }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </fieldset>
        </div>

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Personal data'|trans }}
                </div>
            </div>
            <fieldset>
                {{ form_row(form.firstName, { label: 'First name'|trans }) }}
                {{ form_row(form.lastName, { label: 'Last name'|trans }) }}
                {{ form_row(form.email, { label: 'E-mail'|trans }) }}
                {{ form_row(form.telephone, { label: 'Telephone'|trans }) }}
            </fieldset>
        </div>

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Company data'|trans }}
                </div>
            </div>
            <fieldset>
                {{ form_row(form.companyName, { label: 'Company name'|trans }) }}
                {{ form_row(form.companyNumber, { label: 'Company number'|trans }) }}
                {{ form_row(form.companyTaxNumber, { label: 'Tax number'|trans }) }}
            </fieldset>
        </div>

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Billing data'|trans }}
                </div>
            </div>
            <fieldset>
                {{ form_row(form.street, { label: 'Street'|trans }) }}
                {{ form_row(form.city, { label: 'City'|trans }) }}
                {{ form_row(form.postcode, { label: 'Postcode'|trans }) }}
                {{ form_row(form.country, { label: 'Country'|trans }) }}
            </fieldset>
        </div>

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Shipping address'|trans }}
                </div>
            </div>
            <fieldset>
                {{ form_row(form.deliveryAddressSameAsBillingAddress, {
                    attr: { class: 'js-checkbox-toggle js-checkbox-toggle--inverted', 'data-checkbox-toggle-container-id': 'js-delivery-address-fields' },
                    label: 'Shipping address is the same as billing address'|trans})
                }}
                <div id="js-delivery-address-fields" class="form-line__js">
                    {{ form_row(form.deliveryFirstName, { label: 'First name'|trans }) }}
                    {{ form_row(form.deliveryLastName, { label: 'Last name'|trans }) }}
                    {{ form_row(form.deliveryCompanyName, { label: 'Company'|trans }) }}
                    {{ form_row(form.deliveryTelephone, { label: 'Telephone'|trans }) }}
                    {{ form_row(form.deliveryStreet, { label: 'Street'|trans }) }}
                    {{ form_row(form.deliveryCity, { label: 'City'|trans }) }}
                    {{ form_row(form.deliveryPostcode, { label: 'Postcode'|trans }) }}
                    {{ form_row(form.deliveryCountry, { label: 'Country'|trans }) }}
                </div>
            </fieldset>
        </div>

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Note'|trans }}
                </div>
            </div>
            <fieldset>
                {{ form_row(form.note, { label: 'Contact us'|trans, newline: true }) }}
            </fieldset>
        </div>

        <h2>{{ 'Order items'|trans }}</h2>
        <fieldset>
            <div class="table-touch-always">
                {{ form_errors(form.itemsWithoutTransportAndPayment) }}
                <div class="table-touch-always__in">
                    <table id="order_form_items" class="table-main">
                        <thead>
                            <tr>
                                <th class="table-col-30">{{ 'Name'|trans }}</th>
                                <th class="table-col-5">{{ 'Catalogue number'|trans }}</th>
                                <th class="table-col-15 text-right">{{ 'Unit price including VAT'|trans }}</th>
                                <th class="table-col-10 text-right">{{ 'Amount'|trans }}</th>
                                <th class="table-col-10 text-right">{{ 'Unit'|trans }}</th>
                                <th class="table-col-10 text-right">{{ 'VAT rate (%)'|trans }}</th>
                                <th class="table-col-15 text-right text-no-wrap">{{ 'Total including VAT'|trans }}</th>
                                <th class="table-col-15 text-right text-no-wrap">{{ 'Total excluding VAT'|trans }}</th>
                                <th ></th>
                            </tr>
                        </thead>
                        <tbody
                            id="js-order-items"
                            data-prototype="{{ orderItemMacro.orderItem(form.itemsWithoutTransportAndPayment.vars.prototype)|escape }}"
                            data-order-product-add-url="{{ url('admin_order_addproduct', { orderId: order.id }) }}"
                        >
                            {% for productItem in order.productItems %}
                                {{ orderItemMacro.orderItem(form.itemsWithoutTransportAndPayment[productItem.id], productItem.id, orderItemTotalPricesById, order.currency, productItem) }}
                            {% endfor %}

                            {% for orderItemId, orderItemForm in form.itemsWithoutTransportAndPayment %}
                                {% if not orderItemForm.rendered %}
                                    {{ orderItemMacro.orderItem(orderItemForm, orderItemId, orderItemTotalPricesById, order.currency, null) }}
                                {% endif %}
                            {% endfor %}

                            {{ orderItemMacro.orderTransport(form.orderTransport, order, transportPricesWithVatByTransportId, transportVatPercentsByTransportId) }}
                            {{ orderItemMacro.orderPayment(form.orderPayment, order, paymentPricesWithVatByPaymentId, paymentVatPercentsByPaymentId) }}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9">
                                    <a id="js-order-item-add" href="#" class="btn btn--plus">
                                        <i class="btn__icon">+</i>
                                        {{ 'Add item'|trans }}
                                    </a>
                                    <a id="js-order-item-add-product" href="#" class="btn btn--plus" data-product-picker-url="{{ url('admin_productpicker_picksingle', {allowMainVariants: false}) }}">
                                        <i class="btn__icon">+</i>
                                        {{ 'Add product'|trans }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6">{{ 'Total'|trans }}:</th>
                                <th class="text-right">{{ order.totalPriceWithVat|priceWithCurrency(order.currency) }}</th>
                                <th class="text-right">{{ order.totalPriceWithoutVat|priceWithCurrency(order.currency) }}</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </fieldset>

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                <a href="{{ url('admin_order_list') }}" class="btn-link-style">{{ 'Back to overview'|trans }}</a>
                {{ form_widget(form.save, { label: 'Save changes'|trans}) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}

{% endblock %}
