{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_preview %}
    <div class="js-order-preview position-relative" data-preview-url="{{ url('admin_order_preview', {id: value}) }}">
        <i class="svg svg-cart js-order-preview-icon in-icon cursor-help"></i>
        <div class="js-order-preview-box">
            <div class="window-preview js-order-preview-box-window display-none"></div>
        </div>
    </div>
{% endblock %}

{% block grid_value_cell_id_number %}
    <a href="{{ url('admin_order_edit', { id: row.id }) }}">{{ value }}</a>
{% endblock %}

{% block grid_value_cell_id_total_price %}
    {{ value|priceWithCurrency(row.order.currency) }}
{% endblock %}

{% block grid_value_cell_id_domain_id %}
    {{ domainIcon(value) }}
{% endblock %}

{% block grid_value_cell_id_created_at %}
    {{ value|formatDateTime }}
{% endblock %}

{% block grid_no_data %}
    {{ 'No order found.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
    {% set entityName = 'orders'|trans %}
    {{ parent() }}
{% endblock %}
