{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Administrators overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Administrators overview'|trans }}{% endblock %}

{% block btn %}
    <a href="{{ url('admin_administrator_new') }}" class="btn btn--plus wrap-bar__btn">
        <i class="btn__icon">+</i>{{ 'Create new administrator'|trans }}
    </a>
{% endblock %}

{% block main_content %}
    {{ gridView.render() }}
{% endblock %}