<?php

namespace {{ namespace }};

use Doctrine\ORM\EntityManager;
use {{ namespace }}\{{ entityName }};

class {{ entityName }}Repository {

    /**
     * @var \Doctrine\ORM\EntityManager
     */
    private $em;

    /**
     * @param \Doctrine\ORM\EntityManager $em
     */
    public function __construct(EntityManager $em) {
        $this->em = $em;
    }

    /**
     * @return \Doctrine\ORM\EntityRepository
     */
    private function get{{ entityName }}Repository() {
        return $this->em->getRepository({{ entityName }}::class);
    }

}
