<template>
	<div class="popup-wrapper" @click="closePopup()">
		<div class="popup" v-on:click.stop>
			<div v-html="popupText"></div>

			<div class="popup-buttons">
				<button @click="closePopup()" class="window-popup__actions__btn btn--default">
					{{translations.backToShopping}}
				</button>
				<button class="window-popup__actions__btn window-popup__actions__btn--continue window-button-continue btn-popup btn--success"
				        @click="goToCart()">{{translations.goToCart}}
				</button>
			</div>

			<button @click="closePopup()" class="btn-popup btn-close">
				x
			</button>
		</div>
	</div>
</template>

<script>
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    name: 'popup',
    computed: {
      ...mapGetters(['popupText', 'translations'])
    },
    methods: {
      ...mapMutations(['closePopup']),
      goToCart() {
        window.location = window.location.origin + '/' + 'cart/'
      }
    }
  }
</script>

<style>
	.popup-wrapper {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		left: 0;
		top: 0;
		z-index: 1000;
	}

	.popup {
		position: absolute;
		width: 400px;
		justify-content: center;
		flex-direction: column;
		max-width: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 250px;
		max-height: 100%;
		background: white;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
		display: flex;
		align-items: center;
		text-align: center;
		padding: 20px;
	}

	.btn-popup {
		background: #009BE9;
		display: inline-block;
		font-size: 16px;
		padding: 9px 40px;
		font-weight: 500;
		border-radius: 30px;
		color: #fff;
		border: 2px solid #fff;
		position: relative;
		overflow: hidden;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	.btn-popup:hover {
		color: #fff;
		border: 2px solid #629ee7;
		background: #629ee7;
	}

	.btn-close {
		background: none;
		padding: 10px;
		color: grey;
		position: absolute;
		right: 10px;
		top: 10px;
		outline: none;
		border: none;
		font-size: 23px;
		font-weight: 700;
	}

	.btn-close:hover {
		background: none;
		color: black;
		border: none;
	}

	.popup-wrapper .btn--default {
		padding: 9px 40px;
		border: 1px solid lightgrey;
		border-radius: 25px;
		background: none;
		outline: none;
	}

</style>