{% if lazyLoadedCategoryDetails|length > 0 %}
    <ul>
        {% for lazyLoadedCategoryDetail in lazyLoadedCategoryDetails %}
            {% set isCurrentCategory = (currentCategory is not null and currentCategory == lazyLoadedCategoryDetail.category) %}
            {% if lazyLoadedCategoryDetail.children %}
                <li class="sub-menu">
                <ul>
                    {% for childrenCategory in lazyLoadedCategoryDetail.children %}
                    <li>
                        <a href="{{ url('front_product_list', {id: childrenCategory.category.id}) }}">
                            {{ childrenCategory.category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <li>
            {% endif %}
            <a href="{{ url('front_product_list', { id: lazyLoadedCategoryDetail.category.id }) }}">
                {{ lazyLoadedCategoryDetail.category.name }}
            </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
