{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
    {{ 'No promo codes found. You have to create some first.'|trans }}
{% endblock %}

{% block grid_value_cell_edit_id_percent %}
    <span class="form-edit-block form-edit-block--size-0">
        {{ form_widget(form.percent) }}
        <span class="form-edit-block__info">%</span>
    </span>
{% endblock %}

{% block grid_value_cell_id_percent %}
    {{ value|formatPercent }}
{% endblock %}

{% block grid_pager_totalcount %}
    {% set entityName = 'promo codes'|trans %}
    {{ parent() }}
{% endblock %}

{% block grid_inline_edit_add_button %}
    {% set addEntity = 'Create promo code'|trans %}
    {{ parent() }}
{% endblock %}