{% if messages %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
        {% for message in messages %}
				<div class="col-md-12">
				   <span class="js-validation-errors-list js-validation-error-list-address_form in-message alert alert-danger ">
				      <ul class="in-message__list">
				         <li>{{ message|raw }}</li>
				      </ul>
				   </span>
				</div>				
        {% endfor %}
            </div>
        </div>
    </div>
{% endif %}