{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Main page products'|trans }}{% endblock %}
{% block h1 %}{{ 'Main page products'|trans }}{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}

    {{ form_start(form) }}

        {{ form_errors(form) }}
        {{ form_row(form.products, { label: 'Products'|trans }) }}

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                {{ form_widget(form.save, { label: 'Save changes'|trans }) }}
            {% endblock %}
        {% endembed %}

    {{ form_end(form) }}
{% endblock %}
