<!DOCTYPE html>
<!--[if IE 7 ]>
<html lang="{{ app.request.locale }}" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>
<html lang="{{ app.request.locale }}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>
<html lang="{{ app.request.locale }}" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="{{ app.request.locale }}" class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    {% block meta_robots %}{% endblock %}

    {% if app.request.attributes.get('_route') == 'front_product_list' %}
        <link rel="stylesheet" type="text/css"
              href="{{ asset('assets/frontend/components/product-listing/static/css/app.b329bcd45275cdc0058b652d0641bb6f.css') }}">
    {% endif %}

    {#<link rel="stylesheet" type="text/css"#}
          {#href="{{ asset('assets/frontend/css/index.css') }}"#}
          {#media="screen, projection">#}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/rs-plugin/css/settings.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/css/ionicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/css/turbado-template.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/css/cart-responsive.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

    {% if app.request.attributes.get('_route') == 'front_product_detail' %}
        <link rel="stylesheet" type="text/css"
              href="{{ asset('assets/frontend/css/lightbox.min.css') }}">
    {% endif %}

        {# bootstrap/tooltip.js must be imported before bootstrap/popover.js #}
        {{ importJavascripts([
            'bundles/bmatznerjquery/js/jquery.min.js',
            'bundles/bmatznerjquery/js/jquery-migrate.js',
            'bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js',
            'frontend/components/escape.js',
            'frontend/components/keyCodes.js',
            'frontend/register.js',
            'bundles/fpjsformvalidator/js/fp_js_validator.js',
            'frontend/bootstrap/tooltip.js',
            'frontend/bootstrap/popover.js',
            'frontend/plugins/*.js',
            'frontend/validation/form/*.js',
            'frontend/validation/*.js',
            'frontend/cart/*.js',
            'frontend/order/*.js',
            'frontend/product/*.js',
            'frontend/*.js',
            'frontend/components/*.js',
            'assets/frontend/js/vendors/modernizr.js',
            'assets/frontend/js/vendors/wow.min.js',
            'assets/frontend/js/vendors/bootstrap.min.js',
            'assets/frontend/js/vendors/own-menu.js',
            'assets/frontend/js/vendors/jquery.sticky.js',
            'assets/frontend/js/vendors/owl.carousel.min.js',
            'assets/frontend/rs-plugin/js/jquery.tp.t.min.js',
            'assets/frontend/rs-plugin/js/jquery.tp.min.js',
            'assets/frontend/js/main.js',
            'assets/frontend/js/vendors/lightbox.min.js',
            'assets/frontend/js/vendors/bootstrap.min.js'
        ]) }}

		{%  if app.request.pathinfo == '/contact/' %}

		<script src="https://maps.google.com/maps/api/js?key=AIzaSyAVuZZW2NVK9tjY25N1_Jsm5jYathvVyiU&sensor=false"></script>
		<script src="{{ asset('assets/frontend/js/vendors/map.js') }}"></script>
		{% endif %}


        {{ js_validator_config() }}
        {{ init_js_validation() }}

    {{ render(controller('ShopsysShopBundle:Front/Heureka:embedWidget')) }}

    {% block javascripts %}{% endblock %}

    <title>{% block title %}ShopSys Framework{% endblock %} {{ getSeoTitleAddOn() }}</title>
</head>

<body>

{{ render(controller('ShopsysShopBundle:Front/Script:embedAllPagesScripts')) }}
{{ render(controller('ShopsysShopBundle:Front/Script:embedAllPagesGoogleAnalyticsScript')) }}

{% block html_body %}{% endblock %}

{% include('@ShopsysShop/turbado/Front/Inline/Cart/addProductModal.html.twig') %}

{% if app.request.attributes.get('_route') == 'front_product_list' %}
    <script src="{{  asset('assets/frontend/components/product-listing/static/js/manifest.2ae2e69a05c33dfc65f8.js') }}"></script>
    <script src="{{  asset('assets/frontend/components/product-listing/static/js/vendor.12328df76bd7bc2d94c6.js') }}"></script>
    <script src="{{  asset('assets/frontend/components/product-listing/static/js/app.d23ef3acf2306ca12aa6.js') }}"></script>
{% endif %}

{{ render(controller('ShopsysShopBundle:Front/Login:loginModal')) }}

</body>
</html>