<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="{{ asset('assets/frontend/images/plane.png') }}" alt="">
            </div>
            <div class="col-md-6">
                <h4>{{ 'Subscribe our Newsletter'|trans }}</h4>
            </div>
            <div class="col-md-4">
                <div class="newsletter-input">
                    <input type="text" placeholder="{{ 'Your email address here...'|trans }}"/>
                    <button>
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


{% set domainName = getDomain().currentDomainConfig.name %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer__logo">
                    <img src="{{ asset('assets/frontend/images/' ~ domainName ~ '/logo.png') }}" alt="logo">
                </div>
                <div class="footer__contact">
                    <div class="footer__contact-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="footer__contact-data">
                        <h4>{{ 'Contact us'|trans }}</h4>
                        <div>{{ getShopInfoPhoneNumber() }}</div>
                        <h4>{{ 'Email'|trans }}</h4>
                        <div>{{ getShopInfoEmail() }}</div>
                    </div>
                </div>
                <div class="footer__contact-address">
                    <h4>Contact address</h4>
                    <div>​Turbado.eu Ltd, 77A Shenley Road, Suite 2, First Floor, Kenwood House, Borehamwood WD6 1AG, UK</div>
                </div>
            </div>

            <div class="col-md-4">
                <ul>
                    {{ render(controller('ShopsysShopBundle:Front/Article:footer')) }}

                </ul>
            </div>

        </div>
    </div>
</footer>

