{% extends '@ShopsysShop/turbado/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{- article.seoTitle|default(article.name) -}}
{% endblock %}

{% block meta_description %}
    {{- article.seoMetaDescription|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block main_content %}
    <section class="blog-single padding-top-30 padding-bottom-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!-- Blog Post -->
                    <div class="blog-post">
                        <article>

                            <h5>
                                {% if article.seoH1 is not null %}
                                    {{ article.seoH1 }}
                                {% else %}
                                    {{ article.name }}
                                {% endif %}
                            </h5>

                            {{ article.text|raw }}

                        </article>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}