{% for key, articles in groupedArticles %}

    <div class="col-md-4">
        <h4>
            {{ key }}
        </h4>
        <ul>
            {% for article in articles %}

                <li>
                    <a href="{{ url('front_article_detail', { id: article.id }) }}">{{ article.name }}</a>

                </li>

            {% endfor %}
        </ul>
        ł
    </div>


{% endfor %}