<div class="header-navbar header-navbar--bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                {{ render(controller('ShopsysShopBundle:Front/Category:panel', { request: app.request } )) }}

            </div>
            <div class="col-md-9">
                <ul class="header--articles">
                    {% if articles is not null and articles is not empty %}
                        {% for article in articles %}
                            <li>
                                <a href="{{ url('front_article_detail', {id: article.id}) }}">
                                    {{ article.name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
