{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Cart'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    {% include '@ShopsysShop/Front/Inline/OrderProgress/index.html.twig' with {step: 1} only %}

    {#its rly uggly#}
    {#<h1>{{ 'Your cart'|trans }}</h1>#}

    {% if cart.itemsCount > 0 %}
        {{ form_start(form, { attr: { class: 'js-no-validate js-cart-form' }}) }}
        {{ form_errors(form) }}

        <div class="shopping-cart padding-bottom-60">
            <div class="container">
                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ 'Items'|trans }}</th>
                            <th class="text-center">{{ 'Price'|trans }}</th>
                            <th class="text-center">{{ 'Amount'|trans }}</th>
                            <th class="text-center">{{ 'Total price'|trans }}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tbody>

                        <!-- Item Cart -->
                        {% for cartItem in cartItems %}
                            {% set cartItemPrice = cartItemPrices[cartItem.id] %}
                            {% set cartItemDiscount = cartItemDiscounts[cartItem.id] %}
                            <tr>
                                <td class="column-image">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}"
                                               title="{{ cartItem.product.name }}">
                                                {{ image(cartItem.product, { size: 'original' }) }}
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p>{{ cartItem.name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center padding-top-60">
                                    {{ cartItemPrice.unitPrice.priceWithVat|price }}
                                    {% if cartItemDiscount is not null %}
                                        <div>
                                            {{ 'Discount'|trans }}:
                                            {{ cartItemDiscount.priceWithVat|price }}
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="text-center column-qty"><!-- Quinty -->
                                    <span class="form-input-spinbox js-spinbox">

                                    {{ form_widget(form.quantities[cartItem.id], { attr: { class: 'form-input-spinbox__input input-no-style js-spinbox-input', 'data-spinbox-min': 1}}) }}
                                        <button type="button"
                                                class="btn-no-style form-input-spinbox__btn js-spinbox-plus"
                                                id="incQty">+</button>
                                    <button type="button"
                                            class="btn-no-style form-input-spinbox__btn form-input-spinbox__btn--minus js-spinbox-minus"
                                            id="decQty">-</button>
                                </span>
                                </td>

                                <td class="text-center padding-top-60">
                                    {{ cartItemPrice.totalPrice.priceWithVat|price }}
                                    {% if cartItemDiscount is not null %}
                                        <div>
                                            {{ 'Discount'|trans }}:
                                            {{ cartItemDiscount.priceWithVat|price }}
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="text-center padding-top-60"><a
                                            href="{{ url('front_cart_delete', {cartItemId: cartItem.id, _token: csrf_token('front_cart_delete_' ~ cartItem.id)}) }}"
                                            class="remove"><i
                                                class="fa fa-times"></i></a></td>
                            </tr>
                        {% endfor %}
                        {#<!-- Item Cart -->#}
                        {#<tr>#}
                        {#<td><div class="media">#}
                        {#<div class="media-left"> <a href="#."> <img class="img-responsive" src="images/item-img-1-2.jpg" alt=""> </a> </div>#}
                        {#<div class="media-body">#}
                        {#<p>E-book Reader Lector De Libros#}
                        {#Digitales 7''</p>#}
                        {#</div>#}
                        {#</div></td>#}
                        {#<td class="text-center padding-top-60">$200.00</td>#}
                        {#<td class="text-center"><div class="quinty padding-top-20">#}
                        {#<input type="number" value="02">#}
                        {#</div></td>#}
                        {#<td class="text-center padding-top-60">$400.00</td>#}
                        {#<td class="text-center padding-top-60"><a href="#." class="remove"><i class="fa fa-close"></i></a></td>#}
                        {#</tr>#}
                        </tbody>
                    </table>

                    <!-- Promotion -->
                    <div class="promo">
                        {#<div class="coupen">#}
                        {#{{ render(controller('ShopsysShopBundle:Front/PromoCode:index')) }}#}
                        {#</div>#}

                        <!-- Grand total -->
                        <div class="g-totel">
                            <h5>{{ 'Grand total'|trans }}: <span>{{ productsPrice.priceWithVat|price }}</span></h5>
                        </div>
                        <br>
                        <br>
                    </div>
                    <!-- Button -->
                    {#<div class="pro-btn">#}
                    {#</div>#}
                </div>
                <div class="row orderButtons">
                    <div class="col-xs-12 col-md-6 text-left">
                        <a href="{{ path('front_cart_b2b') }}"
                           class="btn-round btn-round-cart btn-light">{{ 'Buy as company'|trans }}</a>
                    </div>
                    <div class="col-xs-12 col-md-6 text-right">
                        {{ form_widget(form.submit, { label: 'Next'|trans, attr: { class: 'btn-round btn-round-cart' } }) }}
                    </div>
                </div>

            </div>
            </section>
        </div>

        {{ form_end(form) }}

    {% else %}

        <div class="not-products" v-else>
            <div class="left">
                <span>;(</span>
            </div>
            <div class="right">
                <p>
                    {{ 'Your cart is unfortunately empty. To create order, you have to <a href="%url%">choose</a> some product first'|transHtml({ '%url%': url('front_homepage') }) }}
                </p>
                <div>
                    <a href="{{ url('front_homepage') }}" class="button button--back-to-home">
                        {{ 'Back to buying'|trans }}
                    </a>
                </div>
            </div>

        </div>
    {% endif %}

    <script>
      $(document).on('click', 'button.ajax', function () {
        that = $(this);
        $.ajax({
          url: '{{ path('front_cart_b2b') }}',
          type: "POST",
          dataType: "json",
          data: {},
          async: true,
          success: function (data) {
            $('div#ajax-results').html(data.output);
          }
        });
        return false;
      });
    </script>
    <script>


      function changeQty() {
        $('<input />').attr('type', 'hidden')
        .attr('name', "recalculateOnly")
        .attr('value', "true")
        .appendTo('form[name="cart_form"]');
        $('form[name="cart_form"]').submit();
      }

      window.timerId = '';
      $("#incQty,#decQty").on('click', function () {
        clearTimeout(window.timerId);
        window.timerId = setTimeout(changeQty, 500);
      });

      {#function changeQty() {#}
      {#$('<input />').attr('type', 'hidden')#}
      {#.attr('name', "recalculateOnly")#}
      {#.attr('value', "true")#}
      {#.appendTo('form[name="cart_form"]');#}
      {#$('form[name="cart_form"]').submit();#}
      {#}#}

      {#window.timerId = '';#}
      {#$("#incQty,#decQty").on('click', function () {#}
      {#clearTimeout(window.timerId);#}
      {#window.timerId = setTimeout(changeQty, 500);#}


      {#//  that = $(this);#}
      {#// console.log('a');#}
      {#$.ajax(#}{#}#}
      {#url:'{{ path('front_cart_b2b') }}',#}
      {#type: "POST",#}
      {#dataType: "json",#}
      {#data: {},#}
      {#async: true,#}
      {#success: function (data)#}
      {##}{#}#}
      {#$('div#ajax-results').html(data.output);#}
      {#}#}
      {#//  });#}
      {#// return false;#}
      {#});#}

    </script>
{% endblock %}
