{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'Superadmin - Sale including/excluding VAT settings'|trans }}{% endblock %}
{% block h1 %}{{ 'Superadmin - Sale including/excluding VAT settings'|trans }}{% endblock %}

{% block main_content %}
    {{ form_start(form) }}
        <div class="form-group">
            <div class="form-group__title">
                {{ 'Settings'|trans }}
            </div>
            {{ form_row(form.type, { 'label': 'Entry price type'|trans }) }}
        </div>

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                {{ form_widget(form.save, { label: 'Save changes'|trans}) }}
            {% endblock %}
        {% endembed %}

    {{ form_end(form) }}
{% endblock %}