{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Superadmin - URL addresses'|trans }}{% endblock %}
{% block h1 %}{{ 'URL addresses'|trans }}{% endblock %}

{% block main_content %}
    {{ gridView.render() }}
{% endblock%}