{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Google analytics'|trans }}{% endblock %}
{% block h1 %}{{ 'Google analytics'|trans }}{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.trackingId, { label: 'Tracking ID'|trans}) }}

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                {{ form_row(form.save, { label: 'Save'|trans }) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}
{% endblock %}