{% extends '@ShopsysShop/bestcena/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Registration'|trans }}
{% endblock %}

{% block main_content %}

    <section class="user-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-panel__wrapper">
                        <div class="user-panel__wrapper-left">
                            <h2>
                                {{ 'Registration'|trans }}
                            </h2>

                            {{ render(controller('ShopsysShopBundle:Front/Registration:registerForm')) }}

                        </div>
                        <div class="user-panel__wrapper-right">
                            <h2>
                                {{ 'Login'|trans }}
                            </h2>

                            {{ render(controller('ShopsysShopBundle:Front/Login:loginFormComponent')) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
