{% extends '@ShopsysShop/Admin/Content/Brand/detail.html.twig' %}

{% block title %}- {{ 'Editing brand'|trans }} - {{ brand.name }}{% endblock %}
{% block h1 %}{{ 'Editing brand'|trans }} - {{ brand.name }}{% endblock %}

{% block brand_urls %}
    {{ form_row(form.brandData.urls, { label: 'URL addresses'|trans }) }}
{% endblock %}

{% block image %}
    <div class="form-line">
        <label class="form-line__label">
            {{ 'Image'|trans }}:
        </label>
        <div class="form-line__side">
            <div class="form-line__item">
                {{ image(brand, { size: 'original', height: 100 }) }}
            </div>
        </div>
    </div>
{% endblock %}
