{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Brand overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Brand overview'|trans }}{% endblock %}

{% block main_content %}
    <div class="wrap-bar">
        <div class="form-group margin-bottom-20">
            <h2 class="form-group__title">
                {{ 'Link to the overview of brands'|trans }}
            </h2>
                {% for domain in domains %}
                <div class="form-line">
                    <div class="form-line__line">
                        <div class="form-line__label">
                            {{ getDomainName(domain.id) }}
                            {% if isMultidomain() %}
                                {{ domainIcon(domain.id) }}
                            {% endif %}
                        </div>
                        <div class="form-line__item form-line__item--text">
                            <a href="{{ findUrlByDomainId('front_brand_list', {}, domain.id) }}" target="_blank">
                                {{ findUrlByDomainId('front_brand_list', {}, domain.id) }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ url('admin_brand_new') }}" class="btn btn--plus wrap-bar__btn">
            <i class="btn__icon">+</i>
            {{ 'Create new brand'|trans }}
        </a>
    </div>
    {{ gridView.render() }}
{% endblock %}
