<div class="modal fade in" tabindex="-1" role="dialog" id="add-product-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="add-product-modal__content">
                </div>
                <div class="add-product-modal__buttons">
                    <button class="button button--back-to-buying">{{ "Back to shopping"|trans }}</button>
                    <a href="{{ url('front_cart') }}" class="button button--to-cart">
                        {{ "Go to cart"|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
