<ul class="nav navbar-right cart-pop" id="js-cart-box" data-reload-url="{{ url('front_cart') }}">

    {% if cart.isEmpty %}

    <li class="dropdown"><a href="{{ url('front_cart') }}"><span class="itm-cont">0</span> <i
                    class="flaticon-shopping-bag"></i> <strong>{{ 'My Cart'|trans }}</strong> <br>

            <span>{{ 'Your cart is empty'|trans }}</span></a>

        {% else %}
    <li class="dropdown"><a href="{{ url('front_cart') }}">
            <i class="flaticon-shopping-bag"></i> <strong>{{ 'My Cart'|trans }}</strong> <br>

            <span>{{ cart.itemsCount }}{{ 'item(s)'|trans }} - {{ productsPrice.priceWithVat|price }}</span>

        {% endif %}

    </li>

</ul>
