<template v-if="!window.isListingLoaded">
	<div class="container" id="root-listing">
		<div v-if="categoryHasProducts">
			<spinner-popup v-if="!isLoaded && categoryHasProducts"></spinner-popup>
			<popup v-if="popupStatus"></popup>
			<div class="row">
				<div class="col-md-12">
					<products-header></products-header>
				</div>
			</div>
			<div class="row">
				<div :class="showFilter ? 'col-md-3 col-xs-12 mobile-show' : 'col-md-3 col-xs-12 mobile-hide'">
					<product-listing-filters></product-listing-filters>
				</div>
				<div class="col-md-9 col-xs-12">
					<product-listing-products></product-listing-products>
					<pagination v-if="pagesCount > 1"></pagination>
				</div>
			</div>
		</div>
		<div class="not-products" v-else>
			<div class="left">
				<span>;(</span>
			</div>
			<div class="right">
				<p>{{translations.categoryHasNoProducts}}</p>
				<div>
					<button @click="redirectToHome()" class="button button--back-to-home">
						{{translations.backToShopping}}
					</button>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
  import ProductListingFilters from './components/Filters/index.vue'
  import ProductListingProducts from './components/Products/index.vue'
  import ProductsHeader from './components/Products/header.vue'
  import Popup from './components/Popup/popup.vue'
  import {mapGetters} from 'vuex'
  import Pagination from './components/Pagination/pagination.vue'
  import SpinnerPopup from './components/Popup/spinner.vue'

  export default {
    components: {
      SpinnerPopup,
      Pagination,
      Popup,
      ProductsHeader,
      ProductListingProducts,
      ProductListingFilters
    },
    name: 'App',
    computed: {
      ...mapGetters(['popupStatus', 'pagesCount', 'isLoaded', 'showFilter', 'categoryHasProducts', 'translations'])
    },
    methods: {
      redirectToHome: () => {
        window.location.href = window.location.origin
      }
    }
  }
</script>

<style>
	@import '../node_modules/bootstrap3/dist/css/bootstrap.min.css';
	@import '../node_modules/font-awesome/css/font-awesome.min.css';
	@import './styles/main.css';
	@import './styles/style.css';
	@import './styles/extra.css';

	.in-message.in-message--success {
		color: grey;
		border: none;
		background: none;
	}

</style>
