{% for key, articles in groupedArticles %}

        <ul>
            <li class="heading">
                {{ key }}
            </li>
            {% for article in articles %}

                <li>
                    <a href="{{ url('front_article_detail', { id: article.id }) }}">{{ article.name }}</a>

                </li>

            {% endfor %}
        </ul>

{% endfor %}