{% extends '@ShopsysShop/bestcena/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% for payment in payments %}
        {% for transport in payment.transports %}
        Shopsys.order.addPaymentTransportRelation({{ payment.id }}, {{ transport.id }});
        {% endfor %}
        {% endfor %}
    </script>
{% endblock %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order [noun]'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    <div class="container">


        {{ form_start(form, { attr: { id: "js-order-form", 'data-ajax-save-url': url('front_order_save_form') }}) }}
        {{ form_errors(form, {errors_attr: {class: 'alert alert-info'}}) }}
        {% include '@ShopsysShop/bestcena/Front/Content/Order/step' ~ flow.getCurrentStepNumber() ~ '.html.twig' %}
        {{ form_end(form) }}
    </div>

{% endblock %}