{% extends '@ShopsysShop/turbado/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Cart'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}

    <div class="container">

        {% include '@ShopsysShop/turbado/Front/Inline/Cart/breadcrumb.html.twig' with {step: 1} only %}

        {% if cart.itemsCount > 0 %}

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Shopping Cart Summary</h1>
                </div>
            </div>

            {{ form_start(form, { attr: { class: 'js-no-validate js-cart-form' }}) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12 mobile-np">

                    <table class="cart__summary-table">

                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'Product'|trans }}</th>
                            <th></th>
                            <th>{{ 'Price'|trans }}</th>
                            <th>{{ 'Amount'|trans }}</th>
                            <th>{{ 'Total price'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for cartItem in cartItems %}
                            {% set cartItemPrice = cartItemPrices[cartItem.id] %}
                            {% set cartItemDiscount = cartItemDiscounts[cartItem.id] %}
                            <tr>
                                <td>
                                    <a href="{{ url('front_cart_delete', {cartItemId: cartItem.id, _token: csrf_token('front_cart_delete_' ~ cartItem.id)}) }}"
                                       class="remove">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}"
                                       title="{{ cartItem.product.name }}">
                                        {{ image(cartItem.product, { size: 'original' }) }}
                                    </a>
                                </td>
                                <td>
                                    {{ cartItem.name }}
                                </td>
                                <td>
                                    {{ cartItemPrice.unitPrice.priceWithVat|price }}
                                </td>
                                <td>
                                    <div class="cart__summary-qty">
                                        <div>
                                            <button type="button" id="decQty" class="button button--cart-qty">
                                                -
                                            </button>
                                        </div>
                                        <div>
                                            {{ form_widget(form.quantities[cartItem.id]) }}
                                        </div>
                                        <div>
                                            <button type="button" id="incQty" class="button button--cart-qty">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ cartItemPrice.totalPrice.priceWithVat|price }}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="cart__summary-subtotal">
                        <span>{{ 'Grand total'|trans }}: </span>{{ productsPrice.priceWithVat|price }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="cart__buttons-row">
                        <a href="{{ path('front_cart_b2b') }}"
                           class="button button--grey">
                            {{ 'Buy as company'|trans }}
                        </a>
                        {{ form_widget(form.submit, { label: 'Next'|trans, attr: { class: 'button button--blue' } }) }}

                    </div>
                </div>
            </div>

            {{ form_end(form) }}

        {% else %}

            <div class="not-products">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{{ 'Your cart'|trans }}</h1>
                            <p>
                                {{ 'Your cart is unfortunately empty. To create order, you have to <a href="%url%">choose</a> some product first'|transHtml({ '%url%': url('front_homepage') }) }}
                                <br/>
                                <a href="{{ url('front_homepage') }}" class="button button--back-to-home">
                                    {{ 'Back to buying'|trans }}
                                </a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

    <script>
      $(document).on('click', 'button.ajax', function () {
        that = $(this);
        $.ajax({
          url: '{{ path('front_cart_b2b') }}',
          type: "POST",
          dataType: "json",
          data: {},
          async: true,
          success: function (data) {
            $('div#ajax-results').html(data.output);
          }
        });
        return false;
      });
    </script>
    <script>


      function changeQty() {
        $('<input />').attr('type', 'hidden')
        .attr('name', "recalculateOnly")
        .attr('value', "true")
        .appendTo('form[name="cart_form"]');
        $('form[name="cart_form"]').submit();
      }

      window.timerId = '';
      $("#incQty,#decQty").on('click', function () {
        clearTimeout(window.timerId);
        window.timerId = setTimeout(changeQty, 500);
      });

      function changeQty() {
        $('<input />').attr('type', 'hidden')
        .attr('name', "recalculateOnly")
        .attr('value', "true")
        .appendTo('form[name="cart_form"]');
        $('form[name="cart_form"]').submit();
      }

      window.timerId = '';
      $("#incQty,#decQty").on('click', function () {
        clearTimeout(window.timerId);
        window.timerId = setTimeout(changeQty, 500);


        //  that = $(this);
        // console.log('a');
          {#$.ajax({#}
          {#url:'{{ path('front_cart_b2b') }}',#}
          {#type: "POST",#}
          {#dataType: "json",#}
          {#data: {},#}
          {#async: true,#}
          {#success: function (data)#}
          {#{#}
          {#$('div#ajax-results').html(data.output);#}
          {#}#}
        //  });
        // return false;
      });

    </script>
{% endblock %}
