{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Parameters overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Parameters overview'|trans }}{% endblock %}

{% block main_content %}
    {{ gridView.render() }}
{% endblock %}