{% include '@ShopsysShop/Admin/Inline/FlashMessage/messages.html.twig' with {type: 'error', messages: errorMessages} only %}
{% include '@ShopsysShop/Admin/Inline/FlashMessage/messages.html.twig' with {type: 'info', messages: infoMessages} only %}
{% include '@ShopsysShop/Admin/Inline/FlashMessage/messages.html.twig' with {type: 'success', messages: successMessages} only %}
