{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Units overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Units overview'|trans }}{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Unit:setting')) }}

    {{ gridView.render() }}
{% endblock %}