{{ form_start(form) }}
    <div class="form-group">
        <div class="form-group__title">
            {{ 'Settings'|trans }}
        </div>
        {{ form_row(form.defaultUnit, { label: 'Default unit'|trans, icon: { title : 'Default unit will be used when creating new product'|trans } }) }}
    </div>

    {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
        {% block fixed_bar_content %}
            {{ form_widget(form.save, { label: 'Save changes'|trans}) }}
        {% endblock %}
    {% endembed %}
{{ form_end(form) }}