{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Advertising'|trans }}{% endblock %}
{% block h1 %}{{ 'Advertising'|trans }}{% endblock %}

{% block main_content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group wrap-border">
            <div class="form-group__title">
                {{ 'Settings'|trans }}
            </div>
            {{ form_id(advert|default(null)) }}
            {{ form_row(form.domainId, { label: 'Domain'|trans }) }}
            {{ form_row(form.name, { label: 'Name'|trans, icon: { title: 'Name serves only for internal use within the administration'|trans } }) }}
            {{ form_row(form.type, { label: 'Type'|trans}) }}
            {{ form_row(form.positionName, { label: 'Area'|trans}) }}
            {{ form_row(form.hidden, { label: 'Hide advertisement'|trans}) }}
            <div class="js-advert-type-content form-line__js" data-type="code">
                {{ form_row(form.code, { label: 'Code'|trans}) }}
            </div>
        </div>
        <div class="form-group js-advert-type-content" data-type="image">
            <div class="form-group__title">
                {{ 'Image'|trans }}
            </div>
            {{ form_row(form.link, { label: 'Link'|trans}) }}
            {% block image %}{% endblock %}
            {{ form_row(form.image, { label: 'Upload new image'|trans, infoText: 'You can upload following formats: PNG, JPG, GIF'|trans}) }}
        </div>

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                <a href="{{ url('admin_advert_list') }}" class="btn-link-style">{{ 'Back to overview'|trans }}</a>
                {{ form_save(advert|default(null), form) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}
{% endblock %}