{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_name %}
    <a href="{{ url('admin_advert_edit', { id: row.a.id }) }}">{{ value }}</a>
{% endblock %}

{% block grid_no_data %}
    {{ 'No advertising found. You have to create some first.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
    {% set entityName = 'advertisings'|trans %}
    {{ parent() }}
{% endblock %}

{% block grid_value_cell_id_visible %}
    {% set value = not value %}
    <span class="in-icon svg svg-{{ value ? 'visible in-icon--visible' : 'invisible in-icon--invisible' }}" title="{{ value ? 'Yes'|trans : 'No'|trans }}"></span>
{% endblock %}

{% block grid_value_cell_id_positionName %}
    {{ advertPositionNames[value] }}
{% endblock %}

{% block grid_value_cell_id_preview %}
    {% if row.advert.type == TYPE_IMAGE %}
        {{ image(row.advert, {size: 'original', height: 30}) }}
    {% else %}
        {{ '-' }}
    {% endif %}
{% endblock %}