<footer class="footer">
    <div class="footer__features">
        <div class="footer__features-wrapper">

            <div class="footer__features-item">
                <i class="fas fa-globe-africa"></i>
                <div>
                    Zastúpenie v 8 krajinách EU
                </div>
            </div>

            <div class="footer__features-item">
                <i class="fas fa-hand-holding-heart"></i>
                <div>
                    Sme s vami od roku 2003
                </div>
            </div>

            <div class="footer__features-item">
                <i class="fas fa-thumbs-up"></i>
                <div>
                    1.2 milióna spokojných zákazníkov
                </div>
            </div>

            <div class="footer__features-item">
                <i class="fas fa-users"></i>
                <div>
                    Sme odborníci na sortiment
                </div>
            </div>

            <div class="footer__features-item">
                <i class="fas fa-shipping-fast"></i>
                <div>
                    Tovar u vás už do 24 hodín od jeho objednania
                </div>
            </div>

            <div class="footer__features-item">
                <i class="fas fa-plus"></i>
                <div>
                    Ponúkame širokú škálu extra služieb
                </div>
            </div>

        </div>
    </div>

    <div class="footer__newsletter">
        <div class="container">
            <div class="footer__newsletter-wrapper">
                <span>Get the lastest deals and more.</span>
                <input type="text" placeholder="Enter email address">
                <button>Sign Up</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer__content">

            {{ render(controller('ShopsysShopBundle:Front/Article:footer')) }}

        </div>
    </div>

</footer>