{% block header %}

    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    {% set shopInfoEmail = getShopInfoEmail() %}
    {% set domainName = getDomain().currentDomainConfig.name %}
    {% set domainId = getDomain().currentDomainConfig.id %}

    <header>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header__top">
                        <ul>
                            {% if is_granted('ROLE_CUSTOMER') %}
                                <li>
                                    <a href="{{ url('front_customer_personal_data_settings') }}">{{ 'GDPR data'|trans }} </a>
                                </li>
                                <li><a href="{{ url('front_customer_edit') }}">{{ 'Personal data'|trans }} </a></li>
                                <li><a href="{{ url('front_customer_warranties') }}">{{ 'Warranties'|trans }} </a></li>
                                <li><a href="{{ url('front_customer_orders') }}"> {{ 'Orders'|trans }}</a></li>
                                <li>
                                    <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">{{ 'Log out'|trans }} </a>
                                </li>
                                <li>{{ app.user.firstName }} {{ app.user.lastName }}</li>
                            {% else %}

                                <li><a href="#"
                                       onclick="event.preventDefault(); return false;" data-toggle="modal"
                                       data-target="#login-modal">{{ 'Login'|trans }}</a>
                                </li>
                                <li><a href="{{ url('front_registration_register') }}">{{ 'Register'|trans }} </a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="header__middle">
                        <div class="header__logo">
                            <a href="{{ url('front_homepage') }}">
                                <img src="{{ asset('assets/frontend/images/' ~ domainName | replace({'https://': ''}) ~ '/logo.png') }}"
                                     alt="">
                            </a>
                        </div>
                        <div class="header__search">
                            {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}
                        </div>
                        <div class="header__cart">
                            {{ render(controller('ShopsysShopBundle:Front/Cart:box')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__bottom">
            <div class="container">
                <ul>
                    <li data-target="#products-menu">
                        <a href="">
                            {{ 'Products'|trans }}
                        </a>
                    </li>
                    <li data-target="#brands-menu">
                        <a href="">
                            {{ 'Brands'|trans }}
                        </a>
                    </li>
                    <li data-target="#services-menu">
                        <a href="">
                            {{ 'Services'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="products-menu menu-item" id="products-menu">

            {{ render(controller('ShopsysShopBundle:Front/Category:panel', { request: app.request } )) }}

        </div>

        <div class="brands-menu menu-item" id="brands-menu">

            {{ render(controller('ShopsysShopBundle:Front/Brand:menu')) }}

        </div>

        <div class="services-menu menu-item" id="services-menu">

            {{ render(controller('ShopsysShopBundle:Front/Article:header')) }}

            <div class="products-menu__features">
                <ul>
                    <li>
                        <i class="fa fa-shipping-fast"></i>
                        Free shipping
                    </li>
                    <li>
                        <i class="fa fa-undo"></i>
                        Easy return
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        Support
                    </li>
                </ul>
            </div>
        </div>

    </header>

    <div class="menu-overlay"></div>

    {% if sliderItems is defined %}

        <div class="container">
            <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for slide in sliderItems %}
                        <li data-target="#homepage-carousel" data-slide-to="{{ loop.index }}"
                            class="{{ loop.first ? 'active' : '' }}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    {% for slide in sliderItems %}
                        <a href="{{ slide.link }}" class="item{% if loop.first %} active{% endif %}">
                            <img src="{{ imageUrl(slide) }}" alt="">
                        </a>
                    {% endfor %}

                </div>

            </div>
        </div>

    {% endif %}

    {% if form.vars.errors.form.getErrors(true) is defined %}


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for error in form.vars.errors.form.getErrors(true) %}

                        <div class="col-md-12">
				   <span class="js-validation-errors-list js-validation-error-list-address_form in-message alert alert-danger ">
				      <ul class="in-message__list">
				         <li>{{ error.message }}</li>
				      </ul>
				   </span>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}

    {% set historyCookies = 'productsViewHistory_' ~ domainId %}

    {% if( app.request.cookies.has(historyCookies)) and (app.request.attributes.get('_route') == 'front_homepage') %}
        {{ render(controller('ShopsysShopBundle:Front/Product:productHistory')) }}
    {% endif %}

    {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\ShopBundle\\Model\\Advert\\Advert::POSITION_HEADER')})) }}
{% endblock %}
