{% extends '@ShopsysShop/eleka/Front/Layout/layout.html.twig' %}



{% block content %}
    {% if app.request.attributes.get('_route') == 'front_homepage' %}
        {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
        {% set domain = getDomain() %}
        <div id="content">

            <div class="homepage-features">

                <div class="homepage-features__item">
                    <div class="icon">
                        <img src="{{ asset('assets/frontend/images/icon-shipping-free.svg') }}" alt="">
                    </div>
                    <div class="content">
                        <h3>Free shipping</h3>
                    </div>
                </div>

                <div class="homepage-features__item">
                    <div class="icon">
                        <img src="{{ asset('assets/frontend/images/icon-hand-with-ok.svg') }}" alt="">
                    </div>
                    <div class="content">
                        <h3>Extended warranty free of charge</h3>
                    </div>
                </div>

                <div class="homepage-features__item">
                    <div class="icon">
                        <img src="{{ asset('assets/frontend/images/icon-shipping.svg') }}" alt="">
                    </div>
                    <div class="content">
                        <h3>Guarantee of fast delivery</h3>
                    </div>
                </div>

                <div class="homepage-features__item">
                    <div class="icon">
                        <img src="{{ asset('assets/frontend/images/icon-package.svg') }}" alt="">

                    </div>
                    <div class="content">
                        <h3>Guarantee of return of goods</h3>
                    </div>
                </div>

                <div class="homepage-features__item">
                    <div class="icon">
                        <img src="{{ asset('assets/frontend/images/icon-money.svg') }}" alt="">
                    </div>
                    <div class="content">
                        <h3>Price match guarantee</h3>
                    </div>
                </div>

                <div class="homepage-features__item">
                    <div class="icon">
                        <img src="{{ asset('assets/frontend/images/icon-card.svg') }}" alt="">
                    </div>
                    <div class="content">
                        <h3>Secure payments</h3>
                    </div>
                </div>

            </div>
            <!-- Shipping Info -->
            {#<section class="shipping-info">#}
            {#<div class="container">#}
            {#<ul>#}

            {#<!-- Free Shipping -->#}
            {#<li>#}
            {#<div class="media-left"><i class="flaticon-delivery-truck-1"></i></div>#}
            {#<div class="media-body">#}
            {#<h5>{{ 'Free Shipping'|trans }} </h5>#}
            {#<span>{{ 'On order over $99'|trans }}</span></div>#}
            {#</li>#}
            {#<!-- Money Return -->#}
            {#<li>#}
            {#<div class="media-left"><i class="flaticon-arrows"></i></div>#}
            {#<div class="media-body">#}
            {#<h5>{{ 'Money Return'|trans }}</h5>#}
            {#<span>{{ '30 Days money return'|trans }}</span></div>#}
            {#</li>#}
            {#<!-- Support 24/7 -->#}
            {#<li>#}
            {#<div class="media-left"><i class="flaticon-operator"></i></div>#}
            {#<div class="media-body">#}
            {#<h5>{{ 'Support 24/7'|trans }}</h5>#}
            {#<span>{{ shopInfoPhoneNumber }}</span></div>#}
            {#</li>#}
            {#<!-- Safe Payment -->#}
            {#<li>#}
            {#<div class="media-left"><i class="flaticon-business"></i></div>#}
            {#<div class="media-body">#}
            {#<h5>{{ 'Safe Payment'|trans }}</h5>#}
            {#<span>{{ 'Protect online payment'|trans }}</span></div>#}
            {#</li>#}
            {#</ul>#}
            {#</div>#}
            {#</section>#}

            <section class="featured">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-carousel="#featured-carousel" data-toggle="tab"
                                                      href="#featured">{{ 'Featured'|trans }}</a></li>
                                <li><a data-carousel="#special-carousel" data-toggle="tab"
                                       href="#special">{{ 'Special'|trans }}</a></li>
                                <li><a data-carousel="#onsale-carousel" data-toggle="tab"
                                       href="#onsale">{{ 'Onsale'|trans }}</a></li>
                                <li><a data-carousel="#best-of-week-carousel" data-toggle="tab"
                                       href="#bestOfWeek">{{ 'Best of Week'|trans }}</a></li>
                            </ul>

                            <ul class="nav nav-right">
                                <li>
                                    <a href="#featured-carousel" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#featured-carousel" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <div id="featured" class="tab-pane fade in active">
                                    <div id="featured-carousel" class="carousel carousel--products slide"
                                         data-ride="carousel">
                                        <div class="carousel-inner">

                                            {% for row in feature|batch(8) %}
                                                <div class="item {{ loop.first ? 'active'  : '' }}">
                                                    <div class="products-grid">
                                                        {% for top in row %}
                                                            <div class="product-item">
                                                                <a class="product-item__image" href="{{ top.url }}">
                                                                    {% if top.image_url == '' %}
                                                                        <img
                                                                                src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                                                alt="{{ top.product_name }}"
                                                                        >
                                                                    {% else %}
                                                                        <img src="{{ top.image_url }}"
                                                                             alt="{{ top.product_name }}">
                                                                    {% endif %}
                                                                </a>
                                                                <a href="{{ top.url }}" class="product-item__name">
                                                                    <span class="brand">{{ top.categories[0] }}</span>
                                                                    <span class="name">{{ top.product_name }}</span>
                                                                </a>
                                                                <div class="product-item__price">
                                                                    {{ top.productDetail.sellingPrice.priceWithVat|price }}
                                                                </div>
                                                                <div class="product-item__button">
                                                                    {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                                                    <div class="rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>

                                <div id="special" class="tab-pane fade">

                                    <div id="special-carousel" class="carousel carousel--products slide"
                                         data-ride="carousel">
                                        <div class="carousel-inner">

                                            {% for row in special|batch(8) %}
                                                <div class="item {{ loop.first ? 'active'  : '' }}">
                                                    <div class="products-grid">
                                                        {% for top in row %}
                                                            <div class="product-item">
                                                                <a class="product-item__image" href="{{ top.url }}">
                                                                    {% if top.image_url == '' %}
                                                                        <img
                                                                                src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                                                alt="{{ top.product_name }}"
                                                                        >
                                                                    {% else %}
                                                                        <img src="{{ top.image_url }}"
                                                                             alt="{{ top.product_name }}">
                                                                    {% endif %}
                                                                </a>
                                                                <a href="{{ top.url }}" class="product-item__name">
                                                                    <span class="brand">{{ top.categories[0] }}</span>
                                                                    <span class="name">{{ top.product_name }}</span>
                                                                </a>
                                                                <div class="product-item__price">
                                                                    {{ top.productDetail.sellingPrice.priceWithVat|price }}
                                                                </div>
                                                                <div class="product-item__button">
                                                                    {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                                                    <div class="rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>


                                <div id="onsale" class="tab-pane fade">

                                    <div id="onsale-carousel" class="carousel carousel--products slide"
                                         data-ride="carousel">
                                        <div class="carousel-inner">

                                            {% for row in on_sale|batch(8) %}
                                                <div class="item {{ loop.first ? 'active'  : '' }}">
                                                    <div class="products-grid">
                                                        {% for top in row %}
                                                            <div class="product-item">
                                                                <a class="product-item__image" href="{{ top.url }}">
                                                                    {% if top.image_url == '' %}
                                                                        <img
                                                                                src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                                                alt="{{ top.product_name }}"
                                                                        >
                                                                    {% else %}
                                                                        <img src="{{ top.image_url }}"
                                                                             alt="{{ top.product_name }}">
                                                                    {% endif %}
                                                                </a>
                                                                <a href="{{ top.url }}" class="product-item__name">
                                                                    <span class="brand">{{ top.categories[0] }}</span>
                                                                    <span class="name">{{ top.product_name }}</span>
                                                                </a>
                                                                <div class="product-item__price">
                                                                    {{ top.productDetail.sellingPrice.priceWithVat|price }}
                                                                </div>
                                                                <div class="product-item__button">
                                                                    {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                                                    <div class="rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>

                                <div id="bestOfWeek" class="tab-pane fade">

                                    <div id="best-of-week-carousel" class="carousel carousel--products slide"
                                         data-ride="carousel">
                                        <div class="carousel-inner">

                                            {% for row in topSelling|batch(8) %}
                                                <div class="item {{ loop.first ? 'active'  : '' }}">
                                                    <div class="products-grid">
                                                        {% for top in row %}
                                                            <div class="product-item">
                                                                <a class="product-item__image" href="{{ top.url }}">
                                                                    {% if top.image_url == '' %}
                                                                        <img
                                                                                src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                                                alt="{{ top.product_name }}"
                                                                        >
                                                                    {% else %}
                                                                        <img src="{{ top.image_url }}"
                                                                             alt="{{ top.product_name }}">
                                                                    {% endif %}
                                                                </a>
                                                                <a href="{{ top.url }}" class="product-item__name">
                                                                    <span class="brand">{{ top.categories[0] }}</span>
                                                                    <span class="name">{{ top.product_name }}</span>
                                                                </a>
                                                                <div class="product-item__price">
                                                                    {{ top.productDetail.sellingPrice.priceWithVat|price }}
                                                                </div>
                                                                <div class="product-item__button">
                                                                    {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                                                    <div class="rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <script>
          $('.featured .nav-tabs a').on('click', function (e) {
            $('.featured .nav-right a').attr('href', $(e.target).data('carousel'))
          });
        </script>
    {% else %}

        {% block breadcrumb %}
            {#{{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}#}
        {% endblock %}

        {{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }}

        {% block main_content %}{% endblock %}
        {#<div class="web__main__panel">#}

        {#<div id="js-contact-form-container">#}
        {#{{ render(controller('ShopsysShopBundle:Front/ContactForm:index')) }}#}
        {#</div>#}

        {#{{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\ShopBundle\\Model\\Advert\\Advert::POSITION_LEFT_SIDEBAR')})) }}#}
        {#</div>#}
    {% endif %}

{% endblock %}
