{% if lazyLoadedCategoryDetails|length > 0 %}


    <div class="container">
        <div class="products-menu__content">
            <h3>
                {{ 'All categories'|trans }}
            </h3>

            <ul>
                {% for lazyLoadedCategoryDetail in lazyLoadedCategoryDetails %}
                    {% set isCurrentCategory = (currentCategory is not null and currentCategory == lazyLoadedCategoryDetail.category) %}

                    <li>
                        <a href="{{ url('front_product_list', {id: lazyLoadedCategoryDetail.category.id}) }}">
                            {% if(lazyLoadedCategoryDetail.category.iconName) %}
                            <i class="fa fa-{{ lazyLoadedCategoryDetail.category.iconName }}"></i>
                            {% endif %}
                            {{ lazyLoadedCategoryDetail.category.name }}
                        </a>
                        {% if lazyLoadedCategoryDetail.children %}

                            <ul>
                                {% for childrenCategory in lazyLoadedCategoryDetail.children %}

                                    <li>
                                        <a href="{{ url('front_product_list', {id: childrenCategory.category.id}) }}">
                                            {{ childrenCategory.category.name }}
                                        </a>
                                    </li>

                                {% endfor %}
                            </ul>

                        {% endif %}
                    </li>

                {% endfor %}
            </ul>

        </div>
    </div>

    <div class="products-menu__features">
        <ul>
            <li>
                <i class="fa fa-shipping-fast"></i>
                Free shipping
            </li>
            <li>
                <i class="fa fa-undo"></i>
                Easy return
            </li>
            <li>
                <i class="fa fa-phone"></i>
                Support
            </li>
        </ul>
    </div>


    <script>
      $('.header__bottom li').on('click', function (e) {
        e.preventDefault();
        var target = $(this).data('target');

        if ($(this).hasClass('active')) {
          $(this).removeClass('active');
          $('.menu-item.visible').removeClass('visible');
        } else {
          $('.menu-item.visible').removeClass('visible');
          $('.header__bottom li.active').removeClass('active');
          $(this).addClass('active');
          $(target).addClass('visible');
        }
      });
    </script>
{% endif %}
