<div id="js-search-autocomplete-list">
    <ul>

        {% if categoriesPaginationResult.results|length > 0 %}
            <li class="heading">
                {{ 'Categories'|trans }}
            </li>
            {% for category in categoriesPaginationResult.results %}
                <li class="category">
                    <a href="{{ url('front_product_list', { id: category.id }) }}">
                        <div class="search-name">
                            {{ category.name }}
                        </div>
                        <div class="search-button">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </a>
                </li>
            {% endfor %}
        {% endif %}

        {% if productsPaginationResult.results|length > 0 %}
            <li class="heading">
                {{ 'Products'|trans }}
            </li>
            {% for product in productsPaginationResult.results %}
                <li>
                    <a href="{{ url('front_product_detail', { id: product.id }) }}">
                        <div class="search-image">
                            <img src="{{ imageUrl(product, 'original') }}" alt="{{ product.name }}">
                        </div>
                        <div class="search-name">
                            {{ product.name }}
                        </div>
                        <div class="search-button">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>