<form action="{{ url('front_product_search') }}" method="get">
    <input type="text" placeholder="{{ 'Searching'|trans }}" name="{{ SEARCH_TEXT_PARAMETER }}"
           value="{{ searchText|escape('html_attr') }}" id="js-search-autocomplete-input" autocomplete="off"/>
    <button class="button button--search" type="submit">
        <i class="fa fa-search"></i>
    </button>
</form>
