
{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Processing order'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12">
            {{ formContent|raw }}
        </div>
    </div>
{% endblock %}