{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Currencies'|trans }}{% endblock %}
{% block h1 %}{{ 'Currencies'|trans }}{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Admin/Currency:settings')) }}

    {{ gridView.render() }}

{% endblock %}