{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% block grid_action_cell_type_delete %}
    {% if notAllowedToDeleteCurrencyIds is defined %}
        {% if row is not empty and row.c.id in notAllowedToDeleteCurrencyIds %}
            <span title="{{ 'This currency can\'t be deleted, it is set as default or is saved with order.'|trans }}"
                class="js-tooltip cursor-help in-icon in-icon--info" data-toggle="tooltip" data-placement="bottom"
            >
                <i class="svg svg-info"></i>
            </span>
        {% else %}
            {{ gridView.renderBlock('grid_action_cell', {actionColumn: actionColumn, row: row}) }}
        {% endif %}
    {% else %}
        {{ gridView.renderBlock('grid_action_cell', {actionColumn: actionColumn, row: row}) }}
    {% endif %}
{% endblock %}

{% block grid_value_cell_edit_id_exchangeRate %}
    <span class="form-edit-block form-edit-block--size-1">
        {% form_theme form '@ShopsysShop/Admin/Form/theme.html.twig' %}
        {{ form_widget(form.exchangeRate) }}
        <span class="form-edit-block__info">
            {% if row is null %}
                <span title="" class="js-tooltip cursor-help in-icon" data-toggle="tooltip" data-placement="top" data-original-title="{{ '%defaultCurrency% per unit'|trans({'%defaultCurrency%': currencySymbolByCurrencyId(defaultCurrency.id)}) }}">
                    <i class="svg svg-question"></i>
                </span>
            {% elseif row.c.id != defaultCurrency.id %}
                <span title="" class="js-tooltip cursor-help in-icon" data-toggle="tooltip" data-placement="top" data-original-title="{{ '%defaultCurrency% per 1 %currentCurrency%'|trans({
                    '%defaultCurrency%': currencySymbolByCurrencyId(defaultCurrency.id),
                    '%currentCurrency%': currencySymbolByCurrencyId(row.c.id)
                }) }}">
                    <i class="svg svg-question"></i>
                </span>
            {% endif %}
        </span>
    </span>
{% endblock %}

{% block grid_value_cell_id_exchangeRate %}
    {% if row.c.id == defaultCurrency.id %}
        {{ '-' }}
    {% else %}
        {{ value|formatNumber }}
        {{ '%defaultCurrency% per 1 %currentCurrency%'|trans({
            '%defaultCurrency%': currencySymbolByCurrencyId(defaultCurrency.id),
            '%currentCurrency%': currencySymbolByCurrencyId(row.c.id)
        }) }}
    {% endif %}
{% endblock %}

{% block grid_no_data %}
    {{ 'No currencies found. You have to create some first.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
    {% set entityName = 'currencies'|trans %}
    {{ parent() }}
{% endblock %}

{% block grid_inline_edit_add_button %}
    {% set addEntity = 'Create currency'|trans %}
    {{ parent() }}
{% endblock %}
