{% block begin %}
<?xml version="1.0" encoding="utf-8"?>
<item_list>
{% endblock %}

{% block item %}
    <item id="{{ item.id }}">
        <stock_quantity>{{ item.stockQuantity }}</stock_quantity>
    </item>
{% endblock %}

{% block end %}
</item_list>
{% endblock %}


