{% set domainName = getDomain().currentDomainConfig.name %}

<div class="page-separator"></div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-newsletter">
                    <h3>Join our newsletter</h3>
                    <p>...and get best promotions ever!</p>
                    <div class="footer-newsletter__input">
                        <input placeholder="Your email" type="text"/>
                        <button class="button button--newsletter">Join</button>
                        <input id="agreeNL" type="checkbox">
                        <label for="agreeNL">I agree with newsletter rules</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-social">
                    <h3>Social media</h3>
                    <p>Stay connected with us</p>
                    <div>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-contact">
                    <h3>You have questions?</h3>
                    <p>We are online from 8:00 to 17:00 working days</p>
                    <div>
                        <b>[+421 912 345 678]</b> - warranty center
                    </div>
                    <div>
                        <b>[+421 912 345 678]</b> - customer center
                    </div>
                </div>
            </div>
        </div>

        <div class="footer--separator">
        </div>

        <div class="row">

            <div class="col-md-3">
                <h3>Account</h3>
                <ul>
                    <li>
                        <a href="">
                            Your account
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3>Legal informations</h3>
                <ul>
                    <li>
                        <a href="">
                            Terms of use
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3>Shop</h3>
                <ul>
                    <li>
                        <a href="">
                            Warranty
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3>{{ domainName }}</h3>
                <ul>
                    <li>
                        <a href="">
                            Kontakt
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>