{% block header %}

    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    {% set shopInfoEmail = getShopInfoEmail() %}


    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="header-navbar header-navbar--top">
                        <ul>
                            {% if is_granted('ROLE_CUSTOMER') %}
                                <li><a href="{{ url('front_customer_edit') }}">{{ 'Personal data'|trans }} </a></li>
                                <li><a href="{{ url('front_customer_orders') }}"> {{ 'Orders'|trans }}</a></li>
                                <li>
                                    <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">{{ 'Log out'|trans }} </a>
                                </li>
                                <li>{{ app.user.firstName }} {{ app.user.lastName }}</li>
                            {% else %}

                                <li><a href="#"
                                       onclick="event.preventDefault(); return false;" data-toggle="modal"
                                       data-target="#login-modal">{{ 'Login'|trans }}</a>
                                </li>
                                <li><a href="{{ url('front_registration_register') }}">{{ 'Register'|trans }} </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="header-navbar header-navbar--middle">
                        <div class="header-logo">
                            {% set domainName = getDomain().currentDomainConfig.name %}
                            <a href="{{ url('front_homepage') }}"><img
                                        src="{{ asset('assets/frontend/images/' ~ domainName ~ '/logo.png') }}"
                                        alt="Logo"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}
                </div>
                <div class="col-md-3">
                    <div class="header-navbar header-navbar--middle">
                        <div class="header-contact">
                            <div>
                                <i class="fa fa-phone"></i>
                            </div>
                            <div>
                                <div>{{ 'Contact us'| trans }}</div>
                                <div>{{ shopInfoPhoneNumber }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Cart Part -->
                    {{ render(controller('ShopsysShopBundle:Front/Cart:box')) }}
                </div>
            </div>

        </div>

        {{ render(controller('ShopsysShopBundle:Front/Article:menu')) }}

    </header>


    {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\ShopBundle\\Model\\Advert\\Advert::POSITION_HEADER')})) }}
{% endblock %}
