{% extends '@ShopsysShop/bestcena/Front/Layout/layout.html.twig' %}

{% block content %}
    {% if app.request.attributes.get('_route') == 'front_homepage' %}
        {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
        {% set domain = getDomain() %}

        <section class="category-banner">
            {% if sliderItems is defined %}

                <div id="homepage-slider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for item in sliderItems %}
                            <li data-target="#homepage-slider" data-slide-to="{{ loop.index - 1 }}"
                                class="{{ loop.index -1 == 0 ? 'active' : null }}"></li>
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for item in sliderItems %}
                            <a href="{{ item.link }}"
                               class="item {{ loop.index -1 == 0 ? ' active' : null }}">

                                <img src="{{ imageUrl(item) }}" alt=""/>

                            </a>
                        {% endfor %}
                    </div>

                </div>

            {% endif %}

        </section>

        <div id="content">


            <!-- Shipping Info -->
            <section class="shipping-info">
                <div class="container">
                    <ul>

                        <!-- Free Shipping -->
                        <li>
                            <div class="media-left"><i class="flaticon-delivery-truck-1"></i></div>
                            <div class="media-body">
                                <h5>{{ 'Free Shipping'|trans }} </h5>
                                <span>{{ 'On order over $99'|trans }}</span></div>
                        </li>
                        <!-- Money Return -->
                        <li>
                            <div class="media-left"><i class="flaticon-arrows"></i></div>
                            <div class="media-body">
                                <h5>{{ 'Money Return'|trans }}</h5>
                                <span>{{ '30 Days money return'|trans }}</span></div>
                        </li>
                        <!-- Support 24/7 -->
                        <li>
                            <div class="media-left"><i class="flaticon-operator"></i></div>
                            <div class="media-body">
                                <h5>{{ 'Support 24/7'|trans }}</h5>
                                <span>{{ shopInfoPhoneNumber }}</span></div>
                        </li>
                        <!-- Safe Payment -->
                        <li>
                            <div class="media-left"><i class="flaticon-business"></i></div>
                            <div class="media-body">
                                <h5>{{ 'Safe Payment'|trans }}</h5>
                                <span>{{ 'Protect online payment'|trans }}</span></div>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="best-of-week">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="best-of-week__title">
                                <h2>
                                    {{ 'Top Selling of the Week'|trans }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="products-grid">

                                {% for top in topSelling %}

                                    <div class="product-item">
                                        <a href="{{ top.url }}" class="product-item__name">
                                            <span class="brand">{{ top.categories[0] }}</span>
                                            <span class="name">{{ top.product_name }}</span>
                                        </a>
                                        <a class="product-item__image" href="{{ top.url }}">
                                            {% if top.image_url == '' %}
                                                <img
                                                        src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                        alt="{{ top.product_name }}"
                                                >
                                            {% else %}
                                                <img src="{{ top.image_url }}"
                                                     alt="{{ top.product_name }}">
                                            {% endif %}
                                        </a>
                                        <div class="product-item__price">
                                            {{ top.productDetail.sellingPrice.priceWithVat|price }}
                                        </div>
                                        <div class="product-item__button">
                                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                        </div>
                                        <a href="{{ top.url }}" class="product-item__show-detail">
                                            {{ 'Product detail' |trans }}
                                        </a>
                                    </div>

                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="featured">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#featured">{{ 'Featured'|trans }}</a></li>
                                <li><a data-toggle="tab" href="#special">{{ 'Special'|trans }}</a></li>
                                <li><a data-toggle="tab" href="#onsale">{{ 'Onsale'|trans }}</a></li>
                            </ul>

                            <div class="tab-content">

                                <div id="featured" class="tab-pane fade in active">
                                    <div class="products-grid">

                                        {% for top in feature %}

                                            <div class="product-item">
                                                <a href="{{ top.url }}" class="product-item__name">
                                                    <span class="brand">{{ top.categories[0] }}</span>
                                                    <span class="name">{{ top.product_name }}</span>
                                                </a>
                                                <a class="product-item__image" href="{{ top.url }}">
                                                    {% if top.image_url == '' %}
                                                        <img
                                                                src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                                alt="{{ top.product_name }}"
                                                        >
                                                    {% else %}
                                                        <img src="{{ top.image_url }}"
                                                             alt="{{ top.product_name }}">
                                                    {% endif %}
                                                </a>
                                                <div class="product-item__price">
                                                    {{ top.productDetail.sellingPrice.priceWithVat|price }}
                                                </div>
                                                <div class="product-item__button">
                                                    <button>
                                                        <i class="fa fa-shopping-basket"></i>
                                                    </button>
                                                </div>
                                                <a href="{{ top.url }}" class="product-item__show-detail">
                                                    {{ 'Product detail' |trans }}
                                                </a>
                                            </div>

                                        {% endfor %}
                                    </div>

                                </div>

                                <div id="special" class="tab-pane fade">

                                    <div class="products-grid">
                                        {% for top in special %}

                                            <div class="product-item">
                                                <a href="{{ top.url }}" class="product-item__name">
                                                    <span class="brand">{{ top.categories[0] }}</span>
                                                    <span class="name">{{ top.product_name }}</span>
                                                </a>
                                                <a class="product-item__image" href="{{ top.url }}">
                                                    {% if top.image_url == '' %}
                                                        <img
                                                                src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                                alt="{{ top.product_name }}"
                                                        >
                                                    {% else %}
                                                        <img src="{{ top.image_url }}"
                                                             alt="{{ top.product_name }}">
                                                    {% endif %}
                                                </a>
                                                <div class="product-item__price">
                                                    {{ top.productDetail.sellingPrice.priceWithVat|price }}
                                                </div>
                                                <div class="product-item__button">
                                                    <button>
                                                        <i class="fa fa-shopping-basket"></i>
                                                    </button>
                                                </div>
                                                <a href="{{ top.url }}" class="product-item__show-detail">
                                                    {{ 'Product detail' |trans }}
                                                </a>
                                            </div>

                                        {% endfor %}
                                    </div>

                                </div>


                                <div id="onsale" class="tab-pane fade">
                                    <div class="products-grid">
                                        {% for top in on_sale %}

                                            <div class="product-item">
                                                <a href="{{ top.url }}" class="product-item__name">
                                                    <span class="brand">{{ top.categories[0] }}</span>
                                                    <span class="name">{{ top.product_name }}</span>
                                                </a>
                                                <a class="product-item__image" href="{{ top.url }}">
                                                    {% if top.image_url == '' %}
                                                        <img
                                                                src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                                alt="{{ top.product_name }}"
                                                        >
                                                    {% else %}
                                                        <img src="{{ top.image_url }}"
                                                             alt="{{ top.product_name }}">
                                                    {% endif %}
                                                </a>
                                                <div class="product-item__price">
                                                    {{ top.productDetail.sellingPrice.priceWithVat|price }}
                                                </div>
                                                <div class="product-item__button">
                                                    {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                                </div>
                                                <a href="{{ top.url }}" class="product-item__show-detail">
                                                    {{ 'Product detail' |trans }}
                                                </a>
                                            </div>

                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% else %}

        {% block breadcrumb %}
            {#{{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}#}
        {% endblock %}

        {{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }}

        {% block main_content %}{% endblock %}
        {#<div class="web__main__panel">#}

        {#<div id="js-contact-form-container">#}
        {#{{ render(controller('ShopsysShopBundle:Front/ContactForm:index')) }}#}
        {#</div>#}

        {#{{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\ShopBundle\\Model\\Advert\\Advert::POSITION_LEFT_SIDEBAR')})) }}#}
        {#</div>#}
    {% endif %}

{% endblock %}
