{% extends '@ShopsysShop/bestcena/Front/Layout/layout.html.twig' %}
{% block content %}
    {% if app.request.pathinfo == '/contact/' %}
        <div id="content">
            {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
            {% set shopInfoEmail = getShopInfoEmail() %}
            <!-- Linking -->
            <div class="linking">
                <div class="container">
                </div>
            </div>

            <!-- Contact -->
            <section class="contact-sec padding-top-40 padding-bottom-80">
                <div class="container">

                    <!-- MAP -->
                    <section class="map-block margin-bottom-40">
                        <div class="map-wrapper" id="map-canvas" data-lat="52.541338" data-lng="13.419391"
                             data-zoom="13" data-style="1"></div>
                        <div class="markers-wrapper addresses-block"><a class="marker" data-rel="map-canvas"
                                                                        data-lat="52.541338" data-lng="13.419391"></a>
                        </div>
                    </section>

                    <!-- Conatct -->
                    <div class="contact">
                        <div class="contact-form">
                            <!-- FORM  -->
                            <form role="form" id="contact_form" class="contact-form" method="post"
                                  onSubmit="return false">
                                <div class="row">
                                    <div class="col-md-8">

                                        <!-- Payment information -->
                                        <div class="heading">
                                        </div>
                                        <ul class="row">
                                            <li class="col-sm-6">
                                                <label>{{ 'First Name'|trans }}
                                                    <input type="text" class="form-control" name="name" id="name"
                                                           placeholder="">
                                                </label>
                                            </li>
                                            <li class="col-sm-6">
                                                <label>{{ 'Last Name'|trans }}
                                                    <input type="text" class="form-control" name="email" id="email"
                                                           placeholder="">
                                                </label>
                                            </li>
                                            <li class="col-sm-12">
                                                <label>{{ 'Message'|trans }}
                                                    <textarea class="form-control" name="message" id="message" rows="5"
                                                              placeholder=""></textarea>
                                                </label>
                                            </li>
                                            <li class="col-sm-12 no-margin">
                                                <button type="submit" value="submit" class="btn-round" id="btn_submit"
                                                        onClick="proceed();">{{ 'Send Message'|trans }}</button>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Conatct Infomation -->
                                    <div class="col-md-4">
                                        <div class="contact-info">
                                            <h5>{{ getSeoTitleAddOn() }}</h5>
                                            <hr>
                                            <h6>Phone:</h6>
                                            <p>{{ shopInfoPhoneNumber }}</p>
                                            <h6>Email:</h6>
                                            <p>{{ shopInfoEmail }}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>


    {% else %}


        {#{% block breadcrumb %}#}
            {#{{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}#}
        {#{% endblock %}#}

        {{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }}

        {% block main_content %}{% endblock %}

    {% endif %}
{% endblock %}