.table-col-5 {
  width: 5%;
}
.table-col-10 {
  width: 10%;
}
.table-col-15 {
  width: 15%;
}
.table-col-20 {
  width: 20%;
}
.table-col-40 {
  width: 40%;
}
.table-col-45 {
  width: 45%;
}
.table-col-60 {
  width: 60%;
}
.table-col-80 {
  width: 80%;
}
.table-col-40px {
  width: 40px;
}
