{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Registration'|trans }}
{% endblock %}

{% block main_content %}

    <section class="login-sec padding-top-30 padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">

                    <h5>{{ 'Registration'|trans }}</h5>

                    {{ form_errors(form) }}

                    {{ form_start(form) }}

                    {{ form_row(form.firstName, { label: 'First name'|trans }) }}
                    {{ form_row(form.lastName, { label: 'Last name'|trans }) }}
                    {{ form_row(form.email, { label: 'E-mail'|trans , attr: {'data-request-url' : url('front_registration_exists_email') } }) }}
                    {{ form_row(form.password.first, {
                        label: 'Password'|trans,
                        icon: {
                            class: 'in-icon in-icon--info js-tooltip',
                            title: 'Password must be at least six characters and can\'t be the same as entered e-mail or its part before at sign.'|trans
                        }
                    }) }}
                    {{ form_row(form.password.second, { label: 'Password again'|trans }) }}
                    <li class="col-sm-12 margin-bottom-30">
                        <div class="checkbox checkbox-primary">
                            {{ form_widget(form.privacyPolicy, {'attr': {'class': 'styled' }}) }}
                            <label for="{{ form.privacyPolicy.vars.id }}"> {% if privacyPolicyArticle is not null %}
                                    {% set articleUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                                    {{ 'I agree with <a href="%url%" target="_blank">privacy policy</a>.'|trans({'%url%': articleUrl})|raw }}
                                {% else %}
                                    {{ 'I agree with privacy policy.'|trans }}
                                {% endif %} </label>
                        </div>
                    </li>


                    {{ form_widget(form.save, { label: 'Register'|trans }) }}

                    {{ form_end(form) }}

                </div>
            </div>
        </div>

    </section>


{% endblock %}
