{{ form_start(form, {attr: {class: 'js-add-product', 'data-ajax-url': url('front_cart_add_product_ajax'), 'multipleForm': true}}) }}
<input type="hidden" name="{{ form.quantity.vars.full_name }}" value="1">

{% do form.quantity.setRendered %}

<div class="product-detail__add-to-cart">
    {{ form_widget(form.add, {label: 'Add to cart'|trans, icon: 'fa fa-shopping-cart'}) }}
</div>
{{ form_end(form) }}
