{{ form_start(form, {attr: {class: 'js-add-product', 'data-ajax-url': url('front_cart_add_product_ajax'), 'multipleForm': false}}) }}

<button class="cart-btn" type="submit" style="border: none;">
    <i class="icon-basket"></i>
</button>

{{ form_end(form) }}