<div class="row">
    <div class="col-md-12">
        <ul class="cart__breadcrumb">

            <li>
                <a href="{{ url('front_homepage') }}">
                    {{ 'Home'|trans }}
                </a>
            </li>

            <li class="{% if step == 1 %}active{% endif %}">
                <a>
                    {{ 'Shopping cart'|trans }}
                </a>
            </li>

            <li class="{% if step == 2 %}active{% endif %}">
                <a>
                    {{ 'Contact'|trans }}
                </a>
            </li>

            <li class="{% if step == 3 %}active{% endif %}">
                <a>
                    {{ 'Address'|trans }}
                </a>
            </li>

            <li class="{% if step == 4 %}active{% endif %}">
                <a>
                    {{ 'Delivery'|trans }}
                </a>
            </li>

            <li class="{% if step == 5 %}active{% endif %}">
                <a>
                    {{ 'Payment'|trans }}
                </a>
            </li>

            <li class="{% if step == 6 %}active{% endif %}">
                <a>
                    {{ 'Summary'|trans }}
                </a>
            </li>

        </ul>
    </div>
</div>