<a href="{{ url('front_cart') }}">
              <span class="header__cart-icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
    <span class="header__cart-badge">
                {{ cart.itemsCount }}
              </span>
</a>