{{ form_start(advancedSearchForm) }}
    <div id="js-advanced-search-rules-box" class="box-advanced-search">
        <div id="js-advanced-search-rules-container" data-rule-form-url="{{ url('admin_order_getruleform') }}">
            {% include '@ShopsysShop/Admin/Content/Order/AdvancedSearch/ruleForm.html.twig' with {rulesForm: advancedSearchForm} %}
        </div>
        <div class="box-advanced-search__line">
            <input type="submit" value="{{ 'Search [verb]'|trans }}" class="btn btn--medium">
        </div>
        <div class="box-advanced-search__line box-advanced-search__line--dark">
            <button type="button" class="in-iconic-link in-iconic-link--add" id="js-advanced-search-add-rule-button">
                <i class="svg svg-circle-plus"></i>
                {{ 'Add requirement'|trans }}
            </button>

            <a href="{{ url('admin_order_list') }}" class="in-iconic-link">
                <i class="svg svg-circle-cross"></i>
                {{ 'Reset filter'|trans }}
            </a>
        </div>
    </div>
{{ form_end(advancedSearchForm) }}
