{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ 'E-mail newsletter'|trans }}{% endblock %}
{% block h1 %}{{ 'E-mail newsletter'|trans }}{% endblock %}

{% block main_content %}
    <a href="{{ url('admin_newsletter_export') }}" class="btn">
        {{ 'Export email list in CSV format'|trans }}
    </a>
{% endblock %}