{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Customer detail'|trans }}{% endblock %}
{% block h1 %}{{ 'Customer detail'|trans }}{% endblock %}

{% block main_content %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'System data'|trans }}
                </div>
            </div>
            {{ form_id(user|default(null)) }}
            {% block customer_domain %}{% endblock %}
            {{ form_row(form.userData.pricingGroup, { label: 'Pricing group'|trans }) }}
            {% block customer_created_at %}{% endblock %}
        </div>

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Personal data'|trans }}
                </div>
            </div>
            {{ form_row(form.userData.firstName, { label: 'First name'|trans}) }}
            {{ form_row(form.userData.lastName, { label: 'Last name'|trans}) }}
            {{ form_row(form.billingAddressData.telephone, { label: 'Telephone'|trans }) }}
            {{ form_row(form.userData.email, { label: 'E-mail'|trans }) }}
        </div>

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Registered cust.'|trans }}
                </div>
            </div>
            {{ form_row(form.userData.password.first, { label: 'Password'|trans}) }}
            {{ form_row(form.userData.password.second, { label: 'Password again'|trans}) }}
            {% block customer_last_login %}{% endblock %}
        </div>

        <div class="wrap-border" id="customer_form_billingAddressData">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Company data'|trans }}
                </div>
            </div>
            {{ form_row(form.billingAddressData.companyCustomer, {
                attr: { class: 'js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-company-fields' },
                label: 'I buy on company behalf'|trans})
            }}
            <div id="js-company-fields">
                {{ form_row(form.billingAddressData.companyName, { label: 'Company'|trans}) }}
                {{ form_row(form.billingAddressData.companyNumber, { label: 'Company number'|trans }) }}
                {{ form_row(form.billingAddressData.companyTaxNumber, { label: 'Tax number'|trans }) }}
            </div>
        </div>

        <div class="wrap-border">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Address'|trans }}
                </div>
            </div>
            {{ form_row(form.billingAddressData.street, { label: 'Street'|trans}) }}
            {{ form_row(form.billingAddressData.city, { label: 'City'|trans}) }}
            {{ form_row(form.billingAddressData.postcode, { label: 'Postcode'|trans }) }}
            {{ form_row(form.billingAddressData.country, { label: 'Country'|trans }) }}
        </div>

        <div class="wrap-border" id="customer_form_deliveryAddressData">
            <div class="form-group">
                <div class="form-group__title">
                    {{ 'Shipping address'|trans }}
                </div>
            </div>
            {{ form_row(form.deliveryAddressData.addressFilled, {
                attr: { class: 'js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-delivery-address-fields' },
                label: 'I want to deliver products to different address than the billing one'|trans})
            }}
            <div id="js-delivery-address-fields" class="form-line__js">
                {{ form_row(form.deliveryAddressData.companyName, { label: 'Company'|trans}) }}
                {{ form_row(form.deliveryAddressData.firstName, { label: 'First name'|trans}) }}
                {{ form_row(form.deliveryAddressData.lastName, { label: 'Last name'|trans}) }}
                {{ form_row(form.deliveryAddressData.telephone, { label: 'Telephone'|trans }) }}
                {{ form_row(form.deliveryAddressData.street, { label: 'Street'|trans}) }}
                {{ form_row(form.deliveryAddressData.city, { label: 'City'|trans}) }}
                {{ form_row(form.deliveryAddressData.postcode, { label: 'Postcode'|trans }) }}
                {{ form_row(form.deliveryAddressData.country, { label: 'Country'|trans }) }}
            </div>
        </div>

        {% block customer_sendMail %}{% endblock %}

        {% block customer_order_list %}{% endblock %}

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                <a href="{{ url('admin_customer_list') }}" class="btn-link-style">{{ 'Back to overview'|trans }}</a>
                {{ form_save(user|default(null), form) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}

{% endblock %}