{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Customers overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Customers overview'|trans }}{% endblock %}

{% block btn %}
    <a href="{{ url('admin_customer_new') }}" class="btn btn--plus wrap-bar__btn">
        <i class="btn__icon">+</i>
        {{ 'Create new customer'|trans }}
    </a>
{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}

    {{ form_start(quickSearchForm) }}
        <div class="wrap-border form-inline">
            {{ form_widget(quickSearchForm.text) }}
            {{ form_widget(quickSearchForm.submit, { label: 'Search [verb]'|trans, full_name: ''}) }}
            <i class="svg svg-info cursor-help js-tooltip"
             data-toggle="tooltip" data-placement="right"
             title="{{ 'Searching searches in last name, company name, email, telephone. It is possible to use wildcards * and ?.'|trans }}"
            ></i>
        </div>
    {{ form_end(quickSearchForm) }}


    {{ gridView.render() }}
{% endblock %}
