.product .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  position: relative;
}
.product .item-img img {
  max-width: 100%;
  max-height: 70%;
  align-self: center;
  width: auto;
  height: auto;
}
.button {
  height: 30px;
  width: auto;
  padding: 0 15px;
}
.button--show-filter {
  border: 1px solid #0088cc;
  color: #0088cc;
  background: none;
  outline: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: none;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 12px;
}
@media only screen and (max-width: 600px) {
  .button--show-filter {
    display: inline-block;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}
.listing-spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10000;
}
.listing-spinner .loader,
.listing-spinner .loader:before,
.listing-spinner .loader:after {
  background: #08c;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.listing-spinner .loader {
  color: #08c;
  text-indent: -9999em;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.listing-spinner .loader:before,
.listing-spinner .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.listing-spinner .loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.listing-spinner .loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.not-products {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  flex-direction: row;
}
.not-products h5 {
  font-weight: 700;
  text-transform: uppercase;
}
.not-products p {
  font-size: 16px;
}
.not-products .left {
  display: flex;
  margin-right: 50px;
}
.not-products .left span {
  font-size: 80px;
  font-weight: 700;
}
.button--back-to-home {
  margin-top: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #0088cc;
  color: #0088cc;
  background: none;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
}
