<div class="header-navbar header-navbar--middle flex-end">
    <a href="{{ url('front_cart') }}" class="header-cart">
        <div class="header-cart__icon">
            <i class="fa fa-shopping-basket"></i>
        </div>
        {% if cart.isEmpty %}

            <div class="header-cart__badge">
                0
            </div>

        {% else %}
            <div class="header-cart__badge">
                {{ cart.itemsCount }}
            </div>
        {% endif %}
    </a>
</div>