{% block grid %}
<div class="js-grid" {% spaceless %}
        data-total-count="{{ grid.totalCount }}"
        data-grid-id="{{ grid.id|escape('html_attr') }}"
        {% if grid.inlineEdit %}
            data-inline-edit-service-name="{{ grid.inlineEditService.serviceName }}"
            data-inline-edit-url-get-form="{{ url('admin_grid_getform') }}"
            data-inline-edit-url-save-form="{{ url('admin_grid_saveform') }}"
        {% endif %}
        {% if grid.dragAndDrop %}
            data-drag-and-drop-ordering-entity-class="{{ grid.orderingEntityClass }}"
            data-drag-and-drop-url-save-ordering="{{ url('admin_grid_saveordering') }}"
        {% endif %}
    {% endspaceless %}>

    {% if grid.inlineEdit and grid.inlineEditService.canAddNewRow %}
        {{ gridView.renderBlock('grid_inline_edit_add_button') }}
    {% endif %}

    {% if grid.rows is not empty or grid.inlineEdit or grid.multipleDragAndDrop %}
        <div class="js-inline-edit-data-container{% if grid.rows is empty and grid.inlineEdit %} hidden{% endif %}">
            <div class="">
            {% if grid.enabledPaging %}
                {{ gridView.renderBlock('grid_pager') }}
            {% endif %}
            </div>
            <div class="table-touch">
                <table class="table-grid">
                    {{ gridView.renderBlock('grid_titles') }}
                    {{ gridView.renderBlock('grid_rows') }}
                </table>
            </div>
            <div class="">
                {% if grid.enabledPaging %}
                    {{ gridView.renderBlock('grid_pager') }}
                {% endif %}
                {% if grid.dragAndDrop %}
                    <button class="js-drag-and-drop-grid-submit btn btn--disabled" type="button">{{ 'Save changes in order'|trans }}</button>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="in-message in-message--info js-inline-edit-no-data">
            {{ gridView.renderBlock('grid_no_data') }}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block grid_no_data %}
    {{ 'No records found.'|trans }}
{% endblock %}

{% block grid_value_cell %}
    {{ value }}
{% endblock%}

{% block grid_value_cell_edit %}
    {% if form[column.id] is defined %}
        {% form_theme form '@ShopsysShop/Admin/Form/theme.html.twig' %}
        {{ form_widget(form[column.id]) }}
    {% endif -%}
{% endblock %}

{% block grid_titles %}
    <thead>
        <tr class="table-grid__row">
            {% if grid.dragAndDrop or grid.multipleDragAndDrop %}
                <th class="table-grid__cell"></th>
            {% endif %}
            {% if grid.enabledSelecting %}
                <th class="table-grid__cell table-grid__cell--choice"><input type="checkbox" class="js-grid-mass-action-select-all" /></th>
            {% endif %}
            {% for column in grid.columnsById %}
                <th class="table-grid__cell {% if column.classAttribute %} {{ column.classAttribute }}{% endif %}">
                    {{ gridView.renderTitleCell(column) }}
                </th>
            {% endfor %}
            {% if grid.actionColumns is not empty or grid.inlineEdit %}
                <th class="table-grid__cell table-grid__cell--actions {{ grid.actionColumnClassAttribute }}" >{{ 'Modifications'|trans }}</th>
            {% endif  %}
        </tr>
    </thead>
{% endblock %}

{% block grid_title_cell %}
    {% if (column.sortable) %}
        {% if grid.orderSourceColumnName == column.id and grid.orderDirection == 'asc' %}
            {% set orderBy = '-' ~ column.id %}
        {% else %}
            {% set orderBy = column.id %}
        {% endif %}
        <a class="in-sort-arrows" href="{{ gridView.url({'order': orderBy}) }}">
            <span class="in-sort-arrows__link">{{ column.title }}</span>
            {% if grid.orderSourceColumnName == column.id %}
                {% if grid.orderDirection == 'desc' %}
                    <span class="in-sort-arrows__item in-sort-arrows__item--down"></span>
                {% else %}
                    <span class="in-sort-arrows__item in-sort-arrows__item--up"></span>
                {% endif %}
            {% endif %}
        </a>
    {% else %}
        {{ column.title }}
    {% endif %}
{% endblock %}

{% block grid_rows %}
    <tbody class="js-inline-edit-rows {% if grid.dragAndDrop %}js-drag-and-drop-grid-rows{% endif %}">
        {% if grid.multipleDragAndDrop %}
            <tr class="table-grid__row js-grid-row-holder display-none">
                <td colspan="100" class="table-grid__cell">
                    {{ gridView.renderBlock('grid_multiple_drag_and_drop_row_holder') }}
                </td>
            </tr>
        {% endif %}
        {% for row in grid.rows %}
            {{ gridView.renderBlock(
                'grid_row',
                {
                    loopIndex: loop.index,
                    lastRow: loop.last,
                    row: row
                }
            ) }}
        {% endfor %}
    </tbody>
{% endblock %}

{% block grid_multiple_drag_and_drop_row_holder %}
    {{ 'You can drag additional content here.'|trans }}
{% endblock %}

{% block grid_row %}
    <tr class="table-grid__row {{ cycle(['odd', 'even'], loopIndex) }} js-grid-row"
            {% if grid.inlineEdit and row is not null%} data-inline-edit-row-id="{{ grid.getRowId(row)|json_encode() }}"{% endif %}
            {% if grid.dragAndDrop or grid.multipleDragAndDrop %} data-drag-and-drop-grid-row-id="{{ grid.getRowId(row)|json_encode() }}"{% endif %}
    >
        {% if grid.dragAndDrop or grid.multipleDragAndDrop %}
            <td class="table-grid__cell table-grid__cell--move">
                <i class="cursor-move svg svg-move"></i>
            </td>
        {% endif %}
        {% if grid.enabledSelecting %}
            <td class="table-grid__cell table-grid__cell--choice">
                <input
                    class="js-grid-mass-action-select-row"
                    type="checkbox"
                    name="g[{{ grid.id|escape('html_attr') }}][selectedRowIds][]"
                    value="{{ grid.getRowId(row)|json_encode() }}"
                    {% if grid.isRowSelected(row) %}checked="checked"{% endif %}
                />
            </td>
        {% endif %}
        {% for column in grid.columnsById %}
            <td class="table-grid__cell js-grid-column-{{ column.id }}{% if column.classAttribute %} {{ column.classAttribute }}{% endif %}">
                {{ gridView.renderCell(column, row, form|default(null)) }}
            </td>
        {% endfor %}
        {% if grid.actionColumns|length > 0 or grid.inlineEdit %}
            <td class="table-grid__cell--actions js-inline-edit-unmatched-inputs">
                {% if grid.inlineEdit and form is defined %}
                    <span class="js-inline-edit-buttons">
                        <a href="#" class="js-inline-edit-save in-icon in-icon--save svg svg-checked" title="{{ 'Save changes'|trans }}"></a>
                        <a href="#" class="js-inline-edit-cancel in-icon in-icon--cancel svg svg-delete" title="{{ 'Discard changes'|trans }}"> </a>
                    </span>
                    <span class="js-inline-edit-saving">
                        <span class="svg svg-gear in-icon in-icon--spinner"></span>
                    </span>
                {% else %}
                    {% if grid.inlineEdit %}
                        <a href="#" class="js-inline-edit-edit svg svg-pencil in-icon in-icon--edit" title="{{ 'Edit'|trans }}"></a>
                    {% endif %}
                    {% for actionColumn in grid.actionColumns %}
                        {{ gridView.renderActionCell(actionColumn, row)|raw }}
                    {% endfor %}
                {% endif %}
                {% if form is defined %}
                    {% if not render_rest is defined or render_rest %}
                        {{- form_rest(form) -}}
                    {% endif -%}
                {% endif -%}
            </td>
        {% endif %}
    </tr>
{% endblock %}

{% block grid_action_cell %}
    {% if actionColumn.type == 'edit' %}
        {% set icon = 'pencil' %}
    {% elseif actionColumn.type == 'delete' %}
        {% set icon = 'trash' %}
    {% else %}
        {% set icon = actionColumn.type %}
    {% endif %}
    <a
        class="in-icon in-icon--{{ actionColumn.type }} svg svg-{{ icon }} table-action{% if actionColumn.classAttribute %} {{ actionColumn.classAttribute }}{% endif %}{% if actionColumn.ajaxConfirm %} js-ajax-confirm{% endif %}"
        {% if actionColumn.ajaxConfirm %}
            data-ajax-confirm-on-open="Shopsys.createConfirmDelete(this);"
        {% endif %}
            href="{{ actionColumn.targetUrl(row) }}"
            title = "{{ actionColumn.title }}"
        {% if actionColumn.confirmMessage is not empty -%}
            onclick="
                Shopsys.window({
                    content: '{{ actionColumn.confirmMessage }}',
                    buttonCancel: true,
                    buttonContinue: true,
                    urlContinue: '{{ actionColumn.targetUrl(row) }}'
                });
                return false;"
        {%- endif %}
    ></a>
{% endblock %}

{% block grid_pager_totalcount %}
    <div class="in-grid-control__item in-grid-control__item--show">
        <strong>
            {{ 'Displaying'|trans }} {{ entityName|default('records'|trans)|trim }}
            {{ grid.paginationResults.fromItem }} - {{ grid.paginationResults.toItem }} {{ 'from'|trans }} {{ grid.totalCount }}
        </strong>
    </div>
{% endblock %}

{% block grid_pager_selectpage %}
    {% spaceless %}
        <ul class="in-paging">

            {% if grid.page > 1 %}
                <li class="in-paging__item in-paging__item--prev">
                    <a href="{{ gridView.url({'page': grid.page - 1}) }}">
                        <i class="svg svg-arrow"></i>
                    </a>
                </li>

                <li class="in-paging__item">
                    <a href="{{ gridView.url({'page': 1}) }}">1</a>
                </li>
            {% endif %}

            {% set pagerExpand = 2 %}

            {% if grid.page > pagerExpand + 2 %}
                <li class="in-paging__item">
                    <span>...</span>
                </li>

            {% endif %}

            {% for page in (grid.page - pagerExpand)..(grid.page) if page > 1 and page < grid.page %}
                <li class="in-paging__item">
                    <a href="{{ gridView.url({'page': page}) }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="in-paging__item">
                <strong>{{ grid.page }}</strong>
            </li>

            {% for page in (grid.page + 1)..(grid.page + pagerExpand) if page > grid.page and page < grid.pageCount %}
                <li class="in-paging__item">
                    <a href="{{ gridView.url({'page': page}) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if grid.page <= grid.pageCount - pagerExpand - 2 %}
                <li class="in-paging__item">
                    <span>...</span>
                </li>
            {% endif %}

            {% if grid.page < grid.pageCount %}
                <li class="in-paging__item">
                    <a href="{{ gridView.url({'page': grid.pageCount}) }}">{{ grid.pageCount }}</a>
                </li>
                <li class="in-paging__item in-paging__item--next">
                    <a href="{{ gridView.url({'page': grid.page + 1}) }}">
                        <i class="svg svg-arrow"></i>
                    </a>
                </li>
            {% endif %}
        </ul>

    {% endspaceless %}
{% endblock %}

{% block grid_pager_results_perpage %}
    <div class="in-grid-control__item in-grid-control__item--settings">
        <span class="in-grid-control__item__go">
            <span class="in-grid-control__item__go__text">
                {{ 'Items per page:'|trans }}
            </span>
            <div class="in-grid-control__item__go__block">
                <select onchange="window.location = '{{ gridView.url({'limit' : '--limit--'}, 'page')|escape('js') }}'.replace('--limit--', this.value);" class="input">
                    {% for value in grid.allowedLimits %}
                        <option value="{{ value }}"{% if (value == grid.limit) %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </span>
        <div class="js-grid-go-to in-grid-control__item__go">
            <span class="in-grid-control__item__go__text">{{ 'Go to page:'|trans }}</span>
            <div class="in-grid-control__item__go__block form-type-and-go">
                <input
                    type="number"
                    min="1"
                    max="{{ grid.pageCount }}"
                    value="{{ grid.page }}"
                    class="current input form-type-and-go__input js-grid-go-to-input"
                    size="2"
                />
                <a class="btn btn--neutral form-type-and-go__btn js-grid-go-to-button" href="#" data-url="{{ gridView.url({'page' : '--page--'}) }}">
                    <i class="svg svg-arrow-strong"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block grid_pager %}
    <div class="in-grid-control">
        {{ gridView.renderBlock('grid_pager_totalcount') }}
        <div class="in-grid-control__item in-grid-control__item--paging">
            {% if grid.pageCount > 1 %}
                {{ gridView.renderBlock('grid_pager_selectpage') }}
            {% endif %}
        </div>
        {{ gridView.renderBlock('grid_pager_results_perpage') }}
    </div>
{% endblock %}

{% block grid_value_cell_type_boolean %}
    {% if value %}
        {{ 'Yes'|trans }}
    {% else %}
        {{ 'No'|trans }}
    {% endif %}
{% endblock %}

{% block grid_value_cell_id_visible %}
    <span
        class="in-icon svg svg-{{ value ? 'visible in-icon--visible' : 'invisible in-icon--invisible' }}"
        title="{{ value ? 'Yes'|trans : 'No'|trans }}"
    ></span>
{% endblock %}

{% block grid_value_cell_type_DateTime %}
    {{ value|formatDateTime }}
{% endblock %}

{% block grid_hidden_inputs %}
    {% spaceless %}
        {% set name = name|default('') %}
        {% if parameter is iterable %}
            {% for key, value in parameter %}
                {% set currentParameter = parameter %}
                {% set parameter = value %}
                {% set currentName = name %}
                {% if name != '' %}
                    {% set name = name ~ '[' ~ key ~ ']' %}
                {% else %}
                    {% set name = key %}
                {% endif %}

                    {{ block('grid_hidden_inputs') }}
                {% set parameter = currentParameter %}
                {% set name = currentName %}
            {% endfor %}
        {% else %}
            <input type="hidden" name="{{ name }}" value="{{ parameter }}" />
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block grid_inline_edit_add_button %}
    <div class="wrap-bar">
        <a href="#" class="btn btn--plus wrap-bar__btn js-inline-edit-add">
            <i class="btn__icon">+</i>
            {{ addEntity|default('Create record'|trans) }}
        </a>
    </div>
{% endblock %}
