{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Image size'|trans }}{% endblock %}
{% block h1 %}{{ 'Image size'|trans }}{% endblock %}

{% block main_content %}
    {% for imageEntityConfig in imageEntityConfigs %}
        {% set entityName = imageEntityConfig.entityName %}
        {% if imageEntityConfig.sizeConfigs is not empty %}
            {{ _self.entitySizes(entityName, imageEntityConfig.sizeConfigs) }}
        {% endif %}
        {% if imageEntityConfig.sizeConfigsByTypes is not empty %}
            {% for typeName, sizeConfigs in imageEntityConfig.sizeConfigsByTypes %}
                {{ _self.entitySizes(entityName ~ ' - ' ~ typeName, sizeConfigs) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% macro entitySizes(name, sizeConfigs) %}
    <div class="wrap-border">
        <h2>{{ name|humanize }}</h2>
        <table class="table-main">
            <thead>
                <tr>
                    <th class="table-col-20">{{ 'Size name'|trans }}</th>
                    <th class="table-col-10">{{ 'Width [px]'|trans }}</th>
                    <th class="table-col-10">{{ 'Height [px]'|trans }}</th>
                    <th class="table-col-50">{{ 'Occurrence'|trans }}</th>
                    <th class="table-col-10 text-right">{{ 'Cropping'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for sizeConfig in sizeConfigs %}
                    {% if sizeConfig.name != 'original' %}
                        <tr>
                            <td>{{ sizeConfig.name|default('default'|trans)|humanize }}</td>
                            <td>{{ sizeConfig.width|default('-')}}</td>
                            <td>{{ sizeConfig.height|default('-') }}</td>
                            <td>{{ sizeConfig.occurrence|default('-') }}</td>
                            <td class ="text-right">
                                {% if sizeConfig.crop == true %}
                                    {{ 'Yes'|trans }}
                                {% else %}
                                    {{ 'No'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
