{% if productDetails|length > 0 %}
    <section class="featured">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#bestSellers">{{ 'Bestsellers'|trans }}</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="bestSellers" class="tab-pane fade active in">
                            <div class="products-grid">
                                {% for productDetail in productDetails %}

                                    <div class="product-item">

                                        <a class="product-item__image"
                                           href="{{ url('front_product_detail', {'id': productDetail.product.id }) }}">
                                            <img src="{{ imageUrl(productDetail.product) }}"
                                                 alt="{{ productDetail.product.name }}">
                                        </a>
                                        <a href="{{ url('front_product_detail', {'id': productDetail.product.id }) }}"
                                           class="product-item__name">
                                            <span class="brand"></span>
                                            <span class="name">{{ productDetail.product.name }}</span>
                                        </a>
                                        <div class="product-item__price">
                                            {{ productDetail.sellingPrice.priceWithVat|price }}
                                        </div>
                                        <div class="product-item__button">
                                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: productDetail.product, type: 'large'})) }}
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
