{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% set domain = getDomain() %}
{% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}
{% set descriptionHeadline = 'Product information'|trans %}
{% set parametersHeadline = 'Technical parameters'|trans %}
{% set accessoriesHeadline = 'Accessories'|trans %}
{% block meta_description %}
    {{- productDomain.seoMetaDescription|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{- productDomain.getSeoTitleForHtml(domain) -}}
{% endblock %}

{% block main_content %}

    {% set galleryImages = getImages(productDetail.product) %}
    {% set showGallery = galleryImages|length > 1 %}

    <div class="container">


        <div class="product-detail-wrapper" style="margin-top: 5px;">
            <div class="row">
                <div class="col-md-6 col-xs-12">


                    <div class="main-image-wrapper">

                        <!--bof Attributes as Free-shipping -->
                        <div class="attributes">
                            <!-- <div class="new">
                                <span>Novinka</span>
                            </div>
                            <div class="discount">
                                <span>Sleva</span>
                            </div>-->
                            <div class="freeshipping">
                                <span>Doprava <br> zdarma</span>
                            </div>
                        </div>
                        <!--eof Attribues as Free-shipping -->

                        <div id="productPhotoCarousel" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner" role="listbox">

                                <!--bof Main Product Image -->

                                {% if imageExists(productDetail.product) %}

                                    {% for key, galleryImage in galleryImages %}

                                        <div id="{{ loop.first ? 'productMainImage' : '' }}productMainImage"
                                             class="item{{ loop.first ? ' active' : '' }}">
                                            <a data-lightbox="photo"
                                               href="{{ imageUrl(galleryImage, 'original') }}">
                                                <img src="{{ imageUrl(galleryImage, 'original') }}"></a>
                                        </div>

                                    {% endfor %}

                                {% else %}
                                    {{ noimage({ alt: productDetail.product.name }) }}

                                {% endif %}


                            </div>

                        </div>
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#productPhotoCarousel" data-slide-to="0"></li>
                            <li data-target="#productPhotoCarousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carouselControl">
                            <a class="left carousel-control" href="#productPhotoCarousel" role="button"
                               data-slide="prev">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </a>
                            <a class="right carousel-control" href="#productPhotoCarousel" role="button"
                               data-slide="next">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="product-detail-right">

                        <div class="fleft desc2">
                            <!--bof free ship icon  -->
                            <!--eof free ship icon  -->

                            <!--bof Product Name-->
                            <h1 id="productName" class="productGeneral">
                                {{ productDetail.product.name }}
                            </h1>
                            <!--eof Product Name-->

                        </div>


                        <div class="listingRatingStars">
                            <a href="#">
                            <span class="listingRatingStars"><i class="fa fa-star" aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                     aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                     aria-hidden="true"></i></span> </a>
                        </div>

                        <!--eof Product Rating -->

                        <!--bof Product SEO short text -->

                        <p class="productPerex">
                            {{ productDomain.description|slice(0, 130)|striptags|raw }}...
                        </p>

                        <!--eof Product SEO short text -->


                        <h2 id="productPrices" class="productGeneral">
                            <span class="price-text">{{ 'Price'|trans }}:</span> <br>
                            <div class="price">                            {{ productDetail.sellingPrice.priceWithVat|price }}
                            </div>
                        </h2>

                        <!--bof Product Stock Status -->
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="productStockStatusBox">
                                    <span>
                                                                                    {% if productDetail.product.calculatedSellingDenied %}
                                                                                        {{ 'Product no longer on sale'|trans }}
                                                                                    {% else %}
                                                                                        {{ productDetail.product.calculatedAvailability.name }}
                                                                                    {% endif %}
                                    </span>

                                </div>
                            </div>

                        </div>


                        <!--eof Product Stock Status -->

                        <!--bof Add to Cart Box -->
                        <div id="cartAdd">
                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: productDetail.product, type: 'large'})) }}
                        </div>
                        <!--eof Add to Cart Box-->


                        <!--eof Product Description Buttons -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="product-detail__description">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="featured">
                        <ul class="nav nav-tabs">
                            {% if productDomain.description %}
                                <li role="presentation" class="active">
                                    <a href="#pro-detail" role="tab" data-toggle="tab">
                                        {{ descriptionHeadline }}
                                    </a>
                                </li>
                            {% endif %}

                            {% if accessoriesDetails|length > 0 %}
                                <li role="presentation">
                                    <a href="#accessories" role="tab" data-toggle="tab">
                                        {{ accessoriesHeadline }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane fade in active" id="pro-detail">
                                {% if productDomain.description or productDetail.parameters %}
                                    <div class="in-user-text" itemprop="description">
                                        {% if productDomain.description %}
                                            <p>
                                                {{ productDomain.description|raw }}
                                            </p>
                                        {% endif %}
                                        {% if productDetail.parameters %}
                                            <table class="table table-detail{% if productDomain.description %} margin-top-20{% endif %}">
                                                <tbody>
                                                {% for productParameterValue in productDetail.parameters %}
                                                    <tr>
                                                        <th>
                                                            {{ productParameterValue.parameter.name }}
                                                        </th>
                                                        <td>
                                                            {{ productParameterValue.value.text }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>


                            {% if accessoriesDetails|length > 0 %}
                                <div role="tabpanel" class="tab-pane fade in" id="accessories">
                                    {{ productList.list(accessoriesDetails) }}
                                </div>
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
