{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithPanel.html.twig' %}

{% block title %}
    {{ categoryDomain.seoTitle|default(category.name) }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="category-detail__heading">
            <i class="fa fa-{{ category.iconName }}"></i>
            <h1>
                {% if categoryDomain.seoH1 is not null %}
                    {{ categoryDomain.seoH1 }}
                {% else %}
                    {{ category.name }}
                {% endif %}
            </h1>
            <p>{{ categoryDomain.description }}</p>
        </div>
    </div>

    {% if(category.hasChildren) %}
        <div class="category-detail__brands-wrapper">
            <div class="container">

                <div class="category-detail__brands">

                    {% for child in category.children %}
                        <a href="{{ url('front_brand_detail', {id: child.id}) }}" class="category-detail__brands-item">

                            <div class="image">
                                <img src="{{ imageUrl(child) }}"
                                     alt="">
                            </div>
                            <div class="content">
                                {{ child.name }}
                            </div>

                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% endif %}
    {#{{ render(controller('ShopsysShopBundle:Front/Category:categoryList', {categories: visibleChildren})) }}#}

    {{ render(controller('ShopsysShopBundle:Front/BestsellingProduct:list', { category: category })) }}

    {% set translations = {
    'addToCart': 'Add to cart'|trans,
    'availability': 'Availability'|trans,
    'inStock': 'In stock'|trans,
    'price': 'Price'|trans,
    'brand': 'Brand'|trans,
    'goToCart': 'Go to cart' |trans ,
    'backToShopping': 'Back to shopping'|trans,
    'categoryHasNoProducts': 'This category contains no products.'|trans,
    'alphabetically': 'alphabetically A -> Z'|trans,
    'priceLowest': 'from the cheapest'|trans,
    'priceHighest': 'from most expensive'|trans
    } %}

    <div id="product-listing-component" translations="{{ translations|json_encode }}" currency="{{ currencySymbol }}"
         category-id="{{ category.id }}" category-name=""></div>

{% endblock %}
