{% set domain = getDomain() %}
{% set category = brandDetail.brand %}
{% set categoryDomain = brandDetail.brandDomainsIndexedByDomainId[domain.id] %}

{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithPanel.html.twig' %}

{% block title %}
    {{ categoryDomain.seoTitle|default(category.name) }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="category-detail__heading">
            <h1>
                {% if categoryDomain.seoH1 is not null %}
                    {{ categoryDomain.seoH1 }}
                {% else %}
                    {{ category.name }}
                {% endif %}
            </h1>
        </div>
    </div>


    {% set translations = {
    'addToCart': 'Add to cart'|trans,
    'availability': 'Availability'|trans,
    'inStock': 'In stock'|trans,
    'price': 'Price'|trans,
    'brand': 'Brand'|trans,
    'goToCart': 'Go to cart' |trans ,
    'backToShopping': 'Back to shopping'|trans,
    'categoryHasNoProducts': 'This category contains no products.'|trans,
    'alphabetically': 'alphabetically A -> Z'|trans,
    'priceLowest': 'from the cheapest'|trans,
    'priceHighest': 'from most expensive'|trans
    } %}

    <div is-brand="true" id="product-listing-component" translations="{{ translations|json_encode }}"
         currency="{{ currencySymbol }}"
         category-id="{{ category.id }}" category-name=""></div>

{% endblock %}
