<div class="products-history">
    <div class="products-history__left">
        <div><i class="fa fa-undo-alt"></i></div>
        <h3>{{ 'Shopping history'|trans }}</h3>
    </div>
    <div class="products-history__right">
        {% for product in products %}
            <a href="{{ url('front_product_detail', {id:product.id}) }}" class="products-history__item">
                <div class="image">
                    <img src="{{ imageUrl(product) }}"
                         alt="">
                </div>
                <div class="content">
                    <h3>{{ product.name }}</h3>
                    <h4>{{ product.price|price }}
                    </h4>
                </div>
            </a>
        {% endfor %}

    </div>
</div>