{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Paginator/paginator.html.twig' as paginator %}
{% import '@ShopsysShop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% block title %}
    {{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}
{% endblock %}

{% block meta_robots %}
    {{ paginator.metaRobots(paginationResult) }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{ 'Search results for "%searchText%"'|trans({ '%searchText%': searchText }) }}</h1>

                {{ render(controller('ShopsysShopBundle:Front/Category:categoryList', {categories: foundCategories})) }}

                <div class="js-product-list-with-filter">
                    {% if paginationResult.results|length > 0 or filterFormSubmited %}
                        <div class="box-filter js-product-filter">
                            {{ productFilterForm.filterForm(
                            filterForm,
                            url('front_product_search'),
                            url('front_product_search', { SEARCH_TEXT_PARAMETER : searchText }),
                            searchText,
                            'search',
                            productFilterCountData,
                            priceRange
                            ) }}
                        </div>
                    {% endif %}

                    <div class="js-product-list-ajax-filter-products-with-controls">
                        <div>
                            {{ render(controller('ShopsysShopBundle:Front/Product:selectOrderingModeForSearch')) }}
                        </div>
                        {% include '@ShopsysShop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited, searchText: searchText} %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
