.box-quick-search {
  padding: 10px 0;
  font-size: 0;
}
.box-quick-search__input {
  vertical-align: middle;
  width: 86%;
  height: 30px;
  line-height: 30px;
}
.box-quick-search__btn {
  vertical-align: middle;
  width: 10%;
  margin-left: 1%;
}
.box-quick-search__icon {
  width: 3%;
  vertical-align: middle;
  text-align: center;
}
