{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Availabilities overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Availabilities overview'|trans }}{% endblock %}


{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Availability:setting')) }}

    {{ gridView.render() }}
{% endblock %}