{{ form_start(form) }}
    <div class="form-group">
        <div class="form-group__title">
            {{ 'Settings'|trans }}
        </div>
        {{ form_row(form.defaultInStockAvailability, {
            label: 'Default product in stock availability'|trans,
            icon: {
                title: 'The change will be applied to products in 10 minutes'|trans
            }
        }) }}
    </div>

    {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
        {% block fixed_bar_content %}
            {{ form_widget(form.save, { label: 'Save changes'|trans}) }}
        {% endblock %}
    {% endembed %}
{{ form_end(form) }}