#js-search-autocomplete-list {
  ul {
    list-style-type: none;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    border: 1px solid lightgrey;
    padding: 15px;
    background: white;
    z-index: 1000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-top: 0;

    li {
      width: 100%;

      a {
        display: flex;
        height: 50px;
        overflow: hidden;
        margin: 10px 0;
        width: 100%;

        &:hover {
          text-decoration: none;

          .search-button {
            opacity: 1;
          }
        }
      }

      &.category {
        font-weight: 900;
        color: #0082c2;
        text-transform: uppercase;
        a {
          padding: 8px 0;
          height: auto;
          border-bottom:1px solid transparent;

          &:hover {
            border-bottom: 1px solid lightgrey;
          }
        }

        .search-name {
          height: auto;
          padding-left: 0;
          width: 80%;
        }

        .search-button {
          height: auto;
          font-size: 18px;
          width: 20%;
        }
      }

      &.heading {
        color: #3682CA;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1.5px;
        border-bottom: 3px solid lightgrey;
        height: auto;
        padding: 15px 0;
      }

      .search {
        &-image {
          width: 15%;
          height: 50px;
          padding: 3px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
          }
        }
        &-name {
          display: flex;
          width: 70%;
          font-size: 12px;
          text-transform: capitalize;
          padding-left: 15px;
          overflow: hidden;
          color: darkslategrey;
        }

        &-button {
          display: flex;
          width: 15%;
          align-items: center;
          height: 50px;
          justify-content: center;
          color: darkslategrey;
          font-size: 25px;
          opacity: 0;
          transition: .2s all linear;
        }
      }
    }
  }
}

.body-fade {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .75);
  z-index: 100;
}