@import 'variables';

.cart__summary-qty {
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  justify-content: center;

  div {
    line-height: 30px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    input {
      border: none;
      outline: none;
      border-radius: 0;
      margin: 0 10px;
      line-height: 30px;
      font-size: 16px;
      font-weight: 700;
      width: 40px;
      pointer-events: none;
      text-align: center;
    }
  }
}

.button {
  &--cart-qty {
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-weight: 400;
    font-size: 19px;
    color: white;
    background: #0082c2;
  }
}

@media @xs {
  .mobile-np {
    padding: 0;
  }

  .cart__summary-table {

    tbody {
      tr {
        border-width: 1px 0 1px 0;
        border-color: lightgrey;
        border-style: solid;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        td {
          width: auto;
          position: relative;

          .cart__summary-qty {
            display: flex;
            flex-direction: column;

            .button--cart-qty {
              margin: 5px 0;
              height: 25px;
              width: 25px;
              line-height: 25px;
            }
          }

          &:first-child {
            display: none;
          }

          &:nth-child(4) {
            display: none;
          }

          &:nth-child(5) {
            order: 8;
            margin-left: auto;
            padding: 0 10px;
            position: relative;
            width: 20%;
            top: 15px;
            border-left: 1px dashed cornflowerblue;
          }

          &:last-child {
            width: 100%;
            padding: 0 0 0 28%;
            color: #3498db;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            order: 9;
            position: relative;
            bottom: 25px;
          }

          &:nth-child(3) {
            width: 45%;
            font-size: 10px;
            font-weight: 900;
            text-align: left;
            padding: 30px 0 30px 10px;
          }

          &:nth-child(2) {
            width: 25%;
            border-right: 1px dashed cornflowerblue;
            margin-top: 25px;
            padding: 0 8px;

            img {
              height: auto;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
