* {
  font-family: 'Roboto', sans-serif;
}
header {
  position: relative;
  z-index: 100;
  background: white;
}
header .header__top {
  padding: 8px 0;
}
header .header__top ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
  text-align: right;
}
header .header__top ul li {
  display: inline-block;
}
header .header__top ul li a {
  display: inline-block;
  padding: 0 15px;
  color: black;
  font-weight: 700;
  font-size: 13px;
}
header .header__top ul li a:last-of-type {
  padding-right: 0;
}
header .header__middle {
  display: flex;
  height: 80px;
  align-items: center;
}
header .header__logo {
  height: 70px;
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header__logo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
header .header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: flex-end;
  margin-left: 25px;
  height: 70px;
}
header .header__search input {
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 30px;
  width: 450px;
  padding: 0 15px;
  outline: none;
}
header .header__search input:focus {
  border-color: grey;
}
header .header__cart {
  height: 80px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
header .header__cart a {
  display: inline-block;
  text-decoration: none;
}
header .header__cart-icon {
  background: lightgrey;
  color: grey;
  padding: 15px;
  border-radius: 100%;
  font-size: 17px;
  position: relative;
}
header .header__cart-badge {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  font-size: 12px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  right: -5px;
  bottom: 12px;
  background: #3682CA;
}
header .header__bottom {
  height: 55px;
  display: flex;
  align-items: center;
  background: #3682CA;
  margin-top: 10px;
}
header .header__bottom ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .header__bottom ul li {
  display: inline-block;
}
header .header__bottom ul li:first-child:after {
  right: inherit !important;
  left: 25% !important;
}
header .header__bottom ul li:first-child a {
  padding-left: 0;
}
header .header__bottom ul li.active {
  position: relative;
  text-align: center;
}
header .header__bottom ul li.active:after {
  content: '';
  position: absolute;
  margin: auto;
  width: 0;
  left: 0;
  right: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
}
header .header__bottom ul li a {
  display: inline-block;
  padding: 0 25px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  opacity: .9;
}
header .header__bottom ul li a:hover {
  opacity: 1;
}
.nopadding {
  padding: 0;
}
.menu-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 10;
  display: none;
}
.products-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: white;
}
.products-menu.visible {
  display: block;
}
.products-menu__content {
  padding: 15px 0;
}
.products-menu__content h3 {
  font-size: 15px;
  text-transform: uppercase;
}
.products-menu__content > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products-menu__content > ul > li {
  margin-bottom: 10px;
  width: 33%;
  display: inline-block;
}
.products-menu__content > ul > li a {
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
  font-size: 17px;
  color: grey;
}
.products-menu__content > ul > li a i {
  font-size: 22px;
  margin-right: 15px;
}
.products-menu__content > ul > li ul {
  columns: 1;
  width: 100%;
  padding-left: 0;
}
.products-menu__content > ul > li ul li {
  width: auto;
  display: inline-block;
  position: relative;
  padding-right: 10px;
}
.products-menu__content > ul > li ul li:last-child:after {
  display: none;
}
.products-menu__content > ul > li ul li:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  height: 50%;
  width: 1px;
  background: grey;
}
.products-menu__content > ul > li ul li a {
  font-size: 13px;
  font-weight: 100;
}
.products-menu__features {
  background: lightgrey;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}
.products-menu__features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.products-menu__features ul li {
  display: inline-block;
  color: darkslategrey;
  padding: 0 50px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
}
.products-menu__features ul li i {
  font-size: 18px;
  margin-right: 15px;
}
.products-menu__features ul li:last-child:after {
  display: none;
}
.products-menu__features ul li:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 80%;
  margin: auto;
  display: block;
  background: grey;
}
.featured .nav-tabs {
  text-align: left;
  width: auto;
  display: inline-block;
}
.featured .nav-right {
  display: inline-block;
  float: right;
}
.featured .nav-right li {
  display: inline-block;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  width: 100%;
}
.brands-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: white;
  display: none;
}
.brands-menu.visible {
  display: block;
}
.brands-menu__content {
  padding: 15px 0;
}
.brands-menu__content h3 {
  font-size: 15px;
  text-transform: uppercase;
}
.brands-menu__content .brand-image {
  width: 100%;
  height: 100px;
  border: 1px solid lightgrey;
  position: relative;
  background-size: auto 64%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.brands-menu__content .all-brands {
  display: inline-block;
  color: grey;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  cursor: pointer;
}
.brands-menu__content .all-brands-list {
  display: none;
}
.brands-menu__content .all-brands-list.visible {
  display: block;
}
.brands-menu__content .all-brands-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.brands-menu__content .all-brands-list ul li {
  width: 33%;
  display: inline-block;
  padding: 5px;
}
.brands-menu__content .all-brands-list ul li.heading {
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  background: lightgrey;
}
.brands-menu__content .all-brands-list ul li a {
  color: grey;
}
.brands-menu__content ul.bottom {
  margin: 25px 0;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: lightgrey;
  padding: 10px 0;
}
.brands-menu__content ul.bottom li {
  height: 40px;
  position: relative;
  width: 10%;
}
.brands-menu__content ul.bottom li a {
  display: inline-block;
  position: static;
  height: 40px;
}
.brands-menu__content ul.bottom li img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
.brands-menu__content > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  position: relative;
  margin: 5px 0 25px 0;
}
.brands-menu__content > ul li {
  display: inline-block;
  margin: 0 5px;
  width: calc(20% - 12px);
}
.brands-menu__content > ul li:first-child {
  margin-left: 0;
}
.brands-menu__content > ul li:last-child {
  margin-right: 0;
}
.brands-menu__content > ul li a {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: grey;
  font-weight: 700;
}
.brands-menu__features {
  background: lightgrey;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands-menu__features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.brands-menu__features ul li {
  display: inline-block;
  color: darkslategrey;
  padding: 0 35px;
  position: relative;
  font-size: 15px;
}
.brands-menu__features ul li i {
  font-size: 18px;
  margin-right: 15px;
}
.brands-menu__features ul li:last-child:after {
  display: none;
}
.brands-menu__features ul li:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 80%;
  margin: auto;
  display: block;
  background: grey;
}
.services-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: white;
  display: none;
}
.services-menu.visible {
  display: block;
}
.services-menu .column {
  width: 24%;
  display: inline-block;
}
.services-menu .column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.services-menu__content {
  padding: 15px 0;
}
.services-menu__content h3 {
  font-size: 15px;
  text-transform: uppercase;
}
.services-menu__content .brand-image {
  width: 100%;
  height: 100px;
  border: 1px solid lightgrey;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.services-menu__content .all-brands {
  display: inline-block;
  color: grey;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  cursor: pointer;
}
.services-menu__content .all-brands-list {
  display: none;
}
.services-menu__content .all-brands-list.visible {
  display: block;
}
.services-menu__content .all-brands-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.services-menu__content .all-brands-list ul li {
  width: 33%;
  display: inline-block;
  padding: 5px;
}
.services-menu__content .all-brands-list ul li.heading {
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  background: lightgrey;
}
.services-menu__content .all-brands-list ul li a {
  color: grey;
}
.services-menu__content ul.bottom {
  margin: 25px 0;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: lightgrey;
  padding: 10px 0;
}
.services-menu__content ul.bottom li {
  height: 40px;
  position: relative;
  width: 10%;
}
.services-menu__content ul.bottom li a {
  display: inline-block;
  position: static;
  height: 40px;
}
.services-menu__content ul.bottom li img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
.services-menu__content > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  position: relative;
  margin: 5px 0 25px 0;
}
.services-menu__content > ul li {
  display: inline-block;
  margin: 0 5px;
  width: calc(20% - 11px);
}
.services-menu__content > ul li:first-child {
  margin-left: 0;
}
.services-menu__content > ul li:last-child {
  margin-right: 0;
}
.services-menu__content > ul li a {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: grey;
  font-weight: 700;
}
.services-menu__features {
  background: lightgrey;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-menu__features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.services-menu__features ul li {
  display: inline-block;
  color: darkslategrey;
  padding: 0 35px;
  position: relative;
  font-size: 15px;
}
.services-menu__features ul li i {
  font-size: 18px;
  margin-right: 15px;
}
.services-menu__features ul li:last-child:after {
  display: none;
}
.services-menu__features ul li:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 80%;
  margin: auto;
  display: block;
  background: grey;
}
.products-history {
  background: darkslategrey;
  display: flex;
}
.products-history__item {
  width: 25%;
  position: relative;
  display: flex;
  text-decoration: none;
  background: white;
  padding: 15px;
  margin: auto 15px;
}
.products-history__item .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-history__item:hover {
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.products-history__item .image {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-right: 15px;
}
.products-history__item .image:hover {
  text-decoration: none !important;
}
.products-history__item .image img {
  max-height: 100%;
  max-width: 100%;
}
.products-history__item h3 {
  font-size: 14px;
  color: #0082c2;
  margin: 0;
  padding: 0;
  height: 32px;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 100;
  text-decoration: none;
}
.products-history__item h4 {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
.products-history__left {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 20%;
  padding: 40px 0;
}
.products-history__left i {
  font-size: 35px;
  margin-right: 10px;
}
.products-history__left div {
  color: white;
}
.products-history__left h3 {
  font-size: 20px;
  color: white;
}
.products-history__right {
  display: flex;
  width: 80%;
  background: lightgrey;
  padding: 40px 0;
}
#primary-image-carousel {
  height: 320px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner {
  height: 320px;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel .carousel-inner {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner .item {
  height: 320px;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel .carousel-inner .item {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner .item img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
#primary-image-carousel .primary-controls {
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
#primary-image-carousel .primary-controls a {
  height: 40px;
  width: 40px;
  display: flex;
  color: darkslategrey;
  background: rgba(255, 255, 255, 0.85);
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: .2s all linear;
  z-index: 100;
  font-size: 40px;
}
#primary-image-carousel .primary-controls a.left {
  left: 0;
}
#primary-image-carousel .primary-controls a.right {
  right: 0;
}
#thumbs-image-carousel {
  margin: 25px 0;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  #thumbs-image-carousel {
    display: none;
  }
}
#thumbs-image-carousel .controls-thumb a {
  height: 100px;
  width: 30px;
  display: flex;
  color: darkslategrey;
  background: lightgrey;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: .2s all linear;
  z-index: 100;
  text-decoration: none;
}
#thumbs-image-carousel .controls-thumb a:hover {
  background: grey;
  text-decoration: none;
}
#thumbs-image-carousel .controls-thumb a.left {
  top: 0;
  bottom: 0;
  left: 0;
}
#thumbs-image-carousel .controls-thumb a.right {
  right: 0;
  top: 0;
  bottom: 0;
}
#thumbs-image-carousel .controls-thumb a i {
  font-size: 25px;
}
#thumbs-image-carousel .carousel-inner .item {
  cursor: pointer;
  height: 100px;
  padding: 0 30px;
}
#thumbs-image-carousel .carousel-inner .item .item-image {
  height: 100px;
  width: 33%;
}
#thumbs-image-carousel .carousel-inner .item .item-image img {
  max-height: 100%;
  max-width: 100%;
}
#thumbs-image-carousel .carousel-inner .item.active,
#thumbs-image-carousel .carousel-inner .item.next,
#thumbs-image-carousel .carousel-inner .item.prev {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
}
#thumbs-image-carousel .carousel-inner .item.active .item-image,
#thumbs-image-carousel .carousel-inner .item.next .item-image,
#thumbs-image-carousel .carousel-inner .item.prev .item-image {
  height: 100px;
  width: 33%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 10px;
}
#thumbs-image-carousel .carousel-inner .item.active .item-image img,
#thumbs-image-carousel .carousel-inner .item.next .item-image img,
#thumbs-image-carousel .carousel-inner .item.prev .item-image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
.homepage-features {
  display: flex;
  padding: 25px 0;
}
.homepage-features__item {
  width: calc(100% / 6);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.homepage-features__item .icon {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.homepage-features__item .icon img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
.homepage-features__item .content h3 {
  font-weight: 700;
  color: black;
  font-size: 16px;
}
.homepage-features__item .content p {
  font-size: 12px;
  color: grey;
}
.homepage-features__item i {
  margin-right: 10px;
  font-size: 30px;
  color: grey;
}
.product-detail {
  padding: 60px 0;
}
@media only screen and (max-width: 767px) {
  .product-detail {
    padding: 0;
  }
}
.product-detail__description {
  margin: 20px 0 -50px 0;
  padding: 40px 0;
  background: #F9F9F9;
}
.product-detail__description .featured {
  padding: 15px;
  background: white;
  margin: 0;
}
.product-detail__description .featured .tab-pane {
  padding: 30px 15px;
}
.product-detail__add-to-cart button {
  margin: 25px 0;
  width: auto;
  height: 50px;
  background: #0694db;
  color: white;
  border-radius: 25px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  padding: 0 25px;
}
.product-detail__add-to-cart button:hover {
  background: #0082c2;
}
.product-detail__add-to-cart button i {
  font-size: 16px;
  margin-right: 10px;
}
.product-detail__thumbnails {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .product-detail__thumbnails {
    overflow-x: scroll;
    height: 90px;
    margin-top: 10px;
    flex-direction: column;
  }
}
.product-detail__thumbnails-item {
  width: calc(25% - 10px);
  height: 80px;
  cursor: pointer;
  border: 1px solid lightgrey;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}
.product-detail__thumbnails-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.product-detail__thumbnails-item.active:after {
  opacity: 1;
}
.product-detail__thumbnails-item:after {
  transition: .15s all linear;
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background: #5ABDEF;
}
.product-detail__thumbnails-item:hover:after {
  opacity: 1;
}
.product-detail__image--primary {
  padding: 15px;
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.product-detail__image--primary img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .product-detail__info {
    margin-top: 15px;
  }
}
.product-detail__info h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #6b7a83;
  font-weight: 100;
}
.product-detail__info h1 {
  font-weight: 400;
  font-size: 24px;
}
.product-detail__info ul {
  padding: 0;
  margin: 0 0 0 15px;
}
.product-detail__info ul li {
  color: #6b7a83;
}
.product-detail__cart {
  padding: 15px;
  background: white;
  border: 2px solid #ddd;
  border-radius: 15px;
}
@media only screen and (max-width: 767px) {
  .product-detail__cart {
    margin-top: 15px;
  }
}
.product-detail__cart ul {
  margin: 0 !important;
  padding: 0 !important;
}
.product-detail__cart-stock {
  padding: 8px 0;
  border-bottom: 1px solid lightgrey;
  color: #6b7a83;
}
.product-detail__cart-stock span {
  color: #5ABDEF;
  font-weight: 700;
}
.product-detail__cart-price {
  font-weight: 400;
  font-size: 32px;
  padding: 20px 0;
}
.product-detail__button-qty {
  position: absolute;
  width: 25px;
  top: 10px;
  height: 25px;
  border-radius: 100%;
  border: none;
  text-align: center;
  outline: none;
  line-height: 25px;
  font-weight: 700;
}
.product-detail__button-qty--up {
  right: 35px;
}
.product-detail__button-qty--down {
  right: 5px;
}
.product-detail__quantity {
  font-size: 13px;
}
.product-detail__quantity-input {
  padding: 5px 0;
  position: relative;
}
.product-detail__quantity-input input {
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  height: 35px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
}
#login-modal button.close {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  outline: none;
  background: #5ABDEF;
  z-index: 1000;
  opacity: 1;
  font-size: 28px;
  font-weight: 100;
}
#login-modal .modal-dialog {
  width: 350px;
  max-width: 100%;
}
#login-modal .modal-title {
  text-align: center;
  font-size: 25px;
  font-weight: 100;
}
#login-modal .modal-header {
  border-bottom: 0;
}
#login-modal .modal-body {
  padding: 0 25px 25px 25px;
}
#login-modal .modal-body div {
  position: relative;
}
#login-modal .modal-body div.login-footer {
  padding: 25px 0 0 0;
  text-align: center;
  position: relative;
}
#login-modal .modal-body div.login-footer:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  height: 1px;
  background: lightgrey;
}
#login-modal .modal-body div.login-footer a {
  display: inline-block;
  text-decoration: none;
  color: #6b7a83;
  margin: 15px 0 0 0;
}
#login-modal .modal-body div .button--login {
  background: #5ABDEF;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
  font-weight: 100;
}
#login-modal .modal-body div label {
  display: block;
  margin: 15px 0 5px;
  font-weight: 100;
}
#login-modal .modal-body div input[type="text"],
#login-modal .modal-body div input[type="password"] {
  height: 40px;
  width: 100%;
  outline: none;
  padding: 0 10px;
  border-radius: 15px;
  border: 1px solid lightgrey;
}
#login-modal .modal-body div input[type="checkbox"] {
  display: none;
}
#login-modal .modal-body div input[type="checkbox"]:checked + label:after {
  color: white;
  background: #6b7a83;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
#login-modal .modal-body div input[type="checkbox"] + label {
  display: inline-block;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}
#login-modal .modal-body div input[type="checkbox"] + label:after {
  content: '';
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  height: 20px;
  width: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.button__button-qty {
  position: absolute;
  width: 25px;
  top: 10px;
  height: 25px;
  border-radius: 100%;
  border: none;
  text-align: center;
  outline: none;
  line-height: 25px;
  font-weight: 700;
}
.button__button-qty--up {
  right: 35px;
}
.button__button-qty--down {
  right: 5px;
}
@media only screen and (max-width: 767px) {
  #add-product-modal .modal-dialog {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 767px) {
  #add-product-modal {
    padding: 15px 15px 80px 15px;
  }
}
@media only screen and (max-width: 767px) {
  #add-product-modal .button {
    width: 100%;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
  }
}
#add-product-modal .button--to-cart {
  float: right;
  background: #0082c2;
  color: white;
}
#add-product-modal button.close {
  position: absolute;
  right: -10px;
  top: -10px;
  opacity: 1;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #0082c2;
  color: white;
  font-size: 26px;
  border-radius: 100%;
}
#add-product-modal .modal-header {
  border: none;
}
#add-product-modal .modal-body {
  padding: 80px 15px;
}
#add-product-modal .add-product-modal__content {
  padding: 15px 0;
}
#add-product-modal .add-product-modal__content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.featured {
  background: #F8F8F8;
  padding: 30px 0 80px 0;
  margin-bottom: -50px;
}
.featured .product-item {
  background: #ffffff;
  margin-right: 5px;
  width: calc(25% - 5px);
  margin-bottom: 10px;
}
.featured .nav.nav-tabs {
  border-bottom: 1px solid #bde1f5;
  text-align: center;
}
.featured .nav.nav-tabs li {
  float: none;
  display: inline-block;
}
.featured .nav.nav-tabs li a {
  font-weight: 400;
  font-size: 16px;
  color: #6b7a83;
}
.featured .nav.nav-tabs li a:hover {
  border: none;
  background: transparent;
}
.featured .nav.nav-tabs li.active a {
  border: none;
  border-bottom: 2px solid #5ABDEF;
  background: transparent;
  position: relative;
  font-weight: 700;
}
.featured .nav.nav-tabs li.active a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #5ABDEF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  margin: auto;
}
.product-item {
  width: 25%;
  position: relative;
  padding: 15px;
  height: 360px;
  cursor: pointer;
  display: block;
}
@media only screen and (max-width: 767px) {
  .product-item {
    width: 100%;
    height: 370px;
  }
}
@media only screen and (min-width: 768px and max-width: 991px) {
  .product-item {
    width: 50%;
  }
}
.product-item:hover .product-item__show-detail {
  opacity: 1;
  text-decoration: underline;
}
.product-item:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.product-item:hover:after {
  display: none;
}
.product-item:first-of-type:after {
  display: none;
}
.product-item:nth-of-type(4n+1):after {
  display: none;
}
.product-item__price {
  margin: 10px 0 5px;
  color: indianred;
  font-size: 19px;
  font-weight: 700;
  height: 30px;
  overflow: hidden;
  text-align: center;
}
.product-item__name:hover {
  text-decoration: none;
}
.product-item__name span.brand {
  display: block;
  color: #6b7a83;
  font-size: 12px;
  margin-bottom: 5px;
  text-decoration: none;
  height: 20px;
  overflow: hidden;
}
.product-item__name span.name {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
}
.product-item__show-detail {
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  display: block;
  opacity: 0;
}
@media only screen and (max-width: 767px) {
  .product-item__show-detail {
    display: none !important;
  }
}
.product-item__show-detail:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 80%;
  background: #bde1f5;
  height: 1px;
}
.product-item__button {
  display: flex;
  padding: 5px 15px;
  align-items: center;
  justify-content: center;
}
.product-item__button form {
  margin-right: auto;
}
.product-item__button form .row {
  margin-bottom: 0;
}
.product-item__button .rating i {
  font-size: 16px;
  color: orange;
}
.product-item__button button {
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: #bde1f5;
  color: #6b7a83;
}
.product-item__button button:hover {
  background: #0694db;
  color: white;
}
.product-item__image {
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product-item__image img {
  max-height: 100%;
  max-width: 100%;
  align-self: center;
}
.products-grid {
  display: flex;
  position: relative;
  padding: 40px 0;
  flex-wrap: wrap;
}
.footer__features {
  background: #E8EEF4;
  padding: 35px 0;
}
.footer__features-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.footer__features-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  width: calc(100% / 6);
  padding: 0 35px;
}
.footer__features-item i {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  color: #93AEC4;
}
.footer__features-item div {
  text-align: center;
  margin-top: 10px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__newsletter {
  padding: 15px 0;
  background: #4A7BC8;
}
.footer__newsletter-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
}
.footer__newsletter-wrapper span {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-right: 15px;
}
.footer__newsletter-wrapper input {
  height: 40px;
  padding: 0 15px;
  color: grey;
  width: 200px;
  max-width: 100%;
  outline: none;
}
.footer__newsletter-wrapper button {
  outline: none;
  height: 38px;
  padding: 0 15px;
  margin-left: 5px;
  color: white;
  font-weight: 700;
  background: orange;
  border: none;
}
.footer__content {
  display: flex;
  position: relative;
  padding: 45px 0;
}
.footer__content ul {
  width: calc(100% / 4);
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer__content ul li.heading {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 5px;
}
.footer__content ul li a {
  color: grey;
  font-weight: 100;
  text-decoration: none;
}
.footer__content ul li a:hover {
  color: #4A7BC8;
}
.shopping-cart .not-products {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 450px;
}
.shopping-cart .not-products h1 {
  text-align: center;
}
.shopping-cart .not-products p {
  text-align: center;
}
.cart__preview-table {
  width: 100%;
}
.cart__preview-table tr {
  border-bottom: 1px solid lightgrey;
}
.cart__preview-table tr.subtotal td:last-child {
  font-weight: 700;
}
.cart__preview-table tr:last-child {
  border-bottom: 0;
}
.cart__preview-table td {
  padding: 12px 0;
}
.cart__preview-table td:nth-child(2) {
  font-weight: 700;
  padding: 0 8px;
}
@media only screen and (max-width: 767px) {
  .cart__preview-table td:nth-child(2) {
    font-weight: 100;
    padding: 6px;
    font-size: 12px;
  }
}
.cart__preview-table tbody {
  border-bottom: 2px solid lightgrey;
}
.cart__preview-table--image {
  width: 60px;
  height: 60px;
  display: flex;
  padding: 12px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: white;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.cart__preview-table--image img {
  max-width: 100%;
  max-height: 100%;
}
.cart__preview-table--info {
  border: 1px solid lightgrey;
  table-layout: auto;
  border-collapse: collapse;
}
.cart__preview-table--info td {
  padding: 15px;
  white-space: nowrap;
}
.cart__preview-table--info td:first-child {
  color: grey;
}
.cart__preview-table--info td:last-child {
  width: 100%;
  text-align: right;
  font-weight: 700;
}
.cart__preview-table--info tbody {
  border-bottom: 0;
}
.cart__form {
  margin: 40px 0;
}
.cart__form h3 {
  margin-bottom: 30px;
}
.cart__form-item {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
.cart__form-item .in-message {
  position: absolute;
  right: 15px;
  top: 0;
  font-weight: 700;
  color: red;
  text-transform: uppercase;
}
.cart__form-item .in-message ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cart__form-item.checkboxes {
  border-radius: 15px;
  border: 1px solid lightgrey;
}
.cart__form-item.checkboxes .checkboxes-item {
  position: relative;
  border-bottom: 1px solid lightgrey;
}
.cart__form-item.checkboxes .checkboxes-item:last-of-type {
  border-bottom: 0;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"] {
  display: none;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"]:checked + label:before {
  background: grey;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"]:checked + label:after {
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background: white;
  position: absolute;
  left: 18.5px;
  top: 17px;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"] + label {
  display: inline-block;
  width: 100%;
  padding-left: 60px;
  position: relative;
  height: 40px;
  line-height: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"] + label span {
  position: absolute;
  right: 15px;
  font-weight: 700;
  font-size: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 7.5px;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid lightgrey;
}
.cart__form-item.w50 {
  width: 46%;
  margin: 10px 2%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__form-item.w50 {
    width: 100%;
    margin: 8px 0;
  }
}
.cart__form-item.w50:nth-of-type(odd) {
  margin-left: 0;
}
.cart__form-item.w50:nth-of-type(even) {
  margin-right: 0;
  width: 48%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__form-item.w50:nth-of-type(even) {
    width: 100%;
  }
}
.cart__form-item label {
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 12px;
  font-weight: 100;
}
.cart__form-item select {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  padding: 30px 15px 4px 15px;
}
.cart__form-item input {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  padding: 30px 15px 4px 10px;
}
.cart__form-item input[type='checkbox'] {
  display: none;
}
.cart__form-item input[type='checkbox'] + label {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  margin-left: -15px;
}
.cart__form-item input[type='checkbox'] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 20px;
  font-weight: 900;
  width: 20px;
  border: 1px solid lightgrey;
}
.cart__form-item input[type='checkbox']:checked + label:before {
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  line-height: 20px;
  text-align: center;
}
.cart__wrapper {
  height: 100%;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__wrapper {
    flex-direction: column;
    overflow-y: auto;
  }
}
.cart__wrapper textarea {
  width: 100%;
  border: 1px solid lightgrey;
  outline: none;
  padding: 30px 15px 15px 15px;
}
.cart__wrapper .alert ul {
  list-style-type: none;
}
.cart__wrapper .genius-offer {
  padding: 15px;
  margin-right: 5px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 15px;
  background: royalblue;
  font-weight: 700;
  color: white;
}
.cart__wrapper .genius-offer p {
  margin: 0;
}
.cart__left,
.cart__right {
  height: 100%;
  padding: 40px 80px;
}
.cart__left {
  width: 60%;
  border-right: 1px solid lightgrey;
  overflow-y: auto;
  padding-left: 15%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__left {
    width: 100%;
    padding: 15px;
    height: auto;
    overflow-y: visible;
  }
}
.cart__left-logo img {
  height: 40px;
}
.cart__right {
  background: #FAFAFA;
  width: 40%;
  padding-right: 10%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__right {
    width: 100%;
    padding: 15px;
    height: auto;
  }
}
.cart__summary-table {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table {
    display: flex;
  }
}
.cart__summary-table input {
  width: 60px;
  text-align: center;
  border-radius: 0;
  border: 1px solid lightgrey;
}
.cart__summary-table th {
  padding: 15px 0;
  text-align: center;
}
.cart__summary-table th:nth-child(2) {
  text-align: center;
}
.cart__summary-table th:last-child {
  text-align: right;
}
.cart__summary-table thead {
  border-bottom: 2px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table thead {
    display: none;
  }
}
.cart__summary-table tbody {
  border-bottom: 2px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody {
    width: 100%;
  }
}
.cart__summary-table tbody tr {
  border-bottom: 1px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody tr {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
}
.cart__summary-table tbody tr:last-child {
  border-bottom: 0;
}
.cart__summary-table tbody td {
  padding: 15px 0;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody td {
    width: 100% ;
  }
}
.cart__summary-table tbody td:last-child {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody td:last-child {
    text-align: center;
  }
}
.cart__summary-table tbody td:first-child {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody td:first-child {
    order: 8;
  }
}
.cart__summary-table tbody td:first-child button {
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  color: grey;
}
.cart__summary-table td:first-child {
  padding: 0 40px;
}
.cart__summary-table td img {
  height: 100px;
  width: auto;
}
.cart__buttons-row {
  text-align: right;
  margin: 30px 0;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__buttons-row .button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .cart__buttons-row .button--lblue {
    background: lightgrey;
  }
  .cart__buttons-row .button--quiet {
    background: #eeeeee;
    opacity: .85;
  }
  .cart__buttons-row .button--quiet:before {
    left: 25px !important;
  }
}
.cart__summary-subtotal {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  margin: 40px 0;
}
.cart__summary-subtotal span {
  font-weight: 100;
}
.cart__breadcrumb {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
.cart__breadcrumb li {
  display: inline-block;
  position: relative;
  padding: 0 15px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px), only screen and (min-width: 992px and max-width: 1199px) {
  .cart__breadcrumb li {
    display: none;
  }
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px), only screen and (min-width: 992px and max-width: 1199px) {
  .cart__breadcrumb li.active {
    display: inline-block;
  }
  .cart__breadcrumb li.active:after {
    display: none;
  }
}
.cart__breadcrumb li.active a {
  font-weight: 900;
  font-size: 14px;
}
.cart__breadcrumb li:after {
  content: '\f105';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  position: absolute;
  right: -5px;
  font-weight: 900;
  top: 1px;
  font-size: 15px;
  bottom: 0;
  color: grey;
  margin: auto;
}
.cart__breadcrumb li:last-child:after {
  display: none;
}
.cart__breadcrumb li:first-child {
  padding-left: 0;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px), only screen and (min-width: 992px and max-width: 1199px) {
  .cart__breadcrumb li:first-child {
    display: inline-block;
  }
}
.cart__breadcrumb li a {
  color: grey;
  text-decoration: none;
  font-size: 11px;
  font-weight: 100;
}
.button {
  display: inline-block;
  height: 50px;
  border: none;
  outline: none !important;
  border-radius: 25px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}
.button--blue {
  background: #5ABDEF;
  color: white;
}
.button--blue:hover {
  color: white;
}
.button--grey {
  background: lightgrey;
  color: black;
  float: left;
}
.button--quiet {
  border: none;
  background: white;
  color: darkslategrey;
  float: left;
  padding-left: 15px;
  position: relative;
  font-weight: 100;
}
.button--quiet:before {
  content: '\f104';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 14px;
  color: black;
}
.button--search {
  position: absolute;
  right: 3px;
  top: 13px;
  width: 44px;
  border-radius: 100%;
  height: 44px;
  border: none;
  outline: none;
  padding: 0;
  line-height: 44px;
}
ul.row {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.category-detail__brands {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.category-detail__brands-wrapper {
  padding: 35px 0;
  background: #F8F8F8;
}
.category-detail__brands-item {
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
  height: 250px;
  display: flex;
  width: calc(100% / 4 - 10px);
  flex-direction: column;
  cursor: pointer;
  margin: 5px;
}
.category-detail__brands-item:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
}
.category-detail__brands-item .image {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}
.category-detail__brands-item .image img {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}
.category-detail__brands-item .content {
  height: 50px;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  justify-content: center;
  color: grey;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
}
.category-detail__heading {
  padding: 30px 0;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.category-detail__heading i {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 55px;
  color: grey;
  margin-bottom: 15px;
}
.category-detail__heading p {
  color: grey;
  font-size: 16px;
  text-align: justify;
}
.product-detail-wrapper {
  padding: 15px;
  background: white;
  margin: 30px 0;
  min-height: 360px;
  height: auto;
}
.product-detail-wrapper h1 {
  text-align: left;
  font-weight: 300;
  color: black;
  padding: 0;
  margin: 0 0 20px 0;
}
.product-detail-wrapper .listingRatingStars {
  float: none;
  margin-bottom: 10px;
  margin-right: 0;
}
.product-detail-wrapper .listingRatingStars a span {
  color: #FFC000;
  font-size: 20px;
}
.product-detail-wrapper #productPrices {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -2px;
}
.product-detail-wrapper #productPrices span {
  letter-spacing: normal;
  font-size: 16px;
  color: #4A7BC8;
  font-weight: 100;
}
.product-detail-right {
  min-height: 350px;
  position: relative;
  height: auto;
  background: white;
}
.main-image-wrapper {
  margin-right: 40px;
}
.main-image-wrapper #productPhotoCarousel .item {
  height: 480px !important;
  width: 100% !important;
  text-align: center !important;
}
.main-image-wrapper #productPhotoCarousel .item img {
  max-width: 100%;
  vertical-align: middle;
  max-height: 80%;
  height: auto;
  width: auto;
}
.main-image-wrapper #productPhotoCarousel .item a {
  display: flex;
  /* add */
  justify-content: center;
  /* add to align horizontal */
  align-items: center;
  /* add to align vertical */
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.main-image-wrapper .carousel-indicators {
  display: none !important;
}
.main-image-wrapper .carousel-indicators li {
  border-color: lightgrey !important;
  background-color: lightgrey !important;
}
.main-image-wrapper .carousel-indicators .active {
  background-color: gray !important;
  border-color: gray;
  width: 10px !important;
  height: 10px !important;
}
.main-image-wrapper .carouselControl {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  right: 0;
  width: 100%;
  height: 30px;
}
.main-image-wrapper .carousel-control.right {
  right: 20px;
}
.main-image-wrapper .carouselControl a {
  display: inline-block;
  background: none !important;
  font-size: 40px;
  color: black;
}
.main-image-wrapper .carousel-control:hover,
.main-image-wrapper .carousel-control:focus {
  color: lightgrey !important;
}
.attributes {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 10;
  width: 80px;
}
.attributes .freeshipping {
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #4A7BC8;
  border-radius: 3px;
}
.attributes .freeshipping span {
  font-size: 11px;
  width: 100%;
  display: inline-block;
  color: white;
}
.attributes .discount {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #E7017B;
  border-radius: 3px;
}
.attributes .discount span {
  font-size: 11px;
  width: 100%;
  display: inline-block;
  color: white;
}
.attributes .new {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #4A7BC8;
  border-radius: 3px;
}
.productStockStatusBox {
  padding: 15px;
  margin-top: 15px;
  font-size: 13px;
  background: #f2f2f2;
  display: inline-block;
  border: 1px solid lightgrey;
}
.productStockStatusBox.form {
  width: 50%;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.02);
}
.productStockStatusBox.form span {
  font: 300 16px 'Raleway', Arial;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}
.productStockStatusBox.form input {
  width: 60%;
  height: 35px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.productStockStatusBox.form .submitInput {
  width: 38%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  height: 35px;
  cursor: pointer;
  border: 1px solid lightgrey;
  border-radius: 0;
  transition: 0.3s all ease;
}
.productStockStatusBox.form .submitInput:hover {
  border-color: #4A7BC8;
}
.productStockStatusBox > span {
  color: #4A7BC8;
  font-weight: 700;
}
.productStockStatusBox > span > span {
  color: black;
  font-weight: 300;
}
