@import 'variables';

* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  z-index: 100;
  background: white;
  .header {
    &__top {
      padding: 8px 0;
      ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        margin: 0;
        text-align: right;

        li {
          display: inline-block;

          a {
            display: inline-block;
            padding: 0 15px;
            color: black;
            font-weight: 700;
            font-size: 13px;

            &:last-of-type {
              padding-right: 0;
            }
          }
        }
      }
    }
    &__middle {
      display: flex;
      height: 80px;
      align-items: center;
    }
    &__logo {
      height: 70px;
      position: relative;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
      }
    }

    &__search {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      align-self: flex-end;
      margin-left: 25px;
      height: 70px;
      input {
        height: 50px;
        border: 1px solid lightgrey;
        border-radius: 30px;
        width: 450px;
        padding: 0 15px;
        outline: none;

        &:focus {
          border-color: grey;
        }
      }
    }
    &__cart {
      height: 80px;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: relative;

      a {
        display: inline-block;
        text-decoration: none;
      }

      &-icon {
        background: lightgrey;
        color: grey;
        padding: 15px;
        border-radius: 100%;
        font-size: 17px;
        position: relative;
      }
      &-badge {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        font-size: 12px;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        right: -5px;
        bottom: 12px;
        background: #3682CA;
      }
    }
    &__bottom {
      height: 55px;
      display: flex;
      align-items: center;
      background: #3682CA;
      margin-top: 10px;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;

          &:first-child {
            &:after {
              right: inherit !important;
              left: 25% !important;
            }

            a {
              padding-left: 0;
            }
          }

          &.active {
            position: relative;
            text-align: center;

            &:after {
              content: '';
              position: absolute;
              margin: auto;
              width: 0;
              left: 0;
              right: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 15px solid white;
            }
          }

          a {
            display: inline-block;
            padding: 0 25px;
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: 100;
            opacity: .9;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.nopadding {
  padding: 0;
}

.menu-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: fade(black, 65);
  z-index: 10;
  display: none;
}

.products-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: white;

  &.visible {
    display: block;
  }

  &__content {
    padding: 15px 0;
    h3 {
      font-size: 15px;
      text-transform: uppercase;
    }

    & > ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      & > li {
        margin-bottom: 10px;
        width: 33%;
        display: inline-block;
        a {
          display: inline-block;
          padding: 5px 0;
          text-decoration: none;
          font-size: 17px;
          color: grey;

          i {
            font-size: 22px;
            margin-right: 15px;
          }
        }

        ul {
          columns: 1;
          width: 100%;
          padding-left: 0;
          li {
            width: auto;
            display: inline-block;
            position: relative;
            padding-right: 10px;

            &:last-child {
              &:after {
                display: none;
              }
            }

            &:after {
              content: '';
              position: absolute;
              right: 3px;
              top: 0;
              bottom: 0;
              margin: auto;
              text-align: center;
              height: 50%;
              width: 1px;
              background: grey;
            }

            a {
              font-size: 13px;
              font-weight: 100;
            }
          }
        }
      }
    }
  }

  &__features {
    background: lightgrey;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        color: darkslategrey;
        padding: 0 50px;
        position: relative;
        font-size: 15px;
        font-weight: 700;

        i {
          font-size: 18px;
          margin-right: 15px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 1px;
          height: 80%;
          margin: auto;
          display: block;
          background: grey;
        }
      }
    }
  }
}

.carousel {
  &--products {

  }
}

.featured {
  .nav-tabs {
    text-align: left;
    width: auto;
    display: inline-block;
  }

  .nav-right {
    display: inline-block;
    float: right;

    li {
      display: inline-block;
    }
  }
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  width: 100%;
}

.brands-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: white;
  display: none;

  &.visible {
    display: block;
  }

  &__content {
    padding: 15px 0;
    h3 {
      font-size: 15px;
      text-transform: uppercase;
    }

    .brand-image {
      width: 100%;
      height: 100px;
      border: 1px solid lightgrey;
      position: relative;
      background-size: auto 64%;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }

    .all-brands {
      display: inline-block;
      color: grey;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      cursor: pointer;

      &-list {
        display: none;

        &.visible {
          display: block;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          width: 100%;

          li {
            width: 33%;
            display: inline-block;
            padding: 5px;
            &.heading {
              width: 100%;
              font-weight: 700;
              font-size: 15px;
              background: lightgrey;
            }

            a {
              color: grey;
            }
          }
        }
      }
    }

    ul.bottom {
      margin: 25px 0;
      border-width: 1px 0 1px 0;
      border-style: solid;
      border-color: lightgrey;
      padding: 10px 0;
      li {
        height: 40px;
        position: relative;
        width: 10%;

        a {
          display: inline-block;
          position: static;
          height: 40px;
        }

        img {
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }

    & > ul {
      list-style-type: none;
      padding: 0;
      width: 100%;
      position: relative;
      margin: 5px 0 25px 0;

      li {
        display: inline-block;
        margin: 0 5px;
        width: calc(20% - 12px);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          text-align: center;
          display: inline-block;
          width: 100%;
          color: grey;
          font-weight: 700;
        }
      }
    }
  }

  &__features {
    background: lightgrey;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        color: darkslategrey;
        padding: 0 35px;
        position: relative;
        font-size: 15px;

        i {
          font-size: 18px;
          margin-right: 15px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 1px;
          height: 80%;
          margin: auto;
          display: block;
          background: grey;
        }
      }
    }
  }
}

.services-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: white;
  display: none;

  &.visible {
    display: block;
  }

  .column {
    width: 24%;
    display: inline-block;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  &__content {
    padding: 15px 0;
    h3 {
      font-size: 15px;
      text-transform: uppercase;
    }

    .brand-image {
      width: 100%;
      height: 100px;
      border: 1px solid lightgrey;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }

    .all-brands {
      display: inline-block;
      color: grey;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      cursor: pointer;

      &-list {
        display: none;

        &.visible {
          display: block;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          width: 100%;

          li {
            width: 33%;
            display: inline-block;
            padding: 5px;
            &.heading {
              width: 100%;
              font-weight: 700;
              font-size: 15px;
              background: lightgrey;
            }

            a {
              color: grey;
            }
          }
        }
      }
    }

    ul.bottom {
      margin: 25px 0;
      border-width: 1px 0 1px 0;
      border-style: solid;
      border-color: lightgrey;
      padding: 10px 0;
      li {
        height: 40px;
        position: relative;
        width: 10%;

        a {
          display: inline-block;
          position: static;
          height: 40px;
        }

        img {
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }

    & > ul {
      list-style-type: none;
      padding: 0;
      width: 100%;
      position: relative;
      margin: 5px 0 25px 0;

      li {
        display: inline-block;
        margin: 0 5px;
        width: calc(20% - 11px);

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          text-align: center;
          display: inline-block;
          width: 100%;
          color: grey;
          font-weight: 700;
        }
      }
    }
  }

  &__features {
    background: lightgrey;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        color: darkslategrey;
        padding: 0 35px;
        position: relative;
        font-size: 15px;

        i {
          font-size: 18px;
          margin-right: 15px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 1px;
          height: 80%;
          margin: auto;
          display: block;
          background: grey;
        }
      }
    }
  }
}

.products-history {
  background: darkslategrey;
  display: flex;

  &__item {
    width: 25%;
    position: relative;
    display: flex;
    text-decoration: none;
    background: white;
    padding: 15px;
    margin: auto 15px;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:hover {
      text-decoration: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }

    .image {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      margin-right: 15px;

      &:hover {
        text-decoration: none !important;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    h3 {
      font-size: 14px;
      color: #0082c2;
      margin: 0;
      padding: 0;
      height: 32px;
      overflow: hidden;
      text-transform: uppercase;
      font-weight: 100;
      text-decoration: none;
    }

    h4 {
      color: black;
      font-weight: 700;
      text-decoration: none;
    }
  }

  &__left {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 20%;
    padding: 40px 0;

    i {
      font-size: 35px;
      margin-right: 10px;
    }

    div {
      color: white;
    }

    h3 {
      font-size: 20px;
      color: white;
    }
  }

  &__right {
    display: flex;
    width: 80%;
    background: lightgrey;
    padding: 40px 0;
  }
}

#primary-image-carousel {
  height: 320px;
  position: relative;

  @media @xs {
    height: 200px;
  }

  .carousel-inner {
    height: 320px;

    @media @xs {
      height: 200px;
    }

    .item {
      height: 320px;

      @media @xs {
        height: 200px;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }

  .primary-controls {
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;

    a {
      height: 40px;
      width: 40px;
      display: flex;
      color: darkslategrey;
      background: rgba(255, 255, 255, .85);
      align-items: center;
      justify-content: center;
      position: absolute;
      transition: .2s all linear;
      z-index: 100;
      font-size: 40px;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }
}

#thumbs-image-carousel {
  margin: 25px 0;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;

  @media @xs {
    display: none;
  }

  .controls-thumb {
    a {
      height: 100px;
      width: 30px;
      display: flex;
      color: darkslategrey;
      background: lightgrey;
      align-items: center;
      justify-content: center;
      position: absolute;
      transition: .2s all linear;
      z-index: 100;
      text-decoration: none;

      &:hover {
        background: grey;
        text-decoration: none;
      }

      &.left {
        top: 0;
        bottom: 0;
        left: 0;
      }

      &.right {
        right: 0;
        top: 0;
        bottom: 0;
      }

      i {
        font-size: 25px;
      }
    }
  }

  .carousel-inner {
    .item {
      cursor: pointer;
      height: 100px;
      padding: 0 30px;

      .item-image {
        height: 100px;
        width: 33%;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

      &.active, &.next, &.prev {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100px;

        .item-image {
          height: 100px;
          width: 33%;
          display: flex;
          justify-content: center;
          text-align: center;
          position: relative;
          padding: 10px;

          img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            align-self: center;
          }
        }
      }
    }
  }
}

.homepage-features {
  display: flex;
  padding: 25px 0;

  &__item {
    width: calc(100% / 6);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;

    .icon {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
      }
    }

    .content {

      h3 {
        font-weight: 700;
        color: black;
        font-size: 16px;
      }

      p {
        font-size: 12px;
        color: grey;
      }
    }

    i {
      margin-right: 10px;
      font-size: 30px;
      color: grey;
    }
  }
}

.product-detail {
  padding: 60px 0;

  @media @xs {
    padding: 0;
  }

  &__description {
    margin: 20px 0 -50px 0;
    padding: 40px 0;
    background: #F9F9F9;

    .featured {
      padding: 15px;
      background: white;
      margin: 0;

      .tab-pane {
        padding: 30px 15px;
      }
    }
  }

  &__add-to-cart {
    button {
      margin: 25px 0;
      width: auto;
      height: 50px;
      background: #0694db;
      color: white;
      border-radius: 25px;
      border: none;
      outline: none;
      font-weight: 700;
      font-size: 14px;
      padding: 0 25px;

      &:hover {
        background: #0082c2;
      }

      i {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }

  &__thumbnails {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    @media @xs {
      overflow-x: scroll;
      height: 90px;
      margin-top: 10px;
      flex-direction: column;
    }

    &-item {
      width: ~"calc(25% - 10px)";
      height: 80px;
      cursor: pointer;
      border: 1px solid lightgrey;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin: 5px;
      box-sizing: border-box;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }

      &.active {
        &:after {
          opacity: 1;
        }
      }

      &:after {
        transition: .15s all linear;
        opacity: 0;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background: #5ABDEF;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__image {

    &--primary {
      padding: 15px;
      display: flex;
      height: 250px;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  &__info {
    @media @xs {
      margin-top: 15px;
    }

    h4 {
      font-size: 14px;
      margin: 0;
      padding: 0;
      color: #6b7a83;
      font-weight: 100;
    }

    h1 {
      font-weight: 400;
      font-size: 24px;
    }

    ul {
      padding: 0;
      margin: 0 0 0 15px;

      li {
        color: #6b7a83;
      }
    }
  }

  &__cart {
    padding: 15px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 15px;

    @media @xs {
      margin-top: 15px;
    }

    ul {
      margin: 0 !important;
      padding: 0 !important;
    }

    &-stock {
      padding: 8px 0;
      border-bottom: 1px solid lightgrey;
      color: #6b7a83;

      span {
        color: #5ABDEF;
        font-weight: 700;
      }
    }

    &-price {
      font-weight: 400;
      font-size: 32px;
      padding: 20px 0;
    }
  }

  &__button-qty {
    position: absolute;
    width: 25px;
    top: 10px;
    height: 25px;
    border-radius: 100%;
    border: none;
    text-align: center;
    outline: none;
    line-height: 25px;
    font-weight: 700;

    &--up {
      right: 35px;
    }

    &--down {
      right: 5px;
    }
  }

  &__quantity {
    font-size: 13px;

    &-input {
      padding: 5px 0;
      position: relative;

      input {
        border: 1px solid #c6c6c6;
        border-radius: 15px;
        height: 35px;
        width: 100%;
        padding: 0 15px;
        font-size: 16px;
      }
    }
  }
}

#login-modal {
  button {
    &.close {
      position: absolute;
      right: -20px;
      top: -20px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: none;
      outline: none;
      background: #5ABDEF;
      z-index: 1000;
      opacity: 1;
      font-size: 28px;
      font-weight: 100;
    }
  }
  .modal-dialog {
    width: 350px;
    max-width: 100%;
  }

  .modal-title {
    text-align: center;
    font-size: 25px;
    font-weight: 100;
  }

  .modal-header {
    border-bottom: 0;
  }

  .modal-body {
    padding: 0 25px 25px 25px;
    div {
      position: relative;

      &.login-footer {
        padding: 25px 0 0 0;
        text-align: center;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          width: 80%;
          margin: auto;
          height: 1px;
          background: lightgrey;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #6b7a83;
          margin: 15px 0 0 0;
        }
      }

      .button {
        &--login {
          background: #5ABDEF;
          color: white;
          margin-top: 20px;
          border: none;
          border-radius: 15px;
          font-size: 18px;
          outline: none;
          font-weight: 100;
        }
      }

      label {
        display: block;
        margin: 15px 0 5px;
        font-weight: 100;
      }

      input[type="text"], input[type="password"] {
        height: 40px;
        width: 100%;
        outline: none;
        padding: 0 10px;
        border-radius: 15px;
        border: 1px solid lightgrey;
      }

      input[type="checkbox"] {
        display: none;

        &:checked {
          & + label {
            &:after {
              color: white;
              background: #6b7a83;
              content: "\f00c";
              font-family: "Font Awesome 5 Free";
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
            }
          }
        }

        & + label {
          display: inline-block;
          padding-left: 35px;
          position: relative;
          cursor: pointer;

          &:after {
            content: '';
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            height: 20px;
            width: 20px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
  }
}

.button {
  &__button-qty {
    position: absolute;
    width: 25px;
    top: 10px;
    height: 25px;
    border-radius: 100%;
    border: none;
    text-align: center;
    outline: none;
    line-height: 25px;
    font-weight: 700;

    &--up {
      right: 35px;
    }

    &--down {
      right: 5px;
    }
  }
}

#add-product-modal {

  @media @xs {
    .modal-dialog {
      margin-top: 15px;
    }
  }

  @media @xs {
    padding: 15px 15px 80px 15px;
  }

  .button {
    @media @xs {
      width: 100%;
      text-decoration: none;
      margin-bottom: 10px;
      text-align: center;
    }

    &--to-cart {
      float: right;
      background: #0082c2;
      color: white;
    }
  }

  button {
    &.close {
      position: absolute;
      right: -10px;
      top: -10px;
      opacity: 1;
      width: 40px;
      height: 40px;
      text-align: center;
      background: #0082c2;
      color: white;
      font-size: 26px;
      border-radius: 100%;
    }
  }

  .modal-header {
    border: none;
  }

  .modal-body {
    padding: 80px 15px;
  }

  .add-product-modal__content {
    padding: 15px 0;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

.featured {
  background: #F8F8F8;
  padding: 30px 0 80px 0;
  margin-bottom: -50px;

  .product-item {
    background: #ffffff;
    margin-right: 5px;
    width: ~"calc(25% - 5px)";
    margin-bottom: 10px;
  }

  .nav {
    &.nav-tabs {
      border-bottom: 1px solid #bde1f5;
      text-align: center;

      li {
        float: none;
        display: inline-block;
        a {
          font-weight: 400;
          font-size: 16px;
          color: #6b7a83;

          &:hover {
            border: none;
            background: transparent;
          }
        }
        &.active {
          a {
            border: none;
            border-bottom: 2px solid #5ABDEF;
            background: transparent;
            position: relative;
            font-weight: 700;

            &:after {
              content: '';
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 8px solid #5ABDEF;
              position: absolute;
              left: 0;
              right: 0;
              bottom: -8px;
              margin: auto;
            }
          }
        }
      }
    }
  }
}

.product-item {
  width: 25%;
  position: relative;
  padding: 15px;
  height: 360px;
  cursor: pointer;
  display: block;

  @media @xs {
    width: 100%;
    height: 370px;
  }

  @media @sm {
    width: 50%;
  }

  &:hover {
    .product-item__show-detail {
      opacity: 1;
      text-decoration: underline;
    }
  }

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);

    &:after {
      display: none;
    }
  }

  &:first-of-type {
    &:after {
      display: none;
    }
  }

  &:nth-of-type(4n+1) {
    &:after {
      display: none;
    }
  }

  &__price {
    margin: 10px 0 5px;
    color: indianred;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    overflow: hidden;
    text-align: center;
  }
  &__name {
    &:hover {
      text-decoration: none;
    }
    span {
      &.brand {
        display: block;
        color: #6b7a83;
        font-size: 12px;
        margin-bottom: 5px;
        text-decoration: none;
        height: 20px;
        overflow: hidden;
      }
      &.name {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 10px;
        height: 40px;
        overflow: hidden;
      }
    }
  }
  &__show-detail {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    display: block;
    opacity: 0;

    @media @xs {
      display: none !important;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      width: 80%;
      background: #bde1f5;
      height: 1px;
    }
  }
  &__button {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;

    form {
      margin-right: auto;

      .row {
        margin-bottom: 0;
      }
    }

    .rating {
      i {
        font-size: 16px;
        color: orange;
      }
    }

    button {
      border: none;
      outline: none;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      background: #bde1f5;
      color: #6b7a83;

      &:hover {
        background: #0694db;
        color: white;
      }
    }
  }
  &__image {
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 100%;
      align-self: center;
    }
  }
}

.products-grid {
  display: flex;
  position: relative;
  padding: 40px 0;
  flex-wrap: wrap;
}

.footer {
  &__features {
    background: #E8EEF4;
    padding: 35px 0;

    &-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
    }

    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-items: center;
      width: calc(100% / 6);
      padding: 0 35px;

      i {
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
        color: #93AEC4;
      }

      div {
        text-align: center;
        margin-top: 10px;
        color: black;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  &__newsletter {
    padding: 15px 0;
    background: #4A7BC8;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-items: center;

      span {
        color: white;
        font-size: 16px;
        font-weight: 700;
        margin-right: 15px;
      }

      input {
        height: 40px;
        padding: 0 15px;
        color: grey;
        width: 200px;
        max-width: 100%;
        outline: none;
      }

      button {
        outline: none;
        height: 38px;
        padding: 0 15px;
        margin-left: 5px;
        color: white;
        font-weight: 700;
        background: orange;
        border: none;

      }
    }
  }

  &__content {
    display: flex;
    position: relative;
    padding: 45px 0;

    ul {
      width: calc(100% / 4);
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        &.heading {
          font-weight: 700;
          font-size: 17px;
          margin-bottom: 5px;
        }

        a {
          color: grey;
          font-weight: 100;
          text-decoration: none;

          &:hover {
            color: #4A7BC8;
          }
        }
      }
    }
  }
}

.shopping-cart {
  .not-products {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 450px;

    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.cart {
  &__preview-table {
    width: 100%;

    tr {
      border-bottom: 1px solid lightgrey;

      &.subtotal {
        td {
          &:last-child {
            font-weight: 700;
          }
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    td {
      padding: 12px 0;
      &:nth-child(2) {
        font-weight: 700;
        padding: 0 8px;

        @media @xs {
          font-weight: 100;
          padding: 6px;
          font-size: 12px;
        }
      }
    }

    tbody {
      border-bottom: 2px solid lightgrey;
    }

    &--image {
      width: 60px;
      height: 60px;
      display: flex;
      padding: 12px;
      border: 1px solid lightgrey;
      border-radius: 10px;
      background: white;
      align-items: center;
      justify-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &--info {
      border: 1px solid lightgrey;
      table-layout: auto;
      border-collapse: collapse;

      td {
        padding: 15px;
        white-space: nowrap;
        &:first-child {
          color: grey;
        }

        &:last-child {
          width: 100%;
          text-align: right;
          font-weight: 700;
        }
      }
      tbody {
        border-bottom: 0;
      }
    }
  }

  &__form {
    margin: 40px 0;

    h3 {
      margin-bottom: 30px;
    }

    &-item {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 10px 0;

      .in-message {
        position: absolute;
        right: 15px;
        top: 0;
        font-weight: 700;
        color: red;
        text-transform: uppercase;

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
        }
      }

      &.checkboxes {
        border-radius: 15px;
        border: 1px solid lightgrey;

        .checkboxes-item {
          position: relative;
          border-bottom: 1px solid lightgrey;

          &:last-of-type {
            border-bottom: 0;
          }

          input[type="radio"] {
            display: none;

            &:checked {
              & + label {
                &:before {
                  background: grey;
                }

                &:after {
                  content: '';
                  height: 7px;
                  width: 7px;
                  border-radius: 100%;
                  background: white;
                  position: absolute;
                  left: 18.5px;
                  top: 17px;

                }
              }
            }

            & + label {
              display: inline-block;
              width: 100%;
              padding-left: 60px;
              position: relative;
              height: 40px;
              line-height: 40px;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;

              span {
                position: absolute;
                right: 15px;
                font-weight: 700;
                font-size: 14px;
                top: 0;
                bottom: 0;
                margin: auto;
              }

              &:before {
                content: '';
                position: absolute;
                left: 10px;
                top: 7.5px;
                bottom: 0;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                border: 1px solid lightgrey;
              }
            }
          }
        }
      }

      &.w50 {
        width: 46%;
        margin: 10px 2%;

        @media @xs, @sm {
          width: 100%;
          margin: 8px 0;
        }

        &:nth-of-type(odd) {
          margin-left: 0;
        }

        &:nth-of-type(even) {
          margin-right: 0;
          width: 48%;

          @media @xs, @sm {
            width: 100%;
          }
        }
      }

      label {
        position: absolute;
        left: 15px;
        top: 5px;
        font-size: 12px;
        font-weight: 100;
      }

      select {
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-weight: 700;
        outline: none;
        padding: 30px 15px 4px 15px;
      }

      input {
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-weight: 700;
        outline: none;
        padding: 30px 15px 4px 10px;
      }

      input[type='checkbox'] {
        display: none;

        & + label {
          display: inline-block;
          padding-left: 30px;
          position: relative;
          margin-left: -15px;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 20px;
            font-weight: 900;
            width: 20px;
            border: 1px solid lightgrey;
          }
        }

        &:checked {
          & + label {
            &:before {
              font-family: "Font Awesome 5 Free";
              content: '\f00c';
              line-height: 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  &__wrapper {
    height: 100%;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background: white;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    @media @xs, @sm {
      flex-direction: column;
      overflow-y: auto;
    }

    textarea {
      width: 100%;
      border: 1px solid lightgrey;
      outline: none;
      padding: 30px 15px 15px 15px;
    }

    .alert {
      ul {
        list-style-type: none;
      }
    }

    .genius-offer {
      padding: 15px;
      margin-right: 5px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
      margin-top: 15px;
      background: royalblue;
      font-weight: 700;
      color: white;

      p {
        margin: 0;
      }
    }
  }

  &__left, &__right {
    height: 100%;
    padding: 40px 80px;
  }

  &__left {
    width: 60%;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
    padding-left: 15%;

    @media @xs, @sm {
      width: 100%;
      padding: 15px;
      height: auto;
      overflow-y: visible;
    }

    &-logo {
      img {
        height: 40px;

      }
    }
  }

  &__right {
    background: #FAFAFA;
    width: 40%;
    padding-right: 10%;

    @media @xs, @sm {
      width: 100%;
      padding: 15px;
      height: auto;
    }
  }

  &__summary-table {
    width: 100%;

    @media @xs {
      display: flex;
    }

    input {
      width: 60px;
      text-align: center;
      border-radius: 0;
      border: 1px solid lightgrey;
    }

    th {
      padding: 15px 0;
      text-align: center;

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child {
        text-align: right;
      }
    }

    thead {
      border-bottom: 2px solid lightgrey;

      @media @xs {
        display: none;
      }
    }

    tbody {
      border-bottom: 2px solid lightgrey;

      @media @xs {
        width: 100%;
      }

      tr {
        border-bottom: 1px solid lightgrey;

        @media @xs {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-bottom: 15px;
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      td {
        padding: 15px 0;
        text-align: center;

        @media @xs {
          width: 100% ;
        }

        &:last-child {
          text-align: right;

          @media @xs {
            text-align: center;
          }
        }

        &:first-child {
          text-align: center;

          @media @xs {
            order: 8;
          }

          button {
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            color: grey;
          }
        }
      }
    }

    td {

      &:first-child {
        padding: 0 40px;
      }

      &:nth-child(2) {

      }

      img {
        height: 100px;
        width: auto;
      }
    }

  }

  &__buttons-row {
    text-align: right;
    margin: 30px 0;

    @media @xs, @sm {
      .button {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;

        &--lblue {
          background: lightgrey;
        }

        &--quiet {
          background: #eeeeee;
          opacity: .85;

          &:before {
            left: 25px !important;
          }
        }
      }
    }
  }

  &__summary-subtotal {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    margin: 40px 0;

    span {
      font-weight: 100;
    }
  }

  &__breadcrumb {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
      padding: 0 15px;

      @media @xs, @sm, @md {
        display: none;
      }

      &.active {

        @media @xs, @sm, @md {
          display: inline-block;

          &:after {
            display: none;
          }
        }
        a {
          font-weight: 900;
          font-size: 14px;
        }
      }

      &:after {
        content: '\f105';
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        position: absolute;
        right: -5px;
        font-weight: 900;
        top: 1px;
        font-size: 15px;
        bottom: 0;
        color: grey;
        margin: auto;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:first-child {
        padding-left: 0;

        @media @xs, @sm, @md {
          display: inline-block;
        }
      }

      a {
        color: grey;
        text-decoration: none;
        font-size: 11px;
        font-weight: 100;
      }
    }
  }
}

.button {
  display: inline-block;
  height: 50px;
  border: none;
  outline: none !important;
  border-radius: 25px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &--blue {
    background: #5ABDEF;
    color: white;

    &:hover {
      color: white;
    }
  }

  &--grey {
    background: lightgrey;
    color: black;
    float: left;
  }

  &--quiet {
    border: none;
    background: white;
    color: darkslategrey;
    float: left;
    padding-left: 15px;
    position: relative;
    font-weight: 100;

    &:before {
      content: '\f104';
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 14px;
      color: black;
    }
  }

  &--search {
    position: absolute;
    right: 3px;
    top: 13px;
    width: 44px;
    border-radius: 100%;
    height: 44px;
    border: none;
    outline: none;
    padding: 0;
    line-height: 44px;
  }

}

ul.row {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.category-detail {
  &__brands {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &-wrapper {
      padding: 35px 0;
      background: #F8F8F8;
    }

    &-item {
      background: white;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
      height: 250px;
      display: flex;
      width: calc(100% / 4 - 10px);
      flex-direction: column;
      cursor: pointer;
      margin: 5px;

      &:hover {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
      }

      .image {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: relative;

        img {
          width: auto;
          height: auto;
          max-width: 80%;
          max-height: 80%;
        }
      }

      .content {
        height: 50px;
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;
        color: grey;
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        text-decoration: none;
      }
    }
  }

  &__heading {
    padding: 30px 0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    i {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: 55px;
      color: grey;
      margin-bottom: 15px;
    }

    p {
      color: grey;
      font-size: 16px;
      text-align: justify;
    }
  }
}

.product-detail-wrapper {
  padding: 15px;
  background: white;
  margin: 30px 0;
  min-height: 360px;
  height: auto;

  h1 {
    text-align: left;
    font-weight: 300;
    color: black;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .listingRatingStars {
    float: none;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .listingRatingStars a span {
    color: #FFC000;
    font-size: 20px;
  }

  #productPrices {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -2px;

    span {
      letter-spacing: normal;
      font-size: 16px;
      color: #4A7BC8;
      font-weight: 100;
    }
  }

}

.product-detail-right {
  min-height: 350px;
  position: relative;
  height: auto;
  background: white;
}

.main-image-wrapper {
  margin-right: 40px;
  #productPhotoCarousel .item {
    height: 480px !important;
    width: 100% !important;
    text-align: center !important;
  }

  #productPhotoCarousel .item img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 80%;
    height: auto;
    width: auto;
  }

  #productPhotoCarousel .item a {
    display: flex;
    /* add */
    justify-content: center;
    /* add to align horizontal */
    align-items: center;
    /* add to align vertical */
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }

  .carousel-indicators {
    display: none !important;
  }

  .carousel-indicators li {
    border-color: lightgrey !important;
    background-color: lightgrey !important;
  }

  .carousel-indicators .active {
    background-color: gray !important;
    border-color: gray;
    width: 10px !important;
    height: 10px !important;
  }

  .carouselControl {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    right: 0;
    width: 100%;
    height: 30px;

  }

  .carousel-control.right {
    right: 20px;
  }

  .carouselControl a {
    display: inline-block;
    background: none !important;
    font-size: 40px;
    color: black;
  }

  .carousel-control:hover,
  .carousel-control:focus {
    color: lightgrey !important;
  }
}

.attributes {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 10;
  width: 80px;
}

.attributes .freeshipping {
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #4A7BC8;
  border-radius: 3px;
}

.attributes .freeshipping span {
  font-size: 11px;
  width: 100%;
  display: inline-block;
  color: white;
}

.attributes .discount {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #E7017B;
  border-radius: 3px;
}

.attributes .discount span {
  font-size: 11px;
  width: 100%;
  display: inline-block;
  color: white;
}

.attributes .new {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #4A7BC8;
  border-radius: 3px;
}

.productStockStatusBox {
  padding: 15px;
  margin-top: 15px;
  font-size: 13px;
  background: #f2f2f2;
  display: inline-block;
  border: 1px solid lightgrey;
}

.productStockStatusBox.form {
  width: 50%;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.02);
}

.productStockStatusBox.form span {
  font: 300 16px 'Raleway', Arial;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.productStockStatusBox.form input {
  width: 60%;
  height: 35px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.productStockStatusBox.form .submitInput {
  width: 38%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  height: 35px;
  cursor: pointer;
  border: 1px solid lightgrey;
  border-radius: 0;
  transition: 0.3s all ease;
}

.productStockStatusBox.form .submitInput:hover {
  border-color: #4A7BC8;
}

.productStockStatusBox > span {
  color: #4A7BC8;
  font-weight: 700;
}

.productStockStatusBox > span > span {
  color: black;
  font-weight: 300;
}