.flex-viewport {
  max-height: 350px;
}
.flex-viewport li {
  max-height: 350px;
  text-align: center;
}
.flex-viewport li img {
  max-height: 350px;
  max-width: 100%;
  padding: 40px;
  width: auto;
  height: auto;
  margin: auto;
}
.flex-control-thumbs li img {
  height: 100px;
  width: auto;
}
.product-detail {
  margin-top: 50px;
}
.cate-lst .collapse.in {
  display: block !important;
}
.navbar-toggle[data-target='#nav-open-btn'] {
  display: none !important;
}
@media only screen and (max-width: 600px) {
  header .search-cate {
    max-width: 100%;
    min-width: 0 !important;
    margin-left: 0 !important;
  }
}
#js-cart-box {
  text-align: center;
  margin-top: 15px;
}
.not-products {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  flex-direction: row;
}
.not-products h5 {
  font-weight: 700;
  text-transform: uppercase;
}
.not-products p {
  font-size: 16px;
}
.not-products .left {
  display: flex;
  margin-right: 50px;
}
.not-products .left span {
  font-size: 80px;
  font-weight: 700;
}
.button--back-to-home {
  display: inline-block;
  padding: 5px 25px;
  margin-top: 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #0088cc;
  color: #0088cc;
  background: none;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
}
