#cate-style {
  background: #0088CC;
}
h3 {
  font-size: 25px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ownmenu .cate-style {
    min-width: 250px;
  }
  header .navbar li a {
    padding: 16px 10px;
  }
  header .search-cate {
    min-width: 470px;
  }
  header .search-cate input {
    width: 47%;
  }
  .item-col-5 .product {
    width: 25%;
  }
  .layout-2 .slid-sec .col-md-3 {
    width: 26.6%;
  }
  .layout-2 .cate-bar-in {
    width: 250px;
  }
  .layout-2 .slid-sec .col-md-9 {
    width: 73.4%;
  }
  header.header-style-3 .nav-right {
    display: none;
  }
  header.header-style-3 .search-cate {
    min-width: 64%;
  }
  .header-style-4 .go-right {
    width: 100%;
    margin-top: 20px;
  }
  .header-style-4 {
    padding: 20px 0;
  }
  .header-style-4 .cart-pop {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .header-style-4 .search-cate {
    float: right;
  }
  .weekly-deal .item-img {
    width: 280px;
  }
  .weekly-deal .media-left {
    min-width: 365px;
  }
  .header-style-5 {
    padding: 20px 0;
    padding-bottom: 0px;
  }
  .header-style-5 .go-right {
    width: 100%;
    margin-top: 20px;
  }
  .layout-10 .cate-style {
    width: 250px;
  }
  .layout-10 .cate-bar-in {
    width: 250px;
  }
  .layout-10 .cate-bar-in a {
    line-height: 36px;
  }
  header.header-style-3 .navbar {
    margin-left: 50px;
  }
  .layout-16 .deal-small.righti {
    float: left;
    width: 48.5%;
    margin-right: 1.5%;
  }
  .mega-inside .home-links li {
    min-height: 175px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slid-sec .col-md-9 {
    width: 100%;
  }
  header.header-style-3 .search-cate {
    min-width: inherit;
    width: 100%;
    margin: 5px 0px;
  }
  .layout-2 .cate-lst {
    display: block;
  }
  .layout-2 .cate-lst a {
    min-width: 220px;
  }
  .layout-2 .cate-bar-in {
    width: 222px;
  }
  .layout-2 .cate-bar-in a {
    line-height: 37px;
  }
  header.header-style-3 .nav-uder-bar {
    margin-top: 20px;
  }
  header.header-style-3 .cate-bar-in {
    width: 270px;
  }
  .slid-sec .col-md-3 {
    width: 100%;
  }
  .slid-sec .product {
    float: left;
    width: 50%;
  }
  .shop-listing {
    margin-bottom: 30px;
  }
  .cate-lst {
    display: none;
  }
  .top-bar {
    height: auto;
    text-align: center;
  }
  .top-bar .right-sec {
    width: 100%;
  }
  .nav-right {
    display: none;
  }
  footer h4 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .cate-bar-in {
    width: 250px;
  }
  .layout-16 .deal-small.righti {
    float: left;
    width: 48.5%;
    margin-right: 1.5%;
  }
  header .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  header .search-cate input {
    width: 47%;
  }
  .ownmenu .cate-style {
    min-width: 250px;
  }
  header .search-cate .bootstrap-select {
    min-width: 180px;
  }
  header .search-cate {
    margin-left: 0px;
    min-width: 500px;
    width: 100%;
  }
  .cart-pop {
    position: absolute;
    top: 0px;
    right: 15px;
  }
  .main-tabs-sec .nav li {
    width: 33.33333%;
  }
  header {
    padding-top: 20px;
  }
  .week-sale-bnr {
    float: left;
    width: 50%;
  }
  .shipping-info li {
    width: 50%;
  }
  .shipping-info li:nth-child(1) {
    border-bottom: 1px solid #eeeeee;
  }
  .shipping-info li:nth-child(2) {
    border-bottom: 1px solid #eeeeee;
    border-right: none;
  }
  .item-col-5 .product {
    width: 33.333%;
  }
  .newslatter h3 {
    margin-bottom: 30px;
  }
  .clients-img li {
    margin: 20px 0;
    width: 33.3333%;
  }
  .layout-2 .slid-sec .col-md-3 {
    width: 34.6%;
    float: left;
  }
  .layout-2 .slid-sec .col-md-9 {
    width: 65.4%;
    float: left;
  }
  .wide-bnr {
    text-align: center;
  }
  .wide-bnr h5 {
    width: 100%;
    text-align: center;
  }
  .wide-bnr .btn {
    margin-top: 20px;
    float: none;
  }
  .layout-2 header .navbar {
    margin-top: 20px;
  }
  .item-col-4 .product {
    width: 50%;
  }
  .header-style-4 .go-right {
    width: 100%;
    margin-top: 20px;
  }
  .header-style-4 {
    padding: 20px 0;
  }
  .header-style-4 .cart-pop {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .header-style-4 .search-cate {
    float: right;
    width: 50%;
  }
  .header-style-4 .go-right {
    margin-top: 0px;
  }
  .hotdeal-bnr {
    margin-bottom: 30px;
  }
  .header-style-5 .go-right {
    width: 100%;
  }
  .header-style-5 .search-cate {
    margin: 0px;
    float: right;
    width: 50%;
  }
  .header-style-5 .navbar {
    margin-top: 20px;
  }
  header .col-xs-2 {
    width: 50%;
  }
  header .col-xs-5 {
    width: 50%;
  }
  .layout-6 header nav {
    margin-top: 20px;
  }
  header .col-xs-5.seri {
    width: 100%;
    margin-bottom: 20px;
  }
  .layout-6 .slid-sec .col-md-3 {
    display: none;
  }
  .layout-6 .slid-sec .col-md-9 {
    width: 100%;
  }
  .layout-7 .slid-sec .col-md-9 {
    width: 100%;
  }
  .layout-7 .slid-sec .week-sale-bnr {
    width: 50%;
    float: left;
  }
  .layout-7 .slid-sec .col-md-3 {
    width: 100%;
  }
  .layout-7 .item-col-3 article {
    min-height: inherit;
  }
  .layout-7 .item-col-3 .product {
    width: 50%;
  }
  .layout-10 .hotdeal-bnr {
    min-height: inherit;
    padding-bottom: 80px;
  }
  .layout-10 .slid-sec {
    margin-bottom: 0px;
  }
  .layout-10 .foot-link {
    margin-bottom: 10px;
  }
  .layout-11 .slid-sec .col-md-9 {
    width: 100%;
  }
  .layout-11 .slid-sec .col-md-3 {
    width: 100%;
  }
  .layout-11 .week-sale-bnr {
    margin-top: 0px;
  }
  .header-style-6 .search-cate {
    margin-bottom: 20px;
  }
  .header-style-6 nav {
    margin-top: 10px;
  }
  .layout-12 .cate-bar-in {
    display: none;
  }
  .layout-12 .header-style-3 .nav-uder-bar {
    padding: 5px 10px;
  }
  .layout-12 .slid-sec .col-md-7 {
    width: 100%;
  }
  .layout-12 .slid-sec .row {
    margin: 0 -15px;
  }
  .layout-12 .slid-sec .col-md-2 {
    width: 100%;
    padding-right: 0;
    padding-right: 0px;
    padding-left: 0px;
  }
  .layout-12 .slid-sec .like-bnr {
    min-height: inherit;
  }
  .layout-12 .slid-sec .product {
    width: 100%;
    padding-right: 0px;
    display: none;
    padding-left: 0px;
  }
  .top-week-item .nav {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 30px;
  }
  .top-week-item .nav li a {
    padding-left: 0px;
    margin-right: 15px;
  }
  .layout-12 .like-bnr {
    margin-top: 60px;
  }
  .top-week-item .col-md-4 {
    width: 50%;
    float: left;
  }
  .layout-13 .top-head .top-bar {
    display: inline-block;
    margin-bottom: -5px;
    width: 100%;
  }
  .layout-13 .header-style-4 .cart-pop {
    top: 20px;
  }
  .layout-13 .big-nsv .nav li i {
    display: none;
  }
  .layout-13 .big-nsv .nav li a {
    min-height: inherit;
    padding: 10px 0;
  }
  .layout-14 .navbar-toggle {
    right: 30px;
  }
  .top-items li {
    width: 50%;
    float: left;
  }
  .layout-15 .cate-bar-in.relative {
    display: none;
  }
  .layout-15 .slid-sec .col-md-7 {
    width: 100%;
  }
  .layout-15 .slid-sec .col-md-2 {
    width: 100%;
    padding: 0px;
  }
  .layout-15 .slid-sec .product {
    width: 100%;
  }
  .layout-15 .slid-sec .like-bnr {
    min-height: inherit;
    background-size: cover;
  }
  .layout-15 .like-bnr.for-lay h4 {
    color: #ef3b3b;
    margin: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-top: 10px;
  }
  .layout-15 .like-bnr.for-lay {
    padding-top: 20px;
  }
  .layout-15 .like-bnr.for-lay .price {
    font-size: 20px;
  }
  .layout-16 .nav-right {
    display: block;
  }
  .layout-16 header nav {
    margin-top: 0px;
  }
  .layout-16 .week-sale-bnr {
    float: none;
    width: 100%;
    background-size: cover;
  }
  .mega-inside .home-links li {
    width: 25% !important;
    min-height: 165px;
  }
  footer .col-md-4 {
    width: 50%;
    float: left;
  }
  footer .col-md-3 {
    width: 50%;
    float: left;
  }
  footer .col-md-2 {
    width: 50%;
    float: left;
  }
  footer h4 {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .ownmenu > li.showhide span.icon {
    padding: 0px;
    margin: 0px;
  }
  .rights {
    text-align: center;
  }
  .col-sm-6.text-right {
    margin-top: 20px;
    text-align: center !important;
  }
  .layout-13 .top-head .top-bar {
    display: inline-block;
    margin-bottom: -5px;
    width: 100%;
  }
  .ship-process li {
    margin-bottom: 20px;
  }
  .layout-13 .header-style-4 .cart-pop {
    top: 20px;
  }
  .layout-13 .big-nsv .nav li i {
    display: none;
  }
  .layout-13 .big-nsv .nav li a {
    min-height: inherit;
    padding: 10px 0;
  }
  .layout-13 .header-style-4 .go-right .call-mun {
    display: none;
  }
  .shop-listing {
    margin-bottom: 30px;
  }
  .layout-13 .top-head {
    position: relative;
  }
  .layout-13 .with-bg-wide {
    padding-top: 0px;
  }
  .layout-13 .header-style-4 .search-cate {
    width: 100%;
  }
  .top-bar {
    height: auto;
    text-align: center;
  }
  footer h4 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .slid-sec .col-md-9 {
    width: 100%;
  }
  .slid-sec .col-md-3 {
    width: 100%;
    float: left;
  }
  .nav-right {
    display: none;
  }
  .main-tabs-sec .nav li {
    width: 33.33333%;
  }
  .week-sale-bnr {
    float: left;
    width: 50%;
  }
  .slid-sec .like-bnr {
    float: left;
    width: 50%;
  }
  .item-col-5 .product {
    width: 33.333%;
  }
  .newslatter h3 {
    margin-bottom: 30px;
  }
  .clients-img li {
    margin: 20px 0;
    width: 33.3333%;
  }
  .shipping-info li {
    width: 50%;
  }
  .shipping-info li:nth-child(1) {
    border-bottom: 1px solid #eeeeee;
  }
  .shipping-info li:nth-child(2) {
    border-bottom: 1px solid #eeeeee;
    border-right: none;
  }
  .cart-pop {
    position: absolute;
    top: 0px;
    right: 15px;
  }
  header .ownmenu ul.dropdown {
    float: left;
  }
  header .navbar {
    margin: 0px;
    min-height: 0px;
    width: 100%;
  }
  .navbar-toggle {
    position: absolute;
    top: 6px;
    right: 15px;
    height: 42px;
    width: 42px;
    padding: 0px;
    margin: 0px;
    color: #000;
    background: #fff;
    border: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  .navbar-collapse {
    border: none !important;
    box-shadow: none;
    width: 100%;
    margin: 0px !important;
  }
  header .navbar li {
    width: 100%;
    text-align: left;
    margin: 0px;
  }
  .ownmenu .nav .dropdown-menu {
    width: 100%;
  }
  header nav .ownmenu .indicator {
    display: block;
  }
  header nav li a {
    display: inline-block;
    width: 100%;
    float: none;
  }
  .ownmenu > li.showhide span {
    line-height: 50px;
    display: inline-block;
    width: 100%;
  }
  .ownmenu > li.showhide {
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  .ownmenu > li.showhide span.title {
    margin: 0px;
  }
  .ownmenu > li > a {
    padding: 10px 0;
    text-align: left;
  }
  .ownmenu .indicator {
    display: block;
  }
  header .navbar .nav li a {
    padding: 10px 20px;
  }
  header .nav-right {
    position: absolute;
    right: 80px;
    border: none;
    top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  header .nav-right li a {
    padding: 0px;
  }
  header .nav-right li {
    width: auto;
  }
  header .user-basket .dropdown-menu {
    right: 0px !important;
    left: auto;
  }
  header .is-sticky .sticky .nav-right {
    padding: 0px;
    padding-right: 20px;
  }
  header .is-sticky .sticky .navbar-toggle {
    top: 10px;
  }
  header .is-sticky .sticky .navbar .nav li a {
    padding: 10px 20px;
  }
  .ownmenu .nav .dropdown-menu {
    position: relative;
  }
  header .navbar .nav li.dropdown a:after {
    content: "\e876";
    float: right;
    font-family: 'Linearicons-Free';
    color: #fff;
    font-size: 8px;
    margin: 0px;
    position: absolute;
    right: 30px;
    margin-top: 7px;
  }
  .ownmenu .dropdown.megamenu .dropdown-menu h6 {
    display: inline-block;
    width: 100%;
  }
  header .is-sticky .sticky {
    position: absolute !important;
  }
  .dropdown-submenu > .dropdown-menu {
    left: 0px;
    padding-left: 30px !important;
    background: rgba(255, 255, 255, 0.1) !important;
  }
  .dropdown-submenu > a:after {
    color: #fff !important;
  }
  header .search-cate {
    width: 100%;
    margin: 15px 0px;
  }
  .top-bar p {
    display: none;
  }
  .top-bar .social-top {
    display: none;
  }
  .cart-pop .dropdown-menu {
    right: 0px;
    left: auto;
  }
  header {
    padding-top: 20px;
  }
  header .search-cate {
    min-width: 100%;
  }
  .layout-2 .slid-sec .col-md-9 {
    width: 100%;
  }
  .layout-2 .slid-sec .col-md-3 {
    display: none;
  }
  .week-sale-bnr {
    padding: 20px;
    background-size: cover !important;
  }
  .item-col-4 .product {
    width: 100%;
  }
  header.header-style-3 .cate-lst {
    display: none;
  }
  header.header-style-3 .search-cate {
    min-width: 100%;
    margin: 10px 0px;
  }
  header.header-style-3 .nav-uder-bar {
    margin-top: 20px;
  }
  header.header-style-3 .navbar-toggle {
    background: #372e41;
    color: #fff;
  }
  header.header-style-3 .cart-pop {
    right: 60px;
  }
  header.header-style-3 .navbar .nav li.dropdown a:after {
    color: #000;
    right: 0px;
  }
  header.header-style-3 .ownmenu .nav .dropdown-menu {
    padding: 10px 0px;
  }
  header.header-style-3 .navbar {
    margin-left: 0px;
    width: 100%;
  }
  header.header-style-3 .ownmenu .nav .dropdown-menu {
    background: rgba(0, 0, 0, 0.05);
  }
  header .navbar .nav ul.dropdown-menu li a:after {
    display: none;
  }
  header.header-style-3 .navbar li a {
    padding: 10px 0;
  }
  .header-style-4 .go-right {
    width: 100%;
    margin-top: 20px;
  }
  .header-style-4 {
    padding: 20px 0;
  }
  .header-style-4 .cart-pop {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .header-style-4 .search-cate {
    float: right;
    width: 50%;
    margin: 0px;
  }
  .hotdeal-bnr {
    margin-bottom: 30px;
  }
  .header-style-4 .go-right {
    margin-top: 20px;
  }
  .weekly-deal .media-body {
    width: 100%;
    display: inline-block;
  }
  .top-bar .right-sec.pull-left {
    width: 100%;
    text-align: center;
  }
  .top-bar .right-sec {
    width: 100%;
    text-align: center;
  }
  .top-bar .right-sec ul {
    width: 100%;
  }
  .layout-4 .big-nsv .nav li {
    width: 33.33333%;
  }
  .green .navbar-toggle {
    background: #7a9b08;
    color: #fff;
  }
  .ownmenu .nav .dropdown-menu {
    background: #f5f5f5;
    box-shadow: none;
  }
  .header-style-5 .navbar .nav li.dropdown a:after {
    color: #000;
  }
  .header-style-5 .search-cate {
    margin: 10px 0px;
  }
  .header-style-5 .go-right {
    width: 100%;
  }
  .header-style-5 .go-right .call-mun {
    display: none;
  }
  .lay-5-links {
    background: #fff;
    min-height: auto;
    margin-bottom: 30px;
  }
  header .col-xs-2 {
    width: 50%;
  }
  header .col-xs-5 {
    width: 50%;
  }
  .layout-6 header nav {
    margin-top: 20px;
  }
  header .col-xs-5.seri {
    width: 100%;
    margin-bottom: 20px;
  }
  .layout-6 .slid-sec .col-md-3 {
    display: none;
  }
  .layout-6 .slid-sec .col-md-9 {
    width: 100%;
  }
  .layout-6 header nav {
    position: relative;
  }
  .layout-7 .slid-sec .col-md-9 {
    width: 100%;
  }
  .layout-7 .slid-sec .col-md-3 {
    width: 100%;
  }
  .layout-7 .item-col-3 .product {
    width: 50%;
  }
  .shipping-info li:nth-child(1) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .shipping-info li:nth-child(2) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .big-nsv .nav li {
    width: 50%;
  }
  .layout-8 .navbar-toggle {
    position: relative;
    top: 0px;
    margin-top: 5px;
  }
  .layout-8 header .navbar {
    min-height: 55px;
  }
  .layout-8 .nav-right {
    display: block;
    float: left;
    right: auto;
  }
  .layout-10 header {
    padding-bottom: 20px;
  }
  .layout-10 .hotdeal-bnr {
    min-height: inherit;
    padding-bottom: 80px;
  }
  .layout-10 .slid-sec {
    margin-bottom: 0px;
  }
  .layout-10 .foot-link {
    margin-bottom: 10px;
  }
  .big-bnr-add .btn-round {
    margin-bottom: 30px;
  }
  .clients-img.col-4 li {
    width: 50%;
  }
  .big-bnr-add .price {
    width: 100%;
  }
  .layout-11 .slid-sec .col-md-9 {
    width: 100%;
  }
  .layout-11 .slid-sec .col-md-3 {
    width: 100%;
  }
  .layout-11 .week-sale-bnr {
    margin-top: 0px;
  }
  .layout-11 .header-style-6 .search-cate {
    margin-bottom: 20px;
  }
  .layout-11 .header-style-6 nav {
    margin-top: 10px;
    position: relative;
    min-height: 55px;
    background: #ff4040;
  }
  .layout-11 header .nav-right {
    display: block;
    float: left;
    right: auto;
    margin-left: 15px;
  }
  .layout-11 .navbar-toggle {
    position: relative;
  }
  .header-style-6 .navbar li a {
    color: #fff;
  }
  .header-style-6 .navbar li a {
    color: #fff;
  }
  .header-style-6 .navbar li.active a {
    color: #fff !important;
  }
  .header-style-6 .ownmenu .nav .dropdown-menu li a {
    color: #000 !important;
  }
  .layout-11 .header-style-6 .call-mun {
    color: #fff;
  }
  .layout-12 .cate-bar-in {
    display: none;
  }
  .layout-12 .header-style-3 .nav-uder-bar {
    padding: 5px 10px;
    margin-top: 0px;
  }
  .layout-12 .slid-sec .col-md-7 {
    width: 100%;
  }
  .layout-12 .slid-sec .row {
    margin: 0 -15px;
  }
  .layout-12 .slid-sec .col-md-2 {
    width: 100%;
    padding-right: 0;
    padding-right: 0px;
    padding-left: 0px;
  }
  .layout-12 .slid-sec .like-bnr {
    min-height: inherit;
  }
  .layout-12 .slid-sec .product {
    width: 100%;
    padding-right: 0px;
    display: none;
    padding-left: 0px;
  }
  .top-week-item .nav {
    margin-bottom: 20px;
    width: 100%;
    margin-top: 30px;
  }
  .top-week-item .nav li a {
    padding-left: 0px;
    margin-right: 15px;
  }
  .layout-12 .like-bnr {
    margin-top: 60px;
  }
  .layout-14 .navbar-toggle {
    right: 30px;
  }
  .top-items li {
    width: 50%;
    float: left;
  }
  .layout-14 header.header-style-5 .navbar li.active .dropdown-menu a {
    color: #000 !important;
  }
  .layout-14 .header-style-5 .navbar .nav li.dropdown a:after {
    color: #fff;
  }
  .layout-15 .cate-bar-in.relative {
    display: none;
  }
  .layout-15 .slid-sec .col-md-7 {
    width: 100%;
  }
  .layout-15 .slid-sec .col-md-2 {
    width: 100%;
    padding: 0px;
  }
  .layout-15 .slid-sec .product {
    width: 100%;
  }
  .layout-15 .slid-sec .like-bnr {
    background-size: cover;
    width: 100%;
    min-height: inherit;
    background-size: contain;
    background-position: right bottom;
    margin-bottom: 30px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-bottom: 50px;
  }
  .slid-sec .like-bnr .price {
    width: 100%;
    display: inline-block;
  }
  .layout-15 .like-bnr.for-lay {
    min-height: inherit;
    background-size: contain;
    background-position: right bottom;
    margin-bottom: 30px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-bottom: 50px;
  }
  .layout-16 header nav {
    margin-top: 20px;
  }
  .layout-16 header .col-xs-5.seri {
    margin-bottom: 0px;
  }
  .cate-lst .collapse.in {
    display: none;
  }
  .cate-bar-in ul {
    background: #fff;
  }
  .layout-16 .nav-right {
    display: none;
  }
  .layout-16 header nav {
    margin-top: 20px;
  }
  .layout-16 .week-sale-bnr {
    float: none;
    width: 100%;
    background-size: cover;
  }
  .mega-inside .home-links li {
    width: 33.3333% !important;
    min-height: 151px;
  }
}
@media (max-width: 640px) {
  header .search-cate input {
    width: 54%;
  }
  header.header-style-3 .cart-pop .dropdown-menu {
    width: 100%;
  }
  header.header-style-3 .cart-pop .dropdown-menu {
    right: 0px;
  }
  header.header-style-3 .cart-pop {
    position: relative;
  }
  .tp-caption img {
    display: none !important;
  }
  .header-style-4 .search-cate {
    min-width: 100%;
    margin-top: 0px;
  }
  .header-style-4 .go-right .call-mun {
    display: none;
  }
  .clients-img li {
    margin: 10px 0;
    width: 50%;
  }
  .clients-img li img {
    max-width: 100%;
  }
  .main-tabs-sec .nav li {
    width: 50%;
  }
}
@media (max-width: 540px) {
  header .search-cate {
    display: none;
  }
  .layout-4 .big-nsv .nav li {
    width: 50%;
  }
  .top-items li {
    width: 100%;
  }
  .layout-14 .navbar-toggle {
    top: 26px;
  }
  .layout-11 .header-style-6 .search-cate {
    display: none;
  }
  header.header-style-3 .cart-pop {
    right: 0px;
  }
  header .navbar {
    margin-top: 20px;
  }
  .weekly-deal .item-img {
    width: 75%;
  }
  .weekly-deal .media-left {
    min-width: 100%;
    margin-right: 0px;
  }
  .top-bar {
    height: auto;
    text-align: center;
  }
  .slid-sec .like-bnr {
    width: 100%;
    background-size: cover;
  }
  .item-col-5 .product {
    width: 100%;
  }
  .week-sale-bnr {
    width: 100%;
    background-size: cover;
  }
  .layout-13 .header-style-4 .cart-pop {
    top: 0px;
  }
  .cart-pop .dropdown-menu {
    width: 100%;
    right: 0px;
  }
  header .col-xs-5.seri {
    display: none;
  }
  .shipping-info li {
    width: 100%;
  }
  .mega-inside .home-links li {
    width: 50% !important;
    min-height: 161px;
  }
}
@media (max-width: 440px) {
  header .logo {
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    float: none;
    height: 70px;
  }
  header .cart-pop {
    position: relative;
    right: 0px;
  }
  .mega-inside .home-links li {
    width: 50% !important;
    min-height: 112px;
  }
}
.box-condition {
  height: 250px;
}
.box-condition__in {
  height: 160px;
  overflow: scroll;
}
.btn-round {
  text-align: center !important;
}
@media (max-width: 700px) {
  .col-list .product article .col-sm-5 {
    min-height: 0 !important;
    padding: 38px 0;
  }
  .product a.tag {
    color: #0082c2;
  }
  .product article a.tittle {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0 !important;
    width: 100%;
  }
  .product article .item-img {
    margin-right: 0;
    height: 200px;
  }
  .product article .item-img img {
    max-height: 90%;
  }
  .product article span.tag {
    display: inline-block;
    margin: 0 !important;
    text-align: center;
    width: 100%;
  }
  .product article .media-left {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  .product article .media-body {
    display: block;
    width: auto;
  }
}
@media (max-width: 700px) and only screen and (max-width: 767px) {
  .product article a.tittle {
    height: auto;
  }
}
@media (max-width: 767px) {
  .featur-tabs .nav-tabs {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
  }
}
@media (max-width: 700px) {
  #featur .with-nav .owl-nav {
    top: -30px;
  }
  #featur .owl-carousel .owl-stage-outer {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .top-bar .right-sec ul {
    white-space: nowrap;
    overflow-x: scroll;
  }
}
#root-listing .button.button--show-filter {
  display: none !important;
}
@media only screen and (max-width: 767px) {
  #root-listing .product p {
    display: none !important;
  }
}
.product .image-wrapper {
  height: 190px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  padding: 10px;
}
.product .image-wrapper img {
  width: auto;
  margin: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
.product a.tittle {
  height: 63px;
  margin-bottom: 20px;
  overflow: hidden;
}
.product span.tag {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
form ul.row {
  padding: 0;
  margin: 0;
}
.login-sec .wrap-box__title {
  margin-bottom: 10px;
  margin-top: 0;
}
.login-sec .checkbox-primary {
  margin-bottom: 20px;
}
header .logo a img {
  max-height: 85px;
  height: auto;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .pull-right {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .product-detail .price {
    color: #0082c2;
    text-decoration: underline;
    font-weight: 900;
  }
}
@media only screen and (max-width: 767px) {
  .product-detail .table-detail tr {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin-bottom: 3px;
  }
  .product-detail .table-detail tr th,
  .product-detail .table-detail tr td {
    width: 100%;
    display: block;
  }
}
.product-detail .product .btn-round {
  width: auto;
}
.product .btn-round {
  width: 80%;
  margin: auto;
}
@-moz-document url-prefix() {
  .shopping-cart table {
    border-collapse: separate;
  }
}
@media (max-width: 767px) {
  .orderButtons .btn-round {
    width: 100%;
    margin-bottom: 15px;
  }
  .flex-control-nav.flex-control-thumbs {
    display: none !important;
  }
  .ship-process .col-sm-2 {
    display: none;
  }
  .ship-process .col-sm-2.current {
    display: block;
  }
  .ship-process .col-sm-2.current + .col-sm-2 {
    display: block;
    opacity: .4;
  }
  .shopping-cart table.table {
    display: flex;
    flex-direction: column;
  }
  .shopping-cart table.table thead {
    display: none;
  }
  .shopping-cart table.table tr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    flex-direction: column;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  .shopping-cart table.table td {
    border: none !important;
    display: block;
    padding: 5px !important;
  }
  .shopping-cart table.table td a {
    border: none !important;
    margin: 0 !important;
  }
  .shopping-cart table.table td img {
    border: none !important;
  }
  .shopping-cart table.table td .media-left {
    display: block;
    width: 100%;
    text-align: center;
  }
  .shopping-cart table.table td .media-body {
    text-align: center;
    display: block;
    width: 100%;
  }
}
.window-popup__actions__btn i {
  display: none !important;
}
.window-popup__actions_btn {
  padding: 5px 15px !important;
}
.btn--default {
  background: lightgrey;
  color: black;
}
.week-sale-bnr {
  background-size: cover;
}
.column-qty {
  vertical-align: middle !important;
}
.column-image a {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.column-image a img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
.orderButtons {
  padding: 30px 0;
}
.box-cookies {
  height: 60px !important;
}
ul.row {
  list-style-type: none !important;
}
a {
  color: #0082c2;
  font-weight: 700;
}
.cart-pop li a {
  color: black;
  font-weight: 100;
}
.form-error__icon {
  position: relative;
  bottom: 3px;
}
*:before,
*:after {
  font-weight: 900;
}
.summary-note-input {
  width: 100%;
  border: 1px solid lightgrey;
}
#js-order-form .form-line dt {
  display: none;
}
#js-order-form .form-line dd {
  margin-left: 0;
}
.list-products__item__in {
  padding: 15px;
  border: 1px solid lightgrey;
}
#add-product-modal .modal-header {
  border-bottom: 0;
}
.add-product-modal__buttons {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
  .add-product-modal__buttons {
    flex-direction: column;
  }
}
.add-product-modal__buttons .button {
  max-width: 45%;
  display: inline-block;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  outline: none;
}
@media only screen and (max-width: 767px) {
  .add-product-modal__buttons .button {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center;
  }
}
.add-product-modal__buttons .button--back-to-buying {
  border: 1px solid lightgrey;
  padding: 0 25px;
}
@media only screen and (max-width: 767px) {
  .add-product-modal__buttons .button--back-to-buying {
    margin-bottom: 12px;
  }
}
.add-product-modal__buttons .button--to-cart {
  margin-left: auto;
  background: #0082c2;
  color: white;
  padding: 0 25px;
}
#primary-image-carousel {
  height: 320px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner {
  height: 320px;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel .carousel-inner {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner .item {
  height: 320px;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel .carousel-inner .item {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner .item img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
#primary-image-carousel .primary-controls {
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
#primary-image-carousel .primary-controls a {
  height: 40px;
  width: 40px;
  display: flex;
  color: darkslategrey;
  background: rgba(255, 255, 255, 0.85);
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: .2s all linear;
  z-index: 100;
  font-size: 40px;
}
#primary-image-carousel .primary-controls a.left {
  left: 0;
}
#primary-image-carousel .primary-controls a.right {
  right: 0;
}
#thumbs-image-carousel {
  margin: 25px 0;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  #thumbs-image-carousel {
    display: none;
  }
}
#thumbs-image-carousel .controls-thumb a {
  height: 100px;
  width: 30px;
  display: flex;
  color: darkslategrey;
  background: lightgrey;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: .2s all linear;
  z-index: 100;
}
#thumbs-image-carousel .controls-thumb a:hover {
  background: grey;
}
#thumbs-image-carousel .controls-thumb a.left {
  top: 0;
  bottom: 0;
  left: 0;
}
#thumbs-image-carousel .controls-thumb a.right {
  right: 0;
  top: 0;
  bottom: 0;
}
#thumbs-image-carousel .controls-thumb a i {
  font-size: 25px;
}
#thumbs-image-carousel .carousel-inner .item {
  cursor: pointer;
  height: 100px;
  padding: 0 30px;
}
#thumbs-image-carousel .carousel-inner .item .item-image {
  height: 100px;
  width: 33%;
}
#thumbs-image-carousel .carousel-inner .item .item-image img {
  max-height: 100%;
  max-width: 100%;
}
#thumbs-image-carousel .carousel-inner .item.active,
#thumbs-image-carousel .carousel-inner .item.next,
#thumbs-image-carousel .carousel-inner .item.prev {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
}
#thumbs-image-carousel .carousel-inner .item.active .item-image,
#thumbs-image-carousel .carousel-inner .item.next .item-image,
#thumbs-image-carousel .carousel-inner .item.prev .item-image {
  height: 100px;
  width: 33%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 10px;
}
#thumbs-image-carousel .carousel-inner .item.active .item-image img,
#thumbs-image-carousel .carousel-inner .item.next .item-image img,
#thumbs-image-carousel .carousel-inner .item.prev .item-image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
.table-detail {
  table-layout: fixed;
}
