* {
  font-family: 'Ubuntu', sans-serif;
}
.mb30 {
  margin-bottom: 30px;
}
.mt30 {
  margin-top: 30px;
}
.button {
  display: inline-block;
  height: 50px;
  border: none;
  outline: none !important;
  border-radius: 25px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}
.button--blue {
  background: #5ABDEF;
  color: white;
}
.button--blue:hover {
  color: white;
}
.button--grey {
  background: lightgrey;
  color: black;
  float: left;
}
.button--quiet {
  border: none;
  background: white;
  color: darkslategrey;
  float: left;
  padding-left: 15px;
  position: relative;
  font-weight: 100;
}
.button--quiet:before {
  content: '\f104';
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 14px;
  color: black;
}
.box-cookies {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
header {
  background: white;
}
@media only screen and (max-width: 767px) {
  header {
    padding: 0 !important;
  }
}
header .header {
  position: relative;
}
header .header-cart {
  width: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  header .header-cart {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background: white;
    z-index: 100;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.88);
  }
}
header .header-cart__badge {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: auto;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  background: #5ABDEF;
  color: black;
  border-radius: 100%;
}
header .header-cart__icon {
  position: relative;
}
header .header-cart__icon i {
  font-size: 25px;
  color: black;
}
header .header-contact {
  display: flex;
  align-items: center;
}
header .header-contact i {
  color: #0082c2;
  padding: 0 15px;
  font-size: 30px;
}
@media only screen and (max-width: 767px) {
  header .header-contact i {
    padding-left: 0;
  }
}
header .header-contact div {
  color: black;
  font-weight: 100;
  font-size: 19px;
}
header .header-contact div:first-of-type {
  color: #0082c2;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
header .header-search {
  height: 40px;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid #5ABDEF;
  border-radius: 18px;
}
header .header-search button {
  border-radius: 15px;
  position: absolute;
  right: -1px;
  bottom: 0;
  top: 0;
  background: #5ABDEF;
  outline: none;
  margin: auto;
  width: 80px;
  border: none;
  height: 40px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
header .header-search input {
  width: 100%;
  outline: none;
  height: 38px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 0 15px;
  color: grey;
  border: none;
}
header .header-logo {
  height: 85px;
  position: relative;
  display: flex;
  align-items: center;
}
header .header-logo a {
  height: 85px;
  display: flex;
  align-items: center;
}
header .header-logo img {
  max-height: 100%;
  height: auto;
  width: auto;
  align-self: center;
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  header .header-logo img {
    height: 40px;
  }
}
header .header-navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
header .header-navbar ul li {
  display: inline-block;
}
header .header-navbar ul li a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
}
header .header-navbar--top {
  text-align: right;
  padding: 4px 0;
  border-bottom: 1px solid lightgrey;
}
header .header-navbar--top ul li {
  position: relative;
  white-space: nowrap;
}
header .header-navbar--top ul li:before {
  content: '';
  height: 60%;
  width: 1px;
  background: #bde1f5;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .header-navbar--top ul li:first-child:before {
  display: none;
}
header .header-navbar--top ul li:last-child a {
  padding-right: 0;
}
header .header-navbar--top ul li a {
  padding: 3px 15px;
  font-size: 11px;
  color: grey;
  font-weight: 600;
  text-decoration: none;
}
header .header-navbar--top ul li a:hover {
  color: #0082c2;
  text-decoration: underline;
}
header .header-navbar--middle {
  height: 105px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  header .header-navbar--middle {
    height: 60px;
    text-align: center;
    margin-top: 15px;
    justify-content: center;
  }
}
header .header-navbar--middle.flex-end {
  justify-content: flex-end;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  header .header-navbar--middle.flex-end {
    height: 0;
  }
}
header .header-navbar--bottom {
  background: white;
  padding: 15px 0 0 0;
  border-bottom: 1px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  header .header-navbar--bottom {
    display: none;
  }
}
header .header-navbar--bottom ul {
  list-style-type: none;
}
header .header-navbar--bottom ul li:first-child a {
  padding-left: 0;
}
header .header-navbar--bottom ul li a {
  color: black;
  font-weight: 700;
  font-size: 12px;
  padding: 0 10px;
}
header .header-navbar--bottom ul li a:hover {
  text-decoration: none;
  color: #0694db;
}
header .header-navbar .categories-menu {
  position: absolute;
  left: 15px;
  top: 50px;
  background: white;
  z-index: 150;
  padding: 0 8px 0 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
}
header .header-navbar .categories-menu li {
  width: 100%;
  position: relative;
  display: block;
  border-bottom: 1px solid lightgrey;
  white-space: nowrap;
}
header .header-navbar .categories-menu li i {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  display: inline-block;
  line-height: 40px;
}
header .header-navbar .categories-menu li:last-child {
  border: none;
}
header .header-navbar .categories-menu li:hover a {
  color: #5ABDEF;
  font-weight: 700;
}
header .header-navbar .categories-menu li:hover a + ul a {
  font-weight: 100;
}
header .header-navbar .categories-menu li:hover a + ul a:hover {
  font-weight: 700;
}
header .header-navbar .categories-menu li:hover a + ul {
  display: block;
}
header .header-navbar .categories-menu li:hover a + ul li a {
  background: white;
  color: black;
}
header .header-navbar .categories-menu li:hover a + ul li a:hover {
  color: #0694db;
}
header .header-navbar .categories-menu li a {
  display: inline-block;
  padding: 8px 15px !important;
  width: 100%;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
  position: relative;
}
header .header-navbar .categories-menu li a + ul {
  position: absolute;
  left: 100%;
  top: -1px;
  margin: auto;
  background: white;
  display: none;
  z-index: 1100;
  padding: 5px 8px 8px 8px;
  border-top: 2px solid #5ABDEF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
header .header-navbar .categories-menu li a + ul li {
  display: block;
  white-space: nowrap;
}
.category-banner .categories h3 {
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 10%;
  border-bottom: 2px solid #0694db;
}
.category-banner .categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 5px 0 #c6c6c6;
}
.category-banner .categories ul li {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10%;
  position: relative;
}
.category-banner .categories ul li:first-child:before {
  display: none;
}
.category-banner .categories ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 100;
  color: darkslategrey;
}
.category-banner .categories ul li:before {
  content: '';
  width: 80%;
  height: 1px;
  background: #ddd;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
#homepage-slider {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
}
#homepage-slider .item {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
#homepage-slider .item img {
  height: auto;
  width: 100%;
}
#homepage-slider .item:hover {
  text-decoration: none;
}
#homepage-slider .carousel-indicators li {
  height: 9px;
  background: #bde1f5;
  margin: 0;
  border: none;
  width: 9px;
  transition: .3s all linear;
}
#homepage-slider .carousel-indicators li.active {
  background: #0694db;
  margin: 0;
  width: 30px;
}
.best-of-week__title {
  border-bottom: 1px solid #bde1f5;
}
.best-of-week h2 {
  margin-top: 30px;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 200;
  display: inline-block;
  border-bottom: 1px solid #0694db;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.newsletter {
  background: #5ABDEF;
  height: 60px;
  display: flex;
  margin: 50px 0 0 0;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .newsletter {
    height: auto;
    padding: 15px 0;
    margin-top: 5px;
  }
}
.newsletter img {
  width: 100%;
  max-height: 110px;
  margin-top: auto;
  position: relative;
  bottom: 20px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .newsletter img {
    display: none !important;
  }
}
.newsletter h4 {
  display: flex;
  height: 60px;
  align-items: center;
  color: white;
  margin: 0;
  padding-left: 0;
}
.newsletter-input {
  height: 60px;
  display: flex;
  align-items: center;
}
.newsletter-input input {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 0 15px;
  color: darkslategrey;
}
.newsletter-input button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
}
.newsletter-input button:hover {
  color: white;
  background: #0082c2;
}
.products-grid {
  display: flex;
  position: relative;
  padding: 40px 0;
  flex-wrap: wrap;
}
.product-item {
  width: 25%;
  position: relative;
  padding: 15px;
  height: 400px;
  cursor: pointer;
  display: block;
}
@media only screen and (max-width: 767px) {
  .product-item {
    width: 100%;
    height: 370px;
  }
}
@media only screen and (min-width: 768px and max-width: 991px) {
  .product-item {
    width: 50%;
  }
}
.product-item:hover .product-item__show-detail {
  opacity: 1;
  text-decoration: underline;
}
.product-item:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.product-item:hover:after {
  display: none;
}
.product-item:first-of-type:after {
  display: none;
}
.product-item:nth-of-type(4n+1):after {
  display: none;
}
.product-item:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80%;
  width: 1px;
  background: #bde1f5;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .product-item:after {
    width: 0;
  }
}
.product-item__price {
  margin: 15px 0 5px;
  color: indianred;
  font-size: 19px;
  font-weight: 500;
  height: 30px;
  overflow: hidden;
}
.product-item__name:hover {
  text-decoration: none;
}
.product-item__name span.brand {
  display: block;
  color: #6b7a83;
  font-size: 12px;
  margin-bottom: 5px;
  text-decoration: none;
  height: 20px;
  overflow: hidden;
}
.product-item__name span.name {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
  height: 40px;
  overflow: hidden;
}
.product-item__show-detail {
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  display: block;
  opacity: 0;
}
@media only screen and (max-width: 767px) {
  .product-item__show-detail {
    display: none !important;
  }
}
.product-item__show-detail:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 80%;
  background: #bde1f5;
  height: 1px;
}
.product-item__button {
  text-align: right;
}
.product-item__button button {
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: #bde1f5;
  color: #6b7a83;
}
.product-item__button button:hover {
  background: #0694db;
  color: white;
}
.product-item__image {
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product-item__image img {
  max-height: 100%;
  max-width: 100%;
  align-self: center;
}
footer {
  padding: 60px 0;
  background: #6b7a83;
  color: white;
}
footer ul {
  list-style-type: none;
}
footer ul li a {
  display: inline-block;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 0;
}
footer ul li a:hover {
  color: white;
}
footer .footer__contact {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px and max-width: 991px) {
  footer .footer__contact {
    width: 50%;
    flex-wrap: nowrap;
  }
}
footer .footer__contact-icon {
  font-size: 40px;
  color: #5ABDEF;
  padding-right: 20px;
}
footer .footer__contact-address {
  border-top: 1px solid #bde1f5;
  margin-top: 30px;
}
footer .footer__contact-address h4 {
  font-weight: 100;
  font-size: 14px;
}
footer .footer__contact-address div {
  font-weight: 700;
}
footer .footer__contact-data h4 {
  font-weight: 100;
  font-size: 14px;
}
footer .footer__contact-data div {
  font-weight: 400;
  font-size: 22px;
}
footer .footer__logo {
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  footer .footer__logo {
    text-align: center;
  }
}
@media only screen and (min-width: 768px and max-width: 991px) {
  footer .footer__logo {
    width: 50%;
  }
}
footer .footer__logo img {
  max-width: 80%;
  max-height: 100%;
}
.shipping-info {
  padding: 20px 0;
  background: #6b7a83;
  margin: 0 0 40px 0;
}
.shipping-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .shipping-info ul {
    flex-wrap: nowrap;
    overflow-y: auto;
  }
}
.shipping-info ul li {
  width: 25%;
  display: inline-block;
  color: white;
}
@media only screen and (max-width: 767px) {
  .shipping-info ul li {
    width: 50%;
    padding: 0 15px;
  }
}
.shipping-info ul li h5 {
  font-weight: 700;
}
.shipping-info ul li .media-left {
  vertical-align: middle;
}
.shipping-info ul li .media-left i {
  font-size: 45px;
}
.shipping-info ul li .media-body {
  width: auto;
}
.featured {
  background: #F8F8F8;
  padding: 30px 0 80px 0;
  margin-bottom: -50px;
}
.featured .product-item {
  background: white;
  margin-right: 5px;
  width: calc(25% - 20px);
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .featured .product-item {
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px and max-width: 991px) {
  .featured .product-item {
    width: calc(50% - 6px);
    margin-right: 3px;
  }
}
.featured .product-item:after {
  display: none;
}
.featured .nav.nav-tabs {
  border-bottom: 1px solid #bde1f5;
  text-align: center;
}
.featured .nav.nav-tabs li {
  float: none;
  display: inline-block;
}
.featured .nav.nav-tabs li a {
  font-weight: 400;
  font-size: 16px;
  color: #6b7a83;
}
.featured .nav.nav-tabs li a:hover {
  border: none;
  background: transparent;
}
.featured .nav.nav-tabs li.active a {
  border: none;
  border-bottom: 2px solid #5ABDEF;
  background: transparent;
  position: relative;
  font-weight: 700;
}
.featured .nav.nav-tabs li.active a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #5ABDEF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  margin: auto;
}
.product-item__button button {
  margin-right: 20px;
}
.button--all-categories {
  height: 50px;
  background: #5ABDEF;
  color: white;
  border-radius: 15px;
  border: none;
  margin: 0;
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  padding: 0 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  top: 1px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .button--all-categories {
    position: fixed;
    z-index: 80;
    bottom: 0;
    left: 0;
    right: 0;
    top: inherit;
    border-radius: 0;
  }
}
.button--all-categories + .categories-menu {
  display: none;
}
.button--all-categories.categories-open + .categories-menu {
  display: block;
}
@media only screen and (max-width: 767px) {
  .button--all-categories.categories-open + .categories-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 48px;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    z-index: 60;
  }
}
.button--all-categories i {
  padding-right: 15px;
}
.product-detail {
  padding: 60px 0;
}
@media only screen and (max-width: 767px) {
  .product-detail {
    padding: 0;
  }
}
.product-detail__description {
  margin: 20px 0 -50px 0;
  padding: 40px 0;
  background: #F9F9F9;
}
.product-detail__description .featured {
  padding: 15px;
  background: white;
  margin: 0;
}
.product-detail__description .featured .tab-pane {
  padding: 30px 15px;
}
.product-detail__add-to-cart button {
  margin: 25px 0;
  width: 100%;
  height: 50px;
  background: #0694db;
  color: white;
  border-radius: 25px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
}
.product-detail__add-to-cart button:hover {
  background: #0082c2;
}
.product-detail__add-to-cart button i {
  font-size: 16px;
  margin-right: 10px;
}
.product-detail__thumbnails {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .product-detail__thumbnails {
    overflow-x: scroll;
    height: 90px;
    margin-top: 10px;
    flex-direction: column;
  }
}
.product-detail__thumbnails-item {
  width: calc(25% - 10px);
  height: 80px;
  cursor: pointer;
  border: 1px solid lightgrey;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}
.product-detail__thumbnails-item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.product-detail__thumbnails-item.active:after {
  opacity: 1;
}
.product-detail__thumbnails-item:after {
  transition: .15s all linear;
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background: #5ABDEF;
}
.product-detail__thumbnails-item:hover:after {
  opacity: 1;
}
.product-detail__image--primary {
  padding: 15px;
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.product-detail__image--primary img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .product-detail__info {
    margin-top: 15px;
  }
}
.product-detail__info h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #6b7a83;
  font-weight: 100;
}
.product-detail__info h1 {
  font-weight: 400;
  font-size: 24px;
}
.product-detail__info ul {
  padding: 0;
  margin: 0 0 0 15px;
}
.product-detail__info ul li {
  color: #6b7a83;
}
.product-detail__cart {
  padding: 15px;
  background: white;
  border: 2px solid #ddd;
  border-radius: 15px;
}
@media only screen and (max-width: 767px) {
  .product-detail__cart {
    margin-top: 15px;
  }
}
.product-detail__cart ul {
  margin: 0 !important;
  padding: 0 !important;
}
.product-detail__cart-stock {
  padding: 8px 0;
  border-bottom: 1px solid lightgrey;
  color: #6b7a83;
}
.product-detail__cart-stock span {
  color: #5ABDEF;
  font-weight: 700;
}
.product-detail__cart-price {
  font-weight: 400;
  font-size: 32px;
  padding: 20px 0;
}
.product-detail__button-qty {
  position: absolute;
  width: 25px;
  top: 10px;
  height: 25px;
  border-radius: 100%;
  border: none;
  text-align: center;
  outline: none;
  line-height: 25px;
  font-weight: 700;
}
.product-detail__button-qty--up {
  right: 35px;
}
.product-detail__button-qty--down {
  right: 5px;
}
.product-detail__quantity {
  font-size: 13px;
}
.product-detail__quantity-input {
  padding: 5px 0;
  position: relative;
}
.product-detail__quantity-input input {
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  height: 35px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
}
#login-modal button.close {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  outline: none;
  background: #5ABDEF;
  z-index: 1000;
  opacity: 1;
  font-size: 28px;
  font-weight: 100;
}
#login-modal .modal-dialog {
  width: 350px;
  max-width: 100%;
}
#login-modal .modal-title {
  text-align: center;
  font-size: 25px;
  font-weight: 100;
}
#login-modal .modal-header {
  border-bottom: 0;
}
#login-modal .modal-body {
  padding: 0 25px 25px 25px;
}
#login-modal .modal-body div {
  position: relative;
}
#login-modal .modal-body div.login-footer {
  padding: 25px 0 0 0;
  text-align: center;
  position: relative;
}
#login-modal .modal-body div.login-footer:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  height: 1px;
  background: lightgrey;
}
#login-modal .modal-body div.login-footer a {
  display: inline-block;
  text-decoration: none;
  color: #6b7a83;
  margin: 15px 0 0 0;
}
#login-modal .modal-body div .button--login {
  background: #5ABDEF;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
  font-weight: 100;
}
#login-modal .modal-body div label {
  display: block;
  margin: 15px 0 5px;
  font-weight: 100;
}
#login-modal .modal-body div input[type="text"],
#login-modal .modal-body div input[type="password"] {
  height: 40px;
  width: 100%;
  outline: none;
  padding: 0 10px;
  border-radius: 15px;
  border: 1px solid lightgrey;
}
#login-modal .modal-body div input[type="checkbox"] {
  display: none;
}
#login-modal .modal-body div input[type="checkbox"]:checked + label:after {
  color: white;
  background: #6b7a83;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
#login-modal .modal-body div input[type="checkbox"] + label {
  display: inline-block;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}
#login-modal .modal-body div input[type="checkbox"] + label:after {
  content: '';
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  height: 20px;
  width: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
html {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
.shopping-cart .not-products {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 450px;
}
.shopping-cart .not-products h1 {
  text-align: center;
}
.shopping-cart .not-products p {
  text-align: center;
}
.blog-post {
  padding: 80px 0;
}
.header--articles {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: auto;
  height: 50px;
}
.cart__preview-table {
  width: 100%;
}
.cart__preview-table tr {
  border-bottom: 1px solid lightgrey;
}
.cart__preview-table tr.subtotal td:last-child {
  font-weight: 700;
}
.cart__preview-table tr:last-child {
  border-bottom: 0;
}
.cart__preview-table td {
  padding: 12px 0;
}
.cart__preview-table td:nth-child(2) {
  font-weight: 700;
  padding: 0 8px;
}
@media only screen and (max-width: 767px) {
  .cart__preview-table td:nth-child(2) {
    font-weight: 100;
    padding: 6px;
    font-size: 12px;
  }
}
.cart__preview-table tbody {
  border-bottom: 2px solid lightgrey;
}
.cart__preview-table--image {
  width: 60px;
  height: 60px;
  display: flex;
  padding: 12px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: white;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.cart__preview-table--image img {
  max-width: 100%;
  max-height: 100%;
}
.cart__preview-table--info {
  border: 1px solid lightgrey;
  table-layout: auto;
  border-collapse: collapse;
}
.cart__preview-table--info td {
  padding: 15px;
  white-space: nowrap;
}
.cart__preview-table--info td:first-child {
  color: grey;
}
.cart__preview-table--info td:last-child {
  width: 100%;
  text-align: right;
  font-weight: 700;
}
.cart__preview-table--info tbody {
  border-bottom: 0;
}
.cart__form {
  margin: 40px 0;
}
.cart__form h3 {
  margin-bottom: 30px;
}
.cart__form-item {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
.cart__form-item .in-message {
  position: absolute;
  right: 15px;
  top: 0;
  font-weight: 700;
  color: red;
  text-transform: uppercase;
}
.cart__form-item .in-message ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cart__form-item.checkboxes {
  border-radius: 15px;
  border: 1px solid lightgrey;
}
.cart__form-item.checkboxes .checkboxes-item {
  position: relative;
  border-bottom: 1px solid lightgrey;
}
.cart__form-item.checkboxes .checkboxes-item:last-of-type {
  border-bottom: 0;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"] {
  display: none;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"]:checked + label:before {
  background: grey;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"]:checked + label:after {
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background: white;
  position: absolute;
  left: 18.5px;
  top: 17px;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"] + label {
  display: inline-block;
  width: 100%;
  padding-left: 60px;
  position: relative;
  height: 40px;
  line-height: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"] + label span {
  position: absolute;
  right: 15px;
  font-weight: 700;
  font-size: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.cart__form-item.checkboxes .checkboxes-item input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 7.5px;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid lightgrey;
}
.cart__form-item.w50 {
  width: 46%;
  margin: 10px 2%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__form-item.w50 {
    width: 100%;
    margin: 8px 0;
  }
}
.cart__form-item.w50:nth-of-type(odd) {
  margin-left: 0;
}
.cart__form-item.w50:nth-of-type(even) {
  margin-right: 0;
  width: 48%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__form-item.w50:nth-of-type(even) {
    width: 100%;
  }
}
.cart__form-item label {
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 12px;
  font-weight: 100;
}
.cart__form-item select {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  padding: 30px 15px 4px 15px;
}
.cart__form-item input {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  padding: 30px 15px 4px 10px;
}
.cart__form-item input[type='checkbox'] {
  display: none;
}
.cart__form-item input[type='checkbox'] + label {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  margin-left: -15px;
}
.cart__form-item input[type='checkbox'] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 20px;
  font-weight: 900;
  width: 20px;
  border: 1px solid lightgrey;
}
.cart__form-item input[type='checkbox']:checked + label:before {
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  line-height: 20px;
  text-align: center;
}
.cart__wrapper {
  height: 100%;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__wrapper {
    flex-direction: column;
    overflow-y: auto;
  }
}
.cart__wrapper textarea {
  width: 100%;
  border: 1px solid lightgrey;
  outline: none;
  padding: 30px 15px 15px 15px;
}
.cart__wrapper .alert ul {
  list-style-type: none;
}
.cart__wrapper .genius-offer {
  padding: 15px;
  margin-right: 5px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 15px;
  background: royalblue;
  font-weight: 700;
  color: white;
}
.cart__wrapper .genius-offer p {
  margin: 0;
}
.cart__left,
.cart__right {
  height: 100%;
  padding: 40px 80px;
}
.cart__left {
  width: 60%;
  border-right: 1px solid lightgrey;
  overflow-y: auto;
  padding-left: 15%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__left {
    width: 100%;
    padding: 15px;
    height: auto;
    overflow-y: visible;
  }
}
.cart__left-logo img {
  height: 40px;
}
.cart__right {
  background: #FAFAFA;
  width: 40%;
  padding-right: 10%;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__right {
    width: 100%;
    padding: 15px;
    height: auto;
  }
}
.cart__summary-table {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table {
    display: flex;
  }
}
.cart__summary-table input {
  width: 60px;
  text-align: center;
  border-radius: 0;
  border: 1px solid lightgrey;
}
.cart__summary-table th {
  padding: 15px 0;
  text-align: center;
}
.cart__summary-table th:nth-child(2) {
  text-align: center;
}
.cart__summary-table th:last-child {
  text-align: right;
}
.cart__summary-table thead {
  border-bottom: 2px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table thead {
    display: none;
  }
}
.cart__summary-table tbody {
  border-bottom: 2px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody {
    width: 100%;
  }
}
.cart__summary-table tbody tr {
  border-bottom: 1px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody tr {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
}
.cart__summary-table tbody tr:last-child {
  border-bottom: 0;
}
.cart__summary-table tbody td {
  padding: 15px 0;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody td {
    width: 100% ;
  }
}
.cart__summary-table tbody td:last-child {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody td:last-child {
    text-align: center;
  }
}
.cart__summary-table tbody td:first-child {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .cart__summary-table tbody td:first-child {
    order: 8;
  }
}
.cart__summary-table tbody td:first-child button {
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  color: grey;
}
.cart__summary-table td:first-child {
  padding: 0 40px;
}
.cart__summary-table td img {
  height: 100px;
  width: auto;
}
.cart__buttons-row {
  text-align: right;
  margin: 30px 0;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .cart__buttons-row .button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .cart__buttons-row .button--lblue {
    background: lightgrey;
  }
  .cart__buttons-row .button--quiet {
    background: #eeeeee;
    opacity: .85;
  }
  .cart__buttons-row .button--quiet:before {
    left: 25px !important;
  }
}
.cart__summary-subtotal {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  margin: 40px 0;
}
.cart__summary-subtotal span {
  font-weight: 100;
}
.cart__breadcrumb {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
.cart__breadcrumb li {
  display: inline-block;
  position: relative;
  padding: 0 15px;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px), only screen and (min-width: 992px and max-width: 1199px) {
  .cart__breadcrumb li {
    display: none;
  }
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px), only screen and (min-width: 992px and max-width: 1199px) {
  .cart__breadcrumb li.active {
    display: inline-block;
  }
  .cart__breadcrumb li.active:after {
    display: none;
  }
}
.cart__breadcrumb li.active a {
  font-weight: 900;
  font-size: 14px;
}
.cart__breadcrumb li:after {
  content: '\f105';
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  position: absolute;
  right: -5px;
  font-weight: 900;
  top: 1px;
  font-size: 15px;
  bottom: 0;
  color: grey;
  margin: auto;
}
.cart__breadcrumb li:last-child:after {
  display: none;
}
.cart__breadcrumb li:first-child {
  padding-left: 0;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px), only screen and (min-width: 992px and max-width: 1199px) {
  .cart__breadcrumb li:first-child {
    display: inline-block;
  }
}
.cart__breadcrumb li a {
  color: grey;
  text-decoration: none;
  font-size: 11px;
  font-weight: 100;
}
.fa {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.search-result h1 {
  text-align: center;
  font-weight: 700;
  color: grey;
  font-size: 40px;
  margin: 40px 0;
}
.search-breadcrumb a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid lightgrey;
  color: grey;
  text-decoration: none;
  border-radius: 15px;
  margin: 5px;
}
.search-breadcrumb a:first-of-type {
  margin-left: 0;
}
.search-breadcrumb a.active {
  border-color: darkslategrey;
  color: darkslategrey;
}
@media only screen and (max-width: 767px) {
  #add-product-modal .modal-dialog {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 767px) {
  #add-product-modal {
    padding: 15px 15px 80px 15px;
  }
}
@media only screen and (max-width: 767px) {
  #add-product-modal .button {
    width: 100%;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
  }
}
#add-product-modal .button--to-cart {
  float: right;
  background: #0082c2;
  color: white;
}
#add-product-modal button.close {
  position: absolute;
  right: -10px;
  top: -10px;
  opacity: 1;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #0082c2;
  color: white;
  font-size: 26px;
  border-radius: 100%;
}
#add-product-modal .modal-header {
  border: none;
}
#add-product-modal .modal-body {
  padding: 80px 15px;
}
#add-product-modal .add-product-modal__content {
  padding: 15px 0;
}
#add-product-modal .add-product-modal__content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.row {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.row > li {
  padding: 0;
  margin: 0;
}
.user-panel {
  padding: 40px 0;
}
.user-panel label {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}
.user-panel input[type="text"],
.user-panel input[type="email"],
.user-panel input[type="password"] {
  border: 1px solid lightgrey;
  border-radius: 25px;
  outline: none;
  height: 40px;
  line-height: 40px;
  width: 80%;
  padding: 0 15px;
  margin-bottom: 15px;
}
.user-panel input[type="checkbox"] + label {
  width: auto;
}
.user-panel h2 {
  color: black;
  font-weight: 100;
  font-size: 22px;
  position: relative;
  margin: 0 0 25px 0;
  padding: 15px 0;
}
.user-panel h2:after,
.user-panel h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  display: block;
  background: lightgrey;
}
.user-panel h2:before {
  height: 2px;
  width: 50%;
  background: #3498db;
  z-index: 10;
}
.user-panel__wrapper {
  display: flex;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .user-panel__wrapper {
    flex-direction: column;
  }
}
.user-panel__wrapper-left,
.user-panel__wrapper-right {
  padding: 25px;
}
.user-panel__wrapper-left {
  width: 50%;
  padding-left: 0;
  position: relative;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .user-panel__wrapper-left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
.user-panel__wrapper-left:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 80%;
  margin: auto;
  width: 1px;
  background: lightgrey;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .user-panel__wrapper-left:after {
    display: none;
  }
}
.user-panel__wrapper-right {
  width: 50%;
  padding-right: 0;
}
@media only screen and (max-width: 767px), only screen and (min-width: 768px and max-width: 991px) {
  .user-panel__wrapper-right {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 700px) {
  .col-list .product article .col-sm-5 {
    min-height: 0 !important;
    padding: 57px 0;
  }
  .product a.tag {
    color: #0082c2;
  }
  .product p {
    text-align: center;
    padding: 5px;
    font-weight: 100;
    font-size: 12px;
  }
  .product article a.tittle {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0 !important;
    width: 100%;
  }
  .product article .item-img {
    margin-right: 0;
    height: 200px;
  }
  .product article .item-img img {
    max-height: 90%;
  }
  .product article span.tag {
    display: inline-block;
    margin: 0 !important;
    text-align: center;
    width: 100%;
  }
  .product article .media-left {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  .product article .media-body {
    display: block;
    width: auto;
  }
}
@media (max-width: 700px) and only screen and (max-width: 767px) {
  .product article a.tittle {
    height: auto;
  }
}
.button.button--show-filter {
  display: none !important;
}
.table-detail {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .table-detail tbody tr {
    display: flex;
    flex-direction: column;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    width: 100%;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 767px) {
  .table-detail tbody tr td {
    word-break: break-all;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .table-detail tbody tr th {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
#primary-image-carousel {
  height: 320px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner {
  height: 320px;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel .carousel-inner {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner .item {
  height: 320px;
}
@media only screen and (max-width: 767px) {
  #primary-image-carousel .carousel-inner .item {
    height: 200px;
  }
}
#primary-image-carousel .carousel-inner .item img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
#primary-image-carousel .primary-controls {
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
#primary-image-carousel .primary-controls a {
  height: 40px;
  width: 40px;
  display: flex;
  color: darkslategrey;
  background: rgba(255, 255, 255, 0.85);
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: .2s all linear;
  z-index: 100;
  font-size: 40px;
}
#primary-image-carousel .primary-controls a.left {
  left: 0;
}
#primary-image-carousel .primary-controls a.right {
  right: 0;
}
#thumbs-image-carousel {
  margin: 25px 0;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
@media only screen and (max-width: 767px) {
  #thumbs-image-carousel {
    display: none;
  }
}
#thumbs-image-carousel .controls-thumb a {
  height: 100px;
  width: 30px;
  display: flex;
  color: darkslategrey;
  background: lightgrey;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: .2s all linear;
  z-index: 100;
  text-decoration: none;
}
#thumbs-image-carousel .controls-thumb a:hover {
  background: grey;
  text-decoration: none;
}
#thumbs-image-carousel .controls-thumb a.left {
  top: 0;
  bottom: 0;
  left: 0;
}
#thumbs-image-carousel .controls-thumb a.right {
  right: 0;
  top: 0;
  bottom: 0;
}
#thumbs-image-carousel .controls-thumb a i {
  font-size: 25px;
}
#thumbs-image-carousel .carousel-inner .item {
  cursor: pointer;
  height: 100px;
  padding: 0 30px;
}
#thumbs-image-carousel .carousel-inner .item .item-image {
  height: 100px;
  width: 33%;
}
#thumbs-image-carousel .carousel-inner .item .item-image img {
  max-height: 100%;
  max-width: 100%;
}
#thumbs-image-carousel .carousel-inner .item.active,
#thumbs-image-carousel .carousel-inner .item.next,
#thumbs-image-carousel .carousel-inner .item.prev {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100px;
}
#thumbs-image-carousel .carousel-inner .item.active .item-image,
#thumbs-image-carousel .carousel-inner .item.next .item-image,
#thumbs-image-carousel .carousel-inner .item.prev .item-image {
  height: 100px;
  width: 33%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 10px;
}
#thumbs-image-carousel .carousel-inner .item.active .item-image img,
#thumbs-image-carousel .carousel-inner .item.next .item-image img,
#thumbs-image-carousel .carousel-inner .item.prev .item-image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
@media only screen and (max-width: 767px) {
  .product-item {
    height: 365px;
  }
}
@media only screen and (max-width: 767px) {
  .product-item__price {
    margin-top: 0;
  }
}
