@import 'variables';

* {
  font-family: 'Ubuntu', sans-serif;
}

.mb30 {
  margin-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

.button {
  display: inline-block;
  height: 50px;
  border: none;
  outline: none !important;
  border-radius: 25px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &--blue {
    background: #5ABDEF;
    color: white;

    &:hover {
      color: white;
    }
  }

  &--grey {
    background: lightgrey;
    color: black;
    float: left;
  }

  &--quiet {
    border: none;
    background: white;
    color: darkslategrey;
    float: left;
    padding-left: 15px;
    position: relative;
    font-weight: 100;

    &:before {
      content: '\f104';
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 14px;
      color: black;
    }
  }

}

.box-cookies {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

header {
  background: white;

  @media @xs {
    padding: 0 !important;
  }

  .header {
    position: relative;

    &-cart {
      width: 80px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      position: relative;

      @media @xs, @sm {
        position: fixed;
        right: 15px;
        bottom: 15px;
        background: white;
        z-index: 100;
        box-shadow: 0 0 3px rgba(0, 0, 0, .88);
      }

      &__badge {
        position: absolute;
        right: 5px;
        top: 5px;
        margin: auto;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        background: #5ABDEF;
        color: black;
        border-radius: 100%;
      }

      &__icon {
        position: relative;

        i {
          font-size: 25px;
          color: black;
        }
      }
    }

    &-contact {
      display: flex;
      align-items: center;

      i {
        color: #0082c2;
        padding: 0 15px;
        font-size: 30px;

        @media @xs {
          padding-left: 0;
        }
      }

      div {
        color: black;
        font-weight: 100;
        font-size: 19px;

        &:first-of-type {
          color: #0082c2;
          font-weight: 700;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }

    &-search {
      height: 40px;
      align-items: center;
      position: relative;
      display: flex;
      width: 100%;
      border: 1px solid #5ABDEF;
      border-radius: 18px;

      button {
        border-radius: 15px;
        position: absolute;
        right: -1px;
        bottom: 0;
        top: 0;
        background: #5ABDEF;
        outline: none;
        margin: auto;
        width: 80px;
        border: none;
        height: 40px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      input {
        width: 100%;
        outline: none;
        height: 38px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 0 15px;
        color: grey;
        border: none;
      }
    }

    &-logo {
      height: 85px;
      position: relative;
      display: flex;
      align-items: center;

      a {
        height: 85px;
        display: flex;
        align-items: center;
      }

      img {
        max-height: 100%;
        height: auto;
        width: auto;
        align-self: center;
        max-width: 100%;

        @media @xs {
          height: 40px;
        }
      }
    }
  }

  .header-navbar {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        display: inline-block;

        a {
          display: inline-block;
          color: white;
          text-transform: uppercase;
        }
      }
    }
    &--top {
      text-align: right;
      padding: 4px 0;
      border-bottom: 1px solid lightgrey;

      ul {
        li {
          position: relative;
          white-space: nowrap;

          &:before {
            content: '';
            height: 60%;
            width: 1px;
            background: #bde1f5;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          &:first-child {
            &:before {
              display: none;
            }
          }
          &:last-child {
            a {
              padding-right: 0;
            }
          }
          a {
            padding: 3px 15px;
            font-size: 11px;
            color: grey;
            font-weight: 600;
            text-decoration: none;

            &:hover {
              color: #0082c2;
              text-decoration: underline;
            }
          }
        }
      }
    }
    &--middle {
      height: 105px;
      display: flex;
      align-items: center;

      @media @xs, @sm {
        height: 60px;
        text-align: center;
        margin-top: 15px;
        justify-content: center;
      }

      &.flex-end {
        justify-content: flex-end;

        @media @xs, @sm {
          height: 0;
        }
      }
    }

    &--bottom {
      background: white;
      padding: 15px 0 0 0;
      border-bottom: 1px solid lightgrey;

      @media @xs {
        display: none;
      }

      ul {
        list-style-type: none;

        li {

          &:first-child {
            a {
              padding-left: 0;
            }
          }
          a {
            color: black;
            font-weight: 700;
            font-size: 12px;
            padding: 0 10px;

            &:hover {
              text-decoration: none;
              color: #0694db;
            }
          }
        }
      }
    }

    .categories-menu {
      position: absolute;
      left: 15px;
      top: 50px;
      background: white;
      z-index: 150;
      padding: 0 8px 0 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);

      li {
        width: 100%;
        position: relative;
        display: block;
        border-bottom: 1px solid lightgrey;
        white-space: nowrap;

        i {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 15px;
          display: inline-block;
          line-height: 40px;
        }

        &:last-child {
          border: none;
        }

        &:hover {
          a {
            color: #5ABDEF;
            font-weight: 700;

            & + ul {
              a {
                font-weight: 100;

                &:hover {
                  font-weight: 700;
                }
              }
            }
          }
          a + ul {
            display: block;

            li {
              a {
                background: white;
                color: black;

                &:hover {
                  color: #0694db;
                }
              }
            }
          }
        }

        a {
          display: inline-block;
          padding: 8px 15px !important;
          width: 100%;
          font-weight: 400;
          text-transform: capitalize;
          font-size: 14px;
          position: relative;

          & + ul {
            position: absolute;
            left: 100%;
            top: -1px;
            margin: auto;
            background: white;
            display: none;
            z-index: 1100;
            padding: 5px 8px 8px 8px;
            border-top: 2px solid #5ABDEF;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            li {
              display: block;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

.category-banner {
  .categories {
    h3 {
      height: 40px;
      font-size: 14px;
      display: flex;
      align-items: center;
      font-weight: 700;
      margin: 0;
      padding: 0 0 0 10%;
      border-bottom: 2px solid #0694db;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      box-shadow: 0 0 5px 0 #c6c6c6;

      li {
        display: flex;
        align-items: center;
        height: 40px;
        padding-left: 10%;
        position: relative;

        &:first-child {
          &:before {
            display: none;
          }
        }

        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          font-weight: 100;
          color: darkslategrey;
        }

        &:before {
          content: '';
          width: 80%;
          height: 1px;
          background: #ddd;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          margin: auto;
        }
      }
    }
  }
}

#homepage-slider {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);

  .item {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

    img {
      height: auto;
      width: 100%;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .carousel-indicators {

    li {
      height: 9px;
      background: #bde1f5;
      margin: 0;
      border: none;
      width: 9px;
      transition: .3s all linear;

      &.active {
        background: #0694db;
        margin: 0;
        width: 30px;
      }
    }
  }
}

.best-of-week {
  &__title {
    border-bottom: 1px solid #bde1f5;
  }
  h2 {
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 200;
    display: inline-block;
    border-bottom: 1px solid #0694db;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
}

.newsletter {
  background: #5ABDEF;
  height: 60px;
  display: flex;
  margin: 50px 0 0 0;

  @media @xs, @sm {
    height: auto;
    padding: 15px 0;
    margin-top: 5px;
  }

  img {
    width: 100%;
    max-height: 110px;
    margin-top: auto;
    position: relative;
    bottom: 20px;

    @media @xs, @sm {
      display: none !important;
    }
  }

  h4 {
    display: flex;
    height: 60px;
    align-items: center;
    color: white;
    margin: 0;
    padding-left: 0;
  }

  &-input {
    height: 60px;
    display: flex;
    align-items: center;

    input {
      height: 40px;
      width: 100%;
      border-radius: 30px;
      border: none;
      outline: none;
      padding: 0 15px;
      color: darkslategrey;
    }

    button {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: none;
      outline: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      margin: auto;

      &:hover {
        color: white;
        background: #0082c2;
      }
    }
  }
}

.products-grid {
  display: flex;
  position: relative;
  padding: 40px 0;
  flex-wrap: wrap;
}

.product-item {
  width: 25%;
  position: relative;
  padding: 15px;
  height: 400px;
  cursor: pointer;
  display: block;

  @media @xs {
    width: 100%;
    height: 370px;
  }

  @media @sm {
    width: 50%;
  }

  &:hover {
    .product-item__show-detail {
      opacity: 1;
      text-decoration: underline;
    }
  }

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);

    &:after {
      display: none;
    }
  }

  &:first-of-type {
    &:after {
      display: none;
    }
  }

  &:nth-of-type(4n+1) {
    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: 1px;
    background: #bde1f5;

    @media @xs, @sm {
      width: 0;
    }
  }

  &__price {
    margin: 15px 0 5px;
    color: indianred;
    font-size: 19px;
    font-weight: 500;
    height: 30px;
    overflow: hidden;
  }
  &__name {
    &:hover {
      text-decoration: none;
    }
    span {
      &.brand {
        display: block;
        color: #6b7a83;
        font-size: 12px;
        margin-bottom: 5px;
        text-decoration: none;
        height: 20px;
        overflow: hidden;
      }
      &.name {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 20px;
        height: 40px;
        overflow: hidden;
      }
    }
  }
  &__show-detail {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    display: block;
    opacity: 0;

    @media @xs {
      display: none !important;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      width: 80%;
      background: #bde1f5;
      height: 1px;
    }
  }
  &__button {
    text-align: right;

    button {
      border: none;
      outline: none;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      background: #bde1f5;
      color: #6b7a83;

      &:hover {
        background: #0694db;
        color: white;
      }
    }
  }
  &__image {
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 100%;
      align-self: center;
    }
  }
}

footer {
  padding: 60px 0;
  background: #6b7a83;
  color: white;

  ul {
    list-style-type: none;

    li {
      a {
        display: inline-block;
        color: white;
        font-weight: 400;
        font-size: 16px;
        padding: 8px 0;

        &:hover {
          color: white;
        }
      }
    }
  }

  .footer {
    &__contact {
      display: flex;
      align-items: center;

      @media @sm {
        width: 50%;
        flex-wrap: nowrap;
      }

      &-icon {
        font-size: 40px;
        color: #5ABDEF;
        padding-right: 20px;
      }
      &-address {
        border-top: 1px solid #bde1f5;
        margin-top: 30px;
        h4 {
          font-weight: 100;
          font-size: 14px;
        }
        div {
          font-weight: 700;
        }
      }
      &-data {
        h4 {
          font-weight: 100;
          font-size: 14px;
        }

        div {
          font-weight: 400;
          font-size: 22px;
        }
      }
    }

    &__logo {
      margin-bottom: 15px;

      @media @xs {
        text-align: center;
      }

      @media @sm {
        width: 50%;
      }

      img {
        max-width: 80%;
        max-height: 100%;
      }
    }
  }
}

.shipping-info {
  padding: 20px 0;
  background: #6b7a83;
  margin: 0 0 40px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    @media @xs {
      flex-wrap: nowrap;
      overflow-y: auto;
    }

    li {
      width: 25%;
      display: inline-block;
      color: white;

      @media @xs {
        width: 50%;
        padding: 0 15px;
      }

      h5 {
        font-weight: 700;
      }

      .media-left {
        vertical-align: middle;

        i {
          font-size: 45px;
        }
      }

      .media-body {
        width: auto;
      }
    }
  }
}

.featured {
  background: #F8F8F8;
  padding: 30px 0 80px 0;
  margin-bottom: -50px;

  .product-item {
    background: white;
    margin-right: 5px;
    width: ~"calc(25% - 20px)";
    margin-bottom: 10px;

    @media @xs {
      width: 100%;
      margin-right: 0;
    }

    @media @sm {
      width: ~"calc(50% - 6px)";
      margin-right: 3px;
    }

    &:after {
      display: none;
    }
  }

  .nav {
    &.nav-tabs {
      border-bottom: 1px solid #bde1f5;
      text-align: center;

      li {
        float: none;
        display: inline-block;
        a {
          font-weight: 400;
          font-size: 16px;
          color: #6b7a83;

          &:hover {
            border: none;
            background: transparent;
          }
        }
        &.active {
          a {
            border: none;
            border-bottom: 2px solid #5ABDEF;
            background: transparent;
            position: relative;
            font-weight: 700;

            &:after {
              content: '';
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 8px solid #5ABDEF;
              position: absolute;
              left: 0;
              right: 0;
              bottom: -8px;
              margin: auto;
            }
          }
        }
      }
    }
  }
}

.product-item__button button {
  margin-right: 20px;
}

.button {
  &--all-categories {
    height: 50px;
    background: #5ABDEF;
    color: white;
    border-radius: 15px;
    border: none;
    margin: 0;
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    outline: none;
    padding: 0 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    top: 1px;

    @media @xs, @sm {
      position: fixed;
      z-index: 80;
      bottom: 0;
      left: 0;
      right: 0;
      top: inherit;
      border-radius: 0;
    }

    & + .categories-menu {
      display: none;
    }

    &.categories-open + .categories-menu {
      display: block;

      @media @xs {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 48px;
        overflow-y: auto;
        overflow-x: hidden;
        background: white;
        z-index: 60;
      }
    }

    i {
      padding-right: 15px;
    }
  }
}

.product-detail {
  padding: 60px 0;

  @media @xs {
    padding: 0;
  }

  &__description {
    margin: 20px 0 -50px 0;
    padding: 40px 0;
    background: #F9F9F9;

    .featured {
      padding: 15px;
      background: white;
      margin: 0;

      .tab-pane {
        padding: 30px 15px;
      }
    }
  }

  &__add-to-cart {
    button {
      margin: 25px 0;
      width: 100%;
      height: 50px;
      background: #0694db;
      color: white;
      border-radius: 25px;
      border: none;
      outline: none;
      font-weight: 700;
      font-size: 16px;

      &:hover {
        background: #0082c2;
      }

      i {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }

  &__thumbnails {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    @media @xs {
      overflow-x: scroll;
      height: 90px;
      margin-top: 10px;
      flex-direction: column;
    }

    &-item {
      width: ~"calc(25% - 10px)";
      height: 80px;
      cursor: pointer;
      border: 1px solid lightgrey;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin: 5px;
      box-sizing: border-box;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }

      &.active {
        &:after {
          opacity: 1;
        }
      }

      &:after {
        transition: .15s all linear;
        opacity: 0;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background: #5ABDEF;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__image {

    &--primary {
      padding: 15px;
      display: flex;
      height: 250px;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  &__info {
    @media @xs {
      margin-top: 15px;
    }

    h4 {
      font-size: 14px;
      margin: 0;
      padding: 0;
      color: #6b7a83;
      font-weight: 100;
    }

    h1 {
      font-weight: 400;
      font-size: 24px;
    }

    ul {
      padding: 0;
      margin: 0 0 0 15px;

      li {
        color: #6b7a83;
      }
    }
  }

  &__cart {
    padding: 15px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 15px;

    @media @xs {
      margin-top: 15px;
    }

    ul {
      margin: 0 !important;
      padding: 0 !important;
    }

    &-stock {
      padding: 8px 0;
      border-bottom: 1px solid lightgrey;
      color: #6b7a83;

      span {
        color: #5ABDEF;
        font-weight: 700;
      }
    }

    &-price {
      font-weight: 400;
      font-size: 32px;
      padding: 20px 0;
    }
  }

  &__button-qty {
    position: absolute;
    width: 25px;
    top: 10px;
    height: 25px;
    border-radius: 100%;
    border: none;
    text-align: center;
    outline: none;
    line-height: 25px;
    font-weight: 700;

    &--up {
      right: 35px;
    }

    &--down {
      right: 5px;
    }
  }

  &__quantity {
    font-size: 13px;

    &-input {
      padding: 5px 0;
      position: relative;

      input {
        border: 1px solid #c6c6c6;
        border-radius: 15px;
        height: 35px;
        width: 100%;
        padding: 0 15px;
        font-size: 16px;
      }
    }
  }
}

#login-modal {
  button {
    &.close {
      position: absolute;
      right: -20px;
      top: -20px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: none;
      outline: none;
      background: #5ABDEF;
      z-index: 1000;
      opacity: 1;
      font-size: 28px;
      font-weight: 100;
    }
  }
  .modal-dialog {
    width: 350px;
    max-width: 100%;
  }

  .modal-title {
    text-align: center;
    font-size: 25px;
    font-weight: 100;
  }

  .modal-header {
    border-bottom: 0;
  }

  .modal-body {
    padding: 0 25px 25px 25px;
    div {
      position: relative;

      &.login-footer {
        padding: 25px 0 0 0;
        text-align: center;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          width: 80%;
          margin: auto;
          height: 1px;
          background: lightgrey;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #6b7a83;
          margin: 15px 0 0 0;
        }
      }

      .button {
        &--login {
          background: #5ABDEF;
          color: white;
          margin-top: 20px;
          border: none;
          border-radius: 15px;
          font-size: 18px;
          outline: none;
          font-weight: 100;
        }
      }

      label {
        display: block;
        margin: 15px 0 5px;
        font-weight: 100;
      }

      input[type="text"], input[type="password"] {
        height: 40px;
        width: 100%;
        outline: none;
        padding: 0 10px;
        border-radius: 15px;
        border: 1px solid lightgrey;
      }

      input[type="checkbox"] {
        display: none;

        &:checked {
          & + label {
            &:after {
              color: white;
              background: #6b7a83;
              content: "\f00c";
              font-family: "Font Awesome 5 Free";
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
            }
          }
        }

        & + label {
          display: inline-block;
          padding-left: 35px;
          position: relative;
          cursor: pointer;

          &:after {
            content: '';
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            height: 20px;
            width: 20px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
  }
}

html {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.shopping-cart {
  .not-products {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 450px;

    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.blog-post {
  padding: 80px 0;
}

.header--articles {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: auto;
  height: 50px;
}

.cart {
  &__preview-table {
    width: 100%;

    tr {
      border-bottom: 1px solid lightgrey;

      &.subtotal {
        td {
          &:last-child {
            font-weight: 700;
          }
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    td {
      padding: 12px 0;
      &:nth-child(2) {
        font-weight: 700;
        padding: 0 8px;

        @media @xs {
          font-weight: 100;
          padding: 6px;
          font-size: 12px;
        }
      }
    }

    tbody {
      border-bottom: 2px solid lightgrey;
    }

    &--image {
      width: 60px;
      height: 60px;
      display: flex;
      padding: 12px;
      border: 1px solid lightgrey;
      border-radius: 10px;
      background: white;
      align-items: center;
      justify-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &--info {
      border: 1px solid lightgrey;
      table-layout: auto;
      border-collapse: collapse;

      td {
        padding: 15px;
        white-space: nowrap;
        &:first-child {
          color: grey;
        }

        &:last-child {
          width: 100%;
          text-align: right;
          font-weight: 700;
        }
      }
      tbody {
        border-bottom: 0;
      }
    }
  }

  &__form {
    margin: 40px 0;

    h3 {
      margin-bottom: 30px;
    }

    &-item {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 10px 0;

      .in-message {
        position: absolute;
        right: 15px;
        top: 0;
        font-weight: 700;
        color: red;
        text-transform: uppercase;

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
        }
      }

      &.checkboxes {
        border-radius: 15px;
        border: 1px solid lightgrey;

        .checkboxes-item {
          position: relative;
          border-bottom: 1px solid lightgrey;

          &:last-of-type {
            border-bottom: 0;
          }

          input[type="radio"] {
            display: none;

            &:checked {
              & + label {
                &:before {
                  background: grey;
                }

                &:after {
                  content: '';
                  height: 7px;
                  width: 7px;
                  border-radius: 100%;
                  background: white;
                  position: absolute;
                  left: 18.5px;
                  top: 17px;

                }
              }
            }

            & + label {
              display: inline-block;
              width: 100%;
              padding-left: 60px;
              position: relative;
              height: 40px;
              line-height: 40px;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;

              span {
                position: absolute;
                right: 15px;
                font-weight: 700;
                font-size: 14px;
                top: 0;
                bottom: 0;
                margin: auto;
              }

              &:before {
                content: '';
                position: absolute;
                left: 10px;
                top: 7.5px;
                bottom: 0;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                border: 1px solid lightgrey;
              }
            }
          }
        }
      }

      &.w50 {
        width: 46%;
        margin: 10px 2%;

        @media @xs, @sm {
          width: 100%;
          margin: 8px 0;
        }

        &:nth-of-type(odd) {
          margin-left: 0;
        }

        &:nth-of-type(even) {
          margin-right: 0;
          width: 48%;

          @media @xs, @sm {
            width: 100%;
          }
        }
      }

      label {
        position: absolute;
        left: 15px;
        top: 5px;
        font-size: 12px;
        font-weight: 100;
      }

      select {
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-weight: 700;
        outline: none;
        padding: 30px 15px 4px 15px;
      }

      input {
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-weight: 700;
        outline: none;
        padding: 30px 15px 4px 10px;
      }

      input[type='checkbox'] {
        display: none;

        & + label {
          display: inline-block;
          padding-left: 30px;
          position: relative;
          margin-left: -15px;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 20px;
            font-weight: 900;
            width: 20px;
            border: 1px solid lightgrey;
          }
        }

        &:checked {
          & + label {
            &:before {
              font-family: "Font Awesome 5 Free";
              content: '\f00c';
              line-height: 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  &__wrapper {
    height: 100%;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background: white;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    @media @xs, @sm {
      flex-direction: column;
      overflow-y: auto;
    }

    textarea {
      width: 100%;
      border: 1px solid lightgrey;
      outline: none;
      padding: 30px 15px 15px 15px;
    }

    .alert {
      ul {
        list-style-type: none;
      }
    }

    .genius-offer {
      padding: 15px;
      margin-right: 5px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
      margin-top: 15px;
      background: royalblue;
      font-weight: 700;
      color: white;

      p {
        margin: 0;
      }
    }
  }

  &__left, &__right {
    height: 100%;
    padding: 40px 80px;
  }

  &__left {
    width: 60%;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
    padding-left: 15%;

    @media @xs, @sm {
      width: 100%;
      padding: 15px;
      height: auto;
      overflow-y: visible;
    }

    &-logo {
      img {
        height: 40px;

      }
    }
  }

  &__right {
    background: #FAFAFA;
    width: 40%;
    padding-right: 10%;

    @media @xs, @sm {
      width: 100%;
      padding: 15px;
      height: auto;
    }
  }

  &__summary-table {
    width: 100%;

    @media @xs {
      display: flex;
    }

    input {
      width: 60px;
      text-align: center;
      border-radius: 0;
      border: 1px solid lightgrey;
    }

    th {
      padding: 15px 0;
      text-align: center;

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child {
        text-align: right;
      }
    }

    thead {
      border-bottom: 2px solid lightgrey;

      @media @xs {
        display: none;
      }
    }

    tbody {
      border-bottom: 2px solid lightgrey;

      @media @xs {
        width: 100%;
      }

      tr {
        border-bottom: 1px solid lightgrey;

        @media @xs {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-bottom: 15px;
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      td {
        padding: 15px 0;
        text-align: center;

        @media @xs {
          width: 100% ;
        }

        &:last-child {
          text-align: right;

          @media @xs {
            text-align: center;
          }
        }

        &:first-child {
          text-align: center;

          @media @xs {
            order: 8;
          }

          button {
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            color: grey;
          }
        }
      }
    }

    td {

      &:first-child {
        padding: 0 40px;
      }

      &:nth-child(2) {

      }

      img {
        height: 100px;
        width: auto;
      }
    }

  }

  &__buttons-row {
    text-align: right;
    margin: 30px 0;

    @media @xs, @sm {
      .button {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;

        &--lblue {
          background: lightgrey;
        }

        &--quiet {
          background: #eeeeee;
          opacity: .85;

          &:before {
            left: 25px !important;
          }
        }
      }
    }
  }

  &__summary-subtotal {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    margin: 40px 0;

    span {
      font-weight: 100;
    }
  }

  &__breadcrumb {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
      padding: 0 15px;

      @media @xs, @sm, @md {
        display: none;
      }

      &.active {

        @media @xs, @sm, @md {
          display: inline-block;

          &:after {
            display: none;
          }
        }
        a {
          font-weight: 900;
          font-size: 14px;
        }
      }

      &:after {
        content: '\f105';
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        position: absolute;
        right: -5px;
        font-weight: 900;
        top: 1px;
        font-size: 15px;
        bottom: 0;
        color: grey;
        margin: auto;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:first-child {
        padding-left: 0;

        @media @xs, @sm, @md {
          display: inline-block;
        }
      }

      a {
        color: grey;
        text-decoration: none;
        font-size: 11px;
        font-weight: 100;
      }
    }
  }
}

.fa {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.search-result {
  h1 {
    text-align: center;
    font-weight: 700;
    color: grey;
    font-size: 40px;
    margin: 40px 0;
  }
}

.search-breadcrumb {
  a {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid lightgrey;
    color: grey;
    text-decoration: none;
    border-radius: 15px;
    margin: 5px;

    &:first-of-type {
      margin-left: 0;
    }

    &.active {
      border-color: darkslategrey;
      color: darkslategrey;
    }
  }
}

#add-product-modal {

  @media @xs {
    .modal-dialog {
      margin-top: 15px;
    }
  }

  @media @xs {
    padding: 15px 15px 80px 15px;
  }

  .button {
    @media @xs {
      width: 100%;
      text-decoration: none;
      margin-bottom: 10px;
      text-align: center;
    }

    &--to-cart {
      float: right;
      background: #0082c2;
      color: white;
    }
  }

  button {
    &.close {
      position: absolute;
      right: -10px;
      top: -10px;
      opacity: 1;
      width: 40px;
      height: 40px;
      text-align: center;
      background: #0082c2;
      color: white;
      font-size: 26px;
      border-radius: 100%;
    }
  }

  .modal-header {
    border: none;
  }

  .modal-body {
    padding: 80px 15px;
  }

  .add-product-modal__content {
    padding: 15px 0;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

ul {
  &.row {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li {
      padding: 0;
      margin: 0;
    }
  }
}

.user-panel {
  padding: 40px 0;

  label {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    border: 1px solid lightgrey;
    border-radius: 25px;
    outline: none;
    height: 40px;
    line-height: 40px;
    width: 80%;
    padding: 0 15px;
    margin-bottom: 15px;
  }

  input[type="checkbox"] {
    & + label {
      width: auto;
    }
  }

  h2 {
    color: black;
    font-weight: 100;
    font-size: 22px;
    position: relative;
    margin: 0 0 25px 0;
    padding: 15px 0;

    &:after, &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      display: block;
      background: lightgrey;
    }

    &:before {
      height: 2px;
      width: 50%;
      background: #3498db;
      z-index: 10;
    }
  }

  &__wrapper {
    display: flex;
    @media @xs, @sm {
      flex-direction: column;
    }

    &-left, &-right {
      padding: 25px;
    }

    &-left {
      width: 50%;
      padding-left: 0;
      position: relative;

      @media @xs, @sm {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 80%;
        margin: auto;
        width: 1px;
        background: lightgrey;

        @media @xs, @sm {
          display: none;
        }
      }
    }

    &-right {
      width: 50%;
      padding-right: 0;

      @media @xs, @sm {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 700px) {
  .col-list .product article .col-sm-5 {
    min-height: 0 !important;
    padding: 57px 0;
  }

  .product {
    a.tag {
      color: #0082c2;
    }

    p {
      text-align: center;
      padding: 5px;
      font-weight: 100;
      font-size: 12px;
    }

    article {
      a.tittle {
        display: inline-block;
        text-align: center;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0 !important;
        width: 100%;

        @media @xs {
          height: auto;
        }
      }

      .item-img {
        margin-right: 0;
        height: 200px;

        img {
          max-height: 90%;
        }
      }

      span {
        &.tag {
          display: inline-block;
          margin: 0 !important;
          text-align: center;
          width: 100%;
        }
      }
      .media {
        &-left {
          display: flex;
          justify-content: center;
          padding-right: 0;
        }
        &-body {
          display: block;
          width: auto;
        }
      }
    }
  }
}

.button.button--show-filter {
  display: none !important;
}

.table-detail {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  margin: 20px 0;

  tbody {
    tr {
      @media @xs {
        display: flex;
        flex-direction: column;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        width: 100%;
        flex-shrink: 0;
      }
      td {
        @media @xs {
          word-break: break-all;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
      }
      th {
        @media @xs {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

#primary-image-carousel {
  height: 320px;
  position: relative;

  @media @xs {
    height: 200px;
  }

  .carousel-inner {
    height: 320px;

    @media @xs {
      height: 200px;
    }

    .item {
      height: 320px;

      @media @xs {
        height: 200px;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }

  .primary-controls {
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;

    a {
      height: 40px;
      width: 40px;
      display: flex;
      color: darkslategrey;
      background: rgba(255, 255, 255, .85);
      align-items: center;
      justify-content: center;
      position: absolute;
      transition: .2s all linear;
      z-index: 100;
      font-size: 40px;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
  }
}

#thumbs-image-carousel {
  margin: 25px 0;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;

  @media @xs {
    display: none;
  }

  .controls-thumb {
    a {
      height: 100px;
      width: 30px;
      display: flex;
      color: darkslategrey;
      background: lightgrey;
      align-items: center;
      justify-content: center;
      position: absolute;
      transition: .2s all linear;
      z-index: 100;
      text-decoration: none;

      &:hover {
        background: grey;
        text-decoration: none;
      }

      &.left {
        top: 0;
        bottom: 0;
        left: 0;
      }

      &.right {
        right: 0;
        top: 0;
        bottom: 0;
      }

      i {
        font-size: 25px;
      }
    }
  }

  .carousel-inner {
    .item {
      cursor: pointer;
      height: 100px;
      padding: 0 30px;

      .item-image {
        height: 100px;
        width: 33%;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

      &.active, &.next, &.prev {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100px;

        .item-image {
          height: 100px;
          width: 33%;
          display: flex;
          justify-content: center;
          text-align: center;
          position: relative;
          padding: 10px;

          img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            align-self: center;
          }
        }
      }
    }
  }
}

.product-item {
  @media @xs {
    height: 365px;
  }
  &__price {
    @media @xs {
      margin-top: 0;
    }
  }
}