@xs: ~"only screen and (max-width: 767px)";
@sm: ~"only screen and (min-width: 768px and max-width: 991px)";
@md: ~"only screen and (min-width: 992px and max-width: 1199px)";
@lg: ~"only screen and (min-width: 1200px)";