{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Bestsellers'|trans }}{% endblock %}
{% block h1 %}{{ 'Bestsellers'|trans }}{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}

    {% macro categoryTreeItem(categoryDetails, selectedDomainId, bestsellingProductsInCategories) %}
        <ul class="js-category-tree-items form-tree__content">
            {% for categoryDetail in categoryDetails %}
                <li class="js-category-tree-item form-tree__item" id="js-category-tree-{{ categoryDetail.category.id }}">
                    <div class="js-category-tree-item-line">
                        <span class="js-category-tree-item-handle">
                            <span class="form-tree__item__icon form-tree__item__icon--level sprite sprite-level"></span>
                            <a
                                href="{{ url('admin_bestsellingproduct_detail', {categoryId: categoryDetail.category.id, domainId: selectedDomainId}) }}"
                                class="form-tree__item__name form-tree__item__name--link"
                            >
                                {{ categoryDetail.category.name }}
                            </a>
                            ({{ bestsellingProductsInCategories[categoryDetail.category.id] }})
                        </span>
                    </div>
                    {{ _self.categoryTreeItem(categoryDetail.children, selectedDomainId, bestsellingProductsInCategories) }}
                </li>
            {% endfor %}
        </ul>
    {% endmacro %}

    <div class="form-line">
        <div class="form-tree form-tree--open">
            {{ _self.categoryTreeItem(categoryDetails, selectedDomainId, bestsellingProductsInCategories) }}
        </div>
    </div>

{% endblock %}