{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_names %}
    {%- for i in 0..row.d.level if i > 0 -%}
        &nbsp;&nbsp;&nbsp;&nbsp;
    {%- endfor -%}
    {{ value }}
{% endblock %}

{% block grid_no_data %}
    {{ 'No categories found. You have to create some first.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
    {% set entityName = 'category'|trans %}
    {{ parent() }}
{% endblock %}