{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Login'|trans }}
{% endblock %}

{% block main_content %}
    <div class="container login-sec">
        <div class="row">
            <div class="col-md-6">

                {{ form_errors(form) }}

                {{ form_start(form, {attr: {'multipleForm': true}}) }}

                <h5>{{ 'Login'|trans }}</h5>

                {{ form_row(form.email, {label: 'E-mail'|trans} ) }}

                {{ form_row(form.password, {label: 'Password'|trans} ) }}

                <dl>
                    <dd>
                        <label class="form-choice">
                    <span class="form-choice__input">
                        {{ form_widget(form.rememberMe) }}
                    </span>
                            <span class="form-choice__label">
                        {{ 'Remember my login'|trans }}
                                <i class="svg svg-info in-icon in-icon--info js-tooltip"
                                   data-toggle="tooltip"
                                   data-placement="right"
                                   title="{{ 'We will remember your login on this computer for 30 days.'|trans }}"
                                ></i>
                    </span>
                        </label>
                    </dd>
                </dl>

                <dl>
                    <dd>
                        {{ form_row(form.login, {label: 'Log in'|trans}) }}
                    </dd>
                </dl>
                <dl>
                    <dd>
                        <a href="{{ url('front_registration_reset_password') }}">{{ 'Forgot your password?'|trans }}</a>
                    </dd>
                </dl>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}