{% extends '@ShopsysShop/Admin/Content/Article/detail.html.twig' %}

{% block title %}- {{ 'New article'|trans }}{% endblock %}
{% block h1 %}{{ 'New article'|trans }}{% endblock %}

{% block article_placement %}
    {{ form_row(form.placement, { label: 'Location'|trans }) }}
{% endblock %}

{% block article_urls %}
    {% do form.urls.setRendered %}
{% endblock %}