{{ form_start(form, {attr: {class: 'js-add-product', 'data-ajax-url': url('front_cart_add_product_ajax'), 'multipleForm': true}}) }}
<div class="product-detail__cart__quantity">
    <div class="product-qty-label">
        Quantity

        <div class="product-detail__quantity-input">
            <button onclick="event.preventDefault()" class="product-detail__button-qty product-detail__button-qty--up">
                +
            </button>
            <button onclick="event.preventDefault()" class="product-detail__button-qty product-detail__button-qty--down">
                -
            </button>
            {{ form_widget(form.quantity) }}
        </div>
    </div>
</div>

<div class="product-detail__add-to-cart">
    {{ form_widget(form.add, {label: 'Add to cart'|trans, icon: 'fa fa-shopping-cart'}) }}
</div>
{{ form_end(form) }}
