{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Pricing groups'|trans }}{% endblock %}
{% block h1 %}{{ 'Pricing groups'|trans }}{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}

    {{ render(controller('ShopsysShopBundle:Admin/PricingGroup:settings')) }}

    {{ gridView.render() }}
{% endblock %}