{{ form_start(form) }}
    <div class="wrap-border form-group">
        <div class="form-group__title">
            {{ 'Settings'|trans }}
        </div>
        {{ form_row(form.defaultPricingGroup, { 'label': 'Default pricing group'|trans }) }}
    </div>

    {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
        {% block fixed_bar_content %}
            {{ form_widget(form.save, { label: 'Save changes'|trans}) }}
        {% endblock %}
    {% endembed %}
{{ form_end(form) }}