{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}
    - {{ 'Shippings and payments'|trans }}
{% endblock %}

{% block h1 %}
    {{ 'Shippings and payments'|trans }}
{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Transport:list')) }}
    {{ render(controller('ShopsysShopBundle:Admin/Payment:list')) }}

    {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
        {% block fixed_bar_content %}
            <button class="js-drag-and-drop-grid-submit-all btn btn--disabled" type="button">{{ 'Save changes in order'|trans }}</button>
        {% endblock %}
    {% endembed %}
{% endblock %}