{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% set domain = getDomain() %}
{% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}
{% set descriptionHeadline = 'Product information'|trans %}
{% set parametersHeadline = 'Technical parameters'|trans %}
{% set accessoriesHeadline = 'Accessories'|trans %}
{% block meta_description %}
    {{- productDomain.seoMetaDescription|default(getSeoMetaDescription()) -}}
{% endblock %}

{% block title %}
    {{- productDomain.getSeoTitleForHtml(domain) -}}
{% endblock %}

{% block main_content %}

    {% set galleryImages = getImages(productDetail.product) %}
    {% set showGallery = galleryImages|length > 1 %}

    <div class="container" itemscope itemtype="http://schema.org/Product">
    <div class="product-detail">
    <div class="product">
        <div class="row">
            <!-- Slider Thumb -->
            <div class="col-md-5 col-xs-12">
                {% if imageExists(productDetail.product) %}

                    <div id="primary-image-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <div class="primary-controls">
                            <a href="#primary-image-carousel" data-slide="prev" class="left">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="#primary-image-carousel" data-slide="next" class="right">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% set isFirstP = true %}

                            {% for key, galleryImage in galleryImages %}

                                <div class="item{{ isFirstP ? ' active' : '' }}">
                                    <img src="{{ imageUrl(galleryImage, 'original') }}" alt="">
                                </div>

                                {% set isFirstP = false %}
                            {% endfor %}

                        </div>

                    </div>

                    {% if showGallery %}

                        <div id="thumbs-image-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner responsive">

                                <div class="controls-thumb">
                                    <a href="#thumbs-image-carousel" data-slide="prev" class="left">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a href="#thumbs-image-carousel" data-slide="next" class="right">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>

                                {% set isFirst = true %}
                                {% set key = 0 %}

                                {% for galleryRow in galleryImages|batch(3) %}

                                    <div class="item{{ isFirst ? ' active' : '' }}">

                                        {% for galleryImage in galleryRow %}
                                            <div class="item-image" data-target="#primary-image-carousel"
                                                 data-slide-to="{{ key }}">
                                                <img src="{{ imageUrl(galleryImage, 'original') }}" alt="">
                                            </div>

                                            {% set key = key + 1 %}

                                        {% endfor %}

                                    </div>

                                    {% set isFirst = false %}

                                {% endfor %}
                            </div>

                        </div>

                    {% endif %}

                {% else %}
                    {{ noimage({ alt: productDetail.product.name }) }}
                {% endif %}

            </div>

            <!-- Item Content -->
            <div class="col-md-7 col-xs-12">
                <a href="{{ url('front_product_list', { id: productMainCategory.id }) }}"
                   class="tags">{{ categoryName }}</a>
                <h5>
                    {% if productDomain.seoH1 is not null %}
                        {{ productDomain.seoH1 }}
                    {% else %}
                        {{ productDetail.product.name }}
                    {% endif %}
                </h5>
                {#<p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i#}
                {#class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="margin-left-10">5 Review(s)</span>#}
                {#</p>#}
                <div class="row">
                    <div class="col-sm-6">
                        <div itemprop="offers"
                             itemscope
                             itemtype="http://schema.org/Offer"
                             class="box-detail-add__prices">
                                    <span class="price">
                                        {{ productDetail.sellingPrice.priceWithVat|price }}
                                    </span>
                            <meta itemprop="priceCurrency"
                                  content="{{ currencyCode(domain.id) }}"
                            >
                            <meta itemprop="price"
                                  content="{{ productDetail.sellingPrice.priceWithVat }}"
                            >
                            <link itemprop="availability"
                                  href="{{ productDetail.product.calculatedSellingDenied ? 'http://schema.org/OutOfStock' : 'http://schema.org/InStock' }}"
                            >
                        </div>
                    </div>

                    {% for visib in visibility %}

                        {% if (visib.visible == true and productDetail.product.price|number_format > 0) %}
                            <div class="col-sm-6">
                                {% if productDetail.product.calculatedAvailability %}
                                    <p>{{ 'Availability'|trans }}:
                                        <span class="in-stock">
                                            {% if productDetail.product.calculatedSellingDenied %}
                                                {{ 'Product no longer on sale'|trans }}
                                            {% else %}
                                                {{ productDetail.product.calculatedAvailability.name }}
                                            {% endif %}
                                        </span>
                                    </p>
                                {% endif %}

                            </div>
                        {% else %}
                            {{ 'Product no longer on sale'|trans }}
                        {% endif %}

                    {% endfor %}

                </div>

                {% if productDetail.hasContentForDetailBox %}
                    <ul class="bullet-round-list">
                        {% if productDetail.product.brand %}
                            <li> {{ 'Brand'|trans }}: {{ productDetail.product.brand.name }}</li>
                        {% endif %}

                        {% if productDetail.product.masterProductId %}
                            <li> {{ 'Catalogue number'|trans }}
                                : {{ productDetail.product.masterProductId }}</li>
                        {% endif %}

                        {#{% if productDetail.product.partno %}#}
                            {#<li> {{ 'PartNo (serial number)'|trans }}#}
                                {#: {{ productDetail.product.partno }}</li>#}
                        {#{% endif %}#}

                        {% if productDetail.product.ean %}
                            <li>{{ 'EAN'|trans }}: {{ productDetail.product.ean }}</li>
                        {% endif %}
                    </ul>
                {% endif %}

                <!-- Compare Wishlist -->
                {#<ul class="cmp-list">#}
                {#<li><a href="#."><i class="fa fa-heart"></i> Add to Wishlist</a></li>#}
                {#<li><a href="#."><i class="fa fa-navicon"></i> Add to Compare</a></li>#}
                {#<li><a href="#."><i class="fa fa-envelope"></i> Email to a friend</a></li>#}
                {#</ul>#}

                {% for visib in visibility %}
                    {% if (productDetail.product.calculatedSellingDenied or visib.visible == false or productDetail.product.price|number_format == 0) %}
                        <div>
                            {{ 'This product is no longer available for purchase. Have a look at similar products <a href="%url%">here</a>.'|transHtml({"%url%": url('front_product_list', { id: productMainCategory })}) }}
                        </div>
                    {% else %}
                        <div>
                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm', {product: productDetail.product, type: 'large'})) }}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>


    {% if productDomain.description
    or productDetail.parameters
    or accessoriesDetails|length > 0 %}
        <!-- Details Tab Section-->
        <div class="item-tabs-sec">
            <!-- Nav tabs -->
            <ul class="nav" role="tablist">
                {% if productDomain.description %}
                    <li role="presentation" class="active">
                        <a href="#pro-detil" role="tab" data-toggle="tab">
                            {{ descriptionHeadline }}
                        </a>
                    </li>
                {% endif %}

                {% if accessoriesDetails|length > 0 %}
                    <li role="presentation">
                        <a href="#accessories" role="tab" data-toggle="tab">
                            {{ accessoriesHeadline }}
                        </a>
                    </li>
                {% endif %}


            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="pro-detil">
                    {% if productDomain.description or productDetail.parameters %}
                    <div class="in-user-text" itemprop="description">
                        {% if productDomain.description %}
                            <p>
                                {{ productDomain.description|raw }}
                            </p>
                        {% endif %}
                        {% if productDetail.parameters %}
                        <table class="table table-detail{% if productDomain.description %} margin-top-20{% endif %}">
                            <tbody>
                            {% for productParameterValue in productDetail.parameters %}
                                <tr>
                                    <th>
                                        {{ productParameterValue.parameter.name }}
                                    </th>
                                    <td>
                                        {{ productParameterValue.value.text }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>


            {% if accessoriesDetails|length > 0 %}
                <div role="tabpanel" class="tab-pane fade in" id="accessories">
                    {{ productList.list(accessoriesDetails) }}
                </div>
            {% endif %}
        </div>
        </div>
        </div>
    {% endif %}

    </div>
{% endblock %}
