{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}

{% block title %}
    {{ categoryDomain.seoTitle|default(category.name) }}
{% endblock %}

{% block main_content %}
    {#<div class="box-list">#}
    {#{{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : POSITION_PRODUCT_LIST})) }}#}
    {#<h1>#}
    {#{% if categoryDomain.seoH1 is not null %}#}
    {#{{ categoryDomain.seoH1 }}#}
    {#{% else %}#}
    {#{{ category.name }}#}
    {#{% endif %}#}
    {#</h1>#}
    {#{% if visibleChildren is not empty %}#}
    {#<h2>{{ 'List of subcategories'|trans }}</h2>#}

    {#{{ render(controller('ShopsysShopBundle:Front/Category:categoryList', {categories: visibleChildren})) }}#}
    {#{% endif %}#}

    {#{{ render(controller('ShopsysShopBundle:Front/BestsellingProduct:list', { category: category })) }}#}

    {#<div class="js-product-list-with-filter">#}
    {#{% if paginationResult.results|length > 0 or filterFormSubmited %}#}
    {#<div class="box-filter js-product-filter">#}
    {#{{ productFilterForm.filterForm(#}
    {#filterForm,#}
    {#url('front_product_list', { id: category.id }),#}
    {#url('front_product_list', { id: category.id }),#}
    {#null,#}
    {#'product_list',#}
    {#productFilterCountData,#}
    {#priceRange#}
    {#) }}#}
    {#</div>#}
    {#{% endif %}#}

    {#<div class="js-product-list-ajax-filter-products-with-controls">#}
    {#<div>#}
    {#{{ render(controller('ShopsysShopBundle:Front/Product:selectOrderingModeForList')) }}#}
    {#</div>#}
    {#{% include '@ShopsysShop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited} %}#}
    {#</div>#}
    {#</div>#}

    {#<div class="box-list__description">#}
    {#<div class="js-category-description box-list__description__text in-user-text">#}
    {#{{ categoryDomain.description|raw }}#}
    {#</div>#}
    {#<div class="box-list__description__more">#}
    {#<span class="js-category-description-load-more link-style box-list__description__more__btn">#}
    {#{{ 'View more'|trans }}#}
    {#</span>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {% set translations = {
    'addToCart': 'Add to cart'|trans,
    'availability': 'Availability'|trans,
    'inStock': 'In stock'|trans,
    'price': 'Price'|trans,
    'brand': 'Brand'|trans,
    'goToCart': 'Go to cart' |trans ,
    'backToShopping': 'Back to shopping'|trans,
    'categoryHasNoProducts': 'This category contains no products.'|trans,
    'alphabetically': 'alphabetically A -> Z'|trans,
    'priceLowest': 'from the cheapest'|trans,
    'priceHighest': 'from most expensive'|trans
    } %}
    <div id="product-listing-component" translations="{{ translations|json_encode }}" currency="{{ currencySymbol }}"
         category-id="{{ category.id }}" category-name="{{ category.name }}"></div>

{% endblock %}
