{% macro list(productDetails, listCssClass, productHeadingTagName) %}
    {% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% set domain = getDomain() %}

        
        
    <section class="featur-tabs padding-top-60 padding-bottom-60">
      <div class="container"> 
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-pills margin-bottom-40" role="tablist">
          <li role="presentation" class="active"><a href="#featur" aria-controls="featur" role="tab" data-toggle="tab">Featured</a></li>
          <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">Special</a></li>
          <li role="presentation"><a href="#on-sal" aria-controls="on-sal" role="tab" data-toggle="tab">Onsale</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content"> 
          <!-- Featured -->
          <div role="tabpanel" class="tab-pane active fade in" id="featur"> 
            <!-- Items Slider -->
            <div class="item-slide-5 with-nav"> 
              <!-- Product -->
              
        {% for productDetail in productDetails %}
            {% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}
              
              
              <div class="product">
                <article>  {{ image(productDetail.product, { size: 'original', alt: productDetail.product.name }) }}

                  <!-- Content --> 
                  <span class="tag"></span> <a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}" class="tittle">{{ productDetail.product.name }}</a> 
                  <!-- Reviews --
                  <div class="price">{{ productDetail.sellingPrice.priceWithVat|price }}</div>
                  <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                  
              </div>
              
            {% endfor %}

              <!-- Product -->
            </div>
          </div>
          
          <!-- Special -->
          <div role="tabpanel" class="tab-pane fade" id="special"> 
            <!-- Items Slider -->
            <div class="item-col-5"> 
              
        {% for productDetail in productDetails %}
            {% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}
              
              
              <div class="product">
                <article>  {{ image(productDetail.product, { size: 'list', alt: productDetail.product.name }) }}

                  <!-- Content --> 
                  <span class="tag"></span> <a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}" class="tittle">{{ productDetail.product.name }}</a> 
                  <!-- Reviews -->
                  <div class="price">{{ productDetail.sellingPrice.priceWithVat|price }}</div>
                  <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                  
              </div>
              
            {% endfor %}
            </div>
          </div>
          
          <!-- on sale -->
          <div role="tabpanel" class="tab-pane fade" id="on-sal"> 
            <!-- Items Slider -->
            <div class="item-col-5"> 
              
              <!-- Product -->
        {% for productDetail in productDetails %}
            {% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}
              
              
              <div class="product">
                <article>  {{ image(productDetail.product, { size: 'list', alt: productDetail.product.name }) }}

                  <!-- Content --> 
                  <span class="tag"></span> <a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}" class="tittle">{{ productDetail.product.name }}</a> 
                  <!-- Reviews -->
                  <div class="price">{{ productDetail.sellingPrice.priceWithVat|price }}</div>
                  <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a> </article>
                  
              </div>
              
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
        
        
        
    </ul>
{% endmacro %}
