{% macro list(productDetails, listCssClass, productHeadingTagName) %}
    {% import '@ShopsysShop/Front/Inline/Product/productFlagsMacro.html.twig' as productFlags %}
    {% set domain = getDomain() %}

    <ul class="list-products js-product-list {{ listCssClass|default('') }}">
        {% for productDetail in productDetails %}
            {% set productDomain = productDetail.productDomainsIndexedByDomainId[domain.id] %}

            <li class="list-products__item js-list-products-item">
                <div class="list-products__item__in">
                    <a href="{{ url('front_product_detail', {'id': productDetail.product.id}) }}" class="list-products__item__block">
                        <{{ productHeadingTagName|default('h2') }} class="list-products__item__title js-list-products-item-title">
                            {{ productDetail.product.name }}
                        </{{ productHeadingTagName|default('h2') }}>

                        <div class="list-products__item__image">
                            {{ image(productDetail.product, { size: 'original', alt: productDetail.product.name }) }}
                            {{ productFlags.list(productDetail.product, 'in-flag--in-list') }}
                        </div>

                        <div class="list-products__item__info">
                            <p class="list-products__item__info__description">
                                {{ productDomain.shortDescription }}
                            </p>
                            {% if productDetail.sellingPrice is not null %}
                                <div class="list-products__item__info__price">
                                    <div class="list-products__item__info__price__item list-products__item__info__price__item--main">
                                        {% if productDetail.sellingPrice.priceFrom %}
                                            {{ 'from %price%'|trans({'%price%': productDetail.sellingPrice.priceWithVat|price}) }}
                                        {% else %}
                                            {{ productDetail.sellingPrice.priceWithVat|price }}
                                        {% endif %}
                                    </div>
                                    <div class="list-products__item__info__price__item">
                                        {% if productDetail.sellingPrice.priceFrom %}
                                            {{ 'from %price%'|trans({'%price%': productDetail.sellingPrice.priceWithoutVat|price}) }}
                                        {% else %}
                                            {{ productDetail.sellingPrice.priceWithoutVat|price }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="list-products__item__info__availability">
                                {{ productDetail.product.calculatedAvailability.getName }}
                            </div>
                        </div>
                    </a>

                    <div class="list-products__item__action">
                        {% if not productDetail.product.isMainVariant %}
                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductForm',{
                                product: productDetail.product
                            }

                            )) }}
                        {% else %}
                            <a href="{{ url('front_product_detail', { id: productDetail.product.id }) }}" class="btn btn--success">{{ 'Choose variant'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
