{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'XML Feeds '|trans }}{% endblock %}
{% block h1 %}{{ 'XML Feeds'|trans }}{% endblock %}
{% block main_content %}{{ gridView.render() }}{% endblock %}
