{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% macro getLabel(row) %}
    {{ row.feedLabel }} - {{ row.domainConfig.name }}
    {% if row.additionalInformation is not null %}
        <span
            title="{{ row.additionalInformation }}"
            class="js-tooltip cursor-help"
            data-toggle="tooltip"
            data-placement="right"
        >
            <i class="svg svg-question"></i>
        </span>
    {% endif %}
{% endmacro %}

{% block grid_value_cell_id_label %}
    {% if row.created %}
        <a href="{{ row.url }}" target="_blank">{{ _self.getLabel(row) }}</a>
    {% else %}
        {{ _self.getLabel(row) }}
    {% endif %}
{% endblock %}

{% block grid_value_cell_id_actions %}
    <a href="{{ url(
        'admin_feed_generate', {
            feedName: row.feedName,
            domainId: row.domainConfig.id
        }
    ) }}" class="btn">{{ 'Generate'|trans }}</a>

{% endblock %}