<div class="header-navbar header-navbar--middle">
    <form action="{{ url('front_product_search') }}" method="get" class="header-search">
        <input
                type="text"
                placeholder="{{ 'Searching'|trans }}"
                name="{{ SEARCH_TEXT_PARAMETER }}"
                value="{{ searchText|escape('html_attr') }}"
                id="js-search-autocomplete-input"
                autocomplete="off"
                data-autocomplete-url="{{ url('front_search_autocomplete') }}"
        />
        <button>
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>