.form-choice {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  line-height: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.form-choice--block {
  display: block;
  margin-right: 0;
}
.form-choice__input {
  position: absolute;
  top: 2px;
  left: 0;
}
.form-choice__label {
  position: relative;
}
