/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a,
.link-style {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover,
.link-style:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1,
.h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
}
html,
body {
  min-height: 100%;
  padding: 0;
}
body,
form,
input,
select,
button,
p,
pre,
dfn,
address,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
table,
tr,
td,
th,
input,
textarea,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
@media only screen and (min-width: 769px) {
  body,
  form,
  input,
  select,
  button,
  p,
  pre,
  dfn,
  address,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  table,
  tr,
  td,
  th,
  input,
  textarea,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-size: 14px;
  }
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
td,
th {
  text-align: left;
}
hr {
  height: 1px;
}
dfn {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
p {
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  text-rendering: optimizelegibility;
  word-wrap: break-word;
}
h1,
.h1 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: normal;
}
@media only screen and (min-width: 600px) {
  h1,
  .h1 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 769px) {
  h1,
  .h1 {
    margin-bottom: 15px;
    font-size: 28px;
  }
}
@media only screen and (min-width: 1024px) {
  h1,
  .h1 {
    margin-bottom: 20px;
    font-size: 32px;
  }
}
h2,
.h2 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: normal;
}
@media only screen and (min-width: 600px) {
  h2,
  .h2 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 769px) {
  h2,
  .h2 {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  h2,
  .h2 {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
h3,
.h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: normal;
}
@media only screen and (min-width: 600px) {
  h3,
  .h3 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 769px) {
  h3,
  .h3 {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  h3,
  .h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
h4,
.h4 {
  margin: 0 0 10px 0;
  font-size: 10px;
  font-weight: bold;
}
@media only screen and (min-width: 600px) {
  h4,
  .h4 {
    font-size: 11px;
  }
}
@media only screen and (min-width: 769px) {
  h4,
  .h4 {
    margin-bottom: 15px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  h4,
  .h4 {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
h5,
.h5 {
  margin: 0 0 10px 0;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (min-width: 600px) {
  h5,
  .h5 {
    font-size: 10px;
  }
}
@media only screen and (min-width: 769px) {
  h5,
  .h5 {
    margin-bottom: 15px;
    font-size: 11px;
  }
}
@media only screen and (min-width: 1024px) {
  h5,
  .h5 {
    margin-bottom: 20px;
    font-size: 12px;
  }
}
h6,
.h6 {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: bold;
}
a,
.link-style {
  text-decoration: underline;
  color: #a0c519;
  cursor: pointer;
  outline: none;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) color;
}
a:hover,
.link-style:hover {
  text-decoration: none;
  color: #333;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
}
.heading-addition {
  color: #aaa;
  font-size: 60%;
}
.link-style {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  border: none;
}
.input {
  width: 210px;
  max-width: 100%;
  height: 36px;
  line-height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  color: #333;
  background: #fff;
}
.input--textarea {
  height: 108px;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.input:focus {
  outline: 0;
}
.form-input-error .input,
.input.form-input-error {
  padding-right: 25px;
  border-color: #D60000;
  box-shadow: none;
}
.form-input-error .input:focus,
.input.form-input-error:focus {
  border-color: #D60000;
}
.form-input-disabled .input,
.input.form-input-disabled {
  background: #eff1f2;
}
.input-no-style {
  width: auto;
  border: 0;
  background: none;
  color: #333;
  box-shadow: none;
}
.input-no-style:focus {
  outline: 0;
}
input[type="date"]::-webkit-input-placeholder,
input[type="timedate"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: vertical;
}
.btn {
  width: auto;
  min-height: 36px;
  padding: 11px 15px;
  line-height: 14px;
  vertical-align: middle;
  display: inline-block;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) background, 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) color;
  text-align: center;
  border: 0;
  color: #333;
  background: #ddd;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  outline: 0;
}
.btn:hover {
  color: #333;
  background: #d0d0d0;
}
.btn--success {
  color: #fff;
  background: #a0c519;
}
.btn--success:hover {
  color: #fff;
  background: #8eae16;
}
.btn--primary {
  color: #fff;
  background: #009BD9;
}
.btn--primary:hover {
  color: #fff;
  background: #0089c0;
}
.btn--disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.btn--large {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}
.btn--small {
  padding: 5px 10px;
  min-height: 26px;
  font-size: 11px;
}
.btn-no-style {
  padding: 0;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
}
img {
  max-width: 100%;
}
.web {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.is-no-flex .web,
.is-safari .web {
  display: block;
}
.web--window-activated {
  overflow: hidden;
  margin-right: 17px;
}
.web__in {
  flex: 1;
  position: relative;
}
.web__line--grey {
  background: #f4f4f4;
}
.web__footer {
  flex: 0;
  will-change: padding;
  background: #333;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) padding;
}
.web__footer--with-cookies {
  padding-bottom: 36px;
}
.web__container {
  padding: 0 20px;
}
@media only screen and (min-width: 1200px) {
  .web__container {
    width: 1200px;
    margin: 0 auto;
  }
}
.web__main {
  padding-bottom: 20px;
}
@media only screen and (min-width: 769px) {
  .web__main--with-panel {
    display: flex;
    width: 100%;
  }
}
.web__main--with-panel .web__main__content {
  margin-bottom: 20px;
}
@media only screen and (min-width: 769px) {
  .web__main--with-panel .web__main__content {
    order: 2;
    width: 70%;
    width: calc(100% - 260px);
  }
}
.web__main__panel {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .web__main__panel {
    display: block;
    order: 1;
    flex-shrink: 0;
    width: 260px;
    padding-right: 20px;
  }
}
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col {
  float: left;
}
.col--20 {
  width: 20%;
}
.col--25 {
  width: 25%;
}
.col--30 {
  width: 30%;
}
.col--35 {
  width: 35%;
}
.col--40 {
  width: 40%;
}
.col--45 {
  width: 45%;
}
.col--50 {
  width: 50%;
}
.col--55 {
  width: 55%;
}
.col--60 {
  width: 60%;
}
.col--65 {
  width: 65%;
}
.col--70 {
  width: 70%;
}
.col--75 {
  width: 75%;
}
.col--80 {
  width: 80%;
}
.col--100 {
  width: 100%;
}
.col--52 {
  width: 52%;
}
.col--51 {
  width: 51%;
}
.col--49 {
  width: 49%;
}
.col--48 {
  width: 48%;
}
@media only screen and (max-width: 768px) {
  .col--20-tablet {
    width: 20%;
  }
  .col--25-tablet {
    width: 25%;
  }
  .col--30-tablet {
    width: 30%;
  }
  .col--35-tablet {
    width: 35%;
  }
  .col--40-tablet {
    width: 40%;
  }
  .col--45-tablet {
    width: 45%;
  }
  .col--50-tablet {
    width: 50%;
  }
  .col--55-tablet {
    width: 55%;
  }
  .col--60-tablet {
    width: 60%;
  }
  .col--65-tablet {
    width: 65%;
  }
  .col--70-tablet {
    width: 70%;
  }
  .col--75-tablet {
    width: 75%;
  }
  .col--80-tablet {
    width: 80%;
  }
  .col--100-tablet {
    width: 100%;
  }
  .col--52-tablet {
    width: 52%;
  }
  .col--51-tablet {
    width: 51%;
  }
  .col--49-tablet {
    width: 49%;
  }
  .col--48-tablet {
    width: 48%;
  }
}
@media only screen and (max-width: 599px) {
  .col--20-mobile {
    width: 20%;
  }
  .col--25-mobile {
    width: 25%;
  }
  .col--30-mobile {
    width: 30%;
  }
  .col--35-mobile {
    width: 35%;
  }
  .col--40-mobile {
    width: 40%;
  }
  .col--45-mobile {
    width: 45%;
  }
  .col--50-mobile {
    width: 50%;
  }
  .col--55-mobile {
    width: 55%;
  }
  .col--60-mobile {
    width: 60%;
  }
  .col--65-mobile {
    width: 65%;
  }
  .col--70-mobile {
    width: 70%;
  }
  .col--75-mobile {
    width: 75%;
  }
  .col--80-mobile {
    width: 80%;
  }
  .col--100-mobile {
    width: 100%;
  }
  .col--52-mobile {
    width: 52%;
  }
  .col--51-mobile {
    width: 51%;
  }
  .col--49-mobile {
    width: 49%;
  }
  .col--48-mobile {
    width: 48%;
  }
}
@media only screen and (max-width: 479px) {
  .col--20-mobile-small {
    width: 20%;
  }
  .col--25-mobile-small {
    width: 25%;
  }
  .col--30-mobile-small {
    width: 30%;
  }
  .col--35-mobile-small {
    width: 35%;
  }
  .col--40-mobile-small {
    width: 40%;
  }
  .col--45-mobile-small {
    width: 45%;
  }
  .col--50-mobile-small {
    width: 50%;
  }
  .col--55-mobile-small {
    width: 55%;
  }
  .col--60-mobile-small {
    width: 60%;
  }
  .col--65-mobile-small {
    width: 65%;
  }
  .col--70-mobile-small {
    width: 70%;
  }
  .col--75-mobile-small {
    width: 75%;
  }
  .col--80-mobile-small {
    width: 80%;
  }
  .col--100-mobile-small {
    width: 100%;
  }
  .col--52-mobile-small {
    width: 52%;
  }
  .col--51-mobile-small {
    width: 51%;
  }
  .col--49-mobile-small {
    width: 49%;
  }
  .col--48-mobile-small {
    width: 48%;
  }
}
.header {
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media only screen and (min-width: 769px) {
  .header {
    padding-bottom: 20px;
  }
}
.header__logo {
  width: 100%;
  padding: 10px;
}
@media only screen and (min-width: 769px) {
  .header__logo {
    flex: 1;
    order: 1;
    width: auto;
    padding-right: 20px;
  }
}
.header__middle {
  width: 100%;
  margin: 10px 0;
  order: 2;
}
@media only screen and (min-width: 769px) {
  .header__middle {
    order: 2;
    width: 280px;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .header__middle {
    width: 440px;
  }
}
.header__cart {
  width: 38px;
}
@media only screen and (min-width: 769px) {
  .header__cart {
    padding-left: 20px;
    flex: 1;
    order: 3;
    text-align: right;
  }
}
.header__top {
  display: none;
}
@media only screen and (min-width: 769px) {
  .header__top {
    order: -1;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .header__top__left {
    flex: 1;
  }
  .header__top__right {
    flex: 1;
  }
}
.header__mobile {
  width: 80%;
  width: calc(100% - 38px);
  text-align: right;
}
@media only screen and (min-width: 769px) {
  .header__mobile {
    display: none;
  }
}
.header__mobile-button {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  margin: 0 5px;
  text-align: center;
  outline: 0;
  cursor: pointer;
}
.header__mobile-button--menu {
  float: left;
  margin-left: 0;
}
.header__mobile-button--menu .svg {
  margin-right: 5px;
  vertical-align: baseline;
  font-size: 11px;
}
.header__mobile-button__in {
  padding: 0 10px;
  display: block;
  position: relative;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) color;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
.header__mobile-button--menu .header__mobile-button__in {
  background: #f4f4f4;
  font-size: 14px;
}
.header__mobile-button__in.active {
  color: #a0c519;
  text-decoration: none;
}
.header__mobile-button--menu .header__mobile-button__in.active {
  color: #fff;
  background: #a0c519;
}
.header__mobile-button__in__info {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  color: #fff;
  background: #D60000;
  font-size: 12px;
}
.header__mobile-button__menu {
  display: none;
  position: absolute;
  top: 95px;
  left: -20px;
  right: -20px;
  background: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.header__mobile-button__menu a {
  display: block;
  padding: 3px 10px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}
.cart {
  display: none;
}
@media only screen and (min-width: 769px) {
  .cart {
    display: inline-block;
    position: relative;
    *zoom: 1;
    text-align: left;
  }
  .cart:before,
  .cart:after {
    content: "";
    display: table;
  }
  .cart:after {
    clear: both;
  }
  .cart__block {
    display: block;
    text-decoration: none;
  }
  .cart__block:hover {
    text-decoration: none;
  }
  .cart__icon {
    width: 30px;
    float: left;
    text-align: center;
    font-size: 20px;
  }
  .cart__info {
    margin-left: 40px;
    max-width: 90px;
  }
}
.cart-mobile {
  margin-right: 0;
}
@media only screen and (min-width: 769px) {
  .cart-mobile {
    display: none;
  }
}
.contact-us {
  display: none;
}
@media only screen and (min-width: 769px) {
  .contact-us {
    display: block;
    margin-top: 5px;
    color: #aaa;
    font-size: 11px;
  }
  .contact-us__phone {
    display: inline-block;
    margin-right: 10px;
  }
  .contact-us__phone .svg {
    margin-right: 3px;
    font-size: 10px;
  }
  .contact-us__email {
    display: inline-block;
    margin-left: 10px;
  }
}
.logo {
  display: inline-block;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .logo {
    max-width: 200px;
    text-align: left;
  }
}
.logo img {
  max-height: 100%;
}
.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.menu__item__link {
  display: block;
  padding: 5px;
  margin-left: 5px;
}
.menu-iconic {
  display: none;
}
@media only screen and (min-width: 769px) {
  .menu-iconic {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    text-align: right;
    font-size: 0;
  }
  .menu-iconic__item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 16px;
    text-align: left;
    font-size: 14px;
  }
  .menu-iconic__item__link {
    display: block;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
  }
  .menu-iconic__item__link .svg {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
  }
  .menu-iconic__item__link span {
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
  }
  .menu-iconic__item__link:hover span {
    text-decoration: none;
  }
  .menu-iconic__item:hover .menu-iconic__sub {
    display: block;
  }
  .menu-iconic__sub {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 26px;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    z-index: 30;
  }
  .menu-iconic__item:hover .menu-iconic__sub {
    display: block;
  }
  .menu-iconic__sub__item {
    display: block;
    border-top: 1px solid #ddd;
  }
  .menu-iconic__sub__item__link {
    display: block;
    padding: 5px 10px;
  }
}
.search {
  position: relative;
}
.search__form {
  display: flex;
}
.is-no-flex .search__form {
  display: block;
  *zoom: 1;
}
.is-no-flex .search__form:before,
.is-no-flex .search__form:after {
  content: "";
  display: table;
}
.is-no-flex .search__form:after {
  clear: both;
}
.search__form__input {
  flex: 1;
  position: relative;
}
.is-no-flex .search__form__input {
  float: left;
  width: calc(100% - 80px);
}
.search__form__input .input {
  padding-left: 30px;
  width: 100%;
}
.search__form__button {
  flex: 0 80px;
  height: 36px;
  line-height: 36px;
  padding: 0;
}
.is-no-flex .search__form__button {
  width: 80px;
}
.search__form__icon {
  position: absolute;
  top: 9px;
  left: 10px;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) color;
  color: #aaa;
}
.search__input:focus + .search__form__icon {
  color: #a0c519;
}
.search__hint {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  z-index: 10;
  border: 1px solid #ddd;
  border-top: 0px;
  background: #fff;
  border-radius: 0 0 3px 3px;
}
.search__hint__item {
  border-top: 1px dashed #ddd;
}
.search__hint__item__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  *zoom: 1;
  text-decoration: none;
}
.search__hint__item__link:before,
.search__hint__item__link:after {
  content: "";
  display: table;
}
.search__hint__item__link:after {
  clear: both;
}
.search__hint__item__link:hover {
  text-decoration: none;
}
.search__hint__item--info {
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  border: none;
}
.search__hint__item:last-child {
  border-radius: 0 0 3px 3px;
}
.search__hint__image {
  position: relative;
  height: 30px;
  flex: 0 30px;
}
.search__hint__image img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.search__hint__image .svg {
  position: relative;
  top: -2px;
  margin-bottom: -2px;
  font-size: 20px;
  color: #333;
}
.search__hint__name {
  padding-left: 10px;
  flex: 1;
}
.footer__newsletter {
  padding: 20px 0;
  position: relative;
}
@media only screen and (min-width: 769px) {
  .footer__newsletter {
    display: flex;
    align-items: center;
  }
}
.footer__newsletter__input {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .footer__newsletter__text {
    flex: 1;
    padding-right: 20px;
  }
  .footer__newsletter__text p {
    line-height: 18px;
  }
}
@media only screen and (min-width: 769px) {
  .footer__newsletter__form {
    flex: 0 380px;
  }
}
.footer__newsletter__form__wrap {
  margin-bottom: 5px;
}
@media only screen and (min-width: 480px) {
  .footer__newsletter__form__wrap {
    display: flex;
  }
}
@media only screen and (min-width: 769px) {
  .footer__newsletter__form__wrap {
    text-align: right;
  }
}
.footer__newsletter__form__in {
  position: relative;
}
@media only screen and (min-width: 480px) {
  .footer__newsletter__form__in {
    flex: 1;
  }
}
.footer__newsletter__form__btn {
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .footer__newsletter__form__btn {
    flex: 0 150px;
  }
}
.footer__newsletter .form-error {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
}
.footer__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 769px) {
  .footer__bottom {
    display: flex;
    align-items: center;
    text-align: left;
  }
}
.footer__bottom__copyright {
  margin-bottom: 10px;
}
@media only screen and (min-width: 769px) {
  .footer__bottom__copyright {
    flex: 0 50%;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 769px) {
  .footer__bottom__articles {
    flex: 0 50%;
    text-align: right;
  }
}
.footer__bottom a:hover {
  color: #fff;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite {
  display: inline-block;
}
@font-face {
  font-family: "svg";
  src: url("../fonts/svg.eot?5cce57c0444e5e8b9c308e68d3b8fe90");
  src: url("../fonts/svg.eot?#iefix") format("embedded-opentype"), url("../fonts/svg.woff?5cce57c0444e5e8b9c308e68d3b8fe90") format("woff"), url("../fonts/svg.ttf?5cce57c0444e5e8b9c308e68d3b8fe90") format("truetype"), url("../fonts/svg.svg?5cce57c0444e5e8b9c308e68d3b8fe90#svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.svg,
.in-overlay__spinner__icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.svg:before,
.in-overlay__spinner__icon {
  font-family: "svg";
}
.svg-arrow:before {
  content: "\f101";
}
.svg-burger-menu:before {
  content: "\f102";
}
.svg-cart:before {
  content: "\f103";
}
.svg-folder:before {
  content: "\f104";
}
.svg-home:before {
  content: "\f105";
}
.svg-info:before {
  content: "\f106";
}
.svg-phone:before {
  content: "\f107";
}
.svg-remove-thin:before {
  content: "\f108";
}
.svg-remove:before {
  content: "\f109";
}
.svg-search:before {
  content: "\f10a";
}
.svg-spinner:before {
  content: "\f10b";
}
.svg-user:before {
  content: "\f10c";
}
.svg-warning:before {
  content: "\f10d";
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #cccccc;
}
.mfp-preloader a:hover {
  color: white;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #333333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}
/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  opacity: 0.65;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}
.mfp-zoom {
  cursor: pointer;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  padding: 3px 5px;
  right: 0;
  top: 0px;
  width: auto;
  height: auto;
  line-height: 20px;
  text-align: center;
  border: 3px solid #fff;
  color: #fff;
  background: #000;
}
img.mfp-img {
  padding: 10px;
  background: #fff;
}
.mfp-figure:after {
  top: 0;
  bottom: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.tooltip {
  position: absolute;
  z-index: 500;
  display: block;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  opacity: 0;
}
.tooltip.in {
  opacity: 0.7;
}
.tooltip.top {
  margin-top: -3px;
  padding: 7px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 7px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 7px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 7px;
}
.tooltip-inner {
  max-width: 300px;
  padding: 3px 8px;
  color: #555;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 3px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  border-width: 7px 7px 0;
  border-top-color: #ddd;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 7px;
  margin-bottom: -7px;
  border-width: 7px 7px 0;
  border-top-color: #ddd;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 7px;
  margin-bottom: -7px;
  border-width: 7px 7px 0;
  border-top-color: #ddd;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -7px;
  border-width: 7px 7px 7px 0;
  border-right-color: #ddd;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -7px;
  border-width: 7px 0 7px 7px;
  border-left-color: #ddd;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -7px;
  border-width: 0 7px 7px;
  border-bottom-color: #ddd;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 7px;
  margin-top: -7px;
  border-width: 0 7px 7px;
  border-bottom-color: #ddd;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 7px;
  margin-top: -7px;
  border-width: 0 7px 7px;
  border-bottom-color: #ddd;
}
.tooltip {
  z-index: 499;
  line-height: 16px;
  text-transform: none;
  font-style: normal;
  font-size: 11px;
}
.tooltip.in {
  opacity: 1;
}
.tooltip-inner {
  min-width: 120px;
  border: 1px solid #ddd;
}
.ui-slider {
  display: block;
  height: 10px;
  position: relative;
  background: #f4f4f4;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.ui-slider-range {
  height: 10px;
  position: absolute;
  top: 0;
  background: #a0c519;
  border-radius: 3px;
}
.ui-slider-handle {
  height: 18px;
  width: 18px;
  display: block;
  position: absolute;
  top: -4.5px;
  margin-left: -9px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.ui-slider-handle:before,
.ui-slider-handle:after {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 6px;
  width: 1px;
  background: #ddd;
}
.ui-slider-handle:after {
  left: auto;
  right: 6px;
}
.wrap-box {
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.wrap-box__title {
  padding: 10px 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  background: #f4f4f4;
}
.wrap-box__in {
  padding: 20px;
}
.wrap-well {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background: #f4f4f4;
}
@media only screen and (min-width: 600px) {
  .in-action {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .is-no-flex .in-action {
    display: block;
    *zoom: 1;
  }
  .is-no-flex .in-action:before,
  .is-no-flex .in-action:after {
    content: "";
    display: table;
  }
  .is-no-flex .in-action:after {
    clear: both;
  }
}
@media only screen and (min-width: 600px) {
  .in-action__left {
    order: 1;
    flex: 1;
  }
  .is-no-flex .in-action__left {
    float: left;
    width: 50%;
  }
}
.in-action__right {
  margin-bottom: 5px;
}
@media only screen and (min-width: 600px) {
  .in-action__right {
    order: 2;
    flex: 1;
    margin-bottom: 0;
    text-align: right;
  }
  .is-no-flex .in-action__right {
    float: right;
    width: 50%;
  }
}
.in-action__btn {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .in-action__btn {
    width: auto;
  }
}
.in-action__btn--big {
  min-height: 46px;
  line-height: 24px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}
.in-disable {
  opacity: 0.5;
}
.in-flag {
  position: absolute;
  top: 10px;
  left: 10px;
  *zoom: 1;
}
.in-flag:before,
.in-flag:after {
  content: "";
  display: table;
}
.in-flag:after {
  clear: both;
}
.in-flag--in-list {
  top: 0;
  left: 0;
}
.in-flag__item {
  float: left;
  clear: left;
  padding: 3px 5px;
  margin-bottom: 3px;
  font-size: 12px;
}
.in-icon {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.in-icon--info {
  color: #009BD9;
  font-size: 16px;
  cursor: help;
}
.in-icon--detail {
  color: #aaa;
}
.in-message {
  display: block;
  padding: 6px 9px;
  margin: 5px 0;
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
}
.in-message__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.in-message--error {
  color: #D60000;
  border: 1px solid #F7D6D6;
  background: #fbebeb;
}
.in-message--warning {
  color: #FFA200;
  border: 1px solid #FFA200;
  background: #ffb533;
}
.in-message--info {
  color: #005B7E;
  border: 1px solid #BAE3F2;
  background: #e5f4fa;
}
.in-message--success {
  color: #a0c519;
  border: 1px solid #a0c519;
  background: #f6fbe2;
}
.in-message--alert {
  color: #D60000;
  border: 1px solid #F7D6D6;
  background: #fbebeb;
}
.in-overlay {
  position: relative !important;
}
.in-overlay__in {
  position: fixed;
  bottom: 0px;
  right: 0px;
  top: 0px;
  left: 0px;
  z-index: 4000;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}
.in-overlay__in--absolute {
  position: absolute;
}
.in-overlay__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 28px;
  min-height: 28px;
  margin-top: -14px;
  margin-left: -14px;
  line-height: 28px;
  text-align: center;
}
.in-overlay__spinner--absolute {
  position: absolute;
}
.in-overlay__spinner__icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  will-change: transform;
  opacity: .3;
  font-size: 28px;
  animation: spin 2s linear infinite;
  color: #333;
}
.in-overlay__spinner__icon:before {
  content: "\f10b";
}
.in-overlay__spinner__icon:before {
  display: block;
  line-height: 28px;
  height: 28px;
  width: 28px;
}
.in-overlay__spinner__message {
  display: block;
  margin-top: 10px;
}
.in-paging {
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  .in-paging {
    display: flex;
    align-items: center;
  }
}
.in-paging__info {
  display: none;
}
@media only screen and (min-width: 600px) {
  .in-paging__info {
    display: block;
    flex: 1;
  }
}
.in-paging__control {
  flex: 3;
  text-align: center;
  font-size: 0;
}
@media only screen and (min-width: 600px) {
  .in-paging__control {
    flex: 3;
  }
}
.in-paging__control__item {
  display: inline-block;
  vertical-align: middle;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0 1px;
  text-align: center;
  font-size: 14px;
}
.in-paging__control__item--num {
  text-decoration: none;
  background: #f4f4f4;
  color: #333;
}
.in-paging__control__item--num:hover {
  background: #e7e7e7;
}
.in-paging__control__item--num--active {
  background: #a0c519;
  color: #fff;
}
.in-paging__control__item--num--active:hover {
  background: #a0c519;
}
.in-paging__control__item--arrow {
  text-decoration: none;
  background: #f4f4f4;
  color: #333;
}
.in-paging__control__item--arrow:hover {
  background: #e7e7e7;
}
.in-paging__control__item--arrow--inactive {
  color: #aaa;
}
.in-paging__control__item--arrow--inactive:hover {
  background: #f4f4f4;
}
.in-place {
  margin-bottom: 20px;
  text-align: center;
}
.in-scroll {
  width: 100%;
  overflow: auto;
}
@media only screen and (min-width: 1024px) {
  .in-scroll {
    width: auto;
    overflow: auto;
  }
}
.in-scroll__in {
  min-width: 800px;
}
@media only screen and (min-width: 1024px) {
  .in-scroll__in {
    min-width: 0;
  }
}
.in-tab__head {
  display: none;
}
@media only screen and (min-width: 769px) {
  .in-tab__head {
    display: block;
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
    *zoom: 1;
  }
  .in-tab__head:before,
  .in-tab__head:after {
    content: "";
    display: table;
  }
  .in-tab__head:after {
    clear: both;
  }
  .in-tab__head__item {
    float: left;
    padding: 8px 15px;
    border: 1px solid transparent;
    border-bottom: 0;
  }
  .in-tab__head__item.active {
    background: #fff;
    border-color: #ddd;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
}
@media only screen and (min-width: 769px) and only screen and (min-width: 1200px) {
  .in-tab__head__item {
    padding: 10px 20px;
  }
}
.in-tab__content__title {
  display: block;
  padding: 10px 40px 10px 10px;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #333;
  font-weight: bold;
}
@media only screen and (min-width: 769px) {
  .in-tab__content__title {
    display: none;
  }
}
.in-tab__content__title .svg {
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 10px;
}
.in-tab__content__title.active {
  color: #a0c519;
}
.in-tab__content__title.active .svg {
  transform: rotate(180deg);
}
.in-tab__content__item {
  display: none;
}
@media only screen and (min-width: 769px) {
  .in-tab__content__item {
    padding: 15px;
    border: 1px solid #ddd;
  }
}
@media only screen and (min-width: 1200px) {
  .in-tab__content__item {
    padding: 20px;
  }
}
.in-tab__content__item.active {
  display: block;
  margin-bottom: 10px;
}
.in-user-text ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}
.in-user-text ul li {
  position: relative;
  padding-left: 15px;
  line-height: 18px;
  margin-bottom: 5px;
}
.in-user-text ul li:after {
  position: absolute;
  content: '';
  top: 6px;
  left: 0;
  width: 6px;
  height: 6px;
  background: #a0c519;
}
.in-user-text ul ul {
  margin: 5px 0 0 15px;
}
.in-user-text img {
  height: auto !important;
}
.form-error {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: default;
}
.form-error--line {
  position: absolute;
  top: 7px;
  right: 5px;
}
@media only screen and (min-width: 769px) {
  .form-error--line {
    right: auto;
    left: 295px;
  }
}
.form-error--inline {
  display: flex;
  align-items: baseline;
  margin: 5px;
  padding: 5px;
  background: #D60000;
}
.form-error--choice {
  right: auto;
  top: -3px;
  margin-bottom: -5px;
}
.form-error--line-block {
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 10;
}
.form-error__icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #D60000;
  font-weight: bold;
  font-size: 17px;
}
.form-error--inline .form-error__icon {
  width: auto;
  margin-right: 5px;
  color: #fff;
}
.form-error__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 120px;
  margin-left: -60px;
  margin-top: 10px;
  padding: 5px;
  display: none;
  z-index: 50;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.form-error__list:after {
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -6px;
  content: '';
  border-bottom: 6px solid rgba(0, 0, 0, 0.7);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.form-error:hover .form-error__list {
  display: block;
}
.form-error--inline:hover .form-error__list {
  display: inline-block;
}
.form-error--inline .form-error__list {
  display: inline-block;
  position: static;
  width: auto;
  padding: 0;
  margin: 0;
  background: none;
}
.form-error--inline .form-error__list:after {
  display: none;
}
.form-error__list li {
  font-size: 12px;
  color: #fff;
}
.form-choice {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  line-height: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.form-choice--block {
  display: block;
  margin-right: 0;
}
.form-choice__input {
  position: absolute;
  top: 2px;
  left: 0;
}
.form-choice__label {
  position: relative;
}
.form-input-required {
  display: inline-block;
  padding: 0 1px;
  color: #D60000;
}
.form-input-spinbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 3px 24px 3px 3px;
  border: 1px solid #ddd;
}
.form-input-spinbox__input {
  width: 27px;
  padding: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.form-input-spinbox__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 50%;
  background: #f4f4f4;
  color: #333;
}
.form-input-spinbox__btn--minus {
  top: auto;
  bottom: 0;
}
.form-input-spinbox__btn:hover {
  background: #e7e7e7;
}
.form-line {
  position: relative;
  margin: 0 0 15px;
  padding: 0;
}
.form-line dt {
  margin: 0 0 5px;
  padding: 0;
  display: block;
}
@media only screen and (min-width: 600px) {
  .form-line dt {
    float: left;
    width: 160px;
    padding: 8px 10px 8px 0;
    margin: 0;
    line-height: 20px;
  }
}
.form-line dd {
  margin: 0 0 5px;
  padding: 0;
  display: block;
  position: relative;
}
@media only screen and (min-width: 600px) {
  .form-line dd {
    margin-left: 170px;
    margin-bottom: 0;
  }
}
.form-line .input {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .form-line .input {
    max-width: 320px;
  }
}
.form-line-block {
  position: relative;
  margin: 0 0 15px;
  padding: 0;
}
.form-line-block dt {
  margin: 0 0 5px;
  padding: 0;
  display: block;
}
.form-line-block dd {
  margin: 0 0 5px;
  padding: 0;
  display: block;
  position: relative;
}
.form-line-block .input {
  width: 100%;
}
.list-categories {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}
@media only screen and (min-width: 480px) {
  .list-categories {
    margin-left: -5px;
    font-size: 0;
  }
}
.list-categories__item {
  margin-bottom: 5px;
}
@media only screen and (min-width: 480px) {
  .list-categories__item {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .list-categories__item {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 1200px) {
  .list-categories__item {
    width: 25%;
  }
}
.list-categories__item__block {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 85px;
  text-decoration: none;
  border: 1px solid #ddd;
}
.is-no-flex .list-categories__item__block {
  display: block;
  font-size: 0;
}
.list-categories__item__image {
  padding: 10px 0 10px 10px;
  flex: 0 50px;
  text-align: center;
}
.is-no-flex .list-categories__item__image {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
}
.list-categories__item__title {
  flex: 1;
  margin: 0;
  line-height: 16px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}
.is-no-flex .list-categories__item__title {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}
.list-menu__item__link {
  position: relative;
}
.list-menu__item__control {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12.5px;
  height: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
  font-size: 11px;
}
.list-menu__item__control:before {
  will-change: transform;
  display: block;
  transition: cubic-bezier(0.8, 0.2, 0.48, 1) 200ms transform;
}
.list-menu__item__control.open:before {
  transform: rotateX(180deg);
}
@media only screen and (max-width: 768px) {
  .list-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #a0c519;
  }
  .list-menu--root {
    display: none;
    position: absolute;
    top: 95px;
    left: 0;
    right: 0;
    z-index: 5000;
  }
  .list-menu__item {
    display: block;
    border-top: 1px solid #b2dc1c;
  }
  .list-menu__item:first-child {
    border-top: 0;
  }
  .list-menu__item__link {
    display: block;
    padding: 10px 25px 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
  }
  .list-menu__item__link:hover {
    background: #b2dc1c;
    color: #fff;
  }
  .list-menu__item__link--level-1 {
    font-size: 12px;
  }
  .list-menu__item__link--level-2 {
    padding-left: 40px;
  }
  .list-menu__item__link--level-3 {
    padding-left: 50px;
  }
  .list-menu__item__link--level-4 {
    padding-left: 60px;
  }
  .list-menu__item__link.current {
    background: #b2dc1c;
    font-weight: bold;
  }
  .list-menu .list-menu {
    margin-bottom: 0;
    border-top: 1px solid #b2dc1c;
  }
}
@media only screen and (min-width: 769px) {
  .list-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 20px;
  }
  .list-menu__item {
    display: block;
    border-top: 1px solid #ddd;
    background: #f4f4f4;
  }
  .list-menu__item:first-child {
    border-top: 0;
  }
  .list-menu__item__link {
    display: block;
    padding: 8px 25px 8px 50px;
    text-decoration: none;
    font-size: 11px;
  }
  .list-menu__item__link--level-1 {
    padding-left: 10px;
    font-size: 12px;
  }
  .list-menu__item__link--level-2 {
    padding-left: 20px;
  }
  .list-menu__item__link--level-3 {
    padding-left: 30px;
  }
  .list-menu__item__link--level-4 {
    padding-left: 40px;
  }
  .list-menu__item__link.current {
    color: #333;
    font-weight: bold;
  }
  .list-menu__item__control {
    color: #aaa;
  }
  .list-menu__item__control:hover {
    color: #333;
  }
  .list-menu .list-menu {
    margin-bottom: 0;
    border-top: 1px solid #ddd;
  }
}
.list-images {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.list-images__item {
  flex: 0 50%;
  padding-left: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 480px) {
  .list-images__item {
    flex: 0 33.33333333%;
  }
}
@media only screen and (min-width: 600px) {
  .list-images__item {
    flex: 0 33.33333333%;
  }
}
@media only screen and (min-width: 1024px) {
  .list-images__item {
    flex: 0 20%;
  }
}
@media only screen and (min-width: 1200px) {
  .list-images__item {
    flex: 0 16.66666667%;
  }
}
.list-images__item__block {
  display: block;
  position: relative;
  height: 100px;
  text-align: center;
}
.list-images__item__block img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding-top: 20px;
}
.list-images__item__block--with-label {
  height: 130px;
}
.list-products {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 20px;
  margin-left: -15px;
}
.is-no-flex .list-products {
  display: block;
  *zoom: 1;
}
.is-no-flex .list-products:before,
.is-no-flex .list-products:after {
  content: "";
  display: table;
}
.is-no-flex .list-products:after {
  clear: both;
}
.list-products__item {
  flex: 0 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-left: 15px;
}
.is-no-flex .list-products__item {
  display: block;
  float: left;
}
@media only screen and (min-width: 480px) {
  .list-products__item {
    flex: 0 50%;
  }
  .is-no-flex .list-products__item {
    width: 50%;
  }
}
@media only screen and (min-width: 600px) {
  .list-products__item {
    flex: 0 33.33333333%;
  }
  .is-no-flex .list-products__item {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 769px) {
  .list-products__item {
    flex: 0 50%;
  }
  .is-no-flex .list-products__item {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .list-products__item {
    flex: 0 33.33333333%;
  }
  .is-no-flex .list-products__item {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 480px) {
  .list-products--in-window .list-products__item {
    flex: 0 50%;
  }
  .is-no-flex .list-products--in-window .list-products__item {
    width: 50%;
  }
}
@media only screen and (min-width: 600px) {
  .list-products--in-window .list-products__item {
    flex: 0 50%;
  }
  .is-no-flex .list-products--in-window .list-products__item {
    width: 50%;
  }
}
@media only screen and (min-width: 769px) {
  .list-products--in-window .list-products__item {
    flex: 0 33.33333333%;
  }
  .is-no-flex .list-products--in-window .list-products__item {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 1024px) {
  .list-products--in-window .list-products__item {
    flex: 0 33.33333333%;
  }
  .is-no-flex .list-products--in-window .list-products__item {
    width: 33.33333333%;
  }
}
.list-products__item__in {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.is-no-flex .list-products__item__in {
  display: block;
}
.list-products__item__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333;
}
.is-no-flex .list-products__item__block {
  display: block;
}
.list-products__item__block:hover {
  text-decoration: none;
}
.list-products__item__title {
  flex: 1;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  line-height: 18px;
  font-size: 16px;
  font-weight: normal;
  color: #a0c519;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) color;
}
.is-no-flex .list-products__item__title {
  height: 36px;
  line-height: 18px;
  overflow: hidden;
}
.list-products__item__block:hover .list-products__item__title {
  color: #333;
}
.list-products__item__image {
  height: 120px;
  position: relative;
  margin-bottom: 10px;
}
.list-products__item__image img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.list-products__item__info {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}
.is-no-flex .list-products__item__info {
  display: block;
  *zoom: 1;
}
.is-no-flex .list-products__item__info:before,
.is-no-flex .list-products__item__info:after {
  content: "";
  display: table;
}
.is-no-flex .list-products__item__info:after {
  clear: both;
}
.list-products__item__info__description {
  flex: 0 100%;
  height: 64px;
  line-height: 16px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 12px;
}
.list-products__item__info__price {
  flex: 0 50%;
  padding-right: 5px;
}
.is-no-flex .list-products__item__info__price {
  float: left;
  width: 50%;
}
.list-products__item__info__price__item {
  display: block;
  font-size: 12px;
  color: #aaa;
}
.list-products__item__info__price__item--main {
  font-size: 16px;
  font-weight: bold;
  color: #D60000;
}
.list-products__item__info__availability {
  flex: 0 50%;
  padding-left: 5px;
  text-align: right;
  font-size: 12px;
}
.is-no-flex .list-products__item__info__availability {
  float: right;
  width: 50%;
}
.list-products__item__action {
  text-align: center;
}
.list-products-line {
  margin-bottom: 20px;
}
.list-products-line__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-products-line__item {
  display: block;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}
.list-products-line__item__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 5px;
  text-decoration: none;
  color: #333;
}
.is-no-flex .list-products-line__item__block {
  display: block;
  *zoom: 1;
}
.is-no-flex .list-products-line__item__block:before,
.is-no-flex .list-products-line__item__block:after {
  content: "";
  display: table;
}
.is-no-flex .list-products-line__item__block:after {
  clear: both;
}
.list-products-line__item__position {
  flex: 0 20px;
  font-size: 14px;
}
.is-no-flex .list-products-line__item__position {
  width: 20px;
  float: left;
}
.list-products-line__item__image {
  flex: 0 50px;
  padding-right: 5px;
  text-align: center;
}
.is-no-flex .list-products-line__item__image {
  width: 50px;
  float: left;
}
.list-products-line__item__image img {
  display: block;
}
.list-products-line__item__title {
  flex: 1;
  margin-bottom: 0;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bold;
}
.is-no-flex .list-products-line__item__title {
  width: calc(100% - 20px - 50px);
  float: left;
}
@media only screen and (min-width: 600px) {
  .is-no-flex .list-products-line__item__title {
    width: calc(100% - 20px - 50px - 150px);
  }
}
.list-products-line__item__price {
  flex: 0 100%;
}
.is-no-flex .list-products-line__item__price {
  width: 100%;
  clear: both;
}
@media only screen and (min-width: 600px) {
  .list-products-line__item__price {
    flex: 0 150px;
  }
  .is-no-flex .list-products-line__item__price {
    float: left;
    width: 150px;
    clear: none;
  }
}
.list-products-line__item__price__item {
  font-size: 12px;
  color: #aaa;
  text-align: right;
}
.list-products-line__item__price__item--main {
  font-weight: bold;
  color: #D60000;
}
.list-products-line__more {
  text-align: center;
}
.list-simple {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-simple__item {
  position: relative;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 3px;
}
.list-simple__item:after {
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  content: '';
  background: #009BD9;
}
.table-cart {
  margin-bottom: 20px;
}
.table-cart__cell--action a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #aaa;
  font-size: 10px;
}
.table-cart__cell--action a:hover {
  color: #D60000;
}
.table-cart__cell__image {
  display: inline-block;
  position: relative;
  height: 60px;
  width: 60px;
}
.table-cart__cell__image img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (max-width: 768px) {
  .table-cart {
    width: 100%;
    display: block;
  }
  .table-cart tbody,
  .table-cart tfoot {
    display: block;
  }
  .table-cart thead {
    display: none;
  }
  .table-cart__row {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    border: 1px solid #ddd;
  }
  tfoot .table-cart__row {
    border: 0;
  }
  .table-cart__cell {
    display: block;
  }
  tfoot .table-cart__cell {
    display: none;
  }
  .table-cart__cell--image {
    float: left;
    width: 40px;
  }
  .table-cart__cell--name {
    padding-left: 70px;
    padding-right: 20px;
  }
  .table-cart__cell--price {
    display: none;
  }
  .table-cart__cell--amount {
    padding-left: 70px;
    padding-top: 10px;
  }
  .table-cart__cell--action {
    position: absolute;
    top: 0;
    right: 0;
  }
  tfoot .table-cart__cell--total-price {
    display: block;
    text-align: center;
    font-weight: bold;
  }
  tfoot .table-cart__cell--total-price span {
    font-size: 14px;
    color: #D60000;
  }
  .table-cart__cell__price-mobile {
    margin-top: 5px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 769px) {
  .table-cart {
    width: 100%;
  }
  .table-cart__cell {
    padding: 5px;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
  }
  thead .table-cart__cell {
    font-weight: bold;
  }
  tfoot .table-cart__cell {
    border-bottom: 0;
  }
  .table-cart__cell--image {
    width: 70px;
  }
  .table-cart__cell--amount {
    width: 15%;
    text-align: right;
  }
  .table-cart__cell--price {
    width: 14%;
    text-align: right;
  }
  .table-cart__cell--action {
    width: 20px;
    text-align: right;
  }
  .table-cart__cell--total-price {
    text-align: right;
    font-weight: bold;
  }
  .table-cart__cell--total-price span {
    display: inline-block;
    margin-left: 5px;
    color: #D60000;
    font-size: 16px;
  }
  .table-cart__cell__price-mobile {
    display: none;
  }
}
.table-cart-preview {
  width: 100%;
  margin-bottom: 20px;
}
.table-cart-preview__row {
  border-top: 1px solid #ddd;
}
.table-cart-preview__row:first-child {
  border-top: 0;
}
.table-cart-preview__cell {
  padding: 5px 0;
}
.table-cart-preview__row--total .table-cart-preview__cell {
  font-weight: bold;
}
.table-cart-preview__cell--price {
  padding-left: 5px;
  text-align: right;
}
.table-cart-preview__row--total .table-cart-preview__cell--price {
  color: #D60000;
}
.table-main tr {
  background: #fff;
}
.table-main tr:nth-child(2n+1) {
  background: #f4f4f4;
}
.table-main td,
.table-main th {
  padding: 10px;
}
.table-main th {
  text-align: left;
  font-weight: bold;
}
.table-params {
  width: 100%;
}
.table-params tr {
  background: #fff;
  border-top: 1px solid #ddd;
}
.table-params tr:first-child {
  border-top: 0;
}
.table-params td,
.table-params th {
  padding: 8px 12px;
}
.table-params th {
  width: 200px;
  text-align: left;
  font-weight: bold;
}
.table-variants {
  margin-bottom: 20px;
}
.table-variants__cell__image {
  display: inline-block;
  position: relative;
}
.table-variants__cell__image img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
@media only screen and (max-width: 768px) {
  .table-variants {
    width: 100%;
    display: block;
  }
  .table-variants tbody {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
  }
  .table-variants thead {
    display: none;
  }
  .table-variants__row {
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    display: block;
    border: 1px solid #ddd;
  }
  tbody .table-variants__row {
    flex: 0 calc(100% / 2 - 5px);
    margin-left: 5px;
  }
  .table-variants__cell {
    display: block;
    padding-left: 50px;
  }
  .table-variants__cell--image {
    float: left;
    width: 40px;
    padding-left: 0;
  }
  .table-variants__cell--action {
    clear: both;
    padding-left: 0;
  }
  .table-variants__cell__image {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (max-width: 768px) and (max-width: 479px) {
  .table-variants tbody {
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) and (max-width: 479px) {
  tbody .table-variants__row {
    flex: 0 100%;
    margin-left: 0;
  }
}
@media only screen and (min-width: 769px) {
  .table-variants {
    width: 100%;
  }
  .table-variants__cell {
    padding: 5px;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
  }
  .table-variants__cell--image {
    width: 70px;
  }
  .table-variants__cell--price {
    text-align: right;
  }
  .table-variants__cell--action {
    width: 240px;
    text-align: right;
  }
  .table-variants__cell__image {
    height: 60px;
    width: 60px;
  }
  thead .table-variants__cell {
    font-weight: bold;
  }
  tfoot .table-variants__cell {
    border-bottom: 0;
  }
}
.window-bar {
  padding: 0 20px;
  text-align: center;
  background: #D60000;
  color: #fff;
}
.window-bar__item {
  padding: 5px 0;
}
.window-bar a {
  color: #fff;
}
.window-bar a:hover {
  color: #fff;
}
.window-popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  max-height: calc(100% - 2 * 10px);
  left: 10px;
  padding: 25px 0;
  z-index: 10001;
  transform: scaleX(0);
  width: calc(100% - 2*10px);
  will-change: transform;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) transform;
  border-radius: 3px;
}
.is-no-flex .window-popup,
.is-safari .window-popup,
.is-flex-popup-height-issue-detected .window-popup {
  display: block;
  *zoom: 1;
}
.is-no-flex .window-popup:before,
.is-safari .window-popup:before,
.is-flex-popup-height-issue-detected .window-popup:before,
.is-no-flex .window-popup:after,
.is-safari .window-popup:after,
.is-flex-popup-height-issue-detected .window-popup:after {
  content: "";
  display: table;
}
.is-no-flex .window-popup:after,
.is-safari .window-popup:after,
.is-flex-popup-height-issue-detected .window-popup:after {
  clear: both;
}
.is-no-flex .window-popup,
.is-safari .window-popup,
.is-flex-popup-height-issue-detected .window-popup {
  display: block;
}
.window-popup--active {
  transform: scaleX(1);
}
@media only screen and (min-width: 600px) {
  .window-popup--standard {
    position: fixed;
    width: 400px;
    left: 50%;
    margin-left: -200px;
  }
}
@media only screen and (min-width: 600px) {
  .window-popup--wide {
    width: calc(100vw - 2 * 25px);
    max-height: calc(100% - 2 * 25px - 2 * 20px);
    left: 20px;
    top: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .window-popup--wide {
    position: fixed;
    width: 750px;
    left: 50%;
    margin-left: -375px;
  }
}
.window-popup__in {
  width: 100%;
  max-height: calc(100vh - 2 * 25px - 2 * 20px);
  overflow: auto;
  flex: 1;
  padding: 0 25px;
}
.window-popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #777;
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
}
.window-popup__close:hover {
  text-decoration: none;
}
.window-popup__actions {
  padding: 12.5px 25px;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .window-popup__actions {
    padding-bottom: 0;
  }
}
.window-popup__actions--multiple-buttons {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 480px) {
  .window-popup__actions--multiple-buttons {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.is-no-flex .window-popup__actions--multiple-buttons {
  display: block;
  *zoom: 1;
}
.is-no-flex .window-popup__actions--multiple-buttons:before,
.is-no-flex .window-popup__actions--multiple-buttons:after {
  content: "";
  display: table;
}
.is-no-flex .window-popup__actions--multiple-buttons:after {
  clear: both;
}
.window-popup__actions__btn {
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .window-popup__actions__btn {
    width: auto;
  }
}
.window-popup__actions--multiple-buttons .window-popup__actions__btn {
  margin: 2px 0;
}
.window-popup__actions__btn i {
  position: relative;
  top: 0;
  font-size: 12px;
}
.window-popup__actions__btn--cancel i {
  transform: rotate(90deg);
  float: left;
  margin: 0 10px -6px 0;
}
@media only screen and (min-width: 480px) {
  .window-popup__actions__btn--cancel {
    order: -1;
  }
}
.is-no-flex .window-popup__actions--multiple-buttons .window-popup__actions__btn--cancel {
  float: left;
}
.window-popup__actions__btn--continue i {
  transform: rotate(-90deg);
  float: right;
  margin: 0 0 0 10px;
}
.is-no-flex .window-popup__actions--multiple-buttons .window-popup__actions__btn--continue {
  float: right;
}
.window-popup__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  will-change: background;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) background;
}
.window-popup__overlay--active {
  background: rgba(0, 0, 0, 0.75);
}
.box-breadcrumb {
  margin-bottom: 20px;
  font-size: 0;
}
.box-breadcrumb__item {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 10px;
  font-size: 14px;
}
.box-breadcrumb__item--separator {
  padding-left: 0;
  padding-right: 0;
  font-size: 10px;
}
.box-breadcrumb__item--icon {
  text-decoration: none;
}
.box-cart-bottom {
  margin-bottom: 20px;
}
@media only screen and (min-width: 769px) {
  .box-cart-bottom {
    width: 100%;
    display: flex;
  }
  .is-no-flex .box-cart-bottom {
    display: block;
    *zoom: 1;
  }
  .is-no-flex .box-cart-bottom:before,
  .is-no-flex .box-cart-bottom:after {
    content: "";
    display: table;
  }
  .is-no-flex .box-cart-bottom:after {
    clear: both;
  }
}
.box-cart-bottom__info {
  margin-bottom: 10px;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .box-cart-bottom__info {
    flex: 1;
    text-align: left;
  }
  .is-no-flex .box-cart-bottom__info {
    float: left;
    width: 50%;
  }
}
.box-cart-bottom__promo {
  text-align: center;
}
@media only screen and (min-width: 769px) {
  .box-cart-bottom__promo {
    flex: 1;
    text-align: right;
  }
  .is-no-flex .box-cart-bottom__promo {
    float: right;
    width: 50%;
  }
}
.box-cart-empty {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.is-no-flex .box-cart-empty {
  display: block;
  font-size: 0;
}
.box-cart-empty__image {
  flex: 1;
  padding-right: 10px;
  text-align: center;
}
.is-no-flex .box-cart-empty__image {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
@media only screen and (min-width: 769px) {
  .box-cart-empty__image {
    padding-right: 40px;
  }
}
.box-cart-empty__text {
  flex: 1;
  padding: 0 10px;
  text-align: center;
  font-size: 12px;
}
.is-no-flex .box-cart-empty__text {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
@media only screen and (min-width: 600px) {
  .box-cart-empty__text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 600px) {
  .box-cart-empty__text {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  .box-cart-empty__text {
    font-size: 20px;
  }
}
.box-cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 5px 0;
  height: 36px;
  will-change: transform;
  text-align: center;
  background: #BCE0EE;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) transform;
}
.box-cookies--closing {
  transform: scaleY(0);
}
.box-cookies__in {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.is-no-flex .box-cookies__in {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .box-cookies__in {
    margin: 0 auto;
    width: 1200px;
  }
}
.is-no-flex .box-cookies__text {
  display: inline-block;
  vertical-align: middle;
}
.box-cookies__btn {
  padding-left: 10px;
}
.is-no-flex .box-cookies__btn {
  display: inline-block;
  vertical-align: middle;
}
.box-condition {
  padding: 10px;
  margin-bottom: 20px;
  width: 490px;
  max-width: 100%;
  background: #fff;
  border: 1px solid #ddd;
}
.box-condition__in {
  margin-bottom: 10px;
}
.box-condition__control {
  text-align: right;
}
.box-condition iframe {
  border: none;
}
@media only screen and (min-width: 769px) {
  .box-detail {
    *zoom: 1;
  }
  .box-detail:before,
  .box-detail:after {
    content: "";
    display: table;
  }
  .box-detail:after {
    clear: both;
  }
}
.box-detail__image {
  position: relative;
  margin-bottom: 20px;
}
@media only screen and (min-width: 769px) {
  .box-detail__image {
    width: 50%;
    float: left;
    padding-right: 20px;
  }
}
.box-detail__image__main {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 0;
}
.box-detail__image__main img {
  width: auto;
  height: auto;
}
.box-detail__info {
  margin-bottom: 20px;
}
@media only screen and (min-width: 769px) {
  .box-detail__info {
    width: 50%;
    float: right;
  }
}
.box-detail__info__availability {
  margin-bottom: 20px;
  font-weight: bold;
}
.box-detail__info__params {
  margin: 0 0 20px;
  padding: 10px 0;
  font-size: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
@media only screen and (min-width: 600px) {
  .box-detail__info__params {
    column-count: 2;
  }
}
@media only screen and (min-width: 769px) {
  .box-detail__info__params {
    column-count: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .box-detail__info__params {
    column-count: 2;
  }
}
.box-detail__info__params dt,
.box-detail__info__params dd {
  margin: 0;
  padding: 5px 0;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 12px;
}
.box-detail__info__params dt {
  padding-right: 5px;
  font-weight: bold;
}
.box-detail-add {
  margin-bottom: 20px;
}
.box-detail-add__prices {
  margin-bottom: 20px;
}
.box-detail-add__prices__item {
  color: #aaa;
}
.box-detail-add__prices__item--main {
  font-weight: bold;
  font-size: 18px;
  color: #D60000;
}
.box-error-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.is-no-flex .box-error-page {
  display: block;
  *zoom: 1;
}
.is-no-flex .box-error-page:before,
.is-no-flex .box-error-page:after {
  content: "";
  display: table;
}
.is-no-flex .box-error-page:after {
  clear: both;
}
.box-error-page__text {
  flex: 0 100%;
}
.is-no-flex .box-error-page__text {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .box-error-page__text {
    flex: 1;
  }
  .is-no-flex .box-error-page__text {
    float: left;
    width: 50%;
  }
}
.box-error-page__text__main {
  margin: 40px 0;
}
.box-error-page__image {
  flex: 0 100%;
  text-align: center;
}
.is-no-flex .box-error-page__image {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .box-error-page__image {
    flex: 1;
  }
  .is-no-flex .box-error-page__image {
    float: left;
    width: 50%;
  }
}
.box-filter {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}
.box-filter__price {
  margin-bottom: 20px;
}
.box-filter__choice {
  margin-bottom: 10px;
}
.box-filter__choice__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 5px 0;
  font-weight: bold;
}
.box-filter__parameters__title {
  display: block;
  padding: 10px;
  margin: 0 -10px 10px;
  font-weight: bold;
  background: #f4f4f4;
}
.box-filter__action {
  text-align: right;
}
.box-free-transport {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
}
@media only screen and (min-width: 769px) {
  .box-free-transport {
    padding: 10px 20px;
  }
}
.box-free-transport strong {
  color: #D60000;
}
.box-free-transport--done strong {
  color: #a0c519;
}
.box-gallery {
  height: 80px;
  position: relative;
  margin-bottom: 20px;
}
.box-gallery .slick-list {
  overflow: hidden;
}
.box-gallery__item {
  float: left;
  width: 50%;
  padding: 0 5px;
  box-sizing: content-box;
}
@media only screen and (min-width: 320px) {
  .box-gallery__item {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 600px) {
  .box-gallery__item {
    width: 25%;
  }
}
@media only screen and (min-width: 769px) {
  .box-gallery__item {
    width: 33.33333333%;
  }
}
@media only screen and (min-width: 1024px) {
  .box-gallery__item {
    width: 25%;
  }
}
.box-gallery__item__link {
  display: block;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #ddd;
}
.box-gallery__item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.box-gallery__arrow {
  float: left;
  line-height: 20px;
  width: 20px;
  height: 20px;
  margin-top: 30px;
  cursor: pointer;
  color: #ddd;
}
.box-gallery__arrow--prev {
  position: relative;
  top: 3px;
  transform: rotate(90deg);
}
.box-gallery__arrow--next {
  position: relative;
  top: -3px;
  transform: rotate(-90deg);
}
.box-gallery__arrow.slick-disabled {
  color: #f7f7f7;
  cursor: default;
}
.box-gallery__in {
  float: left;
  width: calc(100% - 20px*2);
}
.box-chooser {
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.box-chooser__item {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
.is-no-flex .box-chooser__item {
  display: block;
  *zoom: 1;
}
.is-no-flex .box-chooser__item:before,
.is-no-flex .box-chooser__item:after {
  content: "";
  display: table;
}
.is-no-flex .box-chooser__item:after {
  clear: both;
}
.box-chooser__item__check {
  flex: 0 20px;
}
.is-no-flex .box-chooser__item__check {
  float: left;
  width: 20px;
}
.box-chooser__item__image {
  flex: 0 40px;
  text-align: center;
}
.is-no-flex .box-chooser__item__image {
  float: left;
  width: 40px;
}
.box-chooser__item__title {
  flex: 1;
  padding: 0 10px;
}
.is-no-flex .box-chooser__item__title {
  float: left;
  width: calc(100% - 20px - 40px - 80px - 2 * 10px);
}
.box-chooser__item--inactive .box-chooser__item__title {
  color: #aaa;
}
.box-chooser__item__price {
  flex: 0 80px;
  text-align: right;
  font-weight: bold;
}
.is-no-flex .box-chooser__item__price {
  float: right;
  width: 80px;
}
.box-chooser__item--active .box-chooser__item__price {
  color: #D60000;
}
.box-chooser__item--inactive .box-chooser__item__price {
  color: #aaa;
}
.box-list__description__text {
  margin-bottom: 10px;
  line-height: 16px;
}
.box-list__description__text--small {
  overflow: hidden;
  height: 32px;
}
.box-list__description__more {
  text-align: center;
}
.box-list__description__more__btn {
  display: none;
}
.box-list__producer {
  *zoom: 1;
  width: 100%;
  margin-bottom: 20px;
}
.box-list__producer:before,
.box-list__producer:after {
  content: "";
  display: table;
}
.box-list__producer:after {
  clear: both;
}
.box-list__producer__text {
  text-align: justify;
}
.box-list__producer__image {
  float: right;
  width: 30%;
  margin: 0 0 10px 10px;
}
.box-login__title {
  margin-bottom: 20px;
}
.box-login__item {
  margin-bottom: 5px;
}
.box-login__item--checkbox {
  margin-top: 10px;
}
.box-login__item--submit {
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-login__item--info {
  margin-bottom: 0;
}
.box-login__item .input {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .box-order {
    width: 100%;
    display: flex;
  }
  .is-no-flex .box-order {
    display: block;
    *zoom: 1;
  }
  .is-no-flex .box-order:before,
  .is-no-flex .box-order:after {
    content: "";
    display: table;
  }
  .is-no-flex .box-order:after {
    clear: both;
  }
}
.box-order__info {
  margin-bottom: 20px;
}
@media only screen and (min-width: 769px) {
  .box-order__info {
    flex: 0 66.66666667%;
  }
  .is-no-flex .box-order__info {
    float: left;
    width: 66.66666667%;
  }
}
.box-order__cart {
  margin-bottom: 20px;
}
@media only screen and (min-width: 769px) {
  .box-order__cart {
    flex: 0 calc(100% - 66.66666666666667%);
    padding-left: 20px;
  }
  .is-no-flex .box-order__cart {
    float: right;
    width: calc(100% - 66.66666666666667%);
  }
}
@media only screen and (min-width: 1024px) {
  .box-order__cart {
    padding-left: 40px;
  }
}
.box-order-type {
  margin-bottom: 20px;
  *zoom: 1;
}
.box-order-type:before,
.box-order-type:after {
  content: "";
  display: table;
}
.box-order-type:after {
  clear: both;
}
.box-order-type__item {
  float: left;
  padding: 5px 10px;
  border: 1px solid transparent;
  font-size: 12px;
}
@media only screen and (min-width: 600px) {
  .box-order-type__item {
    padding: 8px 15px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .box-order-type__item {
    padding: 10px 20px;
  }
}
.box-order-type__item.active {
  background: #fff;
  border-color: #ddd;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.box-order-detail__table {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .box-order-detail__total {
    *zoom: 1;
  }
  .box-order-detail__total:before,
  .box-order-detail__total:after {
    content: "";
    display: table;
  }
  .box-order-detail__total:after {
    clear: both;
  }
}
.box-order-detail__total__table {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .box-order-detail__total__table {
    float: right;
    width: 500px;
  }
}
.box-order-detail__total__table td,
.box-order-detail__total__table th {
  text-align: center;
  padding: 8px 12px;
}
.box-order-detail__total__table th {
  font-size: 15px;
}
@media only screen and (min-width: 769px) {
  .box-order-detail__total__table th {
    text-align: right;
  }
}
.box-orders__table {
  width: 100%;
}
.box-progress {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  width: 100%;
  margin-bottom: 20px;
}
.is-no-flex .box-progress {
  display: block;
  *zoom: 1;
}
.is-no-flex .box-progress:before,
.is-no-flex .box-progress:after {
  content: "";
  display: table;
}
.is-no-flex .box-progress:after {
  clear: both;
}
.box-progress__item {
  flex: 1;
  display: flex;
  align-items: center;
  background: #f4f4f4;
  border-left: 1px solid #fff;
}
.is-no-flex .box-progress__item {
  float: left;
  width: 33.33333333%;
  display: block;
}
.box-progress__item:first-child {
  border-left: 0;
}
.box-progress__item--active {
  background: #a0c519;
  color: #fff;
}
.box-progress__item--done {
  background: #333;
  color: #ccc;
}
.box-progress__item--previous-active {
  background: #4d4d4d;
  color: #e6e6e6;
}
.box-progress__item__inner {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.is-no-flex .box-progress__item__inner {
  display: block;
}
@media only screen and (min-width: 769px) {
  .box-progress__item__inner {
    font-size: 14px;
  }
}
.box-progress__item__step {
  font-weight: bold;
}
@media only screen and (min-width: 769px) {
  .box-progress__item__step {
    font-size: 18px;
  }
}
.box-promo-code {
  display: inline-block;
}
.box-promo-code__input {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.box-promo-code__input .input {
  width: 120px;
}
.box-promo-code__btn {
  display: inline-block;
  vertical-align: middle;
}
.box-promo-code__added {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  color: #a0c519;
}
.box-promo-code__added__remove {
  margin-left: 10px;
  position: relative;
  top: -1px;
  text-decoration: none;
  color: #aaa;
}
.box-promo-code__added__remove:hover {
  color: #D60000;
}
.box-promo-code__added__remove .svg {
  font-size: 11px;
}
.box-slider {
  display: none;
}
@media only screen and (min-width: 769px) {
  .box-slider {
    display: block;
    position: relative;
    margin-bottom: 20px;
    width: 900px;
    max-width: 100%;
  }
  .box-slider__in {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
  }
  .box-slider__item {
    float: left;
    display: block;
    position: relative;
  }
  .box-slider__item img {
    margin: 0 auto;
    display: block;
  }
  .box-slider .slick-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 2;
  }
  .box-slider .slick-dots li {
    display: inline-block;
  }
  .box-slider .slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    line-height: 8px;
    padding: 0;
    margin: 0 4px 0 0;
    text-indent: -9999px;
    font-size: 0;
    background: #333;
    cursor: pointer;
    border: none;
    border-radius: 50%;
  }
  .box-slider .slick-dots li.slick-active button {
    background: #a0c519;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-muted {
  color: #aaa;
}
.text-no-wrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.position-relative {
  position: relative;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
.cursor-auto {
  cursor: auto;
}
.cursor-help {
  cursor: help;
}
.margin-0 {
  margin: 0px;
}
.margin-left-0 {
  margin-left: 0px;
}
.margin-right-0 {
  margin-right: 0px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-5 {
  margin: 5px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-20 {
  margin: 20px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .margin-0-tablet {
    margin: 0px;
  }
  .margin-left-0-tablet {
    margin-left: 0px;
  }
  .margin-right-0-tablet {
    margin-right: 0px;
  }
  .margin-bottom-0-tablet {
    margin-bottom: 0px;
  }
  .margin-top-0-tablet {
    margin-top: 0px;
  }
  .margin-5-tablet {
    margin: 5px;
  }
  .margin-left-5-tablet {
    margin-left: 5px;
  }
  .margin-right-5-tablet {
    margin-right: 5px;
  }
  .margin-bottom-5-tablet {
    margin-bottom: 5px;
  }
  .margin-top-5-tablet {
    margin-top: 5px;
  }
  .margin-10-tablet {
    margin: 10px;
  }
  .margin-left-10-tablet {
    margin-left: 10px;
  }
  .margin-right-10-tablet {
    margin-right: 10px;
  }
  .margin-bottom-10-tablet {
    margin-bottom: 10px;
  }
  .margin-top-10-tablet {
    margin-top: 10px;
  }
  .margin-15-tablet {
    margin: 15px;
  }
  .margin-left-15-tablet {
    margin-left: 15px;
  }
  .margin-right-15-tablet {
    margin-right: 15px;
  }
  .margin-bottom-15-tablet {
    margin-bottom: 15px;
  }
  .margin-top-15-tablet {
    margin-top: 15px;
  }
  .margin-20-tablet {
    margin: 20px;
  }
  .margin-left-20-tablet {
    margin-left: 20px;
  }
  .margin-right-20-tablet {
    margin-right: 20px;
  }
  .margin-bottom-20-tablet {
    margin-bottom: 20px;
  }
  .margin-top-20-tablet {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 599px) {
  .margin-0-mobile {
    margin: 0px;
  }
  .margin-left-0-mobile {
    margin-left: 0px;
  }
  .margin-right-0-mobile {
    margin-right: 0px;
  }
  .margin-bottom-0-mobile {
    margin-bottom: 0px;
  }
  .margin-top-0-mobile {
    margin-top: 0px;
  }
  .margin-5-mobile {
    margin: 5px;
  }
  .margin-left-5-mobile {
    margin-left: 5px;
  }
  .margin-right-5-mobile {
    margin-right: 5px;
  }
  .margin-bottom-5-mobile {
    margin-bottom: 5px;
  }
  .margin-top-5-mobile {
    margin-top: 5px;
  }
  .margin-10-mobile {
    margin: 10px;
  }
  .margin-left-10-mobile {
    margin-left: 10px;
  }
  .margin-right-10-mobile {
    margin-right: 10px;
  }
  .margin-bottom-10-mobile {
    margin-bottom: 10px;
  }
  .margin-top-10-mobile {
    margin-top: 10px;
  }
  .margin-15-mobile {
    margin: 15px;
  }
  .margin-left-15-mobile {
    margin-left: 15px;
  }
  .margin-right-15-mobile {
    margin-right: 15px;
  }
  .margin-bottom-15-mobile {
    margin-bottom: 15px;
  }
  .margin-top-15-mobile {
    margin-top: 15px;
  }
  .margin-20-mobile {
    margin: 20px;
  }
  .margin-left-20-mobile {
    margin-left: 20px;
  }
  .margin-right-20-mobile {
    margin-right: 20px;
  }
  .margin-bottom-20-mobile {
    margin-bottom: 20px;
  }
  .margin-top-20-mobile {
    margin-top: 20px;
  }
}
.padding-0 {
  padding: 0px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-right-0 {
  padding-right: 0px;
}
.padding-bottom-0 {
  padding-bottom: 0px;
}
.padding-top-0 {
  padding-top: 0px;
}
.padding-5 {
  padding: 5px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-top-20 {
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  .padding-0-tablet {
    padding: 0px;
  }
  .padding-left-0-tablet {
    padding-left: 0px;
  }
  .padding-right-0-tablet {
    padding-right: 0px;
  }
  .padding-bottom-0-tablet {
    padding-bottom: 0px;
  }
  .padding-top-0-tablet {
    padding-top: 0px;
  }
  .padding-5-tablet {
    padding: 5px;
  }
  .padding-left-5-tablet {
    padding-left: 5px;
  }
  .padding-right-5-tablet {
    padding-right: 5px;
  }
  .padding-bottom-5-tablet {
    padding-bottom: 5px;
  }
  .padding-top-5-tablet {
    padding-top: 5px;
  }
  .padding-10-tablet {
    padding: 10px;
  }
  .padding-left-10-tablet {
    padding-left: 10px;
  }
  .padding-right-10-tablet {
    padding-right: 10px;
  }
  .padding-bottom-10-tablet {
    padding-bottom: 10px;
  }
  .padding-top-10-tablet {
    padding-top: 10px;
  }
  .padding-15-tablet {
    padding: 15px;
  }
  .padding-left-15-tablet {
    padding-left: 15px;
  }
  .padding-right-15-tablet {
    padding-right: 15px;
  }
  .padding-bottom-15-tablet {
    padding-bottom: 15px;
  }
  .padding-top-15-tablet {
    padding-top: 15px;
  }
  .padding-20-tablet {
    padding: 20px;
  }
  .padding-left-20-tablet {
    padding-left: 20px;
  }
  .padding-right-20-tablet {
    padding-right: 20px;
  }
  .padding-bottom-20-tablet {
    padding-bottom: 20px;
  }
  .padding-top-20-tablet {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 599px) {
  .padding-0-mobile {
    padding: 0px;
  }
  .padding-left-0-mobile {
    padding-left: 0px;
  }
  .padding-right-0-mobile {
    padding-right: 0px;
  }
  .padding-bottom-0-mobile {
    padding-bottom: 0px;
  }
  .padding-top-0-mobile {
    padding-top: 0px;
  }
  .padding-5-mobile {
    padding: 5px;
  }
  .padding-left-5-mobile {
    padding-left: 5px;
  }
  .padding-right-5-mobile {
    padding-right: 5px;
  }
  .padding-bottom-5-mobile {
    padding-bottom: 5px;
  }
  .padding-top-5-mobile {
    padding-top: 5px;
  }
  .padding-10-mobile {
    padding: 10px;
  }
  .padding-left-10-mobile {
    padding-left: 10px;
  }
  .padding-right-10-mobile {
    padding-right: 10px;
  }
  .padding-bottom-10-mobile {
    padding-bottom: 10px;
  }
  .padding-top-10-mobile {
    padding-top: 10px;
  }
  .padding-15-mobile {
    padding: 15px;
  }
  .padding-left-15-mobile {
    padding-left: 15px;
  }
  .padding-right-15-mobile {
    padding-right: 15px;
  }
  .padding-bottom-15-mobile {
    padding-bottom: 15px;
  }
  .padding-top-15-mobile {
    padding-top: 15px;
  }
  .padding-20-mobile {
    padding: 20px;
  }
  .padding-left-20-mobile {
    padding-left: 20px;
  }
  .padding-right-20-mobile {
    padding-right: 20px;
  }
  .padding-bottom-20-mobile {
    padding-bottom: 20px;
  }
  .padding-top-20-mobile {
    padding-top: 20px;
  }
}
.font-size-10 {
  font-size: 10px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-26 {
  font-size: 26px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-11 {
  font-size: 11px;
}
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-none {
  display: none;
}
@media only screen and (max-width: 768px) {
  .display-block-tablet {
    display: block;
  }
  .display-inline-tablet {
    display: inline;
  }
  .display-inline-block-tablet {
    display: inline-block;
  }
  .display-none-tablet {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  .display-block-mobile {
    display: block;
  }
  .display-inline-mobile {
    display: inline;
  }
  .display-inline-block-mobile {
    display: inline-block;
  }
  .display-none-mobile {
    display: none;
  }
}
