extend ' h1' has no matches
extend ' h2' has no matches
extend ' h3' has no matches
extend ' h4' has no matches
extend ' h5' has no matches
extend ' h6' has no matches
extend ' a' has no matches
extend ' a:hover' has no matches
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
}
.heading-addition {
  color: #aaa;
  font-size: 60%;
}
.link-style {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  border: none;
}
.input {
  width: 210px;
  max-width: 100%;
  height: 36px;
  line-height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  color: #333;
  background: #fff;
}
.input--textarea {
  height: 108px;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.input:focus {
  outline: 0;
}
.form-input-error .input,
.input.form-input-error {
  padding-right: 25px;
  border-color: #D60000;
  box-shadow: none;
}
.form-input-error .input:focus,
.input.form-input-error:focus {
  border-color: #D60000;
}
.form-input-disabled .input,
.input.form-input-disabled {
  background: #eff1f2;
}
.input-no-style {
  width: auto;
  border: 0;
  background: none;
  color: #333;
  box-shadow: none;
}
.input-no-style:focus {
  outline: 0;
}
input[type="date"]::-webkit-input-placeholder,
input[type="timedate"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: vertical;
}
.btn {
  width: auto;
  min-height: 36px;
  padding: 11px 15px;
  line-height: 14px;
  vertical-align: middle;
  display: inline-block;
  transition: 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) background, 0.2s cubic-bezier(0.8, 0.2, 0.48, 1) color;
  text-align: center;
  border: 0;
  color: #333;
  background: #ddd;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  outline: 0;
}
.btn:hover {
  color: #333;
  background: #d0d0d0;
}
.btn--success {
  color: #fff;
  background: #a0c519;
}
.btn--success:hover {
  color: #fff;
  background: #8eae16;
}
.btn--primary {
  color: #fff;
  background: #009BD9;
}
.btn--primary:hover {
  color: #fff;
  background: #0089c0;
}
.btn--disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.btn--large {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}
.btn--small {
  padding: 5px 10px;
  min-height: 26px;
  font-size: 11px;
}
.btn-no-style {
  padding: 0;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite {
  display: inline-block;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-muted {
  color: #aaa;
}
.text-no-wrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.position-relative {
  position: relative;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
.cursor-auto {
  cursor: auto;
}
.cursor-help {
  cursor: help;
}
.margin-0 {
  margin: 0px;
}
.margin-left-0 {
  margin-left: 0px;
}
.margin-right-0 {
  margin-right: 0px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-5 {
  margin: 5px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-20 {
  margin: 20px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .margin-0-tablet {
    margin: 0px;
  }
  .margin-left-0-tablet {
    margin-left: 0px;
  }
  .margin-right-0-tablet {
    margin-right: 0px;
  }
  .margin-bottom-0-tablet {
    margin-bottom: 0px;
  }
  .margin-top-0-tablet {
    margin-top: 0px;
  }
  .margin-5-tablet {
    margin: 5px;
  }
  .margin-left-5-tablet {
    margin-left: 5px;
  }
  .margin-right-5-tablet {
    margin-right: 5px;
  }
  .margin-bottom-5-tablet {
    margin-bottom: 5px;
  }
  .margin-top-5-tablet {
    margin-top: 5px;
  }
  .margin-10-tablet {
    margin: 10px;
  }
  .margin-left-10-tablet {
    margin-left: 10px;
  }
  .margin-right-10-tablet {
    margin-right: 10px;
  }
  .margin-bottom-10-tablet {
    margin-bottom: 10px;
  }
  .margin-top-10-tablet {
    margin-top: 10px;
  }
  .margin-15-tablet {
    margin: 15px;
  }
  .margin-left-15-tablet {
    margin-left: 15px;
  }
  .margin-right-15-tablet {
    margin-right: 15px;
  }
  .margin-bottom-15-tablet {
    margin-bottom: 15px;
  }
  .margin-top-15-tablet {
    margin-top: 15px;
  }
  .margin-20-tablet {
    margin: 20px;
  }
  .margin-left-20-tablet {
    margin-left: 20px;
  }
  .margin-right-20-tablet {
    margin-right: 20px;
  }
  .margin-bottom-20-tablet {
    margin-bottom: 20px;
  }
  .margin-top-20-tablet {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 599px) {
  .margin-0-mobile {
    margin: 0px;
  }
  .margin-left-0-mobile {
    margin-left: 0px;
  }
  .margin-right-0-mobile {
    margin-right: 0px;
  }
  .margin-bottom-0-mobile {
    margin-bottom: 0px;
  }
  .margin-top-0-mobile {
    margin-top: 0px;
  }
  .margin-5-mobile {
    margin: 5px;
  }
  .margin-left-5-mobile {
    margin-left: 5px;
  }
  .margin-right-5-mobile {
    margin-right: 5px;
  }
  .margin-bottom-5-mobile {
    margin-bottom: 5px;
  }
  .margin-top-5-mobile {
    margin-top: 5px;
  }
  .margin-10-mobile {
    margin: 10px;
  }
  .margin-left-10-mobile {
    margin-left: 10px;
  }
  .margin-right-10-mobile {
    margin-right: 10px;
  }
  .margin-bottom-10-mobile {
    margin-bottom: 10px;
  }
  .margin-top-10-mobile {
    margin-top: 10px;
  }
  .margin-15-mobile {
    margin: 15px;
  }
  .margin-left-15-mobile {
    margin-left: 15px;
  }
  .margin-right-15-mobile {
    margin-right: 15px;
  }
  .margin-bottom-15-mobile {
    margin-bottom: 15px;
  }
  .margin-top-15-mobile {
    margin-top: 15px;
  }
  .margin-20-mobile {
    margin: 20px;
  }
  .margin-left-20-mobile {
    margin-left: 20px;
  }
  .margin-right-20-mobile {
    margin-right: 20px;
  }
  .margin-bottom-20-mobile {
    margin-bottom: 20px;
  }
  .margin-top-20-mobile {
    margin-top: 20px;
  }
}
.padding-0 {
  padding: 0px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-right-0 {
  padding-right: 0px;
}
.padding-bottom-0 {
  padding-bottom: 0px;
}
.padding-top-0 {
  padding-top: 0px;
}
.padding-5 {
  padding: 5px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-top-20 {
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  .padding-0-tablet {
    padding: 0px;
  }
  .padding-left-0-tablet {
    padding-left: 0px;
  }
  .padding-right-0-tablet {
    padding-right: 0px;
  }
  .padding-bottom-0-tablet {
    padding-bottom: 0px;
  }
  .padding-top-0-tablet {
    padding-top: 0px;
  }
  .padding-5-tablet {
    padding: 5px;
  }
  .padding-left-5-tablet {
    padding-left: 5px;
  }
  .padding-right-5-tablet {
    padding-right: 5px;
  }
  .padding-bottom-5-tablet {
    padding-bottom: 5px;
  }
  .padding-top-5-tablet {
    padding-top: 5px;
  }
  .padding-10-tablet {
    padding: 10px;
  }
  .padding-left-10-tablet {
    padding-left: 10px;
  }
  .padding-right-10-tablet {
    padding-right: 10px;
  }
  .padding-bottom-10-tablet {
    padding-bottom: 10px;
  }
  .padding-top-10-tablet {
    padding-top: 10px;
  }
  .padding-15-tablet {
    padding: 15px;
  }
  .padding-left-15-tablet {
    padding-left: 15px;
  }
  .padding-right-15-tablet {
    padding-right: 15px;
  }
  .padding-bottom-15-tablet {
    padding-bottom: 15px;
  }
  .padding-top-15-tablet {
    padding-top: 15px;
  }
  .padding-20-tablet {
    padding: 20px;
  }
  .padding-left-20-tablet {
    padding-left: 20px;
  }
  .padding-right-20-tablet {
    padding-right: 20px;
  }
  .padding-bottom-20-tablet {
    padding-bottom: 20px;
  }
  .padding-top-20-tablet {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 599px) {
  .padding-0-mobile {
    padding: 0px;
  }
  .padding-left-0-mobile {
    padding-left: 0px;
  }
  .padding-right-0-mobile {
    padding-right: 0px;
  }
  .padding-bottom-0-mobile {
    padding-bottom: 0px;
  }
  .padding-top-0-mobile {
    padding-top: 0px;
  }
  .padding-5-mobile {
    padding: 5px;
  }
  .padding-left-5-mobile {
    padding-left: 5px;
  }
  .padding-right-5-mobile {
    padding-right: 5px;
  }
  .padding-bottom-5-mobile {
    padding-bottom: 5px;
  }
  .padding-top-5-mobile {
    padding-top: 5px;
  }
  .padding-10-mobile {
    padding: 10px;
  }
  .padding-left-10-mobile {
    padding-left: 10px;
  }
  .padding-right-10-mobile {
    padding-right: 10px;
  }
  .padding-bottom-10-mobile {
    padding-bottom: 10px;
  }
  .padding-top-10-mobile {
    padding-top: 10px;
  }
  .padding-15-mobile {
    padding: 15px;
  }
  .padding-left-15-mobile {
    padding-left: 15px;
  }
  .padding-right-15-mobile {
    padding-right: 15px;
  }
  .padding-bottom-15-mobile {
    padding-bottom: 15px;
  }
  .padding-top-15-mobile {
    padding-top: 15px;
  }
  .padding-20-mobile {
    padding: 20px;
  }
  .padding-left-20-mobile {
    padding-left: 20px;
  }
  .padding-right-20-mobile {
    padding-right: 20px;
  }
  .padding-bottom-20-mobile {
    padding-bottom: 20px;
  }
  .padding-top-20-mobile {
    padding-top: 20px;
  }
}
.font-size-10 {
  font-size: 10px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-26 {
  font-size: 26px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-11 {
  font-size: 11px;
}
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-none {
  display: none;
}
@media only screen and (max-width: 768px) {
  .display-block-tablet {
    display: block;
  }
  .display-inline-tablet {
    display: inline;
  }
  .display-inline-block-tablet {
    display: inline-block;
  }
  .display-none-tablet {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  .display-block-mobile {
    display: block;
  }
  .display-inline-mobile {
    display: inline;
  }
  .display-inline-block-mobile {
    display: inline-block;
  }
  .display-none-mobile {
    display: none;
  }
}
body {
  padding: 20px;
}
