{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Admin/Form/seoFormRowMacros.html.twig' as seoFormRowMacros %}

{% block title %}- {{ 'Category'|trans }}{% endblock %}
{% block h1 %}{{ 'Category'|trans }}{% endblock %}
{% block main_content %}
    {% if isMultidomain() %}
        {% set cssClassOnMultidomainInputs = 'input--domain' %}
    {% else %}
        {% set cssClassOnMultidomainInputs = '' %}
    {% endif %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group wrap-border">
            <div class="form-group__title">
                {{ 'Settings'|trans }}
            </div>
            {{ form_id(category|default(null)) }}
            {{ form_row(form.name, { label: 'Name'|trans }) }}
            {{ form_row(form.iconName, { label: 'Icon Name'|trans }) }}
            {{ form_row(form.parent, { label: 'Ancestor category'|trans}) }}
            {{ form_row(form.showOnDomains, { label: 'Display on'|trans}) }}
        </div>

        <div class="form-group wrap-border">
            <div class="form-group__title">
                {{ 'SEO'|trans }}
            </div>

            {{ seoFormRowMacros.multidomainRow(form.seoTitles, 'Page title'|trans, 60) }}

            {{ seoFormRowMacros.multidomainRow(form.seoMetaDescriptions, 'Meta description'|trans, 155) }}

            {{ seoFormRowMacros.multidomainRow(form.seoH1s, 'Heading (H1)'|trans) }}

            {% block category_urls %}{% endblock %}
        </div>

        <div class="form-group wrap-border">
            <div class="form-group__title">
                {{ 'Description'|trans }}
            </div>
            {% for domainId, descriptionForm in form.descriptions %}
                {% if isMultidomain() %}
                    <div class="form-line form-line--no-padd">
                        <div class="form-line__group">
                            <span class="form-line__group__image">
                                {{ domainIcon(domainId, 'large') }}
                            </span>
                            <strong class="form-line__group__name">{{ getDomainName(domainId) }}</strong>
                        </div>
                    </div>
                {% endif %}
                <div class="form-line">
                    <div class="form-line__line form-line__line--no-space">
                        {{ form_widget(descriptionForm) }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="form-group {% if form.pluginData is not empty %}wrap-border{% endif %}">
            <div class="form-group__title">
                {{ 'Image'|trans }}
            </div>
            {% block image %}{% endblock %}
            {{ form_row(form.image, { label: 'Upload image'|trans, infoText: 'You can upload following formats: PNG, JPG, GIF'|trans }) }}
        </div>

        {% if form.pluginData is empty %}
            {% do form.pluginData.setRendered %}
        {% else %}
            {% for pluginForm in form.pluginData %}
                <div class="form-group {% if not loop.last %}wrap-border{% endif %}">
                    <div class="form-group__title">
                        {{ pluginForm.vars.label }}
                    </div>

                    {{ form_widget(pluginForm) }}
                    {{ form_errors(pluginForm) }}
                </div>
            {% endfor %}
        {% endif %}

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                <a href="{{ url('admin_category_list') }}" class="btn-link-style">{{ 'Back to overview'|trans }}</a>
                {{ form_save(category|default(null), form) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}
{% endblock %}