{% extends '@ShopsysShop/Admin/Content/Category/detail.html.twig' %}

{% block title %}- {{ 'New category'|trans }}{% endblock %}
{% block h1 %}{{ 'New category'|trans }}{% endblock %}

{% block category_urls %}
    {% do form.urls.setRendered %}
{% endblock %}