        <!-- Newslatter -->
    <section class="newslatter">
      {#<div class="container">#}
        {#<div class="row">#}
          {#<div class="col-md-6">#}
            {#<h3>{{ 'Subscribe our Newsletter'|trans }} </h3>#}
          {#</div>#}
          {#<div class="col-md-6">#}
            {#<form id="NLform">#}
              {#<input type="email" placeholder="{{ 'Your email address here...'|trans }}">#}
              {#<button type="submit" id="newsletterSubmit">{{ 'Subscribe'|trans }} !</button>#}
            {#</form>#}
          {#</div>#}
        {#</div>#}
      </div>


      <!-- Button trigger modal -->
      <button type="button" class="hidden" id="newsletterModal" data-toggle="modal" data-target="#exampleModal">
      </button>
    </section>
        <!-- Modal -->
        <div class="modal fade" id="NLModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">{{ 'Before we add you'|trans }}</h5>
              </div>
              {#<div class="modal-body">#}
                  {#{{ 'In accordance to new EU GDPR regulations we need your approval with our'|trans}}#}
                  {#<a target="_blank" href="privacy policy" class="blue"> {{ 'privacy policy'|trans}}</a>#}
                  {#{{ 'terms and conditions to proceed with subscription to our newsletter'|trans}}#}
              {#</div>#}
              <div  class="modal-body">
                Please confirm that you had read and agree with our <a target="_blank" href="/GDPR/" class="blue">Privacy Policy </a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-back pull-left" data-dismiss="modal">{{ 'No'|trans }}</button>
                <button type="submit"  class="btn" id="acceptNLConditions">{{ 'Agree'|trans }}</button>
              </div>
            </div>
          </div>
        </div>
<script>
    $( document ).ready(function() {
        $("#newsletterSubmit").on('click', function(e) {
            e.preventDefault();
            $('#NLModal').modal('toggle');
        });

        $("#acceptNLConditions").on('click', function(e) {
            $('#NLModal').modal('hide');
            $("#NLform").submit();
        });
    });
</script>
 
  <footer>
    <div class="container"> 
      
      <!-- Footer Upside Links -->
      <div class="foot-link">
        <ul>

        </ul>
      </div>
      <div class="row"> 
        
        <!-- Contact -->
        <div class="col-md-4">
          <h4>{{ 'Contact'|trans }} </h4>
          <p>{{ 'Phone'|trans }}: {{ getShopInfoPhoneNumber() }}</p>
          <p>{{ 'Email'|trans }}: {{ getShopInfoEmail() }}</p>
          <p>{{ getShopInfoPhoneHours() }}</p>
          {#<div class="social-links"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> <a href="#."><i class="fa fa-pinterest"></i></a> <a href="#."><i class="fa fa-instagram"></i></a> <a href="#."><i class="fa fa-google"></i></a> </div>#}
        </div>
        
        <!-- Categories -->
        <div class="col-md-3">
          <h4>{{ 'Categories'|trans }}</h4>
            {{ render(controller('ShopsysShopBundle:Front/Category:footer', { request: app.request } )) }}
        </div>
        
        <!-- Categories -->
        <div class="col-md-3">
          <ul class="links-footer">
		  {{ render(controller('ShopsysShopBundle:Front/Article:footer')) }}     
          </ul>
        </div>
        
        <!-- Categories -->
        <div class="col-md-2">
          <ul class="links-footer">
		  {{ render(controller('ShopsysShopBundle:Front/Article:footer2')) }}
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Rights -->
  <div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright © 2018</p>
        </div>
      </div>
    </div>
  </div>
