{% block header %}

    {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
    {% set shopInfoPhoneHours = getShopInfoPhoneHours() %}
    {% set shopInfoEmail = getShopInfoEmail() %}

    <div class="top-bar">
        <div class="container">
            <p>{{ 'Welcome to'|trans }} {{ getSeoTitleAddOn() }} !</p>
            <div class="right-sec">
                <ul>

                    {% if is_granted('ROLE_CUSTOMER') %}
                        <li><a href="{{ url('front_customer_personal_data_settings') }}">{{ 'GDPR data'|trans }} </a></li>
                        <li><a href="{{ url('front_customer_edit') }}">{{ 'Personal data'|trans }} </a></li>
                        <li><a href="{{ url('front_customer_warranties') }}">{{ 'Warranties'|trans }} </a></li>
                        <li><a href="{{ url('front_customer_orders') }}"> {{ 'Orders'|trans }}</a></li>
                        <li>
                            <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">{{ 'Log out'|trans }} </a>
                        </li>
                        <li>{{ app.user.firstName }} {{ app.user.lastName }}</li>
                    {% else %}

                        <li><a href="{{ url('front_login') }}"
                               onclick="Shopsys.window({ content: '{{ render(controller('ShopsysShopBundle:Front/Login:windowForm'))|escape('js') }}' }); return false;">{{ 'Login'|trans }}</a>
                        </li>
                        <li><a href="{{ url('front_registration_register') }}">{{ 'Register'|trans }} </a></li>
                    {% endif %}
                </ul>
                {#<div class="social-top"><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i#}
                                {#class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> <a#}
                            {#href="#."><i class="fa fa-dribbble"></i></a> <a href="#."><i#}
                                {#class="fa fa-pinterest"></i></a></div>#}
            </div>
        </div>
    </div>

    <header>
        <div class="container">

            {% set domainName = getDomain().currentDomainConfig.name %}
            <div class="logo"><a href="{{ url('front_homepage') }}"><img
                            src="{{ asset('assets/frontend/images/' ~ domainName | replace({'https://': ''}) ~ '/logo.png') }}" alt=""></a></div>
            {{ render(controller('ShopsysShopBundle:Front/Search:box')) }}

            <!-- Cart Part -->
            {{ render(controller('ShopsysShopBundle:Front/Cart:box')) }}
        </div>

        <!-- Nav -->
        <nav class="navbar ownmenu">
            <div class="container">

                <!-- Categories -->
                <div class="cate-lst"><a data-toggle="collapse" class="cate-style" href="#cater"><i
                                class="fa fa-list-ul"></i> {{ 'Our Categories'|trans }}  </a>
                    <div class="cate-bar-in">
                        <div id="cater" class="collapse">
                            {{ render(controller('ShopsysShopBundle:Front/Category:panel', { request: app.request } )) }}
                        </div>
                    </div>
                </div>

                <!-- Navbar Header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#nav-open-btn"
                            aria-expanded="false"><span><i class="fa fa-navicon"></i></span></button>
                </div>
                <!-- NAV -->
                <div class="collapse navbar-collapse" id="nav-open-btn">
                    <ul class="nav">
                        {{ render(controller('ShopsysShopBundle:Front/Article:menu')) }}
                    </ul>
                </div>

                <!-- NAV RIGHT -->
                <div class="nav-right"><span class="call-mun"><i
                                class="fa fa-phone"></i>{{ shopInfoPhoneNumber }}</span>
                </div>
            </div>
        </nav>
    </header>

    {% if sliderItems is defined %}

        <section class="slid-sec">
            <div class="container">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Main Slider  -->
                        <div class="col-md-9 no-padding">

                            <!-- Main Slider Start -->
                            <div class="tp-banner-container">
                                <div class="tp-banner">
                                    <ul>
                                        {% for item in sliderItems %}
                                        <!-- SLIDE  -->
                                        <li data-transition="random" data-slotamount="7" data-masterspeed="300"
                                            data-saveperformance="off">
                                            <!-- MAIN IMAGE -->
                                            {{ image(item) }}


                                            <!-- SLIDE  -->
                                            {% endfor %}

                                            <!-- SLIDE  -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Main Slider  -->
                        <div class="col-md-3 no-padding">

                            <!-- New line required  -->
                            <div class="product">
                                <div class="week-sale-bnr"
                                     style="background-image: url({{ asset('assets/frontend/images/banner1.jpg') }})">
                                </div>

                                <!-- Weekly Slaes  -->
                                <div class="week-sale-bnr"
                                     style="background-image: url({{ asset('assets/frontend/images/banner2.jpg') }})">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

    {% endif %}

{% if form.vars.errors.form.getErrors(true) is defined %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
			{% for error in form.vars.errors.form.getErrors(true) %}
				
				<div class="col-md-12">
				   <span class="js-validation-errors-list js-validation-error-list-address_form in-message alert alert-danger ">
				      <ul class="in-message__list">
				         <li>{{ error.message }}</li>
				      </ul>
				   </span>
				</div>				
				
				{% endfor %}
            </div>
        </div>
    </div>

{% endif %}

    {{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\ShopBundle\\Model\\Advert\\Advert::POSITION_HEADER')})) }}
{% endblock %}
