{% extends '@ShopsysShop/Front/Layout/layout.html.twig' %}



{% block content %}
    {% if app.request.attributes.get('_route') == 'front_homepage' %}
        {% set shopInfoPhoneNumber = getShopInfoPhoneNumber() %}
        {% set domain = getDomain() %}
        <div id="content">


            <!-- Shipping Info -->
            <section class="shipping-info">
                <div class="container">
                    <ul>

                        <!-- Free Shipping -->
                        <li>
                            <div class="media-left"><i class="flaticon-delivery-truck-1"></i></div>
                            <div class="media-body">
                                <h5>{{ 'Free Shipping'|trans }} </h5>
                                <span>{{ 'On order over $99'|trans }}</span></div>
                        </li>
                        <!-- Money Return -->
                        <li>
                            <div class="media-left"><i class="flaticon-arrows"></i></div>
                            <div class="media-body">
                                <h5>{{ 'Money Return'|trans }}</h5>
                                <span>{{ '30 Days money return'|trans }}</span></div>
                        </li>
                        <!-- Support 24/7 -->
                        <li>
                            <div class="media-left"><i class="flaticon-operator"></i></div>
                            <div class="media-body">
                                <h5>{{ 'Support 24/7'|trans }}</h5>
                                <span>{{ shopInfoPhoneNumber }}</span></div>
                        </li>
                        <!-- Safe Payment -->
                        <li>
                            <div class="media-left"><i class="flaticon-business"></i></div>
                            <div class="media-body">
                                <h5>{{ 'Safe Payment'|trans }}</h5>
                                <span>{{ 'Protect online payment'|trans }}</span></div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- tab Section -->
            <section class="featur-tabs padding-top-60 padding-bottom-60">
                <div class="container">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-pills margin-bottom-40" role="tablist">
                        <li role="presentation" class="active"><a href="#featur" aria-controls="featur" role="tab"
                                                                  data-toggle="tab">{{ 'Featured'|trans }}</a></li>
                        <li role="presentation"><a href="#special" aria-controls="special" role="tab"
                                                   data-toggle="tab">{{ 'Special'|trans }}</a>
                        </li>
                        <li role="presentation"><a href="#on-sal" aria-controls="on-sal" role="tab"
                                                   data-toggle="tab">{{ 'Onsale'|trans }}</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Featured -->
                        <div role="tabpanel" class="tab-pane active fade in" id="featur">
                            <!-- Items Slider -->
                            <div class="item-slide-5 with-nav owl-carousel owl-theme owl-loaded">
                                {% for top in feature %}
                                    <!-- Product -->
                                    <div class="product">
                                        <article>
                                            {% if top.image_url == '' %}
                                                <a href="{{ top.url }}" class="image-wrapper">
                                                    <img
                                                            src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                            alt="{{ top.product_name }}">
                                                </a>
                                            {% else %}
                                                <a href="{{ top.url }}" class="image-wrapper">
                                                    <img src="{{ top.image_url }}"
                                                         alt="{{ top.product_name }}">
                                                </a>
                                            {% endif %}
                                            <span class="tag">{{ top.categories[0] }}</span> <a href="{{ top.url }}"
                                                                                                class="tittle">{{ top.product_name }}
                                            </a> <br>
                                            <div class="price">{{ top.productDetail.sellingPrice.priceWithVat|price }}</div>
                                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                        </article>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>

                        <!-- Special -->
                        <div role="tabpanel" class="tab-pane fade" id="special">
                            <!-- Items Slider -->
                            <div class="item-col-5">
                                {% for top in special %}
                                    <!-- Product -->
                                    <div class="product">
                                        <article>
                                            {% if top.image_url == '' %}
                                                <a href="{{ top.url }}" class="image-wrapper">
                                                    <img
                                                            src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                            alt="{{ top.product_name }}">
                                                </a>
                                            {% else %}
                                                <a href="{{ top.url }}" class="image-wrapper">
                                                    <img src="{{ top.image_url }}"
                                                         alt="{{ top.product_name }}">
                                                </a>
                                            {% endif %}
                                            <span class="tag">{{ top.categories[0] }}</span> <a href="{{ top.url }}"
                                                                                                class="tittle">{{ top.product_name }}
                                            </a> <br>
                                            <div class="price">{{ top.productDetail.sellingPrice.priceWithVat|price }}</div>
                                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                        </article>
                                    </div>

                                {% endfor %}

                                <!-- Product -->
                            </div>
                        </div>

                        <!-- on sale -->
                        <div role="tabpanel" class="tab-pane fade" id="on-sal">
                            <!-- Items Slider -->
                            <div class="item-col-5">
                                {% for top in on_sale %}
                                    <!-- Product -->
                                    <div class="product">
                                        <article>
                                            {% if top.image_url == '' %}
                                                <a href="{{ top.url }}" class="image-wrapper">
                                                    <img
                                                            src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                            alt="{{ top.product_name }}">
                                                </a>
                                            {% else %}
                                                <a href="{{ top.url }}" class="image-wrapper">
                                                    <img src="{{ top.image_url }}"
                                                         alt="{{ top.product_name }}">
                                                </a>
                                            {% endif %}
                                            <span class="tag">{{ top.categories[0] }}</span> <a href="{{ top.url }}"
                                                                                                class="tittle">{{ top.product_name }}
                                            </a> <br>
                                            <div class="price">{{ top.productDetail.sellingPrice.priceWithVat|price }}</div>
                                            {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                        </article>
                                    </div>

                                {% endfor %}
                                <!-- Product -->
                            </div>
                        </div>
                    </div>
            </section>

            <!-- Top Selling Week -->
            <section class="light-gry-bg padding-top-60 padding-bottom-30">
                <div class="container">

                    <!-- heading -->
                    <div class="heading">
                        <h2>{{ 'Top Selling of the Week'|trans }}</h2>
                        <hr>
                    </div>

                    <!-- Items -->
                    <div class="item-col-5">

                        <!-- Product -->
                        {% for top in topSelling %}

                            <!-- Product -->
                            <div class="product">
                                <article>
                                    {% if top.image_url == '' %}
                                        <a href="{{ top.url }}" class="image-wrapper">
                                            <img
                                                    src="{{ asset('assets/frontend/images/noimage.jpg') }}"
                                                    alt="{{ top.product_name }}">
                                        </a>
                                    {% else %}
                                        <a href="{{ top.url }}" class="image-wrapper">
                                            <img src="{{ top.image_url }}"
                                                 alt="{{ top.product_name }}">
                                        </a>
                                    {% endif %}
                                    <span class="tag">{{ top.categories[0] }}</span> <a href="{{ top.url }}"
                                                                                        class="tittle">{{ top.product_name }}</a><br>
                                    <div class="price">{{ top.productDetail.sellingPrice.priceWithVat|price }}</div>
                                    {{ render(controller('ShopsysShopBundle:Front/Cart:addProductSmallForm', {product: top.product_entity, type: 'large'})) }}
                                </article>
                            </div>

                        {% endfor %}

                        <!-- Product -->
                    </div>
                </div>
            </section>

        </div>
    {% else %}

        {% block breadcrumb %}
            {#{{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}#}
        {% endblock %}

        {{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }}

        {% block main_content %}{% endblock %}
        {#<div class="web__main__panel">#}

        {#<div id="js-contact-form-container">#}
        {#{{ render(controller('ShopsysShopBundle:Front/ContactForm:index')) }}#}
        {#</div>#}

        {#{{ render(controller('ShopsysShopBundle:Front/Advert:box',{'positionName' : constant('Shopsys\\ShopBundle\\Model\\Advert\\Advert::POSITION_LEFT_SIDEBAR')})) }}#}
        {#</div>#}
    {% endif %}

{% endblock %}
