{% extends '@ShopsysShop/Front/Layout/base.html.twig' %}
{% use '@ShopsysShop/Front/Layout/header.html.twig' %}

{% block html_body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% set adminLoggedAsCustomer = is_granted(constant('Shopsys\\ShopBundle\\Model\\Security\\Roles::ROLE_ADMIN_AS_CUSTOMER')) %}
    {% if adminLoggedAsCustomer %}
        <div class="window-bar">
            {% if adminLoggedAsCustomer %}
                <div class="window-bar__item">
                    {{ 'Attention! You are administrator logged in as the customer.'|trans }}
                    <a href="{{ url('front_logout', { _csrf_token: csrf_token('frontend_logout')}) }}">{{ 'Log out'|trans }}</a>
                </div>
            {% endif %}
            {% if isMailerSettingUnusual() %}
                <div class="window-bar__item">
                    {{ getMailerSettingInfo() }}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {{ block('header') }}
    {% block content %}{% endblock %}
    <div class="web__footer{% if not isCookiesConsentGiven() %} web__footer--with-cookies js-eu-cookies-consent-footer-gap{% endif %}">
        {% include '@ShopsysShop/Front/Layout/footer.html.twig' %}
    </div>
    {% if not isCookiesConsentGiven() %}
        {% set cookiesArticle = findCookiesArticleByDomainId(getDomain().id) %}
        <div class="box-cookies js-eu-cookies">
            <div class="box-cookies__in">
                <div class="box-cookies__text">
                    <span class="display-none-tablet display-inline-block">
                        {{ 'This site uses cookies. By staying on the site you agree with that.'|trans }}
                    </span>
                    <span class="display-none display-inline-block-tablet">
                        {{ 'This site uses cookies.'|trans }}
                    </span>
                    {% if cookiesArticle is not null %}
                        <a href="{{ url('front_article_detail', { id: cookiesArticle.id }) }}" target="_blank">
                            {{- 'More information'|trans -}}
                        </a>
                    {% endif %}
                </div>
                <div class="box-cookies__btn">
                    <button class="btn btn--small js-eu-cookies-consent-button"
                            type="button">{{ 'I understand'|trans }}</button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
