<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="{{ app.request.locale }}" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{ app.request.locale }}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{ app.request.locale }}" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ app.request.locale }}" class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/admin/styles/index_' ~ getCssVersion() ~ '.css') }}" media="screen, projection">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/flick/jquery-ui.css') }}">
        <!--[if IE 8 ]>
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/admin/styles/index_' ~ getCssVersion() ~ '-ie8.css') }}" media="screen, projection">
        <![endif]-->

        {# bootstrap/tooltip.js must be imported before bootstrap/popover.js #}
        {{ importJavascripts([
            'bundles/bmatznerjquery/js/jquery.min.js',
            'bundles/bmatznerjquery/js/jquery-migrate.js',
            'bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js',
            'frontend/components/filterAllNodes.js',
            'frontend/components/keyCodes.js',
            'frontend/components/escape.js',
            'frontend/register.js',
            'frontend/components/hybridTabs.js',
            'frontend/components/tabs.js',
            'frontend/components/timeout.js',
            'frontend/components/toggleElement.js',
            'frontend/plugins/BazingaJsTranslationBundle.translator.js',
            'bundles/fpjsformvalidator/js/fp_js_validator.js',
            'frontend/loaderOverlay.js',
            'frontend/ajax.js',
            'frontend/plugins/jquery.fix.clone.js',
            'frontend/plugins/jquery.magnific-popup.js',
            'frontend/plugins/jquery.ui.datepicker-cs.js',
            'frontend/plugins/fastclick.js',
            'frontend/validation/*.js',
            'frontend/checkboxToggle.js',
            'frontend/magnificPopup.custom.js',
            'frontend/number.js',
            'frontend/translator.js',
            'frontend/bootstrap/tooltip.js',
            'frontend/bootstrap/*.js',
            'frontend/components/datePicker.js',
            'frontend/components/tooltip.js',
            'admin/plugins/*.js',
            'admin/validation/form/*.js',
            'admin/validation/*.js',
            'admin/components/*.js',
            'admin/*.js',
        ]) }}
        {{ js_validator_config() }}
        {{ init_js_validation() }}

        <script type="text/javascript">
            global = {
                locale: '{{ app.request.locale }}'
            };
        </script>

        <title>{{ 'Administration'|trans }} {% block title %}ShopSys Framework{% endblock %}</title>
    </head>

    <body>
        {% block html_body %}{% endblock %}

        {% if app.environment == 'dev' %}
            <script async src="//localhost:35729/livereload.js"></script>
        {% endif %}
    </body>
</html>