{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Processing order'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    <div class="container" style="padding: 15px">
        <div class="row">
            <div class="col-xs-6">
                <strong>{{ 'Order number'|trans }}: {{ order.getNumber() }}</strong>
            </div>
        </div>
        {% if genius_offer %}
            <div class="row" style="border-top: 2px solid #ccc; margin-top: 15px; margin-bottom: 15px; padding-top: 15px">
                <div class="col-xs-6">
                    <strong>{{ 'E-shop identification'|trans }}:</strong><br/>
                    {{ shopinfo['name']|raw }}<br/>
                    {{ shopinfo['genius']['address']|raw }}<br/>
                    {{ shopinfo['genius']['company_number']|raw }}<br/>
                    {{ shopinfo['genius']['address_2']|raw }}<br/>
                    {#Identification Number: {{ shopinfo['genius']['ico']|raw }}<br/>#}
                    {#TAX Number: {{ shopinfo['genius']['tax_id']|raw }}<br/>#}
                    {#VAT Number: {{ shopinfo['genius']['vat_id']|raw }}<br/>#}
                </div>
                <div class="col-xs-6" style="text-align: right">
                    <strong>{{ 'Contact'|trans }}:</strong><br/>
                    Email: {{ shopinfo['email']|raw }}<br/>
                    {{ 'Web'|trans }}: {{ shopinfo['web']|raw }}<br/>
                    Tel: {{ shopinfo['phone']|raw }}<br/>
                    <br/>
                    {{ 'Bank name'|trans }}: {{ shopinfo['genius']['bank_name']|raw }}<br/>
                    {{ 'Account number'|trans }}: ‎{{ shopinfo['genius']['bank_account']|raw }}<br/>
                    IBAN: {{ shopinfo['genius']['iban']|raw }}<br/>
                    SWIFT/BIC: {{ shopinfo['genius']['swift_bic']|raw }}<br/>
                </div>
            </div>
        {% else %}
            <div class="row" style="border-top: 2px solid #ccc; margin-top: 15px; margin-bottom: 15px; padding-top: 15px">
                <div class="col-xs-6">
                    <strong>{{ 'E-shop identification'|trans }}:</strong><br/>
                    {{ shopinfo['name']|raw }}<br/>
                    {{ shopinfo['address']|raw }}<br/>
                    {{ shopinfo['company_number']|raw }}<br/>
                    {{ shopinfo['address_2']|raw }}<br/>
                    {#Identification Number: {{ shopinfo['ico']|raw }}<br/>#}
                    {#TAX Number: {{ shopinfo['tax_id']|raw }}<br/>#}
                    {#VAT Number: {{ shopinfo['vat_id']|raw }}<br/>#}
                </div>
                <div class="col-xs-6" style="text-align: right">
                    <strong>{{ 'Contact'|trans }}:</strong><br/>
                    Email: {{ shopinfo['email']|raw }}<br/>
                    {{ 'Web'|trans }}: {{ shopinfo['web']|raw }}<br/>
                    Tel: {{ shopinfo['phone']|raw }}<br/>
                    <br/>
                    {{ 'Bank name'|trans }}: {{ shopinfo['bank_name']|raw }}<br/>
                    {{ 'Account number'|trans }}: ‎{{ shopinfo['bank_account']|raw }}<br/>
                    IBAN: {{ shopinfo['iban']|raw }}<br/>
                    SWIFT/BIC: {{ shopinfo['swift_bic']|raw }}<br/>
                </div>
            </div>
        {% endif %}

        {% if customer != NULL %}
            <div class="row"
                 style="border-top: 2px solid #ccc; margin-top: 15px; margin-bottom: 15px; padding-top: 15px">
                <div class="col-xs-6">
                    <strong>Client</strong><br/>
                    {{ customer.getBillingAddress().getCompanyName() }}<br/>
                    {{ customer.getFullName() }}<br/>
                    {{ customer.getBillingAddress().getTelephone() }}<br/>
                    {{ customer.getBillingAddress().getStreet() }}<br/>
                    {{ customer.getBillingAddress().getPostcode() }},
                    {{ customer.getBillingAddress().getCity() }}<br/>
                    {{ customer.getBillingAddress().getCountry().getName() }}<br/>
                </div>
                <div class="col-xs-6" style="text-align: right">
                    <strong>Delivery address:</strong><br/>
                    {{ order.getDeliveryCompanyName() }}<br/>
                    {{ order.getDeliveryFirstName() }} {{ order.getDeliveryLastName() }}<br/>
                    {{ order.getDeliveryTelephone() }}<br/>
                    {{ order.getDeliveryStreet() }}<br/>
                    {{ order.getDeliveryPostcode() }},
                    {{ order.getDeliveryCity() }}<br/>
                    {{ order.getDeliveryCountry().getName() }}<br/>
                </div>
            </div>
        {% endif %}
        <div class="row" style="border-top: 2px solid #ccc; margin: 15px 0px; padding-top: 15px">
            <table style="width: 100%">
                <thead>
                <th>{{ 'Quantity'|trans }}</th>
                <th>{{ 'Product'|trans }}</th>
                {#<th style="text-align: right">{{ 'Unit'|trans }}</th>#}
                <th></th>
                <th style="text-align: right">{{ 'Price per unit'|trans }}</th>
                {#<th style="text-align: right">{{ 'VAT'|trans }} %</th>#}
                {#<th style="text-align: right">{{ 'VAT'|trans }}</th>#}
                {#<th style="text-align: right">{{ 'With VAT'|trans }}</th>#}
                <th style="text-align: right">{{ 'Total with VAT'|trans }}</th>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.getQuantity() }} x</td>
                        <td>{{ product.getName() }}</td>
                        {#<td style="text-align: right">{{ product.getQuantity() }}</td>#}
                        {#<td style="text-align: right">{{ product.getPriceWithoutVat()|number_format(2, '.', ',') }}</td>#}
                        {#<td style="text-align: right">{{ product.getVatPercent()|number_format(2, '.', ',') }}</td>#}
                        {#<td style="text-align: right">{{ product.getPriceWithoutVat()|number_format(2, '.', ',') }}</td>#}
                        <td></td>
                        <td style="text-align: right">{{ product.getPriceWithVat()|number_format(2, '.', ',') }}</td>
                        <td style="text-align: right">{{ product.getTotalPriceWithVat()|number_format(2, '.', ',') }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    {#<td></td>#}
                    {#<td></td>#}
                    {#<td style="text-align: right"></td>#}
                    {#<td style="text-align: right"></td>#}
                    {#<td style="text-align: right"></td>#}
                    {#<td style="text-align: right"></td>#}
                    <th style="text-align: right" colspan="4">{{ 'Total for payment'|trans }}</th>
                    <th style="text-align: right"
                        colspan="2">{{ order.getTotalPriceWithVat()|number_format(2, '.', ',') }} {{ order.getCurrency().getCode() }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}