{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% for payment in payments %}
        {% for transport in payment.transports %}
        Shopsys.order.addPaymentTransportRelation({{ payment.id }}, {{ transport.id }});
        {% endfor %}
        {% endfor %}
    </script>
{% endblock %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order [noun]'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    {% include '@ShopsysShop/Front/Inline/OrderProgress/index.html.twig' with {step: flow.getCurrentStepNumber()} only %}

    {{ form_start(form, { attr: { id: "js-order-form", 'data-ajax-save-url': url('front_order_save_form') }}) }}

{#
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_errors(form, {errors_attr: {'class': 'alert alert-danger'}}) }}
            </div>
        </div>
    </div>
#}

    {% include '@ShopsysShop/Front/Content/Order/step' ~ flow.getCurrentStepNumber() ~ '.html.twig' %}
    {{ form_end(form) }}

{% endblock %}