{% extends '@ShopsysShop/Front/Content/Order/step.html.twig' %}

{#{% form_theme form _self %}#}



{#{% block form_row %}#}
    {#<div class="">#}
        {#<label>{{ form_label(form, label) }}#}
            {#{{ form_widget(form, {'attr': {'class': 'form-control'}}) }}#}
        {#</label>#}
    {#</div>#}
{#{% endblock form_row %}#}

{% block content %}

    {#{{ dump(_self) }}#}
<div class="container">
    <div class="pay-method">
    {% if company_order == 'false' %}


            <div class="row">
                <div class="col-md-8">
                    <div class="heading">
                        <h2>{{ 'Address'|trans }}</h2>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label> {{ 'First name'|trans }}
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label> {{ 'Last name'|trans }}
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <label> {{ 'Street'|trans }}
                                {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label> {{ 'Street number'|trans }}
                                {{ form_widget(form.streetNumber, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label> {{ 'Postcode'|trans }}
                                {{ form_widget(form.postcode, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <label> {{ 'City'|trans }}
                                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label> {{ 'Country'|trans }}
                                {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="heading">
                        <h2>{{ 'Delivery address'|trans }}</h2>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{ form_widget(form.deliveryAddressFilled, {
                                attr: { class: 'js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-delivery-address-fields' },
                                label: 'I want to deliver products to different address than the billing one'|trans})
                            }}
                             {{ 'I want to deliver products to different address than the billing one'|trans }}</label>


                        </div>
                        <div class="col-sm-12">
                            <div id="js-delivery-address-fields">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label> {{ 'First name'|trans }}
                                            {{ form_widget(form.deliveryFirstName, {'attr': {'class': 'form-control'}}) }}
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label> {{ 'Last name'|trans }}
                                            {{ form_widget(form.deliveryLastName, {'attr': {'class': 'form-control'}}) }}
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label> {{ 'Delivery telephone'|trans }}
                                            {{ form_widget(form.deliveryTelephone, {'attr': {'class': 'form-control'}}) }}
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label> {{ 'Street'|trans }}
                                            {{ form_widget(form.deliveryStreet, {'attr': {'class': 'form-control'}}) }}
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label> {{ 'Street number'|trans }}
                                            {{ form_widget(form.deliveryStreetNumber, {'attr': {'class': 'form-control'}}) }}
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <label> {{ 'City'|trans }}
                                            {{ form_widget(form.deliveryCity, {'attr': {'class': 'form-control'}}) }}
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label> {{ 'Postcode'|trans }}
                                            {{ form_widget(form.deliveryPostcode, {'attr': {'class': 'form-control'}}) }}
                                        </label>
                                    </div>
                                    <div class="col-sm-4">
                                        <label> {{ 'Country'|trans }}
                                            {{ form_widget(form.deliveryCountry, {'attr': {'class': 'form-control'}}) }}
                                        </label>
                                    </div>
                                </div>
                                {#{{ form_row(form.deliveryFirstName, { label: 'First name'|trans }) }}#}
                                {#{{ form_row(form.deliveryLastName, { label: 'Last name'|trans }) }}#}
                                {#{{ form_row(form.deliveryTelephone, { label: 'Telephone'|trans }) }}#}
                                {#{{ form_row(form.deliveryStreet, { label: 'Street'|trans }) }}#}
                                {#{{ form_row(form.deliveryCity, { label: 'City'|trans }) }}#}
                                {#{{ form_row(form.deliveryPostcode, { label: 'Postcode'|trans }) }}#}
                                {#{{ form_row(form.deliveryCountry, { label: 'Country'|trans }) }}#}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div id="js-order-preview" class="box-order__cart" data-url="{{ url('front_order_preview') }}">
                        {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
                            transportId: transport is empty ? null : transport.id,
                            paymentId: payment is empty ? null : payment.id
                        })) }}
                    </div>
                </div>
        </div>
    {% else %}

            <div class="row">
                <div class="col-md-8">
                    <div class="heading">
                        <h2>{{ 'Company information'|trans }}</h2>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label> {{ 'Company name'|trans }}
                                {{ form_widget(form.companyName, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label> {{ 'Company number'|trans }}
                                {{ form_widget(form.companyNumber, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label> {{ 'Tax number'|trans }}
                                {{ form_widget(form.companyTaxNumber, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                    </div>
                    <div class="heading">
                        <h2>{{ 'Address'|trans }}</h2>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label> {{ 'First name'|trans }}
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label> {{ 'Last name'|trans }}
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <label> {{ 'Street'|trans }}
                                {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label> {{ 'Street number'|trans }}
                                {{ form_widget(form.streetNumber, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label> {{ 'Postcode'|trans }}
                                {{ form_widget(form.postcode, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <label> {{ 'City'|trans }}
                                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <label> {{ 'Country'|trans }}
                                {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="heading">
                        <h2>{{ 'Select your warranty plan'|trans }}</h2>
                        <hr>
                    </div>
                    <div class="transportation">
                        <div class="row">
                        {% for row in form.pricingGroup %}
                            {#{{ dump(row) }}#}
                            <div class="col-sm-12">
                                <div class="charges {% if row.vars.checked == 'true' %} select {% endif %}">
                                    <h6>{{ row.vars.label | trans }}</h6>
                                    <br>
                                    <span>{% if b2bPricesDiff[row.vars.value]-totalPrice >= 0 %} + {% endif %} {{ (b2bPricesDiff[row.vars.value]-totalPrice)|price  }} </span>
                                    <span class="deli-charges">{{ b2bPricesDiff[row.vars.value]|price }}</span>

                                    {{ form_widget(row, {'attr': {'class': 'hidden warrantyPlan'}}) }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="js-order-preview" class="box-order__cart" data-url="{{ url('front_order_preview') }}">
                        {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
                            transportId: transport is empty ? null : transport.id,
                            paymentId: payment is empty ? null : payment.id
                        })) }}
                    </div>
                </div>
            </div>
    {% endif %}
    </div>
    <div class="row orderButtons">
        <div class="col-xs-4 text-left">
            <button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" class="btn-round btn-back btn-round-cart">
                {{ 'Previous step'|trans }}
            </button>
        </div>
        <div class="col-xs-8 text-right">
            {#<a href="#." class="btn-square btn-light">Next</a>#}
            {{ form_widget(form.next, {'label': 'Next step'|trans, 'attr': {'class': 'btn-round btn-round-cart', 'type': 'button'}}) }}
        </div>
    </div>
</div>
    <script>
        $( document ).ready(function() {
            // $("[id^=address_form_pricingGroup]").on('change',function() {
            //     $("#js-order-form") .submit();
            // });

            $(".charges").on('click',function() {
                $('.warrantyPlan').prop('checked', false);
                $(this).find('.warrantyPlan').prop("checked", true);
                $(".charges").removeClass('select');
                $(this).addClass('select');
                $("#js-order-form").submit();

            });
        });
    </script>
{% endblock %}
