{% block main_content %}
    <div class="container">
        <div class="pay-method check-out">
            <div class="heading">
                <h2>{{ 'Summary'|trans }}</h2>
                <hr>
            </div>
            <div class="row">
                <!-- Item Cart -->
                {% for cartItem in cartItems %}
                    {% set cartItemPrice = cartItemPrices[cartItem.id] %}
                    {% set cartItemDiscount = cartItemDiscounts[cartItem.id] %}
                    <ul class="row check-item">
                        <li class="col-xs-6">
                            <p>{{ image(cartItem.product, { size: 'thumbnail' }) }}  {{ cartItem.name }}</p>
                        </li>
                        <li class="col-xs-2 text-center">
                            <p> {{ cartItemPrice.totalPrice.priceWithVat|price }}
                                {% if cartItemDiscount is not null %}
                            <div>
                                {{ 'Discount'|trans }}:
                                {{ cartItemDiscount.priceWithVat|price }}
                            </div>
                            {% endif %}
                            </p>
                        </li>
                        <li class="col-xs-2 text-center">
                            <p> {{ cartItem.quantity }} {{ 'Items'|trans }}</p>
                        </li>
                        <li class="col-xs-2 text-center">
                            <p> {{ cartItemPrice.totalPrice.priceWithVat|price }}
                                {% if cartItemDiscount is not null %}
                            <div>
                                {{ 'Discount'|trans }}:
                                {{ cartItemDiscount.priceWithVat|price }}
                            </div>
                            {% endif %}</p>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="heading margin-top-50">
                {% if addressDetails.deliveryAddressFilled is defined %}
                    <h2>{{ 'Address'|trans }}</h2>
                {% else %}
                    <h2>{{ 'Shipping address'|trans }}</h2>
                {% endif %}
                <hr>
            </div>

            <ul class="row check-item infoma">
                <li class="col-sm-3">
                    <h6>{{ 'Name'|trans }}</h6>
                    <span>{{ addressDetails.firstName }} {{ addressDetails.lastName }}</span></li>
                <li class="col-sm-3">
                    <h6>{{ 'Phone'|trans }}</h6>
                    <span>{{ contactDetails.telephone }}</span></li>
                <li class="col-sm-3">
                    <h6>{{ 'Country'|trans }}</h6>
                    <span>{{ addressDetails.country }}</span></li>
                <li class="col-sm-3">
                    <h6>{{ 'Email'|trans }}</h6>
                    <span>{{ contactDetails.email }}</span></li>
                <li class="col-sm-3">
                    <h6>{{ 'City'|trans }}</h6>
                    <span>{{ addressDetails.city }}</span></li>
                <li class="col-sm-3">
                    <h6>{{ 'Zipcode'|trans }}</h6>
                    <span>{{ addressDetails.postcode }}</span></li>
                <li class="col-sm-3">
                    <h6>{{ 'Street'|trans }}</h6>
                    <span>{{ addressDetails.street }}</span></li>
                <li>
                    <h6>{{ 'Street number'|trans }}</h6>
                    <span>{{ addressDetails.streetNumber }}</span>
                </li>
            </ul>

            {% if addressDetails.deliveryAddressFilled is defined %}
                {#{{ dump(addressDetails) }}#}
                <div class="heading margin-top-50">
                    <h2>{{ 'Shipping address'|trans }}</h2>
                    <hr>
                </div>
                <ul class="row check-item infoma">
                    <li class="col-sm-3">
                        <h6>{{ 'Name'|trans }}</h6>
                        <span>{{ addressDetails.deliveryFirstName }} {{ addressDetails.deliveryLastName }}</span></li>
                    <li class="col-sm-3">
                        <h6>{{ 'Phone'|trans }}</h6>
                        <span>{{ addressDetails.deliveryTelephone }}</span></li>
                    <li class="col-sm-3">
                        <h6>{{ 'Country'|trans }}</h6>
                        <span>{{ addressDetails.deliveryCountry }}</span></li>
                    <li class="col-sm-3">
                        <h6>{{ 'City'|trans }}</h6>
                        <span>{{ addressDetails.deliveryCity }}</span></li>
                    <li class="col-sm-3">
                        <h6>{{ 'Zipcode'|trans }}</h6>
                        <span>{{ addressDetails.deliveryPostcode }}</span></li>
                    <li class="col-sm-3">
                        <h6>{{ 'Address'|trans }}</h6>
                        <span>{{ addressDetails.deliveryStreet }}</span></li>
                    <li class="col-sm-3">
                        <h6>{{ 'City'|trans }}</h6>
                        <span>{{ addressDetails.deliveryStreetNumber }}</span></li>
                </ul>
            {% endif %}
            <div class="heading margin-top-50">
                <h2>{{ 'Shipping information'|trans }}</h2>
                <hr>
            </div>
            {% if transport is not empty %}
                {% set shippingPrice = transportsPrices[transport.id].priceWithVat %}
                <ul class="row check-item infoma exp">
                    <li class="col-sm-6"><span>{{ 'Shipping method'|trans }}: {{ transport.name }}</span></li>
                    <li class="col-sm-3">
                    </li>
                    <li class="col-sm-3">
                        <h5>{{ transportsPrices[transport.id].priceWithVat|priceText }}</h5>
                    </li>
                </ul>
            {% endif %}
            <div class="heading margin-top-50">
                <h2>{{ 'Payment information'|trans }}</h2>
                <hr>
            </div>
            {% if payment is not empty %}
                {% set paymentPrice = paymentsPrices[payment.id].priceWithVat %}
                <ul class="row check-item infoma exp">
                    <li class="col-sm-6"><span>{{ 'Payment method'|trans }}: {{ payment.name }}</span></li>
                    <li class="col-sm-3">
                    </li>
                    <li class="col-sm-3">
                        <h5>{{ paymentsPrices[payment.id].priceWithVat|priceText }}</h5>
                    </li>
                </ul>
            {% endif %}
            <div class="totel-price">
                <h4><span>{{ 'Total Price'|trans }}
                        :</span> {{ (productsPrice.priceWithVat+shippingPrice+paymentPrice)|price }}</h4>
            </div>
        </div>
    </div>

    {#<br><br>#}
    {#<div class="container">#}
    {#<div class="row">  <div class="col-md-12"><h3>{{ 'Step 6 of 6'|trans }} </h3> (ver. 2)</div></div>#}
    {#<div class="col-md-12">#}
    {#<section class="shopping-cart padding-bottom-60">#}
    {#<table class="table">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>{{ 'Items'|trans }}</th>#}
    {#<th class="text-center">{{ 'Price'|trans }}</th>#}
    {#<th class="text-center">{{ 'Amount'|trans }}</th>#}
    {#<th class="text-center">{{ 'Total Price'|trans }}</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {##}
    {#<!-- Item Cart -->#}
    {#{% for cartItem in cartItems %}#}
    {#{% set cartItemPrice = cartItemPrices[cartItem.id] %}#}
    {#{% set cartItemDiscount = cartItemDiscounts[cartItem.id] %}#}
    {#<tr>#}
    {#<td>#}
    {#<div class="media">#}
    {#<div class="media-left">#}
    {#<a href="{{ url('front_product_detail', {id: cartItem.product.id}) }}"#}
    {#title="{{ cartItem.product.name }}">#}
    {#{{ image(cartItem.product, { size: 'thumbnail' }) }}#}
    {#</a>#}
    {#</div>#}
    {#<div class="media-body">#}
    {#<p>{{ cartItem.name }}</p>#}
    {#</div>#}
    {#</div>#}
    {#</td>#}
    {#<td class="text-center padding-top-60">#}
    {#{{ cartItemPrice.totalPrice.priceWithVat|price }}#}
    {#{% if cartItemDiscount is not null %}#}
    {#<div>#}
    {#{{ 'Discount'|trans }}:#}
    {#{{ cartItemDiscount.priceWithVat|price }}#}
    {#</div>#}
    {#{% endif %}#}
    {#</td>#}
    {#<td class="text-center  padding-top-60"><!-- Quinty -->#}
    {#{{   cartItem.quantity }}#}
    {#</td>#}
    {##}
    {#<td class="text-center padding-top-60">#}
    {#{{ cartItemPrice.totalPrice.priceWithVat|price }}#}
    {#{% if cartItemDiscount is not null %}#}
    {#<div>#}
    {#{{ 'Discount'|trans }}:#}
    {#{{ cartItemDiscount.priceWithVat|price }}#}
    {#</div>#}
    {#{% endif %}#}
    {#</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}
    {##}
    {#<!-- Promotion -->#}
    {#<div class="promo">#}
    {#<div class="row">#}
    {#<div class="col-xs-10">#}
    {#<div class="g-totel">#}
    {#<h5>{{ 'Shipping'|trans }}:</h5>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-xs-2">#}
    {#<div class="g-totel">#}
    {#<h5><span>{{ (shippingPrice)|price }}</span></h5>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="row">#}
    {#<div class="col-xs-10">#}
    {#<div class="g-totel">#}
    {#<h5>{{ 'Payment'|trans }}: </h5>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-xs-2">#}
    {#<div class="g-totel">#}
    {#<h5><span>{{ (paymentPrice)|price }}</span></h5>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<!-- Promotion -->#}
    {#<div class="promo">#}
    {#<div class="row">#}
    {#<div class="col-xs-10">#}
    {#<!-- Grand total -->#}
    {#<div class="g-totel">#}
    {#<h5>{{ 'Grand total'|trans }}: </h5>#}
    {#</div>#}
    {#</div>#}
    {#<div class="col-xs-2">#}
    {#<!-- Grand total -->#}
    {#<div class="g-totel">#}
    {#<h5><span>{{ (productsPrice.priceWithVat+shippingPrice+paymentPrice)|price }}</span></h5>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</section>#}
    {#</div>#}
    {#</div>#}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Button -->
                <div class="pro-btn">
                </div>
                {##}
                <h3>{{ 'Note'|trans }}</h3>
                {##}
                {#<fieldset>#}
                {{ form_widget(form.note, {'attr': {'class': 'summary-note-input'}}) }}
                {#</fieldset>#}


                {% if termsAndConditionsArticle is not null %}
                    {#<h3>{{ 'Terms and conditions'|trans }}</h3>#}
                    {#<div class="box-condition" style="width: 100%;">#}
                    {#<div class="box-condition__in">#}
                    {#<iframe name="js-terms-and-conditions-frame" width="100%"#}
                    {#src="{{ url('front_order_terms_and_conditions') }}">#}
                    {#</iframe>#}
                    {#</div>#}
                    {#<div class="box-condition__control">#}
                    {#<button id="js-terms-and-conditions-print" class="btn btn--small"#}
                    {#type="button">{{ 'Print'|trans }}</button>#}
                    {#<a href="{{ url('front_order_terms_and_conditions_download') }}"#}
                    {#class="btn btn--small">{{ 'Download'|trans }}</a>#}
                    {#</div>#}
                    {#</div>#}
                {% endif %}

                <dl class="form-line">
                    <dt></dt>
                    <dd>
                        <div class="form-choice">
                            <div class="form-choice__input">
                                {{ form_widget(form.legalConditionsAgreement) }}
                            </div>
                            <div class="form-choice__label">
                                <label for="{{ form.legalConditionsAgreement.vars.id }}">
                                    {% if privacyPolicyArticle is not null and termsAndConditionsArticle is not null %}
                                        {% set privacyPolicyUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                                        {% set termsAndConditionsUrl = url('front_article_detail', {'id': termsAndConditionsArticle.id}) %}
                                        {{ 'I agree with <a href="%termsAndConditionsUrl%" target="_blank">terms and conditions</a> and <a href="%privacyPolicyUrl%" target="_blank">privacy policy</a>.'|trans({'%privacyPolicyUrl%': privacyPolicyUrl, '%termsAndConditionsUrl%': termsAndConditionsUrl})|raw }}
                                    {% elseif privacyPolicyArticle is not null %}
                                        {% set privacyPolicyUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                                        {{ 'I agree with terms and conditions and <a href="%privacyPolicyUrl%" target="_blank">privacy policy</a>.'|trans({'%privacyPolicyUrl%': privacyPolicyUrl })|raw }}
                                    {% elseif termsAndConditionsArticle is not null %}
                                        {% set termsAndConditionsUrl = url('front_article_detail', {'id': termsAndConditionsArticle.id}) %}
                                        {{ 'I agree with <a href="%termsAndConditionsUrl%" target="_blank">terms and conditions</a> and privacy policy.'|trans({'%termsAndConditionsUrl%': termsAndConditionsUrl })|raw }}
                                    {% else %}
                                        {{ 'I agree with terms and conditions and privacy policy.'|trans }}
                                    {% endif %}
                                </label>
                                <span class="js-validation-errors-list js-validation-error-list-{{ form.legalConditionsAgreement.vars.id }} form-error form-error--choice display-none">
                                    <span class="form-error__icon">
                                        <i class="svg svg-warning"></i>
                                    </span>
                                    <ul class="form-error__list"></ul>
                                </span>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="form-line">
                    <dt></dt>
                    <dd>
                        <div class="form-choice">
                            <div class="form-choice__input">
                                {{ form_widget(form.newsletterSubscription) }}
                            </div>
                            <div class="form-choice__label">
                                <label for="{{ form.newsletterSubscription.vars.id }}">
                                    {{ 'I want to subscribe to the newsletter'|trans }}
                                </label>
                            </div>
                        </div>
                    </dd>
                </dl>

                <div class="row orderButtons">
                    <div class="col-xs-4 text-left">
                        <button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back"
                                class="btn-round btn-back btn-round-cart">
                            {{ 'Previous step'|trans }}
                        </button>
                    </div>
                    <div class="col-xs-8 text-right">
                        {#<a href="#." class="btn-square btn-light">Next</a>#}
                        {{ form_widget(form.save, {label: 'Confirm Order'|trans, 'attr': {'class': 'btn-round btn-round-cart', 'type': 'button'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
