{% extends '@ShopsysShop/Front/Content/Order/step.html.twig' %}

{% block content %}
    <div class="container">
        {#{{ form_start(form, { attr: { class: 'js-no-validate js-cart-form' }}) }}#}
        {#{{ form_errors(form) }}#}
        <div class="pay-method">
            <div class="row">
                <div class="col-md-8">

                        <div class="heading">
                            <h2>{{ 'Contact'|trans }}</h2>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <label> {{ 'Email'|trans }}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                </label>
                            </div>
                            <div class="col-md-6 text-center"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <label> {{ 'Telephone'|trans }}
                                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                                </label>
                            </div>
                        </div>
                    </div>

                <div class="col-md-4">
                    <div id="js-order-preview" class="box-order__cart" data-url="{{ url('front_order_preview') }}">
                        {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
                            transportId: transport is empty ? null : transport.id,
                            paymentId: payment is empty ? null : payment.id
                        })) }}
                    </div>
                </div>

            </div>

        </div>
        <br>
        {% if company_order == 'false' %}
        <div class="pay-method">
            <div class="row">
                <div class="col-md-10">
                    {{ 'GENIUS OFFER - add 6 months prolonged warranty to all products in order for free'|trans }}
                </div>
                {#<div class="col-md-2">#}
                    {#<input type="image" src="{{ asset('assets/frontend/images/add-arrow-th.png') }}" />#}
                {#</div>#}
            </div>
        </div>

        <div class="row orderButtons">
            <div class="col-xs-4 text-left">
                <button type="submit" id="noGenius" name="{{ flow.getFormTransitionKey() }}" value="back" class="btn-round btn-round-cart btn-back">
                    {{ 'Previous step'|trans }}
                </button>
            </div>
            <div class="col-xs-8 text-right">
                {{ form_widget(form.next, { 'label': 'Next without premium'|trans, 'attr': {'class': 'btn-round btn-round-cart btn-back', 'type': 'button'}}) }}
                <button type="button" id="genius" class="btn-round btn-round-cart btn">
                    {{ 'Next with Premium'|trans }}
                </button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $( document ).ready(function() {
            $("#contact_form_next").on('click', function(e){
                e.preventDefault();
                $.ajax({
                url:'{{ path('front_order_genius_remove') }}',
                type: "POST",
                dataType: "json",
                data: {'step': 1},
                async: true,
                success: function (data) {console.log(data)}
                });
                $(this).closest("form").submit();
            });

            $("#genius").on('click', function(e){
                e.preventDefault();
                $.ajax({
                    url:'{{ path('front_order_genius_add') }}',
                    type: "POST",
                    dataType: "json",
                    data: {'step': 1},
                    async: true,
                    success: function (data){console.log(data)}
                });
                $(this).closest("form").submit();
            });
            $(window).keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $.ajax({
                        url:'{{ path('front_order_genius_add') }}',
                        type: "POST",
                        dataType: "json",
                        data: {'step': 1},
                        async: true,
                        success: function (data){console.log(data)}
                    });
                    $("#js-order-form").submit();
                }
            });
        });

    </script>
    {% else %}

        <div class="row orderButtons">
            <div class="col-xs-4 text-left">
                <button type="submit" id="noGenius" name="{{ flow.getFormTransitionKey() }}" value="back" class="btn-round btn-round-cart btn-back">
                    {{ 'Previous step'|trans }}
                </button>
            </div>
            <div class="col-xs-8 text-right">
                {#<a href="#." class="btn-square btn-light">Next</a>#}
                {{ form_widget(form.next, { 'label': 'Next step'|trans, 'attr': {'class': 'btn-round btn-round-cart', 'type': 'button'}}) }}

            </div>
        </div>
      </div>
    {% endif %}
{% endblock %}
