{% extends '@ShopsysShop/Front/Content/Order/step.html.twig' %}

{% block content %}


    <div class="container">
        <div class="pay-method">

            <div class="row">
                <div class="col-md-8">

                    <div class="heading">
                        <h2>{{ 'Delivery methods'|trans }}</h2>
                        <hr>
                    </div>
                    <div class="row">

                        <div id="{{ form.vars.id }}" class="box-order__info">
                            <div class="box-order__info__item">
                                <div class="box-chooser js-form-group">

                                    <div id="{{ form.transport.vars.id }}">
                                        {% for child in form.transport %}
                                            {% set choice = form.transport.vars.choices[child.vars.name] %}
                                            {% set transportPrice = transportsPrices[choice.data.id] %}
                                            <label class="box-chooser__item">
                                        <span class="box-chooser__item__check">
                                            {{ form_widget(child, { attr: { class: 'js-order-transport-input', 'data-id': choice.data.id} }) }}
                                        </span>

                                                <span class="box-chooser__item__image">
                                            {% if imageExists(choice.data) %}
                                                {{ image(choice.data) }}
                                            {% endif %}
                                        </span>

                                                <span class="box-chooser__item__title">
                                            <strong class="box-chooser__item__title__name">
                                                {{ choice.data.name }}
                                            </strong>
                                                    {% if choice.data.description %}
                                                        <span class="box-chooser__item__title__description">
                                                    - {{ choice.data.description }}
                                                </span>
                                                    {% endif %}
                                        </span>

                                                <span class="box-chooser__item__price">
                                            {{ transportPrice.priceWithVat|priceText }}
                                        </span>
                                            </label>
                                        {% else %}
                                            {% do form.transport.setRendered %}
                                            {{ 'Nothing to choose from'|trans }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="js-order-preview" class="box-order__cart" data-url="{{ url('front_order_preview') }}">
                        {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
                            transportId: transport is empty ? null : transport.id,
                            paymentId: payment is empty ? null : payment.id
                        })) }}
                    </div>
                </div>
            </div>
        </div>
        {% if company_order == 'false' %}
        <br>
        <div class="pay-method">
            <div class="row">
                <div class="col-md-10">
                    {{ 'GENIUS OFFER - free shipping for all delivery methods'|trans }}
                </div>
                {#<div class="col-md-2">#}
                {#<input type="image" src="{{ asset('assets/frontend/images/add-arrow-th.png') }}" />#}
                {#</div>#}
            </div>
        </div>
        <div class="row orderButtons">
            <div class="col-xs-4 text-left">
                <button type="submit" id="noGenius" name="{{ flow.getFormTransitionKey() }}" value="back"
                        class="btn-round btn-round-cart btn-back">
                    {{ 'Previous step'|trans }}
                </button>
            </div>
            <div class="col-xs-8 text-right">
                {#<a href="#." class="btn-square btn-light">Next</a>#}
                {{ form_widget(form.next, {'label': 'Next without premium'|trans, 'attr': {'class': 'btn-round btn-round-cart btn-back', 'type': 'button'}}) }}
                <button type="button" id="genius" value="Next >>" class="btn-round btn-round-cart btn">
                    {{ 'Next with Premium'|trans }}
                </button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#transport_form_next").on('click', function (e) {
          e.preventDefault();
          $.ajax({
            url: '{{ path('front_order_genius_remove') }}',
            type: "POST",
            dataType: "json",
            data: {'step': 2},
            async: true,
            success: function (data) {
            }
          });
          $(this).closest("form").submit();
        });

        $("#genius").on('click', function (e) {
          e.preventDefault();
          $.ajax({
            url: '{{ path('front_order_genius_add') }}',
            type: "POST",
            dataType: "json",
            data: {'step': 2},
            async: true,
            success: function (data) {
            }
          });
          $(this).closest("form").submit();
        });
        $(window).keydown(function (e) {
          if (e.keyCode == 13) {
            e.preventDefault();
            $.ajax({
              url: '{{ path('front_order_genius_add') }}',
              type: "POST",
              dataType: "json",
              data: {'step': 2},
              async: true,
              success: function (data) {
              }
            });
            $("#js-order-form").submit();
          }
        });
      });

    </script>
    {% else %}
        <div class="row orderButtons">
            <div class="col-xs-4 text-left">
                <button type="submit" id="noGenius" name="{{ flow.getFormTransitionKey() }}" value="back"
                        class="btn-round btn-back btn-round-cart">
                    {{ 'Previous step'|trans }}
                </button>
            </div>
            <div class="col-xs-8 text-right">
                {#<a href="#." class="btn-square btn-light">Next</a>#}
                {{ form_widget(form.next, {'label': 'Next step'|trans, 'attr': {'class': 'btn-round btn-round-cart', 'type': 'button'}}) }}
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}
