<ul class="menu">
{% set count = 1 %}
    {% for article in articles %}
    
	{% if count > 5 %}
    {% else %}
    
        <li class="">
            <a class="" href="{{ url('front_article_detail', { id: article.id }) }}">{{ article.name }}</a>
        </li>
	{% endif %}
    {% set count = count + 1 %}
    {% endfor %}
</ul>