{% extends '@ShopsysShop/bestcena/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/bestcena/Front/Content/Product/productListHome.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    some shit

{% endblock %}
