{% if lazyLoadedCategoryDetails|length > 0 %}

    <button class="button button--all-categories">
        <i class="fa fa-bars"></i> {{ 'Categories'|trans }}
    </button>

    <ul class="categories-menu">
        {% for lazyLoadedCategoryDetail in lazyLoadedCategoryDetails %}
            {% set isCurrentCategory = (currentCategory is not null and currentCategory == lazyLoadedCategoryDetail.category) %}
            {% if lazyLoadedCategoryDetail.children %}
                <li>
                <a href="{{ url('front_product_list', { id: lazyLoadedCategoryDetail.category.id }) }}">
                    {{ lazyLoadedCategoryDetail.category.name }}
                    <i class="fa fa-angle-right"></i>
                </a>
                <ul>
                    {% for childrenCategory in lazyLoadedCategoryDetail.children %}
                        <li>
                            <a href="{{ url('front_product_list', {id: childrenCategory.category.id}) }}">
                                {{ childrenCategory.category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <li>
                <a href="{{ url('front_product_list', { id: lazyLoadedCategoryDetail.category.id }) }}">
                    {{ lazyLoadedCategoryDetail.category.name }}
                </a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}