<template>

	<div>
		<!-- Categories -->
		<h6>{{title}}</h6>
		<div class="checkbox checkbox-primary">
			<ul>
				<li v-for="(option, id) in options">
					<input :id="id + '_' + option" class="styled" type="checkbox"
					       @change="changeActiveBrands({id, value: option})">
					<label :for="id + '_' + option">{{option}}</label>
				</li>
			</ul>
		</div>
	</div>

</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    name: 'checkboxList',
    props: ['title', 'options', 'id'],
    methods: {
      ...mapActions(['changeActiveFilter', 'changeActiveBrands'])
    }
  }
</script>