<template>
	<div class="shop-side-bar">
		<slider-item :title="translations.price"
		             v-if="prices.minPrice && prices.maxPrice"
		             :valueMin="prices.minPrice | priceFormat"
		             :valueMax="prices.maxPrice | priceFormat"></slider-item>
		<checkbox-list v-if="filter.options.length > 1" :key="filter.id" :title="filter.title" :id="filter.id"
		               v-for="filter in productsFilters" :options="filter.options"></checkbox-list>

		<checkbox-list v-if="manufacturers" :options="manufacturers"></checkbox-list>
	</div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import CheckboxList from './checkboxList.vue'
  import SliderItem from './sliderItem.vue'

  export default {
    components: {
      SliderItem,
      CheckboxList
    },
    name: 'ProductListingFilters',
    computed: {
      ...mapGetters(['manufacturers', 'prices', 'productsFilters', 'translations'])
    },
    filters: {
      priceFormat: (val) => {
        return parseFloat(Math.round(val * 100) / 100)
      }
    }
  }
</script>
