<template>
  <div class="slider-item">
    <vue-slider-component :lazy="true" :formatter="(v) => Math.round(v) + ' ' + currency" :min="valueMin"
                          :max="valueMax"
                          :dotWidth="15"
                          v-model="values"
                          :dotHeight="15"></vue-slider-component>
  </div>
</template>

<script>
  import VueSliderComponent from '../../../node_modules/vue-slider-component/example/src/vue-slider/vue2-slider.vue'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    components: {VueSliderComponent},
    name: 'sliderItem',
    data() {
      return {
        values: [this.valueMin, this.valueMax]
      }
    },
    props: {
      title: {
        type: String
      },
      valueMin: {
        type: Number,
        required: true
      },
      valueMax: {
        type: Number,
        required: true
      }
    },
    methods: {
      ...mapActions(['changeSliderFilter'])
    },
    computed: {
      ...mapGetters(['currency'])
    },
    watch: {
      values: function (val) {
        this.changeSliderFilter({id: this.title, value: val})
      }
    }
  }
</script>

<style scoped>
  h6 {
    margin-bottom: 45px;
  }

  .slider-item {
    margin-bottom: 20px;
  }
</style>