{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Countries overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Countries overview'|trans }}{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}
    {{ gridView.render() }}
{% endblock %}