{% if lazyLoadedCategoryDetails|length > 0 %}
    <ul class="links-footer">
        {% for lazyLoadedCategoryDetail in lazyLoadedCategoryDetails %}
            {% set isCurrentCategory = (currentCategory is not null and currentCategory == lazyLoadedCategoryDetail.category) %}
            <li>
                <a href="{{ url('front_product_list', { id: lazyLoadedCategoryDetail.category.id }) }}">
                    {{ lazyLoadedCategoryDetail.category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
