{% if lazyLoadedCategoryDetails|length > 0 %}
    <div class="header-megamenu">

        {% set categoryCount = 1 %}
        {% for lazyLoadedCategoryDetail in lazyLoadedCategoryDetails %}

            {% if categoryCount < 7 %}
                <div class="header-megamenu__item">

                    <a href="{{ url('front_product_list', { id: lazyLoadedCategoryDetail.category.id }) }}"
                       class="header-megamenu__item-title">
                        {{ lazyLoadedCategoryDetail.category.name }}
                    </a>
                    {% if lazyLoadedCategoryDetail.children %}
                        <div class="header-megamenu__item-dropdown">
                            <div class="left">
                                <h4>{{ 'Categories'|trans }}</h4>

                                <ul>
                                    {% for childrenCategory in lazyLoadedCategoryDetail.children %}
                                        <li>
                                            <a href="{{ url('front_product_list', {id: childrenCategory.category.id}) }}">
                                                {{ childrenCategory.category.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="right">
                                <div class="right-image" style="background-image: url(images/iphone.png)"></div>

                                <div class="right-brand">
                                    <img src="images/apple-logo.svg" alt="">
                                </div>
                                <h3>Apple iphone X 128GB Silver Gray</h3>
                                <ul>
                                    <li>
                                        Some feature
                                    </li>
                                    <li>
                                        Some other feature
                                    </li>
                                    <li>
                                        Some other looooooooooooo oooooooooo oooooooong feature
                                    </li>
                                </ul>

                                <a href="#" class="button button--megamenu">
                                    Show offer
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% set categoryCount = categoryCount + 1 %}

        {% endfor %}

    </div>
{% endif %}