{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}{{ '- Email settings'|trans }}{% endblock %}
{% block h1 %}{{ 'E-mail settings'|trans }}{% endblock %}

{% block main_content %}
    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}

    {{ form_start(form) }}
        <div class="form-group">
            <div class="form-group__title">
                {{ 'Settings'|trans }}
            </div>
            {{ form_row(form.email, { 'label': 'Main administrator e-mail'|trans }) }}
            {{ form_row(form.name, { 'label': 'E-mail name'|trans }) }}
        </div>

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                {{ form_widget(form.save, { label: 'Save changes'|trans }) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}
{% endblock %}