{% if messages %}
    <div class="in-message" class="alert alert-{{ type }}">
        {% for message in messages %}
            <div>{{ message|raw }}</div>
        {% endfor %}
    </div>
{% endif %}