<!--bof billing info-->
<h4 style="border-bottom: 1px solid grey;margin-bottom: 5px;">{{ 'Billing	address'|trans }}</h4>
<table style="width:100%; list-style-type: none !important" width="100%">
    <tr>
        <td width="50%" valign="top">
            <ul style="list-style-type: none; margin: 0;padding:0;font-weight: 100;">
                <li>
                    {% trans into orderLocale %}First name{% endtrans %}: <b>{{ order.firstName }}</b>
                </li>
                <li>
                    {% trans into orderLocale %}Last name{% endtrans %}: <b>{{ order.lastName }}</b>
                </li>
                {% if order.companyName|length %}
                    <li>
                        {% trans into orderLocale %}Company{% endtrans %}: <b>{{ order.companyName }}</b>
                    </li>
                {% endif %}
                <li>
                    {% trans into orderLocale %}Street{% endtrans %}: <b>{{ order.street }}</b>
                </li>
                <li>
                    {% trans into orderLocale %}Postcode{% endtrans %}: <b>{{ order.postcode }}</b>
                </li>

            </ul>
        </td>
        <td width="50%" valign="top">
            <ul style="list-style-type: none; margin: 0;padding:0;font-weight: 100;">
                {% if order.companyNumber|length %}
                    <li>
                        {% trans into orderLocale %}Company number{% endtrans %}: <b>{{ order.companyNumber }}</b>
                    </li>
                {% endif %}
                {% if order.companyTaxNumber|length %}
                    <li>
                        {% trans into orderLocale %}Tax number{% endtrans %}: <b>{{ order.companyTaxNumber }}</b>
                    </li>
                {% endif %}
            </ul>
            <li>
                {% trans into orderLocale %}City{% endtrans %}: <b>{{ order.city }}</b>
            </li>
            </ul>
        </td>
    </tr>
</table>
<!--eof billing info-->