<!--bof delivery info-->
<h4 style="border-bottom: 1px solid grey;margin-bottom: 5px;">{% trans into orderLocale %}Customer address{% endtrans %}</h4>
<table width="100%" style="width:100%">
    <tr>
        <td width="50%" valign="top">
            <ul style="list-style-type: none; margin: 0;padding:0;font-weight: 100;">
                <li>
                    {% trans into orderLocale %}First name{% endtrans %}: <b>{{ order.deliveryFirstName }}</b>
                </li>
                <li>
                    {% trans into orderLocale %}Last name{% endtrans %}: <b>{{ order.deliveryLastName }}</b>
                </li>
                <li>
                    {% trans into orderLocale %}Company{% endtrans %}: <b>{{ order.deliveryCompanyName }}</b>
                </li>
            </ul>
        </td>
        <td width="50%" valign="top">
            <ul style="list-style-type: none; margin: 0;padding:0;font-weight: 100;">
                <li>
                    {% trans into orderLocale %}Telephone{% endtrans %}: <b>{{ order.deliveryTelephone }}</b>
                </li>
                <li>
                    {% trans into orderLocale %}Street{% endtrans %}: <b>{{ order.deliveryStreet }}</b>
                </li>
                <li>
                    {% trans into orderLocale %}City{% endtrans %}: <b>{{ order.deliveryCity }}</b>
                </li>
                <li>
                    {% trans into orderLocale %}Postcode{% endtrans %}: <b>{{ order.deliveryPostcode }}</b>
                </li>
            </ul>
        </td>
    </tr>
</table>
<!--eof delivery info-->