<!--bof order info-->
<h4 style="border-bottom: 1px solid grey;margin-bottom: 5px;">{{ 'Order'|trans }}</h4>
<table>
    <tr>
        <td width="50%" valign="top">
            <ul style="list-style-type: none; margin: 0;padding:0;">
                <li>
                    {{ 'Order Nr.'|trans }}: <b>{{ order.id }}</b>
                </li>
                <li>
                    {{ 'Shipping'|trans }}: <b>{{ order.shipping }}</b>
                </li>
            </ul>
        </td>
        <td width="50%" valign="top">
            <ul style="list-style-type: none; margin: 0;padding:0;">
                <li>
                    {{ 'Creation date'|trans }}: <b>{{ order.date }}</b>
                </li>
                <li>
                    {{ 'Payment'|trans }}: <b>{{ order.payment }}</b>
                </li>
            </ul>
        </td>
    </tr>
</table>
<!--eof order info-->