<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Simple Transactional Email</title>
    <style>
        /* -------------------------------------
            INLINED WITH htmlemail.io/inline
        ------------------------------------- */
        /* -------------------------------------
            RESPONSIVE AND MOBILE FRIENDLY STYLES
        ------------------------------------- */
        @media only screen and (max-width: 620px) {
            table[class=body] h1 {
                font-size: 28px !important;
                margin-bottom: 10px !important;
            }

            table[class=body] p,
            table[class=body] ul,
            table[class=body] ol,
            table[class=body] td,
            table[class=body] span,
            table[class=body] a {
                font-size: 16px !important;
            }

            table[class=body] .wrapper,
            table[class=body] .article {
                padding: 10px !important;
            }

            table[class=body] .content {
                padding: 0 !important;
            }

            table[class=body] .container {
                padding: 0 !important;
                width: 100% !important;
            }

            table[class=body] .main {
                border-left-width: 0 !important;
                border-radius: 0 !important;
                border-right-width: 0 !important;
            }

            table[class=body] .btn table {
                width: 100% !important;
            }

            table[class=body] .btn a {
                width: 100% !important;
            }

            table[class=body] .img-responsive {
                height: auto !important;
                max-width: 100% !important;
                width: auto !important;
            }
        }

        /* -------------------------------------
            PRESERVE THESE STYLES IN THE HEAD
        ------------------------------------- */
        @media all {
            .ExternalClass {
                width: 100%;
            }

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }

            .apple-link a {
                color: inherit !important;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important;
            }

            .btn-primary table td:hover {
                background-color: #34495e !important;
            }

            .btn-primary a:hover {
                background-color: #34495e !important;
                border-color: #34495e !important;
            }
        }
    </style>
</head>
<body class=""
      style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
<table border="0" cellpadding="0" cellspacing="0" class="body"
       style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;">
    <tr>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
        <td class="container"
            style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;">
            <div class="content"
                 style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;">

                <!-- START CENTERED WHITE CONTAINER -->
                <span class="preheader"
                      style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">We got your order no. 12345!</span>
                <table class="main"
                       style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper"
                            style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
                            <table border="0" cellpadding="0" cellspacing="0"
                                   style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                                <tr>
                                    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;"
                                        align="center">
                                        <img style="max-height: 100px; max-width: 60%;margin-top: 20px;"
                                             src="http://eleka.de/assets/frontend/images/eleka.de/logo.png" alt="">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="wrapper"
                            style="font-family: sans-serif; font-size: 13px; vertical-align: top; box-sizing: border-box; padding: 20px;padding-top: 0;">
                            <table border="0" cellpadding="0" cellspacing="0"
                                   style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                                <tr>
                                    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                                            Dear customer,</p>
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                                            Your order <b>no. 12345</b> has been placed successfully.</p>
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                                            You will be contacted when the order state changes.</p>

                                        <!--bof order info-->
                                        <h4 style="border-bottom: 1px solid grey;margin-bottom: 5px;">Order info</h4>
                                        <table>
                                            <tr>
                                                <td width="50%" valign="top">
                                                    <ul style="list-style-type: none; margin: 0;padding:0;">
                                                        <li>
                                                            Order number: <b>12345</b>
                                                        </li>
                                                        <li>
                                                            Shipping: <b>osobné prevziatie</b>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td width="50%" valign="top">
                                                    <ul style="list-style-type: none; margin: 0;padding:0;">
                                                        <li>
                                                            Date of creation: <b>25.04.2018 15:47</b>
                                                        </li>
                                                        <li>
                                                            Payment: <b>PayPal</b>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--eof order info-->

                                        <!--bof billing info-->
                                        <h4 style="border-bottom: 1px solid grey;margin-bottom: 5px;">Billing info</h4>
                                        <table>
                                            <tr>
                                                <td width="50%" valign="top">
                                                    <ul style="list-style-type: none; margin: 0;padding:0;font-weight: 100;">
                                                        <li>
                                                            First name: <b>Jožko</b>
                                                        </li>
                                                        <li>
                                                            Last name: <b>Mrkvička</b>
                                                        </li>
                                                        <li>
                                                            Company: <b>Some Company a.s.</b>
                                                        </li>
                                                        <li>
                                                            City: <b>Brezno</b>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td width="50%" valign="top">
                                                    <ul style="list-style-type: none; margin: 0;padding:0;font-weight: 100;">
                                                        <li>
                                                            Date of creation: <b>25.04.2018 15:47</b>
                                                        </li>
                                                        <li>
                                                            Payment: <b>PayPal</b>
                                                        </li>
                                                        <li>
                                                            Address: <b>Hronská 16</b>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--eof billing info-->

                                        <!--bof delivery info-->
                                        <h4 style="border-bottom: 1px solid grey;margin-bottom: 5px;">Delivery info</h4>
                                        <table>
                                            <tr>
                                                <td width="50%" valign="top">
                                                    <ul style="list-style-type: none; margin: 0;padding:0;font-weight: 100;">
                                                        <li>
                                                            First name: <b>Jožko</b>
                                                        </li>
                                                        <li>
                                                            Last name: <b>Mrkvička</b>
                                                        </li>
                                                        <li>
                                                            Company: <b>Some Company a.s.</b>
                                                        </li>
                                                        <li>
                                                            City: <b>Brezno</b>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td width="50%" valign="top">
                                                    <ul style="list-style-type: none; margin: 0;padding:0;font-weight: 100;">
                                                        <li>
                                                            Date of creation: <b>25.04.2018 15:47</b>
                                                        </li>
                                                        <li>
                                                            Payment: <b>PayPal</b>
                                                        </li>
                                                        <li>
                                                            Address: <b>Hronská 16</b>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--eof delivery info-->

                                        <!--bof products grid-->
                                        <table border="0" width="100%"
                                               style="background: #eeeeee;padding: 10px;margin-top: 30px;text-align: left;">
                                            <tr>
                                                <th>Product name</th>
                                                <th style="text-align: center;">Qty</th>
                                                <th style="text-align: center;">Price</th>
                                                <th style="text-align: right;">Price sum</th>
                                            </tr>
                                            <tr style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid lightgrey;">
                                                <td>
                                                    Apple iPad 128GB Gold Tablet
                                                </td>
                                                <td style="text-align: center;">
                                                    2x
                                                </td>
                                                <td style="text-align: center;">
                                                    400€
                                                </td>
                                                <td style="text-align: right;">
                                                    <b>800€</b>
                                                </td>
                                            </tr>
                                            <tr style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid lightgrey;">
                                                <td>
                                                    Apple iPad 128GB Gold Tablet
                                                </td>
                                                <td style="text-align: center;">
                                                    2x
                                                </td>
                                                <td style="text-align: center;">
                                                    400€
                                                </td>
                                                <td style="text-align: right;">
                                                    <b>800€</b>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: right;border-top: 1px solid black; font-weight: 700;">
                                                    1600€
                                                </td>
                                            </tr>
                                        </table>
                                        <!--eof products grid-->


                                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary"
                                               style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; box-sizing: border-box;margin-top: 20px;margin-bottom: 20px;">
                                            <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                           style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #3498db; border-radius: 5px; text-align: center;">
                                                                <a href="http://htmlemail.io" target="_blank"
                                                                   style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">
                                                                    Show order detail</a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                                            {% block payment_instructions %} {% endblock %}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>

                <!-- START FOOTER -->
                <div class="footer" style="clear: both; Margin-top: 10px; text-align: center; width: 100%;">
                    <table border="0" cellpadding="0" cellspacing="0"
                           style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                        <tr>
                            <td class="content-block"
                                style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                                <span class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">Turbado.sk Košice, Bla ba 123</span>
                                <br> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif"
                                                                 style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">Unsubscribe</a>.
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->

                <!-- END CENTERED WHITE CONTAINER -->
            </div>
        </td>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
    </tr>
</table>
</body>
</html>