<!--bof products grid-->
<table border="0" width="100%"
       style="background: #eeeeee;padding: 10px;margin-top: 30px;text-align: left;">
    <tr>
        <th>{% trans into orderLocale %}Product name{% endtrans %}</th>
        <th style="text-align: center;">{% trans into orderLocale %}Amount{% endtrans %}</th>
        <th style="text-align: right;">{% trans into orderLocale %}Unit price including VAT{% endtrans %}</th>
    </tr>

    {% for item in order.items %}
        <tr style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid lightgrey;">
            <td>
                {{ item.name }}
                {% if (attribute(item, 'getProduct') is defined)  and item.product %}
                    [{{ item.product.masterProductId }}]
                {% endif %}
            </td>
            <td style="text-align: center;">
                {{ item.quantity|formatNumber }} {{ item.unitName }}
            </td>
            <td style="text-align: right;">
                {{ item.priceWithVat|priceTextWithCurrencyByCurrencyIdAndLocale(order.currency.id, orderLocale) }}
            </td>
        </tr>
    {% endfor %}
    <tr style="padding-top: 5px;padding-bottom: 5px; border-top: 1px solid darkslategrey;">
        <td style="text-align: right;" colspan="3">
            {{ order.totalPriceWithVat|priceTextWithCurrencyByCurrencyIdAndLocale(order.currency.id, orderLocale) }}
        </td>
    </tr>
</table>
<!--eof products grid-->