{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Forgotten password'|trans }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{ 'Forgotten password'|trans }}</h1>

                {{ form_errors(form) }}

                {{ form_start(form) }}

                {{ form_row(form.email, { label: 'E-mail'|trans }) }}

                {{ form_widget(form.submit, { label: 'Reset password'|trans }) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}