{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}
    {{ 'Set new password'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{ 'Set new password'|trans }}</h1>

                {{ form_errors(form) }}

                {{ form_start(form) }}

                {{ form_row(form.newPassword.first, { label: 'Password'|trans }) }}
                {{ form_row(form.newPassword.second, { label: 'Password again'|trans }) }}

                {{ form_widget(form.submit, { label: 'Set new password'|trans }) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}