<div class="search-cate" id="js-search-autocomplete">
    <form action="{{ url('front_product_search') }}" method="get">
        <input
                type="text"
                name="{{ SEARCH_TEXT_PARAMETER }}"
                value="{{ searchText|escape('html_attr') }}"
                placeholder="{{ 'Searching'|trans }}"
                class="input search__input"
                id="js-search-autocomplete-input"
                autocomplete="off"
                data-autocomplete-url="{{ url('front_search_autocomplete') }}"
        />
        <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
        <div id="js-search-autocomplete-results"></div>
    </form>
</div>
