.form-choice {
  display: inline-block;
  vertical-align: top;
  padding: 6px 12px 6px 18px;
  position: relative;
}
.form-choice__input {
  position: absolute;
  top: 8px;
  left: 0;
  margin-right: 5px;
}
.form-choice__label {
  line-height: 18px;
}
