.form-type-and-go {
  position: relative;
}
.form-type-and-go__input {
  padding-right: 30px;
}
.form-type-and-go__btn {
  padding: 0;
  width: 30px;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 27px;
  height: 27px;
  line-height: 24px;
  text-align: center;
}
.form-type-and-go__btn i {
  position: relative;
  left: 1px;
  font-size: 10px;
}
