{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}

{% block title %}
    {{ 'Error occurred'|trans }}: {{ status_text }}
{% endblock %}

{% block content %}
    <div class="row">
        {#{{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}#}

        <div class="box-error-page">
            {% if status_code == 404 %}
                <section>
                    <div class="container">
                        <div class="order-success error-page"> <img src="{{ asset('assets/frontend/images/error-img.jpg') }}" alt="" >
                            <h3>Error <span>404</span> Not Found</h3>
                            <p>{{ 'Page you are looking for either no longer exists or you entered wrong address.'|trans }}</p>

                            <p>{{ 'Check the address correctness'|trans }}</p>
                            <p>{{ 'Try using web search'|trans }}</p>
                        </div>
                    </div>
                </section>
            {% else %}
                <div class="box-error-page__text">
                    <h1>{{ 'Oops! Error occurred.'|trans }}</h1>

                    <p>
                        {{ 'Uh-oh, uh-oh. And specially <strong>"%status_code% %status_text%"</strong>, as if it was on purpose!'|transHtml({ '%status_code%': status_code, '%status_text%': status_text }) }}
                    </p>

                    <p>
                        {{ 'Please excuse this error, we are working on fixing it. If needed, contact us on %mail% or by phone %phone%.'|trans({ '%mail%': getShopInfoEmail(), '%phone%': getShopInfoPhoneNumber() }) }}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
