{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'My orders'|trans }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{ 'Warranties'|trans }}</h1>
                {% if warranties|length == 0 %}
                    {{ 'No warranties so far.'|trans }}
                {% else %}
                    <div class="in-scroll box-orders">
                        <div class="in-scroll__in">
                            <table class="table-main box-orders__table">
                                <tr>
                                    <th>{{ 'Warranty number'|trans }}</th>
                                    <th>{{ 'Product name'|trans }}</th>
                                    <th>{{ 'Status'|trans }}</th>
                                    <th>{{ 'Date'|trans }}</th>
                                    <th>{{ 'Serial/IMEI'|trans }}</th>
                                    <th class="text-center">{{ 'Preview'|trans }}</th>
                                </tr>
                                {% for warranty in warranties %}
                                    <tr>
                                        <td>
                                           {{ warranty.number }}
                                        </td>
                                        <td>
                                            {{ warranty.item.product.name }}
                                        </td>
                                        <td>{{ warranty.status }}</td>
                                        <td>
                                           {{ warranty.createdAt|formatDate }}
                                        </td>
                                        <td>{{ warranty.serialNumber }}</td>
                                        <td>
                                            <a href="{{ url('front_customer_warranty_details', { warrantyNumber: warranty.id }) }}"><i class="fa fa-eye margin-right-5"></i>Details</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
