{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Personal data'|trans }}
{% endblock %}
{% block h1 %}{% endblock %}

{% block main_content %}
    <section class="login-sec padding-top-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div id="{{ form.userData.vars.id }}">
                        <div class="wrap-box">
                            <h5 class="wrap-box__title">{{ 'Personal data'|trans }}</h5>
                            <div class="wrap-box__in row">
                                {{ form_row(form.userData.firstName, { label: 'First name'|trans}) }}
                                {{ form_row(form.userData.lastName, { label: 'Last name'|trans}) }}
                                {{ form_row(form.billingAddressData.telephone, { label: 'Telephone'|trans}) }}
                                {{ form_row(form.userData.email, { label: 'E-mail'|trans}) }}
                                <p>
                                    {{ 'To prevent the possibility of account theft, the change of the e-mail address must be dealt with individually. If your e-mail address has changed, please contact us.'|trans }}
                                </p>
                            </div>
                        </div>

                        <div class="wrap-box">
                            <h5 class="wrap-box__title">{{ 'Changing password'|trans }}</h5>
                            <div class="wrap-box__in row" id="{{ form.userData.password.vars.id }}">
                                {{ form_row(form.userData.password.first, { label: 'Password'|trans}) }}
                                {{ form_row(form.userData.password.second, { label: 'Password again'|trans}) }}
                            </div>
                        </div>
                    </div>


                    <div id="{{ form.billingAddressData.vars.id }}">
                        <div class="wrap-box">
                            <h5 class="wrap-box__title">{{ 'Company data'|trans }}</h5>
                            <div class="wrap-box__in row">

                                <div class="col-sm-12">
                                    <div class="checkbox checkbox-primary">
                                        {{ form_widget(form.billingAddressData.companyCustomer, {'attr': {'class': 'styled js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-company-fields' }}) }}
                                        <label for="{{ form.billingAddressData.companyCustomer.vars.id }}">
                                            {{ 'I buy on company behalf'|trans }}
                                        </label>
                                    </div>
                                </div>

                                <div id="js-company-fields">
                                    {{ form_row(form.billingAddressData.companyName, { label: 'Company'|trans}) }}
                                    {{ form_row(form.billingAddressData.companyNumber, { label: 'Company number'|trans}) }}
                                    {{ form_row(form.billingAddressData.companyTaxNumber, { label: 'Tax number'|trans}) }}
                                </div>
                            </div>
                        </div>

                        <div class="wrap-box">
                            <h5 class="wrap-box__title">{{ 'Address'|trans }}</h5>

                            <div class="wrap-box__in row">
                                {{ form_row(form.billingAddressData.street, { label: 'Street'|trans}) }}
                                {{ form_row(form.billingAddressData.city, { label: 'City'|trans}) }}
                                {{ form_row(form.billingAddressData.postcode, { label: 'Postcode'|trans}) }}
                                {{ form_row(form.billingAddressData.country, { label: 'Country'|trans}) }}
                            </div>
                        </div>
                    </div>

                    <div id="{{ form.deliveryAddressData.vars.id }}" class="wrap-box">
                        <h5 class="wrap-box__title">{{ 'Shipping address'|trans }}</h5>
                        <div class="wrap-box__in row">

                            <div class="col-sm-12">
                                <div class="checkbox checkbox-primary">
                                    {{ form_widget(form.deliveryAddressData.addressFilled, {'attr': {'class': 'styled js-checkbox-toggle', 'data-checkbox-toggle-container-id': 'js-delivery-address-fields' }}) }}
                                    <label for="{{ form.deliveryAddressData.addressFilled.vars.id }}">
                                        {{ 'I want to deliver products to different address than the billing one'|trans }}
                                    </label>
                                </div>
                            </div>

                            <div id="js-delivery-address-fields">
                                {{ form_row(form.deliveryAddressData.companyName, { label: 'Company'|trans}) }}
                                {{ form_row(form.deliveryAddressData.firstName, { label: 'First name'|trans}) }}
                                {{ form_row(form.deliveryAddressData.lastName, { label: 'Last name'|trans}) }}
                                {{ form_row(form.deliveryAddressData.telephone, { label: 'Telephone'|trans}) }}
                                {{ form_row(form.deliveryAddressData.street, { label: 'Street'|trans}) }}
                                {{ form_row(form.deliveryAddressData.city, { label: 'City'|trans}) }}
                                {{ form_row(form.deliveryAddressData.postcode, { label: 'Postcode'|trans}) }}
                                {{ form_row(form.deliveryAddressData.country, { label: 'Country'|trans}) }}
                            </div>
                        </div>
                    </div>

                    {{ form_widget(form.save, { label: 'Save changes'|trans}) }}

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
