{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Personal data'|trans }}
{% endblock %}
{% block h1 %}{% endblock %}

{% block main_content %}
    <section class="login-sec padding-top-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div>
                        <div class="wrap-box">
                            <h5 class="wrap-box__title">{{ 'Warranty Data'|trans }}</h5>
                            <div class="wrap-box__in row">
                                {{ form_row(form.customer, { label: 'Customer'|trans}) }}
                                {{ form_row(form.item, { label: 'Item'|trans}) }}
                                {{ form_row(form.resolve_option, { label: 'Resolve option'|trans}) }}
                                {{ form_row(form.order_date, { label: 'Order date'|trans}) }}
                                {{ form_row(form.delivery_date, { label: 'Delivery date'|trans}) }}
                                {{ form_row(form.transport, { label: 'Delivery Method'|trans}) }}
                                {{ form_row(form.serial_number, { label: 'Serial/IMEI'|trans}) }}
                                {{ form_row(form.unlocking_code, { label: 'Unlocking code'|trans}) }}
                                <li class="col-sm-12">
                                    {{ form_row(form.problem_description, { label: 'Problem description'|trans}) }}
                                </li>
                                <li class="col-sm-12">
                                    {{ form_row(form.physical_condition, { label: 'Physical condition'|trans}) }}
                                </li>
                                <li class="col-sm-12">
                                    {{ form_row(form.additional_comment, { label: 'Comment'|trans}) }}
                                </li>
                                {{ form_row(form.delivery_first_name, { label: 'First name'|trans}) }}
                                {{ form_row(form.delivery_last_name, { label: 'Last name'|trans}) }}
                                {{ form_row(form.delivery_company_name, { label: 'Company'|trans}) }}
                                {{ form_row(form.delivery_telephone, { label: 'Telephone'|trans}) }}
                                {{ form_row(form.delivery_street, { label: 'Street'|trans}) }}
                                {{ form_row(form.delivery_city, { label: 'City'|trans}) }}
                                {{ form_row(form.delivery_postcode, { label: 'Postcode'|trans}) }}
                                {{ form_row(form.delivery_country, { label: 'Country'|trans}) }}
                            </div>
                        </div>
                    </div>

                    {{ form_widget(form.save, { label: 'Save'|trans}) }}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
