{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Personal data'|trans }}
{% endblock %}
{% block h1 %}{% endblock %}

{% block main_content %}
    <section class="login-sec padding-top-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div id="PersonalData">
                        <div class="wrap-box">
                            <h5 class="wrap-box__title">{{ 'Personal data approvals'|trans }}</h5>
                            <div class="wrap-box__in row">


                                <br>
                                <label >
                                    {{ form_widget(form.registrationAndNlData, {attr: {class: ''}}) }}
                                    {{ 'Allow registration data or newsletter subscription data such email to be used for marketing purposes'|trans }}
                                </label>
                                <br>

                                <label for="registrationEmail">
                                    {{ form_widget(form.orderData, {attr: {class: ''}}) }}
                                    {{ 'Allow order data such email to be used for marketing purposes'|trans }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="RequestErasure">
                        <div class="wrap-box">
                            <h5 class="wrap-box__title">{{ 'Request erasure of All your personal data'|trans }}</h5>
                            <div class="wrap-box__in row">
                                    <button type="button" id="requestErasure" name="requestErasure" value="true" class="btn-round btn-round-cart btn-back">
                                        {{ 'Request erasure'|trans }}
                                    </button>
                                <br>
                            </div>
                        </div>
                    </div>


                    {{ form_widget(form.save, { label: 'Save changes'|trans}) }}

                    {{ form_end(form) }}
                </div>
                </div>
            </div>
    </section>
{% endblock %}
