{% extends '@ShopsysShop/eleka/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Warranty'|trans }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ 'Warranty Nr.'|trans }} {{ warranty.number }}</h3>
                <div class="box-order-detail">
                    <div class="wrap-box">
                        <h4 class="wrap-box__title">{{ 'Informations'|trans }}</h4>
                        <div class="wrap-box__in">
                            <table class="table-params">
                                <tr>
                                    <th>{{ 'Product'|trans }}:</th>
                                    <td>{{ warranty.item.product.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Status'|trans }}:</th>
                                    <td>{{ warranty.status|trans }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Resolve Option'|trans }}:</th>
                                    <td>{{ warranty.resolveOption|trans }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Creation date'|trans }}:</th>
                                    <td>{{ warranty.createdAt|formatDate }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Order Number'|trans }}:</th>
                                    <td>{{ warranty.orderNumber }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Order Date'|trans }}:</th>
                                    <td>{{ warranty.orderDate|date }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Delivery Date'|trans }}:</th>
                                    <td>{{ warranty.deliveryDate|date }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Serial/IMEI'|trans }}:</th>
                                    <td>{{ warranty.serialNumber }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Unlocking Code'|trans }}:</th>
                                    <td>{{ warranty.unlockingCode }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Problem Description'|trans }}:</th>
                                    <td>{{ warranty.problemDescription }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Physcial Condition'|trans }}:</th>
                                    <td>{{ warranty.physicalCondition }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Additional Comments'|trans }}:</th>
                                    <td>{{ warranty.additionalComment }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-order-detail">
                    <div class="wrap-box">
                        <h4 class="wrap-box__title">{{ 'Delivery Informations'|trans }}</h4>
                        <div class="wrap-box__in">
                            <table class="table-params">
                                <tr>
                                    <th>{{ 'Delivery First Name'|trans }}:</th>
                                    <td>{{ warranty.deliveryFirstName }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Delivery Last Name'|trans }}:</th>
                                    <td>{{ warranty.deliveryLastName }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Delivery Company Name'|trans }}:</th>
                                    <td>{{ warranty.deliveryCompanyName }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Delivery telephone'|trans }}:</th>
                                    <td>{{ warranty.deliveryTelephone }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Delivery Street'|trans }}:</th>
                                    <td>{{ warranty.deliveryStreet }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Delivery City'|trans }}:</th>
                                    <td>{{ warranty.deliveryCity }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Delivery Postcode'|trans }}:</th>
                                    <td>{{ warranty.deliveryPostCode }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Delivery Country'|trans }}:</th>
                                    <td>{{ warranty.deliveryCountry.name }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                {% if warranty.administrator != null %}
                    <div class="box-order-detail">
                        <div class="wrap-box">
                            <h2 class="wrap-box__title">{{ 'Administrator Information'|trans }}</h2>
                            <div class="wrap-box__in">
                                <table class="table-params">
                                    <tr>
                                        <th>{{ 'Name'|trans }}:</th>
                                        <td>{{ warranty.administrator.username }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
