{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListHome.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 pull-left">
                <h1> {{'Product Warranty'|trans}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 pull-left">
                {{'RMA Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis nisi, tincidunt sollicitudin augue eu, a dictum nunc congue.'|trans }}
                <br>
                {{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis nisi, tincidunt sollicitudin augue eu, a dictum nunc congue.'|trans }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 pull-left">
                <h3>{{'Request RMA'|trans}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-3 col-sm-offset-6">
                <form name="newRmaForm">
                    <fieldset >
                        <div class="form-group">
                            <label for="rmaEmail">{{ 'Email'|trans }}</label>
                            <input type="email" name="rmaEmail" id="rmaEmail" class="form-control" placeholder="{{ 'Email'|trans }}">
                        </div>
                        <div class="form-group">
                            <label for="rmaId">{{ 'Invoice Number'|trans }}</label>
                            <input type="text" id="rmaId" name="rmaOrder" class="form-control" placeholder="{{ '123456xx'|trans }}">
                        </div>
                        <button type="submit" class="btn btn-primary">{{ 'Submit'|trans }}</button>
                    </fieldset>
                    <input type="hidden" name="rmaType" value="1">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 pull-left">
                <h3>{{'Check state of existing RMA'|trans}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-3 col-sm-offset-6">
                <form name="existingRmaForm">
                    {#<div>#}
                    {#<div class="rmaHeader">Header</div>#}
                    {#<div class="rmaBody"></div>#}
                    {#</div>#}
                    <fieldset >
                        <div class="form-group">
                            <label for="rmaNumber">{{ 'RMA Number'|trans }}</label>
                            <input type="text" id="rmaNumber" name="rmaNumber" class="form-control" placeholder="{{ 'RMA12185949xx'|trans }}">
                        </div>

                        <button type="submit" class="btn btn-primary">{{ 'Submit'|trans }}</button>
                    </fieldset>
                    <input type="hidden" name="rmaType" value="2">
                </form>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
    </div>
{% endblock %}
