{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListHome.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}


    <div class="container">

        <div class="row">
            <div class="col-xs-12 pull-left">
                <h1>GDPR</h1>
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-xs-6">
                {% set termsAndConditionsUrl = url('front_article_detail', {'id': termsAndConditionsArticle.id}) %}
                {{ '<a href="%termsAndConditionsUrl%" target="_blank">Terms and conditions</a>'|trans({'%termsAndConditionsUrl%': termsAndConditionsUrl})|raw }}
            </div>
            <div class="col-xs-6">
                {% set privacyPolicyUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                {{ '<a href="%privacyPolicyUrl%" target="_blank">Privacy policy</a>'|trans({'%privacyPolicyUrl%': privacyPolicyUrl})|raw }}
            </div>
        </div>
        <div class="row">
            <br>
        </div>
    </div>
{% endblock %}
