{% extends '@ShopsysShop/Front/Layout/layoutWithPanel.html.twig' %}
{% import '@ShopsysShop/Front/Content/Product/productListHome.html.twig' as productList %}

{% block breadcrumb %}
{% endblock %}

{% block meta_description %}
    {{- metaDescription -}}
{% endblock %}

{% block title %}
    {{- title -}}
{% endblock %}

{% block logo %}
    <h1 class="logo">
        <img src="{{ asset('assets/frontend/images/logo.png') }}" alt="{{ 'Online shop'|trans }}">
    </h1>
{% endblock %}

{% block main_content %}

    {% if sliderItems is not empty %}
        <div class="box-slider">
            <div id="js-slider-homepage" class="box-slider__in">
                {% for item in sliderItems %}
                    <div class="box-slider__item">
                        <a href = "{{ item.link }}">{{ image(item) }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {{ render(controller('ShopsysShopBundle:Front/Category:top')) }}

    {% if topProductsDetails is not empty %}
        <div id="top-products">
            <h2>{{ 'Special offers'|trans }}</h2>
            {{ productList.list(topProductsDetails, null, 'h3') }}
        </div>
    {% endif %}

{% endblock %}
