{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Editing article category'|trans }} - {{ articleCategory.name }}{% endblock %}
{% block h1 %}{{ 'Editing article category'|trans }} - {{ articleCategory.name }}{% endblock %}

{% block main_content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group wrap-border">
        <div class="form-group__title">
            {{ 'Settings'|trans }}
        </div>
        {{ form_id(articleCategory|default(null)) }}
        {{ form_row(form.name, { label: 'Name'|trans }) }}
        {{ form_row(form.placement, { label: 'Placement'|trans }) }}
        {{ form_row(form.iconName, { label: 'Icon Name'|trans }) }}

    </div>
    {{ form_end(form) }}
{% endblock %}