{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% block grid_no_data %}
    {{ 'No article category found.'|trans }}
{% endblock %}

{% block grid_action_cell_type_edit %}
    <a
        class="in-icon in-icon--edit svg svg-pencil table-action{% if actionColumn.classAttribute %} {{ actionColumn.classAttribute }}{% endif %}"
        href="{{ actionColumn.targetUrl(row) }}"
        title = "{{ actionColumn.title }}"
        target ="_blank"
    ></a>
{% endblock %}
