{% extends '@ShopsysShop/turbado/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order completed'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Front/Script:embedOrderSentPageScripts', {order: order})) }}
    {{ render(controller('ShopsysShopBundle:Front/Script:embedOrderSentPageGoogleAnalyticsScript', {order: order})) }}


    <div id="content">

        <!-- Oder-success -->
        <section>
            <div class="container">
                <!-- Payout Method -->

                <div class="order-success"> <i class="fa fa-check"></i>
                    <h6>
                        {{'Congratulation!'|trans }}
                        {{ 'Your order no.'|trans}}
                        {{ orderId|raw }}
                        {{'has been processed'|trans }}
                    </h6>

                    <a href="{{ url('front_homepage') }}" class="btn-round">                {{ 'Back to store'|trans }}
                    </a>
                </div>
            </div>
        </section>


{% endblock %}