{% extends '@ShopsysShop/Front/Layout/blank.html.twig' %}

{% block title %}
    {{ termsAndConditionsArticle.name }}
{% endblock %}

{% block html_body %}
    <div>
        {{ termsAndConditionsArticle.text }}
    </div>
{% endblock %}