<div class="cart__right">
    <table class="cart__preview-table">
        <tbody>

        {% for quantifiedProductKey, quantifiedProduct in orderPreview.quantifiedProducts %}
            {% set quantifiedProductPrice = orderPreview.quantifiedItemsPrices[quantifiedProductKey] %}
            {% set quantifiedProductDiscount = orderPreview.quantifiedItemsDiscounts[quantifiedProductKey] %}

            <tr>
                <td width="70px">
                    <div class="cart__preview-table--image">
                        {{ image(quantifiedProduct.product) }}
                    </div>
                </td>
                <td colspan="2">
                    {{ quantifiedProduct.product.name }}
                </td>
                <td class="text-right">
                    {{ quantifiedProductPrice.totalPrice.priceWithVat|price }}
                </td>
            </tr>

        {% endfor %}

        </tbody>
        <tfoot>

        {% if orderPreview.transport is not empty %}

            <tr>
                <td colspan="2">{{ 'Shipping method'|trans }}:</td>
                <td></td>
                <td class="text-right">
                    {{ orderPreview.transportPrice.priceWithVat|priceText }}
                </td>
            </tr>

        {% endif %}

        {% if orderPreview.payment is not empty %}

            <tr>
                <td colspan="2">{{ 'Payment method'|trans }}:</td>
                <td></td>
                <td class="text-right">
                    {{ orderPreview.paymentPrice.priceWithVat|priceText }}
                </td>
            </tr>

        {% endif %}

        {% if orderPreview.roundingPrice is not empty %}

            <tr>
                <td colspan="2">{{ 'Rounding'|trans }}:</td>
                <td></td>
                <td class="text-right">
                    {{ orderPreview.roundingPrice.priceWithVat|price }}
                </td>
            </tr>

        {% endif %}

        <tr class="subtotal">
            <td colspan="2"> {{ 'Total price including VAT'|trans }}</td>
            <td></td>
            <td class="text-right">
                {{ orderPreview.totalPrice.priceWithVat|price }}
            </td>
        </tr>
        </tfoot>
    </table>
</div>