{% extends '@ShopsysShop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Order completed'|trans }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Front/Script:embedOrderSentPageScripts', {order: order})) }}
    {{ render(controller('ShopsysShopBundle:Front/Script:embedOrderSentPageGoogleAnalyticsScript', {order: order})) }}


    <div id="content">

        <!-- Oder-success -->
        <section>
            <div class="container">
                <!-- Payout Method -->

                <div class="order-success"> <i class="fa fa-check"></i>
                    <h6>
                        {{'Congratulation!'|trans }}

                        {#{{ Your order no.'|trans}}#}
                        {{ pageContent|raw }}
                        {#{{'has been processed'|trans }}#}
                    </h6>

                    <a href="{{ url('front_homepage') }}" class="btn-round">Return to Shop</a>
                </div>
            </div>
        </section>


    <div class="in-user-text">
        {{ pageContent|raw }}
    </div>
    <div class="in-action">
        <div class="in-action__left">
            <a href="{{ url('front_homepage') }}" class="btn in-action__btn">
                {{ 'Back to store'|trans }}
            </a>
        </div>
    </div>

{% endblock %}