{% extends '@ShopsysShop/Front/Content/Order/step.html.twig' %}

{% block content %}


    <div class="cart__wrapper">

        <div class="cart__left">
            <div class="cart__left-logo">
                {% set domainName = getDomain().currentDomainConfig.name %}
                <a href="{{ url('front_homepage') }}"><img
                            src="{{ asset('assets/frontend/images/' ~ domainName ~ '/logo.png') }}"
                            alt="Logo">
                </a>
            </div>


            {% include '@ShopsysShop/turbado/Front/Inline/Cart/breadcrumb.html.twig' with {step: 5} only %}

            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="cart__form" id="{{ form.vars.id }}">

                <div class="cart__form-item checkboxes" id="{{ form.payment.vars.id }}">
                    {% for child in form.payment %}
                        {% set choice = form.payment.vars.choices[child.vars.name] %}
                        {% set paymentPrice = paymentsPrices[choice.data.id] %}

                        <div class="checkboxes-item">
                            <input type="radio" class="js-order-transport-input" data-id="{{ choice.data.id }}"
                                   id="{{ child.vars.id }}" name="{{ child.vars.full_name }}"
                                   value="{{ choice.data.id }}"/>
                            <label for="{{ child.vars.id }}">{{ choice.data.name }}
                                <span>{{ paymentPrice.priceWithVat|priceText }}</span>
                            </label>
                        </div>

                        {% do child.setRendered %}

                    {% endfor %}
                </div>

                {% if company_order == 'false' %}

                    <div class="genius-offer">
                        <p>
                            {{ 'GENIUS OFFER - all payment methods free of charge + sale 1% from whole order'|trans }}
                        </p>
                    </div>

                    <div class="cart__buttons-row">
                        <button type="submit" id="noGenius" name="{{ flow.getFormTransitionKey() }}" value="back"
                                class="button button--quiet">
                            {{ 'Back'|trans }}
                        </button>
                        <button class="button button--blue" id="genius">
                            {{ 'Next with Premium'|trans }}
                        </button>
                        {{ form_widget(form.next, { 'attr': {'class': 'button button--lblue', 'type': 'button'}}) }}

                    </div>

                    <script type="text/javascript">
                      $(document).ready(function () {
                        $("#payment_form_next").on('click', function (e) {
                          e.preventDefault();
                          $.ajax({
                            url: '{{ path('front_order_genius_remove') }}',
                            type: "POST",
                            dataType: "json",
                            data: {'step': 3},
                            async: true,
                            success: function (data) {
                            }
                          });
                          $(this).closest("form").submit();
                        });

                        $("#genius").on('click', function (e) {
                          e.preventDefault();
                          $.ajax({
                            url: '{{ path('front_order_genius_add') }}',
                            type: "POST",
                            dataType: "json",
                            data: {'step': 3},
                            async: true,
                            success: function (data) {
                            }
                          });
                          $(this).closest("form").submit();
                        });
                        $(window).keydown(function (e) {
                          if (e.keyCode == 13) {
                            e.preventDefault();
                            $.ajax({
                              url: '{{ path('front_order_genius_add') }}',
                              type: "POST",
                              dataType: "json",
                              data: {'step': 2},
                              async: true,
                              success: function (data) {
                              }
                            });
                            $("#js-order-form").submit();
                          }
                        });
                      });

                    </script>

                {% else %}

                    <div class="cart__buttons-row">
                        <button type="submit" id="noGenius" name="{{ flow.getFormTransitionKey() }}" value="back"
                                class="button button--quiet">
                            {{ 'Back'|trans }}
                        </button>
                        {{ form_widget(form.next, { 'attr': {'class': 'button button--lblue', 'type': 'button'}}) }}

                    </div>

                {% endif %}

            </div>


        </div>

        {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
            transportId: transport is empty ? null : transport.id,
            paymentId: payment is empty ? null : payment.id
        })) }}

    </div>

{% endblock %}
