{% extends '@ShopsysShop/turbado/Front/Content/Order/step.html.twig' %}

{% block content %}

    <div id="cart-progress">

        <div class="cart__wrapper">

            <div class="cart__left">
                <div class="cart__left-logo">
                    {% set domainName = getDomain().currentDomainConfig.name %}
                    <a href="{{ url('front_homepage') }}"><img
                                src="{{ asset('assets/frontend/images/' ~ domainName ~ '/logo.png') }}"
                                alt="Logo">
                    </a>
                </div>

                {% include '@ShopsysShop/turbado/Front/Inline/Cart/breadcrumb.html.twig' with {step: 3} only %}

                {% if form.vars.errors|length > 0 %}
                    <div class="alert alert-danger">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                {% if company_order == 'false' %}

                    <div class="cart__form">
                        <h3>{{ 'Address'|trans }}</h3>

                        <div class="cart__form-item w50">
                            <label for="{{ form.firstName.vars.id }}">
                                {{ 'First name'|trans }}
                            </label>
                            {{ form_widget(form.firstName) }}
                        </div>

                        <div class="cart__form-item w50">
                            <label for="{{ form.lastName.vars.id }}">
                                {{ 'Last Name'|trans }}
                            </label>
                            {{ form_widget(form.lastName) }}
                        </div>

                        <div class="cart__form-item w50">
                            <label for="{{ form.street.vars.id }}">
                                {{ 'Street'|trans }}
                            </label>
                            {{ form_widget(form.street) }}
                        </div>

                        <div class="cart__form-item w50">
                            <label for="{{ form.streetNumber.vars.id }}">
                                {{ 'Street number'|trans }}
                            </label>
                            {{ form_widget(form.streetNumber) }}
                        </div>

                        <div class="cart__form-item w50">
                            <label for="{{ form.postcode.vars.id }}">
                                {{ 'Postcode'|trans }}
                            </label>
                            {{ form_widget(form.postcode) }}
                        </div>

                        <div class="cart__form-item w50">
                            <label for="{{ form.city.vars.id }}">
                                {{ 'City'|trans }}
                            </label>
                            {{ form_widget(form.city) }}
                        </div>

                        <div class="cart__form-item w50">
                            <label for="{{ form.country.vars.id }}">
                                {{ 'Country'|trans }}
                            </label>
                            {{ form_widget(form.country) }}
                        </div>

                        <div class="cart__form-item">
                            {{ form_widget(form.deliveryAddressFilled) }}
                            <label for="{{ form.deliveryAddressFilled.vars.id }}">
                                {{ 'I want to deliver products to different address than the billing one'|trans }}
                            </label>
                        </div>

                        <div class="cart__delivery-address-container">

                            <h3>{{ 'Delivery address'|trans }}</h3>

                            <div class="cart__form-item w50">
                                <label for="{{ form.deliveryFirstName.vars.id }}">
                                    {{ 'First name'|trans }}
                                </label>
                                {{ form_widget(form.deliveryFirstName) }}
                            </div>

                            <div class="cart__form-item w50">
                                <label for="{{ form.deliveryLastName.vars.id }}">
                                    {{ 'Last Name'|trans }}
                                </label>
                                {{ form_widget(form.deliveryLastName) }}
                            </div>

                            <div class="cart__form-item w50">
                                <label for="{{ form.deliveryTelephone.vars.id }}">
                                    {{ 'Delivery telephone'|trans }}
                                </label>
                                {{ form_widget(form.deliveryTelephone) }}
                            </div>

                            <div class="cart__form-item w50">
                                <label for="{{ form.deliveryStreet.vars.id }}">
                                    {{ 'Street'|trans }}
                                </label>
                                {{ form_widget(form.deliveryStreet) }}
                            </div>

                            <div class="cart__form-item w50">
                                <label for="{{ form.deliveryPostcode.vars.id }}">
                                    {{ 'Postcode'|trans }}
                                </label>
                                {{ form_widget(form.deliveryPostcode) }}
                            </div>

                            <div class="cart__form-item w50">
                                <label for="{{ form.deliveryCity.vars.id }}">
                                    {{ 'City'|trans }}
                                </label>
                                {{ form_widget(form.deliveryCity) }}
                            </div>

                            <div class="cart__form-item w50">
                                <label for="{{ form.deliveryCountry.vars.id }}">
                                    {{ 'Country'|trans }}
                                </label>
                                {{ form_widget(form.deliveryCountry) }}
                            </div>

                        </div>

                    </div>

                {% else %}

                    <h2>{{ 'Company information'|trans }}</h2>

                    <div class="cart__form-item w50">
                        <label for="{{ form.companyName.vars.id }}">
                            {{ 'Company name'|trans }}
                        </label>
                        {{ form_widget(form.companyName) }}
                    </div>

                    <div class="cart__form-item w50">
                        <label for="{{ form.companyNumber.vars.id }}">
                            {{ 'Company number'|trans }}
                        </label>
                        {{ form_widget(form.companyNumber) }}
                    </div>

                    <div class="cart__form-item w50">
                        <label for="{{ form.companyTaxNumber.vars.id }}">
                            {{ 'Company tax number'|trans }}
                        </label>
                        {{ form_widget(form.companyTaxNumber) }}
                    </div>

                    <h3>{{ 'Address'|trans }}</h3>


                    <div class="cart__form-item w50">
                        <label for="{{ form.firstName.vars.id }}">
                            {{ 'First name'|trans }}
                        </label>
                        {{ form_widget(form.firstName) }}
                    </div>

                    <div class="cart__form-item w50">
                        <label for="{{ form.lastName.vars.id }}">
                            {{ 'Last Name'|trans }}
                        </label>
                        {{ form_widget(form.lastName) }}
                    </div>

                    <div class="cart__form-item w50">
                        <label for="{{ form.street.vars.id }}">
                            {{ 'Street'|trans }}
                        </label>
                        {{ form_widget(form.street) }}
                    </div>

                    <div class="cart__form-item w50">
                        <label for="{{ form.postcode.vars.id }}">
                            {{ 'Postcode'|trans }}
                        </label>
                        {{ form_widget(form.postcode) }}
                    </div>

                    <div class="cart__form-item w50">
                        <label for="{{ form.city.vars.id }}">
                            {{ 'City'|trans }}
                        </label>
                        {{ form_widget(form.city) }}
                    </div>

                    <div class="cart__form-item w50">
                        <label for="{{ form.country.vars.id }}">
                            {{ 'Country'|trans }}
                        </label>
                        {{ form_widget(form.country) }}
                    </div>

                    <h3>{{ 'Select your warranty plan'|trans }}</h3>

                    <div class="transportation">
                        <div class="row">
                            {% for row in form.pricingGroup %}
                                {#{{ form_row(row, { label:  row.vars.label | trans }) }}#}
                                {#{{ dump(row.vars.form.vars.value) }}#}
                                {#{{ dump(totalPrice) }}#}
                                <div class="col-sm-12">
                                    <div class="charges {% if row.vars.checked == 'true' %} select {% endif %}">
                                        <h6>{{ row.vars.label | trans }}</h6>
                                        <br>
                                        <span>{% if b2bPricesDiff[row.vars.form.vars.value]-totalPrice >= 0 %} + {% endif %} {{ (b2bPricesDiff[row.vars.form.vars.value]-totalPrice)|price }} </span>
                                        <span class="deli-charges">{{ b2bPricesDiff[row.vars.form.vars.value]|price }}</span>
                                        {{ form_widget(row, {'attr': {'class': 'hidden warrantyPlan'}}) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}

                <div class="cart__buttons-row">
                    <button type="submit" name="{{ flow.getFormTransitionKey() }}" value="back"
                            class="button button--quiet">
                        {{ 'Back'|trans }}
                    </button>
                    {{ form_widget(form.next, { 'attr': {'class': 'button button--lblue', 'type': 'button'}}) }}

                </div>

            </div>


            {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
                transportId: transport is empty ? null : transport.id,
                paymentId: payment is empty ? null : payment.id
            })) }}

        </div>


    </div>

    <script>
      $(document).ready(function () {
        // $("[id^=address_form_pricingGroup]").on('change',function() {
        //     $("#js-order-form") .submit();
        // });

        $(".charges").on('click', function () {
          $('.warrantyPlan').prop('checked', false);
          $(this).find('.warrantyPlan').prop("checked", true);
          $(".charges").removeClass('select');
          $(this).addClass('select');
          $("#js-order-form").submit();

        });

        if ($('#address_form_deliveryAddressFilled').is(':checked')) {
        } else {
          $('.cart__delivery-address-container').hide();
        }

        $('#address_form_deliveryAddressFilled').on('change', function () {
          console.log('change deje');
          if ($(this).is(':checked')) {
            $('.cart__delivery-address-container').fadeIn()
          } else {
            $('.cart__delivery-address-container').fadeOut()
          }
        });
      });
    </script>
{% endblock %}
