{% extends '@ShopsysShop/turbado/Front/Content/Order/step.html.twig' %}

{% block content %}

    <div id="cart-progress">

        <div class="cart__wrapper">

            <div class="cart__left">
                <div class="cart__left-logo">
                    {% set domainName = getDomain().currentDomainConfig.name %}
                    <a href="{{ url('front_homepage') }}"><img
                                src="{{ asset('assets/frontend/images/' ~ domainName ~ '/logo.png') }}"
                                alt="Logo">
                    </a>
                </div>

                {% include '@ShopsysShop/turbado/Front/Inline/Cart/breadcrumb.html.twig' with {step: 2} only %}

                {% if form.vars.errors|length > 0 %}
                    <div class="alert alert-danger">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                <div class="cart__form">
                    <h3>{{ 'Contact'|trans }}</h3>

                    <div class="cart__form-item w50">
                        <label for="{{ form.email.vars.id }}">
                            {{ 'Email'|trans }}
                        </label>
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="cart__form-item w50">
                        <label for="{{ form.telephone.vars.id }}">
                            {{ 'Telephone'|trans }}
                        </label>
                        {{ form_widget(form.telephone) }}
                    </div>

                    {% if company_order == 'false' %}

                        <div class="genius-offer">
                            <p>
                                {{ 'GENIUS OFFER - add 6 months prolonged warranty to all products in order for free'|trans }}
                            </p>
                        </div>

                        <div class="cart__buttons-row">
                            <a href="{{ url('front_cart') }}" class="button button--quiet">
                                {{ 'Back'|trans }}
                            </a>
                            <button class="button button--blue" id="genius">
                                {{ 'Next with Premium'|trans }}
                            </button>
                            {{ form_widget(form.next, { 'attr': {'class': 'button button--lblue', 'type': 'button'}}) }}

                        </div>


                        <script type="text/javascript">
                          $(document).ready(function () {
                            $("#contact_form_next").on('click', function (e) {
                              e.preventDefault();
                              $.ajax({
                                url: '{{ path('front_order_genius_remove') }}',
                                type: "POST",
                                dataType: "json",
                                data: {'step': 1},
                                async: true,
                                success: function (data) {
                                  console.log(data)
                                }
                              });
                              $(this).closest("form").submit();
                            });

                            $("#genius").on('click', function (e) {
                              e.preventDefault();
                              $.ajax({
                                url: '{{ path('front_order_genius_add') }}',
                                type: "POST",
                                dataType: "json",
                                data: {'step': 1},
                                async: true,
                                success: function (data) {
                                  console.log(data)
                                }
                              });
                              $(this).closest("form").submit();
                            });
                            $(window).keydown(function (e) {
                              if (e.keyCode == 13) {
                                e.preventDefault();
                                $.ajax({
                                  url: '{{ path('front_order_genius_add') }}',
                                  type: "POST",
                                  dataType: "json",
                                  data: {'step': 1},
                                  async: true,
                                  success: function (data) {
                                    console.log(data)
                                  }
                                });
                                $("#js-order-form").submit();
                              }
                            });
                          });

                        </script>

                    {% else %}
                        <div class="cart__buttons-row">
                            <a href="{{ url('front_cart') }}" class="button button--quiet">
                                {{ 'Back'|trans }}
                            </a>
                            {{ form_widget(form.next, { 'attr': {'class': 'button button--lblue', 'type': 'button'}}) }}

                        </div>
                    {% endif %}

                </div>

            </div>

            {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
                transportId: transport is empty ? null : transport.id,
                paymentId: payment is empty ? null : payment.id
            })) }}

        </div>

    </div>

{% endblock %}
