{% block main_content %}


    <div class="cart__wrapper">

        <div class="cart__left">
            <div class="cart__left-logo">
                {% set domainName = getDomain().currentDomainConfig.name %}
                <a href="{{ url('front_homepage') }}"><img
                            src="{{ asset('assets/frontend/images/' ~ domainName ~ '/logo.png') }}"
                            alt="Logo">
                </a>
            </div>


            {% include '@ShopsysShop/turbado/Front/Inline/Cart/breadcrumb.html.twig' with {step: 6} only %}

            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <h3>{{ 'Payment information'|trans }}</h3>

            {% if payment is not empty %}
                {% set paymentPrice = paymentsPrices[payment.id].priceWithVat %}
                <table class="cart__preview-table cart__preview-table--info">
                    <tbody>
                    <tr>
                        <td>{{ 'Payment method'|trans }}</td>
                        <td>{{ payment.name }}</td>
                        <td>{{ paymentsPrices[payment.id].priceWithVat|priceText }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}

            <h3>{{ 'Shipping details'|trans }}</h3>

            <table class="cart__preview-table cart__preview-table--info">
                <tbody>
                <tr>
                    <td>{{ 'Name'|trans }}</td>
                    <td>{{ addressDetails.firstName }} {{ addressDetails.lastName }}</td>
                </tr>
                <tr>
                    <td>{{ 'Phone'|trans }}</td>
                    <td>{{ contactDetails.telephone }}</td>
                </tr>
                <tr>
                    <td>{{ 'Email'|trans }}</td>
                    <td>{{ contactDetails.email }}</td>
                </tr>
                <tr>
                    <td>{{ 'Country'|trans }}</td>
                    <td>{{ addressDetails.country }}</td>
                </tr>
                <tr>
                    <td>{{ 'City'|trans }}</td>
                    <td>{{ addressDetails.city }}</td>
                </tr>
                <tr>
                    <td>{{ 'Zipcode'|trans }}</td>
                    <td>{{ addressDetails.postcode }}</td>
                </tr>
                <tr>
                    <td>{{ 'Street'|trans }}</td>
                    <td>{{ addressDetails.street }}</td>
                </tr>
            </table>

            <h3>
                {{ 'Shipping information'|trans }}
            </h3>

            {% if transport is not empty %}
                {% set shippingPrice = transportsPrices[transport.id].priceWithVat %}
                <table class="cart__preview-table cart__preview-table--info">
                    <tbody>
                    <tr>
                        <td>{{ 'Shipping method'|trans }}</td>
                        <td>{{ transport.name }}</td>
                        <td>{{ transportsPrices[transport.id].priceWithVat|priceText }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}


            <h3>{{ 'Note'|trans }}</h3>
            <div class="cart__form-item">
                <label for="{{ form.note.vars.id }}">{{ 'Note'|trans }}</label>
                {{ form_row(form.note, {attr: {'rows': '3'}}) }}
            </div>

            {% if termsAndConditionsArticle is not null %}
                <h3>{{ 'Terms and conditions'|trans }}</h3>
                <div class="box-condition">
                    <div class="box-condition__in">
                        <iframe name="js-terms-and-conditions-frame" width="100%"
                                src="{{ url('front_order_terms_and_conditions') }}"></iframe>
                    </div>
                    <div class="box-condition__control">
                        <button id="js-terms-and-conditions-print" class="button"
                                type="button">{{ 'Print'|trans }}</button>
                        <a href="{{ url('front_order_terms_and_conditions_download') }}"
                           class="button">{{ 'Download'|trans }}</a>
                    </div>
                </div>
            {% endif %}

            <div class="checkboxes-item mt30">
                {{ form_widget(form.legalConditionsAgreement) }}

                <label for="{{ form.legalConditionsAgreement.vars.id }}">
                    {% if privacyPolicyArticle is not null and termsAndConditionsArticle is not null %}
                        {% set privacyPolicyUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                        {% set termsAndConditionsUrl = url('front_article_detail', {'id': termsAndConditionsArticle.id}) %}
                        {{ 'I agree with <a href="%termsAndConditionsUrl%" target="_blank">terms and conditions</a> and <a href="%privacyPolicyUrl%" target="_blank">privacy policy</a>.'|trans({'%privacyPolicyUrl%': privacyPolicyUrl, '%termsAndConditionsUrl%': termsAndConditionsUrl})|raw }}
                    {% elseif privacyPolicyArticle is not null %}
                        {% set privacyPolicyUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
                        {{ 'I agree with terms and conditions and <a href="%privacyPolicyUrl%" target="_blank">privacy policy</a>.'|trans({'%privacyPolicyUrl%': privacyPolicyUrl })|raw }}
                    {% elseif termsAndConditionsArticle is not null %}
                        {% set termsAndConditionsUrl = url('front_article_detail', {'id': termsAndConditionsArticle.id}) %}
                        {{ 'I agree with <a href="%termsAndConditionsUrl%" target="_blank">terms and conditions</a> and privacy policy.'|trans({'%termsAndConditionsUrl%': termsAndConditionsUrl })|raw }}
                    {% else %}
                        {{ 'I agree with terms and conditions and privacy policy.'|trans }}
                    {% endif %}
                </label>
            </div>


            <div class="checkboxes-item mb30">
                {{ form_widget(form.newsletterSubscription) }}

                <label for="{{ form.newsletterSubscription.vars.id }}">
                    {{ 'I want to subscribe to the newsletter'|trans }}
                </label>
            </div>

            <div class="cart__buttons-row">
                <button type="submit" id="noGenius" name="{{ flow.getFormTransitionKey() }}" value="back"
                        class="button button--quiet">
                    {{ 'Back'|trans }}
                </button>
                {{ form_widget(form.save, {label: 'Confirm Order'|trans, 'attr': {'class': 'button button--blue', 'type': 'button'}}) }}

            </div>

        </div>

        {{ render(controller('ShopsysShopBundle:Front/Order:preview', {
            transportId: transport is empty ? null : transport.id,
            paymentId: payment is empty ? null : payment.id
        })) }}

    </div>

{% endblock %}
