{% if breadcrumbItems is not null %}

    <div class="linking">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ url('front_homepage') }}">Home</a></li>

                {% for breadcrumbItem in breadcrumbItems %}
                    {% if breadcrumbItem.routeName is not null %}
                        <li>
                            <a href="{{ url(breadcrumbItem.routeName, breadcrumbItem.routeParameters) }}">
                                {{- breadcrumbItem.name -}}
                            </a>
                        </li>
                    {% else %}
                        <li class="active">{{- breadcrumbItem.name -}}</li>

                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endif %}
