<template>
	<div class="short-lst" style="margin-top: 80px;margin-bottom:40px">
		<h2 style="margin-bottom: 25px;font-weight: 700 ;text-transform: uppercase; text-align: center;">{{categoryName}}</h2>

		<div class="row">

			<div class="col-md-6">

				<ul>
					<li class="pull-right">
						<button class="button button--show-filter" @click="toggleFilters()">{{filterButtonText}}
						</button>
					</li>
					<li>
						<select v-model="sortBy">
							<option value="name_asc">{{translations.alphabetically}}</option>
							<option value="price_asc">{{translations.priceLowest}}</option>
							<option value="price_desc">{{translations.priceHighest}}</option>
						</select>
					</li>

				</ul>
			</div>

			<div class="col-md-6 pull-right">
				<pagination></pagination>
			</div>
		</div>
	</div>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import Pagination from "../Pagination/pagination.vue";

  export default {
    components: {Pagination},
    name: 'productsHeader',
    data() {
      return {
        sortBy: 'name_asc',
        categoryName: ''
      }
    },
    computed: {
      ...mapGetters(['filterButtonText', 'translations'])
    },
    methods: {
      ...mapActions(['changeProductsOrder', 'toggleFilters', 'changeOrder'])
    },
    watch: {
      sortBy: function (val) {
        this.changeOrder(val)
      }
    },
    created() {
      const rootElement = document.getElementById('product-listing-component')
      const catName = rootElement.getAttribute('category-name')
      this.categoryName = catName
    }
  }
</script>

<style scoped>
	select {
		padding: 5px 10px;
		border: none;
		color: grey;
		outline: none;
		cursor: pointer;
	}

	.pull-right {
		margin-right: -15px;
	}

	.no-border {
		border: none !important;
	}
</style>