<template>
  <div class="col-list">
    <product-item
            v-for="item in products"
            :title="item.name"
            :image="item.images[0] ? item.images[0].url : ''"
            :price="Math.round(item.price)"
            :categoryName="categoryName"
            :key="item.id"
            :description="item.productDomain.short_description"
            :id="item.id"
            :link="item.url"
            :currency="currency"
    ></product-item>
  </div>
</template>

<script>
  import ProductItem from './productItem.vue'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    components: {ProductItem},
    name: 'ProductListingProducts',
    methods: {
      ...mapActions(['fetchProductsByBrand','fetchProductsByCategory', 'changeCategoryId', 'saveTranslations', 'saveCurrency'])
    },
    data() {
      return {
        categoryName: '',
        currency: ''
      }
    },
    created() {
      const rootElement = document.getElementById('product-listing-component')
      const categoryId = rootElement.getAttribute('category-id')
      const translations = rootElement.getAttribute('translations');
      const isBrand = rootElement.getAttribute('is-brand');
      this.categoryName = rootElement.getAttribute('category-name')
      this.currency = rootElement.getAttribute('currency')
      this.changeCategoryId(categoryId)
      this.saveTranslations(translations)
      this.saveCurrency(this.currency)
      if (!window.isListingLoaded) {
        if (isBrand) {
          this.fetchProductsByBrand()
          window.isListingLoaded = true
        } else {
          this.fetchProductsByCategory()
          window.isListingLoaded = true
        }
      }
    },
    computed: {
      ...mapGetters(['products'])
    }
  }
</script>

<style>

</style>