<template>

	<!-- Product -->
	<div class="product">
		<article>
			<!-- Product img -->
			<div class="media-left">
				<a :href="link" class="item-img"><img class="img-responsive" :src="image" alt=""></a>
			</div>
			<!-- Content -->
			<div class="media-body">
				<div class="row">
					<!-- Content Left -->
					<div class="col-sm-7"><span class="tag">{{categoryName}}</span> <a :href="link"
					                                                                   class="tittle">{{title}}</a>
						<!-- Reviews -->
						<!--<p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i-->
						<!--class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="margin-left-10">5 Review(s)</span>-->
						<!--</p>-->
						<!--<ul class="bullet-round-list">-->
						<!--<li>Screen: 1920 x 1080 pixels</li>-->
						<!--<li>Processor: 2.5 GHz None</li>-->
						<!--<li>RAM: 8 GB</li>-->
						<!--<li>Hard Drive: Flash memory solid state</li>-->
						<!--<li>Graphics : Intel HD Graphics 520 Integrated</li>-->
						<!--</ul>-->
						<p>
							{{description}}
						</p>
					</div>
					<!-- Content Right -->
					<div class="col-sm-5 text-center">
						<div class="position-center-center">
							<div class="price">{{price | numberWithSpace}} {{currency}}</div>
							<p>{{translations.availability}}: <span class="in-stock">{{translations.inStock}}</span></p>
							<a @click="addProductToCart(id)" class="btn-round"><i class="icon-basket-loaded"></i>
								{{translations.addToCart}}</a></div>
					</div>
				</div>
			</div>
		</article>
	</div>

</template>

<script>
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: 'productItem',
    props: {
      image: {
        type: String
      },
      id: {
        required: true
      },
      title: {
        type: String,
        required: true
      },
      price: {
        type: Number,
        required: true
      },
      categoryName: {
        type: String
      },
      description: {
        type: String
      },
      link: {
        type: String,
        required: true
      },
      currency: {
        type: String,
        required: true
      }
    },
    computed: {
      ...mapGetters(['translations'])
    },
    methods: {
      ...mapActions(['addProductToCart'])
    },
    filters: {
      numberWithSpace: function (x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
      }
    }
  }
</script>