{{ form_errors(form) }}

{{ form_start(form) }}

<label for="{{ form.firstName.vars.id }}">
    {{ 'First name'|trans }}
</label>
<input type="text" name="{{ form.firstName.vars.full_name }}" id="{{ form.firstName.vars.id }}"/>

{% do form.firstName.setRendered %}

<label for="{{ form.lastName.vars.id }}">
    {{ 'Last name'|trans }}
</label>
<input type="text" name="{{ form.lastName.vars.full_name }}" id="{{ form.lastName.vars.id }}"/>

{% do form.lastName.setRendered %}

<label for="{{ form.email.vars.id }}">
    {{ 'E-mail'|trans }}
</label>
<input data-request-url="{{ url('front_registration_exists_email') }}" type="text"
       name="{{ form.email.vars.full_name }}" id="{{ form.email.vars.id }}"/>

{% do form.email.setRendered %}

<label for="{{ form.password.first.vars.id }}">
    {{ 'Password'|trans }}
</label>
<input type="password" name="{{ form.password.first.vars.full_name }}" id="{{ form.password.first.vars.id }}"/>

{% do form.password.first.setRendered %}

<label for="{{ form.password.second.vars.id }}">
    {{ 'Password again'|trans }}
</label>
<input type="password" name="{{ form.password.second.vars.full_name }}" id="{{ form.password.second.vars.id }}"/>

{% do form.password.second.setRendered %}

<div>
    {{ form_widget(form.privacyPolicy, {'attr': {'class': 'styled' }}) }}
    <label for="{{ form.privacyPolicy.vars.id }}"> {% if privacyPolicyArticle is not null %}
            {% set articleUrl = url('front_article_detail', {'id': privacyPolicyArticle.id}) %}
            {{ 'I agree with <a href="%url%" target="_blank">privacy policy</a>.'|trans({'%url%': articleUrl})|raw }}
        {% else %}
            {{ 'I agree with privacy policy.'|trans }}
        {% endif %} </label>
</div>


<div>
    {{ form_widget(form.save, { label: 'Register'|trans, attr: {'class': 'button button--blue'} }) }}
</div>

{{ form_end(form) }}