{% extends '@ShopsysShop/turbado/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block meta_robots -%}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}
    {{ 'Forgotten password'|trans }}
{% endblock %}

{% block main_content %}

    <section class="user-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-panel__wrapper">
                        <div class="user-panel__wrapper-left">
                            <h2>
                                {{ 'Forgotten password'|trans }}
                            </h2>

                            {{ form_errors(form) }}
                            {{ form_start(form) }}

                            <label for="{{ form.email.vars.id }}">{{ 'E-mail'|trans }}</label>
                            <input type="email" name="{{ form.email.vars.full_name }}"
                                   required="{{ form.email.vars.required }}">

                            {% do form.email.setRendered %}

                            <div>
                                {{ form_widget(form.submit, {label: 'Submit'|trans, attr: {'class': 'button button--blue'}}) }}
                            </div>

                            {{ form_end(form) }}

                        </div>
                        <div class="user-panel__wrapper-right">
                            <h2>
                                {{ 'Registration'|trans }}
                            </h2>

                            {{ render(controller('ShopsysShopBundle:Front/Registration:registerForm')) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}