
<ul class="menu">
    {% for key, articles  in groupedArticles %}
        <h4>{{ key }}</h4>
        {% for article in articles %}
                <li class="">
                    <a class="" href="{{ url('front_article_detail', { id: article.id }) }}">{{ article.name }}</a>
                </li>
        {% endfor %}
    {% endfor %}
</ul>
