{{ form_errors(form) }}

                {{ form_start(form, {attr: {'multipleForm': true}}) }}

<label for="{{ form.email.vars.id }}">
    {{ 'E-mail'|trans }}
</label>
<input type="email" id="{{ form.email.vars.id }}" name="{{ form.email.vars.full_name }}">

{% do form.email.setRendered %}

<label for="{{ form.password.vars.id }}">
    {{ 'Password'|trans }}
</label>

<input type="password" id="{{ form.password.vars.id }}" name="{{ form.password.vars.full_name }}">

{% do form.password.setRendered %}

<div>
    {{ form_widget(form.rememberMe) }}
    <label for="{{ form.rememberMe.vars.id }}">
        {{ 'Remember my login'|trans }}
    </label>
</div>


<div>
    {{ form_row(form.login, {label: 'Log in'|trans, attr: {'class': 'button button--blue'}}) }}
</div>

<div>
    <a href="{{ url('front_registration_reset_password') }}"
       class="button button--quiet">{{ 'Forgot your password?'|trans }}</a>
</div>

{{ form_end(form) }}

