{{ form_start(form, {attr: {class: 'js-front-login-window', 'multipleForm': true}}) }}
    {{ form_errors(form) }}

<div class="box-login">
    <div class="js-front-login-window-message in-message in-message--alert display-none"></div>

    <div class="login-sec" style="overflow: hidden">
        <div class="row">

            <div class="col-sm-12">
                <h5 class="text-center">{{ 'Login'|trans }}</h5>
            </div>

            <li class="col-sm-12">
                {{ form_widget(form.email, {attr: {placeholder: 'E-mail'|trans, class: 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </li>

            <li class="col-sm-12">
                {{ form_errors(form.password) }}
                {{ form_widget(form.password, {attr: {placeholder: 'Password'|trans, class: 'form-control'}}) }}
            </li>

            <li class="col-sm-12">
                <div class="checkbox checkbox-primary">
                    {{ form_widget(form.rememberMe, {'attr': {'class': 'styled' }}) }}

                    <label for="{{ form.rememberMe.vars.id }}">
                        {{ 'Remember my login'|trans }}
                    </label>
                </div>
            </li>

        </div>
    </div>


    <div class="box-login__item box-login__item--submit">
        {{ form_widget(form.login, {label: 'Log in'|trans}) }}
    </div>

    <div class="box-login__item box-login__item--info">
        <a href="{{ url('front_registration_reset_password') }}">{{ 'Forgot your password?'|trans }}</a>
    </div>
</div>

{{ form_end(form) }}
