{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Cookies information settings'|trans }}{% endblock %}
{% block h1 %}{{ 'Cookies information settings'|trans }}{% endblock %}

{% block main_content %}

    {{ render(controller('ShopsysShopBundle:Admin/Domain:domainTabs')) }}

    {{ form_start(form) }}
        <div class="form-group">
            <div class="form-group__title">
                {{ 'Settings'|trans }}
            </div>
            {{ form_row(form.cookiesArticle, { label: 'Cookies information'|trans, icon: { title: 'Choose article, which will provide information about how this pages uses cookies.'|trans } }) }}
        </div>

        {% embed '@ShopsysShop/Admin/Inline/FixedBar/fixedBar.html.twig' %}
            {% block fixed_bar_content %}
                {{ form_widget(form.save, { label: 'Save changes'|trans }) }}
            {% endblock %}
        {% endembed %}
    {{ form_end(form) }}

{% endblock %}