{#<ul class="box-progress">#}
    {#<li class="box-progress__item {% if step == 1 %}box-progress__item--active{% elseif step > 1 %}box-progress__item--done{% endif %}{% if step == 2 %} box-progress__item--previous-active{% endif %}">#}
        {#<span class="box-progress__item__inner">#}
            {#<span class="box-progress__item__step">1.</span>#}
            {#<span class="box-progress__item__title">{{ 'Cart'|trans }}</span>#}
        {#</span>#}
    {#</li>#}

    {#<li class="box-progress__item {% if step == 2 %}box-progress__item--active{% elseif step > 2 %}box-progress__item--done{% endif %}{% if step == 3 %} box-progress__item--previous-active{% endif %}">#}
        {#<span class="box-progress__item__inner">#}
            {#<span class="box-progress__item__step">2.</span>#}
            {#<span class="box-progress__item__title">{{ 'Shipping and payment'|trans }}</span>#}
        {#</span>#}
    {#</li>#}

    {#<li class="box-progress__item {% if step == 3 %}box-progress__item--active{% endif %}">#}
        {#<span class="box-progress__item__inner">#}
            {#<span class="box-progress__item__step">3.</span>#}
            {#<span class="box-progress__item__title">{{ 'Delivery data'|trans }}</span>#}
        {#</span>#}
    {#</li>#}
{#</ul>#}

<div class="ship-process padding-top-30 padding-bottom-30">
    <div class="container">
        <ul class="row">

            <!-- Step 1 -->
            <li class="col-sm-2 {% if step == 1 %}current{% endif %}">
                    <h6>{{ 'Shopping Cart'|trans }}</h6>
$            </li>

            <!-- Step 2 -->
            <li class="col-sm-2 {% if step == 2 %}current{% endif %}">
                    <h6>{{ 'Contact'|trans }}</h6>
            </li>

            <!-- Step 3 -->
            <li class="col-sm-2 {% if step == 3 %}current{% endif %}">
                    <h6>{{ 'Address'|trans }}</h6>
            </li>

            <!-- Step 4 -->
            <li class="col-sm-2 {% if step == 4 %}current{% endif %}">
                    <h6>{{ 'Delivery'|trans }}</h6>
            </li>

            <!-- Step 5 -->
            <li class="col-sm-2 {% if step == 5 %}current{% endif %}">
                    <h6>{{ 'Payment'|trans }}</h6>
            </li>

            <!-- Step 6 -->
            <li class="col-sm-2 {% if step == 6 %}current{% endif %}">
                    <h6>{{ 'Summary'|trans }}</h6>
$            </li>
        </ul>
    </div>
</div>