@back-btn: #808080;


.btn-round-cart{
  border:0;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
}
.btn-round-cart:hover{
  border:0;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
}




.btn-square {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  background: #0088cc;
  color: #fff;
}

.btn-square.big {
  padding: 15px 30px;
  font-size: 16px;
}
.btn-square:hover {
  background: #333 !important;
  color: #fff !important;
}

.btn-square-input{
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none !important;
}

.btn-back {
  background: @back-btn;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn.focus, .btn:focus, .btn:hover {
   color: #FFFFFF;
}

.text-center{
  text-align:center;
}
.orderForm{
  padding:20px;
  border: 1px solid lightgrey;
}

.orderForm input{
  width:100%;
  height: 40px;
}

.orderForm label{
  font-size: 16px;
}

.rightBorder{
  border-right: 1px solid black;
}

.orderButtons {
 /*  padding:20px; */
  margin-top:20px;
}
.orderButtons input {
  text-align: right;
}
.orderButtons btn {
  border-radius: 0px;
}
.orderButtons a,.orderButtons a:visited,.orderButtons a:hover,.orderButtons a:active {
  background: gray;
  color: white;
}
.g-totel-shipping{
  float:right;
  display:inline-block;
  font-size: 16px;
  margin-left: 20px;
}
.g-totel-payment{
  float:right;
  display:inline-block;
  font-size: 16px;
  margin-left: 20px;
}
.qmPos{
  margin-top: 23px;
}
.imWidth{
  width: 100%;
}

.newslatter .accept-btn {
  position:relative;
  background: #009BD9;

}