{{ form_start(form, {attr: {class: 'js-front-login-window', 'multipleForm': true}}) }}

<div class="modal fade visible in" tabindex="-1" role="dialog" id="login-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                {{ form_errors(form) }}
                <div>
                    <label>
                        {{ 'E-mail'|trans }}
                    </label>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}

                </div>

                <div>
                    {{ form_errors(form.password) }}
                    <label>
                        {{ 'Password'| trans }}
                    </label>
                    {{ form_widget(form.password) }}
                </div>
                <div>
                    {{ form_widget(form.rememberMe) }}

                    <label for="{{ form.rememberMe.vars.id }}">
                        {{ 'Remember my login'|trans }}
                    </label>
                </div>
                <div>
                    {{ form_widget(form.login, {label: 'Log in'|trans, 'attr': {'class': 'button button--login'}}) }}

                </div>

                <div class="login-footer">
                    <a href="{{ url('front_registration_reset_password') }}">
                        {{ 'Forgot your password?'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
